<div class="row">
	<div class="columns">
		<label>					
			Title
			{{form-input model=model valuePath="title"}}
		</label>						
	</div>
</div>
<div class="row">
	<div class="columns">
		<label>
			Company
			{{form-input model=model valuePath='company'}}
		</label>
	</div>
</div>
<div class="row">
	<div class="columns">
		<label>
			Location
			{{form-input model=model valuePath="location"}}
		</label>						
	</div>
</div>
<div class="row">
	<div class="columns">
		<label>
			Start Date
		</label>
		<div class="row">
			<div class="columns medium-6">{{form-input-month-year value=model.from}}</div>
			<div class="columns medium-6">{{form-input-month-year value=model.from type="year"}}</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="columns">
		<label>
			End Date							
		</label>
		<div class="row">
			<div class="columns medium-6">{{form-input-month-year value=model.to disabled=model.currentCompany}}</div>
			<div class="columns medium-6">{{form-input-month-year value=model.to type="year" disabled=model.currentCompany}}</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="columns">
		<div class="checkbox">
			<label>
				{{input type="checkbox" name="currentCompany" checked=model.currentCompany}} I currently work here
			</label>
		</div>
	</div>
</div>
<div class="row">
	<div class="columns">
		<label>
			Description
		</label>						
		{{form-text-counter limit=2100 value=model.content rows=10 }}				
	</div>
</div>
