<div class="row">
	<div class="columns">
		<label>
			Title
			{{form-input model=model valuePath="title"}}
		</label>
	</div>
</div>
<div class="row">
	<div class="columns">
		<label>
			Company
			{{form-input model=model valuePath='company'}}
		</label>
	</div>
</div>
<div class="row">
	<div class="columns">
		<label>
			Location
			{{form-input model=model valuePath="location"}}
		</label>
	</div>
</div>
<div class="row">
	<div class="columns">
		<label>
			Start Date
		</label>
		<div class="row">
			<div class="columns medium-5">{{form-input-month-year value=model.startFrom}}</div>
			<div class="columns medium-3">{{form-input-month-year value=model.startFrom type="year"}}</div>
			<div class="columns"></div>
		</div>
	</div>
</div>
<div class="row">
	<div class="columns">
		<label>
			End Date
		</label>
		<div class="row">
			<div class="columns medium-5">{{form-input-month-year value=model.endAt disabled=model.currentCompany}}</div>
			<div class="columns medium-3">{{form-input-month-year value=model.endAt type="year" disabled=model.currentCompany}}</div>
			<div class="columns medium-4">
				<div class="checkbox current-job">
					<label>
						{{input type="checkbox" name="currentCompany" checked=model.currentCompany}} Current Job
					</label>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="columns">
	</div>
</div>
<div class="row">
	<div class="columns">
		<label>
			Description
		</label>
		{{form-text-counter limit=2100 value=model.content rows=10 }}
	</div>
</div>
