<form {{action 'save' on='submit'}} class="form-signup" autocomplete="off">
  <div class='row'>
    <div class='columns'>
      {{input value=name placeholder='Name'}}
      {{input value=email placeholder='Email'}}
      {{input value=password placeholder='New password' type='password'}}
      <p>By signing up to the service you are agreeing to our {{link-to "Terms of Use" "home"}} and our {{link-to "Privacy Policy" "home"}}.</p>
      <button type='submit' class='button'>CREATE ACCOUNT</button>
    </div>
  </div>
</form>

{{yield}}
