<form {{action 'save' on='submit'}} class="form-signup" autocomplete="off">
  <div class='row'>
    <div class='columns'>
      {{input value=name placeholder='Name'}}
      {{input value=email placeholder='Email'}}
      {{input value=password placeholder='New password' type='password'}}
      <p>By signing up to the service you are agreeing to our <a href="{{href-to 'terms-of-use'}}">Terms of Use</a> and our <a href="{{href-to 'privacy-policy'}}">Privacy Policy</a>.</p>
      <button type='submit' class='button'>CREATE ACCOUNT</button>
    </div>
  </div>
</form>

{{yield}}
