{{#zf-accordion id="channelPicker" allowAllClosed=true}}
  <li class="accordion-item" data-accordion-item>
    <a class="accordion-title">{{selectedText}}</a>
    <div class="accordion-content" data-tab-content>
			<div class="box">
				<section class="accordion-sub-title">Select a Channel</section>
				<div class="row collapse">
					<div class="columns medium-6">
						<section>
							<div class="sub-title">Your Network</div>
							<ul class="no-bullet content-pad">
								<li {{action "select" 0}}>My Connections</li>
								<li><label>{{myCompany.text}}</label></li>
							</ul>
						</section>
						<section>
							<div class="sub-title">Your Business Industry</div>
							<ul class="no-bullet content-pad">
								<li {{action "select" profile.industryId profile.industry }}>{{profile.industry}}</li>
							</ul>
							<p>{{#link-to 'me.edit' (query-params tab="industry")}}Edit Business Industry{{/link-to}}</p>
						</section>
						
						<section>
							<div class="sub-title">Your Occupational Industry</div>
							<ul class="no-bullet content-pad">
							{{#each industries as |item|}}
								<li {{action "select" item.id item.text }}>{{item.text}}</li>
							{{/each}}
							</ul>
							<p>{{#link-to 'me.edit' (query-params tab="occupindustry")}}Edit Occupational Industry{{/link-to}}</p>
						</section>
						
					</div>
					<div class="columns medium-6">
						<section>
							<div class="sub-title">Industry Channels you follow</div>
							<ul class="no-bullet content-pad">
								<li>Consumer Web & Mobile</li>
								<li>Enterprise Software & Technology</li>
								<li>Broadcast Media</li>
							</ul>
							<p><a>Add Industry Channels to follow</a></p>
						</section>
					</div>
				</div>
			</div>
    </div>
  </li>
{{/zf-accordion}}