{{#zf-accordion id="channelPicker" allowAllClosed=true class="brydge-accordion"}}
  <li class="accordion-item" data-accordion-item>
    <a class="accordion-title">{{selectedText.name}}</a>
    <div class="accordion-content" data-tab-content>
			<div class="boxz">
				<section class="accordion-sub-title">Select a Channel</section>
				<div class="row collapse">
					<div class="columns medium-6">
						<section>
							<div class="sub-title">Your Network</div>
							<ul class="no-bullet content-pad">
								<li {{action "select" 0}}><a>My Connections</a></li>
								<li><label>{{myCompany.text}}</label></li>
							</ul>
						</section>
						<section>
							<div class="sub-title">Your Industries</div>
              <ul class="no-bullet">
              {{#each industries as |item|}}
								<li><a {{action "select" item.id item.text }}>{{item.text}}</a></li>
							{{/each}}
              </ul>

              <small>
                {{#if isIndustry ~}}
      						{{#if isAddOrChange}}
      							{{link-to "Add or Change Industries" "me.edit" (query-params tab="industry") class="text-gray"}}
      						{{else}}
      							{{link-to "Change Industries" "me.edit" (query-params tab="industry") class="text-gray"}}
      						{{/if}}
      					{{~ else ~}}
      						{{link-to "Add Industries" "me.edit" (query-params tab="industry") class="text-gray" ~}}
      					{{/if}}

              </small>
						</section>


					</div>
					<div class="columns medium-6">
						<section style="min-height:194px;">
							<div class="sub-title">Other Industries you follow</div>
							<ul class="no-bullet content-pad hover-close">
                {{#unless loading}}
  								{{#each favorites as |item|}}
  									<li><a {{action "select" item.code item.name }}>{{item.name}}</a> <a {{action "delete" item}}><i class="fa fa-times" aria-hidden="true"></i></a> </li>
  								{{/each}}
                {{else}}
                  <li><div class="brydge-loading"></div></li>
                {{/unless}}
							</ul>
							<a class="button success rounded" data-open="industry-picker-home">Add</a>


						</section>
					</div>
				</div>
			</div>
    </div>
  </li>
{{/zf-accordion}}
