{{#zf-accordion id="channelPicker" allowAllClosed=true}}
  <li class="accordion-item" data-accordion-item>
    <a class="accordion-title">{{selectedText.name}}</a>
    <div class="accordion-content" data-tab-content>
			<div class="boxz">
				<section class="accordion-sub-title">Select a Channel</section>
				<div class="row collapse">
					<div class="columns medium-6">
						<section>
							<div class="sub-title">Your Network</div>
							<ul class="no-bullet content-pad">
								<li {{action "select" 0}}><a>My Connections</a></li>
								<li><label>{{myCompany.text}}</label></li>
							</ul>
						</section>
						<section>
							<div class="sub-title">Your Business Industry ({{#link-to 'me.edit' (query-params tab="industry")}}Edit{{/link-to}})</div>
							<ul class="no-bullet content-pad">
								<li><a {{action "select" profile.industryOneId profile.industryOneName }}>{{profile.industryOneName}}</a></li>
							</ul>
						</section>

						<section>
							<div class="sub-title">Your Occupational Industry ({{#link-to 'me.edit' (query-params tab="occupindustry")}}Edit{{/link-to}})</div>
							<ul class="no-bullet content-pad">
							{{#each industries as |item|}}
								<li><a {{action "select" item.id item.text }}>{{item.text}}</a></li>
							{{/each}}
							</ul>
						</section>

					</div>
					<div class="columns medium-6">
						<section>
							<div class="sub-title">Industry Channels you follow</div>
							<ul class="no-bullet content-pad hover-close">
								{{#each favorites as |item|}}
									<li><a {{action "select" item.code item.name }}>{{item.name}}</a> <a {{action "delete" item}}><i class="fa fa-times" aria-hidden="true"></i></a> </li>
								{{/each}}
							</ul>
							<a class="button success rounded" data-open="industryModal">Add</a>
						</section>
					</div>
				</div>
			</div>
    </div>
  </li>
{{/zf-accordion}}
