{{#zf-accordion id="picker-channel" allowAllClosed=true class="brydge-accordion"}}
  <li class="accordion-item" data-accordion-item>
    <a class="accordion-title">{{selectedText.industry}}</a>
    <div class="accordion-content" data-tab-content>
			<div class="boxz">
				<section class="accordion-sub-title">Select a Channel</section>
				<div class="row collapse is-collapse-child">
					<div class="columns medium-6 small-12">
						<section>
							<div class="sub-title">Your Network</div>
							<ul class="no-bullet content-pad">
								<li {{action "select" 0}}><a>People You Follow</a></li>
								<li><label>{{myCompany.text}}</label></li>
							</ul>
						</section>
						<section>
							<div class="sub-title">Your Industries</div>
              <ul class="no-bullet">
              {{#each industries as |item|}}
								<li><a {{action "select" item.id item.text }}>{{item.text}}</a></li>
							{{/each}}
              </ul>

              <small>
                {{#if isIndustry ~}}
      						{{#if isAddOrChange}}
                    <a href="{{href-to 'me.edit' (query-params tab="industry")}}" class="text-gray">Add or Change Industries</a>
      						{{else}}
                    <a href="{{href-to 'me.edit' (query-params tab="industry")}}" class="text-gray">Change Industries</a>
      						{{/if}}
      					{{~ else ~}}
                  <a href="{{href-to 'me.edit' (query-params tab="industry")}}" class="text-gray">Add Industries</a>
      					{{/if}}
              </small>
						</section>


					</div>
					<div class="columns medium-6 small-12">
						<section style="min-height:194px;">
							<div class="sub-title">Other Industries you follow</div>
							<ul class="no-bullet content-pad hover-close">
                {{#unless loading}}
  								{{#each favorites as |item|}}
  									<li><a {{action "select" item.code item.name }}>{{item.name}}</a></li>
  								{{/each}}
                {{else}}
                  <li><div class="brydge-loading"></div></li>
                {{/unless}}
							</ul>
              {{#unless loading}}
							  <a class="button success rounded show-for-medium" data-open="industry-picker-home">Add</a>
                <a class="button success rounded expanded hide-for-medium" data-open="industry-picker-mobile-home">Add</a>
              {{else}}
                <a class="button success rounded" disabled>Add</a>
              {{/unless}}


						</section>
					</div>
				</div>
			</div>
    </div>
  </li>
{{/zf-accordion}}
