<div class="page-heading">
  <h1>People Search</h1>
  <p class="text-center">
    Search for people by name, job title, expertise or location
  </p>
</div>

<form class="brydge-form mb">
  <div class="row">
    <div class="columns medium-3 small-12">
      {{input value=form.name placeholder="Name"}}
    </div>
    <div class="columns medium-3 small-12">
      {{input value=form.keyword placeholder="Job Title or Expertise"}}
    </div>
    <div class="columns medium-3 small-12">
      {{form-input-location
          model=form
          valuePath="city"
          selected=form.city
          placeholder="City"}}
    </div>
    <div class="columns medium-3">
      <button class="button success expanded" {{action "refresh"}} disabled="{{isDisabled}}">Search</button>
    </div>
  </div>
</form>

<div class="row columns">
  <div class="user-list">
    {{#each search as |item|}}
      {{follow-item item=item}}
    {{/each}}
    {{#brydge-scroller id="search" model=search onClick="load"}}
      {{#if isLoading}}
        <div class="brydge-loading"></div>
      {{/if}}
    {{/brydge-scroller}}

  </div>
</div>
