<div class="page-heading">
  <h1>People Search</h1>
  <p class="text-center">
    Search for people, connections or through name, title, company, industries and locations.
  </p>
</div>

<div class="row">
  <div class="columns medium-4">
    <div class="box rounded">
      <section class="title">
        <h4>Keywords</h4>
      </section>
      <section class="bg-gray">
        <form class="brydge-form" onsubmit="return false;">
          {{input value=keyword enter="addKeyword" placeholder="Name, Title, Company"}}
          <!-- <a {{ action "addKeyword" }}>{{fa-icon "plus-circle"}}</a>             -->
        </form>
        {{#each keywords as |item|}}
          <span class="label label-item"><a {{action "removeItem" item 'keywords' 'key'}}>{{fa-icon "close"}}</a> {{item}}</span>
        {{/each}}

      </section>
    </div>
  </div>
  <div class="columns medium-4">
    <div class="box rounded">
      <section class="title">
        <h4>Industries</h4>
      </section>
      <section class="bg-gray">
        <form class="brydge-form">
          {{input-text-button-pop}}
        </form>
        {{#each industries as |item|}}
          <span class="label label-item"><a {{action "removeIndustry" item}}>{{fa-icon "close"}}</a> {{item.name}}</span>
        {{/each}}
      </section>
    </div>
  </div>
  <div class="columns medium-4">
    <div class="box rounded">
      <section class="title">
        <h4>Location</h4>
      </section>
      <section class="bg-gray">
        <form class="brydge-form" onsubmit="return false;">
          {{autocomplete-location onItemSelected="addLocation" }}
        </form>
        {{#if location}}
          <span class="label label-item"><a {{action "removeItem" location 'cities' 'city'}}>{{fa-icon "close"}}</a> {{location.description}}</span>
        {{/if}}

      </section>
    </div>
  </div>
</div>

{{#if isDirty}}
  <div class="row columns">
    <div class="box">
      <div class="row">
        <div class="columns medium-6">
          <section>
            <span class="middle">{{search.results.length}} people found</span> &nbsp;<a class="button button-clear" {{action "clear"}}>Clear All</a>
          </section>
        </div>
        <div class="columns medium-6 text-right">
          <section>
            <a class="button success" {{action "refresh"}}>Refresh</a>
          </section>
        </div>
      </div>
    </div>
  </div>
{{/if}}

{{#if search.results}}
<div class="row columns">
  <div class="box row columns">
    <section class="row medium-up-2 columns bg-gray user-list">
      {{#each search.results as |item|}}
        <div class="columns medium-6">
          {{connection-box-search item=item}}
        </div>
      {{/each}}
    </section>
  </div>
</div>
{{/if}}


{{#zf-reveal id="industryModal" overlay=true class="small industry-picker box"}}
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>

  {{picker-industry name="search" categories=categories onSelect="onIndustrySelect" }}
{{/zf-reveal}}
