<div class="page-heading">
  <h1>People Search</h1>
  <p class="text-center">
    Search for people, connections or through name, title, company, industries and locations.
  </p>
</div>

<form class="brydge-form">
  <div class="row">
    <div class="columns medium-3">
      {{input value=name placeholder="Name"}}
    </div>
    <div class="columns medium-3">
      {{input value=keyword placeholder="Job title or keyword"}}
    </div>
    <div class="columns medium-3">
      {{form-input-location
          model=this
          valuePath="location"
          placeid=this.placeid
          selected=this.location
          placeholder="City"}}
    </div>
    <div class="columns medium-3">
      <button class="button success" {{action "refresh"}}>Go</button>
    </div>
  </div>
</form>


<div class="row columns">
  <div class="user-list">
    {{#each results as |item|}}
      {{follow-item item=item}}
    {{/each}}
  </div>
</div>
