<div class="row columns bg-white border-b">
  <section class="padding text-right">
    {{link-to "+ New Message" "mobile.messages.compose"}}
  </section>
</div>
<div class="row columns bg-gray border-b">
  <form class="padding brydge-form">
    {{input type="search" value=key placeholder="Search Inbox by Name" class="no-margin search-input"}}
  </form>
</div>
<div class="bg-white">
  <ul class="no-bullet user-link-list">
  {{#each list as |item| }}
    {{#if item.content}}
    <li class="{{unless item.read 'new-notification'}}">
      <a href="{{href-to 'mobile.messages.conversation' item.id}}" class="user no-color">
        {{avatar-wrap profile=item.other.profile}}
        <div class="user-info">
          <a class="name">{{item.other.profile.fullName}}</a> {{#if item.count}} <span class="message-count">({{item.count}})</span> {{/if}}
          <div class="timestamp float-right">{{ timestamp item.messagedAt }}</div>
        </div>
        <div class="message-body truncate">{{{item.content}}}</div>
      </a>
    </li>
    {{/if}}
  {{/each}}
  </ul>
</div>
