<div class="row columns bg-white border-b">
  <section class="content-pad text-right">
    {{link-to "+ New Message" "mobile.messages.compose"}}
  </section>
</div>
<div class="row columns bg-gray border-b">
  <form class="content-pad brydge-form">
    {{input type="search" value=key placeholder="Search Inbox by Name" class="no-margin search-input"}}
  </form>
</div>
<div class="row collapse bg-white">
  <div class="columns">
    <ul class="no-bullet user-link-list">
    {{#each list as |item| }}
      {{#if item.content}}
      <li class="{{unless item.read 'new-notification'}}">
        <a href="{{href-to 'mobile.messages.conversation' item.id}}" class="user no-color">
          <div class="avatar" style={{htmlSafeImage item.other.profile.avatarUrl }}>
            <img src= {{item.other.profile.avatarUrl}} class="hide">
          </div>
          <div class="user-info">
            <div class="row collapse">
              <div class="columns medium-8 small-8">
                <a class="name">{{item.other.profile.fullName}}</a> {{#if item.count}} <span class="message-count">({{item.count}})</span> {{/if}}
              </div>
              <div class="columns medium-4 small-4 text-right">
                <div class="timestamp">{{ timestamp item.messagedAt }}</div>
              </div>
            </div>
          </div>
          <div class="message-body truncate">{{{item.content}}}</div>
        </a>
      </li>
      {{/if}}
    {{/each}}
    </ul>
  </div>
</div>
