
<ul class="no-bullet connections-list">
  {{#each model.acceptedList as |connection|}}
  <li>
      <div class="media-object">
        <div class="media-object-section">
          <div class="thumbnail">
            <img src= {{connection.from.profile.avatarUrl}}>
          </div>
        </div>
        <div class="media-object-section media-object-content">
          {{#link-to "profile" connection.from.username class="name"}}  
            {{connection.from.name }}
          {{/link-to}}
          
          <div class="position">
            {{connection.from.profile.currentTitle}} <br>
            {{connection.from.profile.currentCompany}}
          </div>
          <p class="location">{{connection.from.profile.location}}</p>
        </div>
      </div>
      <!-- <div class="menu">
        <a data-toggle="dd-connection-item-menu"><i class="icons ellipsis"></i></a>      
      </div>
      {{#zf-dropdown id="dd-connection-item-menu" closeOnClick="true" class="dropdown-flat item-menu-dropdown"}}
        <button class="button expanded">Action</button>
      {{/zf-dropdown}} -->

  </li>
  {{/each}}
</ul>