<div class="row">
  <div class="medium-6 medium-centered columns">
    <div class="page-heading">
        <h1>{{link-to profile.firstName "profile" profile.id }}'s Connections</h1>
      <p class="text-center">
        These are the users {{ profile.firstName}} is connected to. 
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="mb">
    {{#zf-tabs id="ask-tabs" class="tab-controls"}}
      <li data-tab='tab_1' class="tabs-title is-active">
        <a href="#tab_1" aria-selected="true">All Connections</a>
      </li>
      <li data-tab='tab_2' class="tabs-title">
        <a href="#tab_2">Mutual Connections</a>
      </li>
    {{/zf-tabs}}
  </div>
  <div class="tabs-content" data-tabs-content="ask-tabs">
    <div class="tabs-panel {{active-tab 'tab_1' tab}}" id="tab_1">
      <div class="box row columns">
        <section>
          <form>
            {{input value=key type="search" placeholder="Search by Name" class="no-margin"}}
          </form>
        </section>
        <section class="row medium-up-2 columns bg-gray user-list">
          {{#each connections as |item|}}
            <div class="columns medium-6">
              {{connection-box item=item}}
            </div>
          {{/each}}
        </section>
      </div>
    </div>
    <div class="tabs-panel {{active-tab 'tab_2' tab}}" id="tab_2">
      <div class="box row columns">
        <section>
          <form>
            {{input value=key type="search" placeholder="Search by Name" class="no-margin"}}
          </form>
        </section>
        <section class="row medium-up-2 columns bg-gray user-list">
          {{#each mutual_connections as |item|}}
            <div class="columns medium-6">
              {{connection-box item=item}}
            </div>
          {{else}}
            <div class="columns">
              No Mutual Connections
            </div>
          {{/each}}
        </section>
      </div>
    </div>
  </div>
</div>
