<section>
  <div class="row collapse">
    <div class="columns medium-9">
      {{#link-to "profile" item.userid}}
      <div class="avatar" style={{htmlSafeImage item.avatar }}>
        <img src= {{item.avatar}} class="hide">
      </div>
      {{/link-to}}
      <div class="user-info">
        {{link-to item.fullName "profile" item.userid }}
        <div class="position">{{item.career}}</div>
      </div>

    </div>
    <div class="columns medium-3 actions text-right">
      <span class="middle"><a {{action "accept" item }}><i class="fa fa-check-circle" aria-hidden="true"></i></a></span>
      <span class="middle"><a {{action "reject" item }}><i class="fa fa-times-circle" aria-hidden="true"></i></a></span>
    </div>
  </div>
</section>
