<section>
  <div class="row collapse">
    <div class="columns medium-9">
      {{#link-to "profile" user.id}}
      <div class="avatar" style={{htmlSafeImage user.profile.avatarUrl }}>
        <img src= {{user.profile.avatarUrl}} class="hide">
      </div>
      {{/link-to}}
      <div class="user-info">
        {{link-to user.profile.fullName "profile" user.id class="text-title"}}
        <div class="position">{{user.profile.career}}</div>
      </div>

    </div>
    <div class="columns medium-3 actions text-right">
      <span class="middle"><a {{action "accept" item }}><i class="fa fa-check-circle" aria-hidden="true"></i></a></span>
      <span class="middle"><a {{action "reject" item }}><i class="fa fa-times-circle" aria-hidden="true"></i></a></span>
    </div>
  </div>
</section>
