<div class="row">
	<div class="columns">
		<div class="top-banner bg-gray box">
			<h1>PENDING QUESTIONS</h1>
		</div>		
	</div>
</div>


<div class="row">
  <div class="medium-7 columns">

    <div class="question-tab">
      <div class="mb">
        {{#zf-tabs class="tabs-table" id="pending-tabs"}}
          <li data-tab='questions' class="medium-6 tabs-title {{active-tab 'questions' tab}}">
            <a href="#questions" class="button expanded text-upper" aria-selected="true">Asked to You</a>
          </li>
          <li data-tab='asked' class="medium-6 tabs-title {{active-tab 'asked' tab}}">
            <a href="#asked" class="button expanded text-upper">Asked by You</a>
          </li>
        {{/zf-tabs}}
      </div>
      <div class="tabs-content questions" data-tabs-content="pending-tabs">
        <div class="tabs-panel {{active-tab 'questions' tab}}" id="questions">
      
          <ul class="no-bullet question-pending-list">
          {{#each questions.pending as |item|}}
          
            <li>
              <div class="{{if (eq item.id qid) "highlight"}}">
              <p class="title">{{item.content}}</p>
              <div class="mb5 text-light">asked by {{link-to item.from.content.name "profile" item.from.content.username class="user" }}</div>
              <p class="timestamp text-light">{{timestamp item.createdAt}}</p>     
              <div class="question-box-footer">
                <ul class="menu menu-dotted">
                  <li><a {{action "selectItem" item }} data-open="answerFormModal">Write Answer</a></li>
                  <li><a {{action "rejectItem" item }}>Delete</a></li>
                  <li><a>Flag</a></li>
                </ul>                       
              </div>
              </div>      
            </li>
            
          {{else}}
            <li>No Pending Questions</li>
          {{/each}}
          </ul>
      
        </div>
        <div class="tabs-panel {{active-tab 'asked' tab}}" id="asked">
      
          <ul class="no-bullet question-pending-list">
          {{#each asked.pending as |item|}}
            <li>
              <p class="title">{{item.content}}</p>
              <div class="mb5 text-light">asked to {{link-to item.to.content.name "profile" item.to.content.username class="user" }}</div>
              <p class="timestamp text-light">{{timestamp item.createdAt}}</p>     
      
              <div class="question-box-footer">
                <ul class="menu menu-dotted hide">
                  <li><a {{action "selectItem" item }} data-open="answerFormModal">Write Answer</a></li>
                  <li><a {{action "rejectItem" item }}>Delete</a></li>
                  <li><a>Flag</a></li>
                </ul>                       
              </div>      
            </li>
          {{/each}}
          </ul>
      
        </div>
      </div>
    </div>

  </div>    
  <div class="medium-5 columns sidebar">

    {{progress-box}}
    {{render "footer"}}
  </div>
</div>

{{answer-form}}
