<div class="row">
  <div class="medium-5 columns sidebar">
    {{profile-box profile=model.profile class="mb20"}}
    {{partial 'partials/profile-sidebar'}}

  </div>

  <div class="medium-7 columns">
    {{profile-menu profile=profile}}

    {{#if isOwner }}
      <div class="page-heading">
        <h1>Your Compliments Page</h1>
      </div>
    {{else}}
      {{#if isConnected}}
        <form {{action 'submit' on='submit'}} class="box user-top-form mb20">
          {{#unless isClosed }}
		        <section>
              <select onchange={{action "onSelectTitle" value="target.value"}}>
                {{#each titles as |item|}}
                  <option value={{item}} selected={{eq formComplimentTitle item}}>{{item}}</option>
                {{/each}}
              </select>

              {{form-text-counter placeholder="Compliment someone on an achievement, a job well done, or expertise provided" limit=140 value=complimentContent rows=3 class="mb wrapper" showCount=true}}

              <div class="row">
                <div class="columns medium-8 text-gray"></div>
                <div class="columns medium-4 text-right">
                  <button class="button btn success" disabled={{isEmpty}} type="submit">Compliment</button>
                </div>
              </div>
		        </section>
					{{else}}
						<p>
							Your compliment has been sent.
						</p>
					{{/unless}}

        </form>
      {{/if}}
    {{/if}}

    <form>
      <div class="row collapse">
        <div class="small-8 columns">
          <h4 class="text-right middle select-label">Filter compliments by</h4>
        </div>
        <div class="small-4 columns">
          {{select-native content=complimentTitles action=(action (mut complimentTitle)) }}
        </div>
      </div>
    </form>

    {{#each list as |item|}}
      {{compliment-card item=item}}
    {{/each}}
  </div>
</div>
