{{#zf-accordion id="locationPicker" allowAllClosed=true}}
  <li class="accordion-item" data-accordion-item>
    <a class="accordion-title">{{selectedText}}</a>
    <div class="accordion-content" data-tab-content>
			<div class="boxz">
				<section class="accordion-sub-title">Select a Location</section>
				<div class="row collapse">
					<div class="columns medium-6">
						<section>
							<div class="sub-title">Your Location ({{#link-to 'me.edit' (query-params tab="personal")}}Edit{{/link-to}})</div>
							<ul class="no-bullet content-pad">
								<li {{action "select" profile.location preventDefault=false }}><a>{{profile.location}}</a></li>
							</ul>				
							
						</section>
						<section>
							<div class="sub-title">Global</div>
							<ul class="no-bullet content-pad">
								<li {{action "select" "Everywhere" preventDefault=false }}><a>Everywhere</a></li>
							</ul>
						</section>												
					</div>
					<div class="columns medium-6">
						<section>
							<div class="sub-title">Search</div>
							<form class="content-pad">
								{{autocomplete-location closeOnClick=true selected=selectedLocation}}		
								<button class="success button rounded" {{action 'select' selectedLocation}}>Select</button>
							</form>						

						</section>
					</div>
				</div>
			</div>
    </div>
  </li>
{{/zf-accordion}}