{{#zf-accordion id="locationPicker" allowAllClosed=true class="brydge-accordion"}}
  <li class="accordion-item" data-accordion-item>
    <a class="accordion-title">{{selectedText.description}}</a>
    <div class="accordion-content" data-tab-content>
			<div class="boxz">
				<section class="accordion-sub-title">Select a City</section>
				<div class="row collapse is-collapse-child">
					<div class="columns medium-6">
						<section>
							<div class="sub-title">Your City (<a href="{{href-to 'me.edit' (query-params tab='personal')}}">Edit</a>)</div>
							<ul class="no-bullet content-pad">
								<li {{action "selectSwitch" "profile" preventDefault=false }}><a>{{profile.location}}</a></li>
							</ul>

						</section>
						<section>
							<div class="sub-title">Global</div>
							<ul class="no-bullet content-pad">
								<li {{action "selectSwitch" "all" preventDefault=false }}><a>All Cities</a></li>
							</ul>
						</section>
					</div>
					<div class="columns medium-6">
						<section>
							<div class="sub-title">Search for a city</div>
							<form class="content-pad">
								{{autocomplete-location closeOnClick=true onItemSelected="select" }}
							</form>

						</section>
					</div>
				</div>
			</div>
    </div>
  </li>
{{/zf-accordion}}
