<div class="row">
	<div class="large-7 medium-7 columns">
    <div class="box">
      <section>
        <div class="section-main">
          <div class="user mb">
            <div class="avatar" style={{htmlSafeImage model.from.profile.avatarUrl }}>
              <img src= {{model.from.profile.avatarUrl}} class="hide">
            </div>
            <div class="user-info">
              <span class="name">
								{{#if isInbox}}
                	Asked by {{link-to model.from.profile.fullName "profile" model.from.id}}
								{{else}}
									You asked {{link-to model.to.profile.fullName "profile" model.to.id}}
								{{/if}}
              </span>
              <div class="timestamp">
								{{timestamp model.updatedAt}}
              </div>
            </div>
          </div>

          <div class="content-pad">{{model.question}}</div>
					{{#if isInbox}}
          <div class="section-footer-buttons">
            <a {{action "select" model }} class="button success rounded" data-open="answerFormModal">Write Answer</a>
            <a {{action "delete" model }} class="button button-border rounded">Delete</a>
            <a {{action "delete" model }} class="button button-border rounded">Flag</a>
          </div>
					{{/if}}
        </div>
      </section>
    </div>

	</div>
	<div class="large-5 medium-5 columns sidebar">
    {{ partial 'partials/user-guide-box' }}
    {{ partial "footer"}}
	</div>
</div>

{{answer-form-modal}}
