<div class="row">
  <div class="medium-6 medium-centered columns">
    <div class="page-heading">
      <h1>Welcome to Brydge, <span class="text-title">{{profile.firstName}}</span>!</h1>
      <p class="text-center">
        On Brydge, you can "follow" any industry you want, and "participate" in up to three of them. Pick at least one relevant industry to proceed.
      </p>
    </div>
  </div>
</div>
<div class="row mb50">
  <div class="columns medium-4">
    <a data-open="industry-picker-onboarding" class="button-add-industries">
      {{#if profile.industryOneName}}
        <div class="button-header">{{profile.industryOneName}}</div>
        <div class="button-footer"><i class="fa fa-pencil-square-o"></i></div>

      {{else}}
        <i class="fa fa-plus" aria-hidden="true"></i>
        <div>Add Industry</div>
      {{/if}}
    </a>

  </div>
  <div class="columns medium-4">
    <a data-open="industry-picker-onboarding" class="button-add-industries">
      {{#if profile.industryTwoName}}
      <div class="button-header">{{profile.industryTwoName}}</div>
      <div class="button-footer"><i class="fa fa-pencil-square-o"></i></div>
      {{else}}
        <i class="fa fa-plus" aria-hidden="true"></i>
        <div>Add Industry</div>
      {{/if}}
    </a>

  </div>
  <div class="columns medium-4">
    <a data-open="industry-picker-onboarding" class="button-add-industries">
      {{#if profile.industryThreeName}}
      <div class="button-header">{{profile.industryThreeName}}</div>
      <div class="button-footer"><i class="fa fa-pencil-square-o"></i></div>
      {{else}}
        <i class="fa fa-plus" aria-hidden="true"></i>
        <div>Add Industry</div>
      {{/if}}
    </a>
  </div>
</div>

<div class="row">
  <div class="columns medium-4 medium-centered">
    <button class="button success expanded {{if isDisabled 'btn-disabled'}}" disabled={{isDisabled}} {{action "submit"}}>Proceed</button>
  </div>
</div>
{{industry-picker name="onboarding" title="Select up to 3 Industries you want to participate in" industries=model.industries selected=industries submit="onIndustrySelect"}}
