<div class="row">
  <div class="columns">
    <div class="top-banner bg-gray box">
      <h1>YOUR COMPLIMENTS PAGE</h1>
    </div>
  </div>
</div>


<div class="row ask">
  <div class="medium-7 columns">

  <div class="mb">
    {{#zf-tabs}}
      <li class="medium-6 tabs-title is-active">
        <a href="#question_answered" class="button expanded text-upper" aria-selected="true">Compliments By you</a>
      </li>
      <li class="medium-6 tabs-title">
        <a href="#question_asked" class="button expanded text-upper">Compliments To you</a>
      </li>
    {{/zf-tabs}}
  </div>
  <div class="tabs-content questions" data-tabs-content="example-tabs">
    <div class="tabs-panel is-active" id="question_answered">
      

     <div class="box rounded question-box">
          <div class="clearfix">
         
            {{link-to 'You' "profile" 'me' class="user"}} 
            has complimented to
            {{link-to compliment.to.name "profile" compliment.to.username class="user"}}
             <h2>{{compliment.title}}</h2>
             <p>{{compliment.content}}</p>
          
        </div>
    </div>

    </div>
    <div class="tabs-panel" id="question_asked">
        

        <ul class="no-bullet connections-list">
          {{#each toAccept as |compliment|}}
          <div class="box rounded question-box">
            <div class="clearfix">
            <li>
              {{link-to compliment.from.name "profile" compliment.from.username class="user"}}
              has complimented to
              {{link-to 'You' "profile" 'me' class="user"}} 
               <h2>{{compliment.title}}</h2>
               <p>{{compliment.content}}</p>
            </li>
          </div>
          </div>
          {{/each}}
        </ul>


    </div>
  </div>


  </div>
  <div class="medium-5 columns sidebar">
    <div class="box rounded question-box">

    <h5 class="box-header">Pending Compliments</h5>

    {{#if toPending}}
        {{ partial 'partials/pending-compliments-box'}}
        {{#link-to 'me.ask' class="success button expanded" }}
          Load More
        {{/link-to}}
    {{else}}
    <p>No pending</p>

    {{/if}}
    
    </div>

    {{render "progress-box"}}
    {{render "footer"}}
  </div>
</div>