<a data-toggle="dd-messages">
	{{#zf-tooltip title="Messages" vOffset=0}}
	{{#if notification.messages}}
		<span class="alert badge">{{notification.messages.length}}</span>
	{{/if}}
	<i class="icons messages"></i>
	{{/zf-tooltip}}
	<div class="wrapper">
		<div class="triangle"></div>
	</div>
</a>
{{#zf-dropdown id="dd-messages" class="dropdown-topbar" closeOnClick=true }}
	<ul class="media-list no-bullet list-lined">
		{{#each notification.messages as |item|}}
		<li {{action "selectMessage" item preventDefault=false }}>
			<div class="media-object">
				<div class="media-object-section">
					<div class="thumbnail">
						<img src= {{item.target.profile.avatarUrl}}>
					</div>
				</div>
				<div class="media-object-section main-section">
					<a class="name">{{item.target.profile.firstName}} {{item.target.profile.lastName}}</a>
					<span class="float-right dim-text">{{ postDateFormat item.createdAt }}</span>
					<p class="position">{{ getNotificationContent item.content }}</p>
				</div>
			</div>
		</li>
		{{/each}}
		{{#unless notification.messages}}
		<li>
			<div class="empty-message">
				You have turned Profile Views off
			</div>
		</li>
		{{/unless}}
	</ul>
	{{#link-to 'messaging' class="footer-button success button expanded"}}
		See All Messages
	{{/link-to}}
{{/zf-dropdown}}
