{{#zf-reveal id="industry-picker" overlay=true class="large box"}}
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
  <section class="title-bg">
    <h4>Choose an industry</h4>
  </section>
  <div class="row collapse row-aligned-columns">
    <div class="columns medium-7 border-r scrollbar">
      <div class="industry-pane">
        {{#each industries as |category|}}
          <div class="mb20">
            <h3>{{category.name}}</h3>
            {{#each category.groups as |item| }}
              {{industry-item item=item reset="reset"}}
            {{/each}}
          </div>
        {{/each}}
      </div>
    </div>
    <div class="columns medium-5 wrapper">
      <section class="industry-detail bg-gray scrollbar">
        {{#if industryPicker.active}}
          <h3>{{industryPicker.active.industry}}</h3>

          <p class="mb20">
            <a class="button large green"{{action "set"}}>Select Industry</a>
          </p>
          <p class="">{{industryPicker.active.description}}</p>
          <h4>People in the Industry</h4>
          {{industryPicker.active.sample}}
          <h4>Related Industries</h4>
          {{industryPicker.active.related}}
        {{/if}}
      </section>
      <section>
        <ul>
        {{#each industryPicker.industries as |item|}}
          <li>{{item}}</li>
        {{/each}}
        </ul>
      </section>
      <div class="bg-gray controls padding">
    	  	<a class="button button-border" data-close>Cancel</a>
          <button class="button large green float-right" type="submit" {{action "submit"}}>Done</button>
      </div>

    </div>
  </div>
{{/zf-reveal}}
