{{#zf-reveal id=(concat "industry-picker-" name) overlay=true class="industry-picker box"}}
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
  <section class="title-bg">
    <h4>Choose an industry</h4>
  </section>
  <div class="row expanded collapse row-aligned-columns">
    <div class="columns medium-7 border-r scrollbar">
      <div class="industry-pane">
        {{#each industries as |category|}}
          <div class="mb20">
            <h3>{{category.name}}</h3>
            {{#each category.groups as |item| }}
              {{industry-item item=item}}
            {{/each}}
          </div>
        {{/each}}
      </div>
    </div>
    <div class="columns medium-5 wrapper">
      <section class="industry-detail bg-gray scrollbar">
        {{#if industryPicker.isLoading}}
          <div class="brydge-loading"></div>
        {{else}}
          {{#if industryPicker.active}}
            <h3>{{industryPicker.active.industry}}</h3>

            <p class="mb20">
              <a class="button large green"{{action "add" industryPicker.active}}>Select Industry</a>
            </p>
            <p class="mb20">
              {{industryPicker.active.description}}
            </p>
            <h4>People in the Industry</h4>
            <ul class="no-bullet mb20">
            {{#each industryPicker.active.sample as |item|}}
              <li>{{item}}</li>
            {{/each}}
            </ul>
            <h4>Related Industries</h4>
            <ul class="no-bullet">
            {{#each industryPicker.active.related as |item|}}

              <li>
                <a {{action "select" item}}>
                  {{item.name}}
                </a>
              </li>
            {{/each}}
            </ul>
          {{/if}}

        {{/if}}
      </section>
      <section>
        <ul class="industry-list list-inline">
        {{#each industryPicker.industries as |item|}}
          <li>
            <a class="selected">
              {{item.industry}}
              <i class="fa fa-close" {{action "remove" item }}></i>
            </a>

          </li>
        {{/each}}
        </ul>
      </section>
      <div class="bg-gray controls padding">
    	  	<a class="button button-border" data-close>Cancel</a>
          <button class="button large green float-right" type="submit" {{action "submit"}}>Done</button>
      </div>

    </div>
  </div>
{{/zf-reveal}}
