
<!-- {{#each messages as |message| }}

  <div class="row">
		<div class="medium-2 columns">
			<img src="http://placehold.it/50x50" />
		</div>
		<div class="medium-10 columns">
		<ul>
			<li>{{ message.title }}</li>
			<li>{{ message.shortContent }}</li>
			<li>{{ message.by }}</li>
			<li>{{ message.when }}</li>
		</ul>
		{{#link-to "messages.view"}}<a href="#" class="button secondary">View Message</a>{{/link-to}}
		</div>
	</div>

{{/each}} -->


{{#ui-list 
     size='small' 
     mood='mood' 
     skin='simple' 
     compressed=false 
     sortAscending=true 
     onClick='{{action myclick}}'
     as |list| }}
    {{#each messages as |item| }}
        {{ui-item 
             title=item.by 
             subHeading=item.shortContent 
             image=item.avatar
             badge=item.badge 
             list=list }}
    {{/each}} {{/ui-list}}