<div class="row">
  <div class='columns'>
    {{input value=profile.firstName placeholder='First Name'}}
    {{input value=profile.lastName placeholder='Last Name'}}
    {{input value=profile.location placeholder='Location'}}
    {{input value=profile.jobTitle placeholder='Job Title'}}
    <button class='button' {{ action 'save' }}>Save Changes</button>
  </div>
</div>