<div class="row">
	<div class="columns">
		<div class="top-banner bg-gray box">
			<h1>NOTIFICATIONS</h1>
		</div>		
	</div>
</div>


<div class="row">
  <div class="medium-7 columns">
  	<div class="box rounded">
      <div class="padding">
        <strong>NOTIFICATIONS FROM THE LAST FEW  DAYS</strong>
      </div>
      <ul class="media-list notifications-list no-bullet list-lined">
      {{#each model as |item|}}
       
        <li {{action "select" item preventDefault=false }}>
          <div class="media-object">
            <div class="media-object-section">
              <div class="thumbnail">
                <img src={{item.target.profile.avatarUrl}}>
              </div>
            </div>
            <div class="media-object-section main-section">
              
              {{#if (notification-type 'answer' item.type)}}
                <p><a>{{item.target.profile.firstName}} {{item.target.profile.lastName}}</a> answered your question</p>
                <span>{{ postDateFormat item.createdAt }}</span>
              {{/if}}


              {{#if (notification-type 'ask' item.type)}}
                <p><a>{{item.target.profile.firstName}} {{item.target.profile.lastName}}</a> asked you a question</p>
                <span>{{ postDateFormat item.createdAt }}</span>
              {{/if}}

              {{#if (notification-type 'comment' item.type)}}
                <p><a>{{item.target.profile.firstName}} {{item.target.profile.lastName}}</a> commented your broadcast <a>"{{ getNotificationContent item.content }}"</a></p>
                <span>{{ postDateFormat item.createdAt }}</span>
              {{/if}}

              {{#if (notification-type 'vote' item.type)}}
                <p><a>{{item.target.profile.firstName}} {{item.target.profile.lastName}}</a> upvoted your broadcast <a>"{{ getNotificationContent item.content }}"</a>  </p>
                <span>{{ postDateFormat item.createdAt }}</span>
              {{/if}}
              {{#if (notification-type 'compliment' item.type)}}
                <p><a>{{item.target.profile.firstName}} {{item.target.profile.lastName}}</a> posted a compliment to you </p>
                <span>{{ postDateFormat item.createdAt }}</span>
              {{/if}}

              {{#if (notification-type 'accept' item.type)}}
                <p><a>{{item.target.profile.firstName}} {{item.target.profile.lastName}}</a> accepted your request <a>{{ item.content}}</a></p>
                <span>{{ postDateFormat item.createdAt }}</span>
              {{/if}}


              {{#if (notification-type 'share' item.type)}}
                <p><a>{{item.target.profile.firstName}} {{item.target.profile.lastName}}</a> shared your broadcast <a>"{{ getNotificationContent item.content }}"</a></p>
                <span>{{ postDateFormat item.createdAt }}</span>
              {{/if}}


            </div>
          </div>
        </li>
        
      {{/each}}
      </ul>
  		
  	</div>

  </div>    
  <div class="medium-5 columns sidebar">

    {{render "progress-box"}}
    {{render "footer"}}
  </div>
</div>
