<div class="page-heading align-center">
  <h1>Notifications</h1>
  <div class="row columns medium-6">
    <p>
      Get updates on your interaction with other users on Brydge.
    </p>
  </div>
</div>

<div class="row">
  <div class="medium-7 small-12 columns">
    <div class="box">
      <ul class="media-list user">
        {{#each list as |item|}}
          <li>
            <a {{action "select" item}} class="plain {{if item.read false 'new-notification'}}">
              {{avatar-wrap profile=item.target.profile}}              
              <div class="user-info">
                <div>
                  <strong class="text-title">{{item.target.profile.fullName }}</strong> {{{notification-text item}}}
                </div>
                <span class="timestamp">{{ timestamp item.createdAt }}</span>
              </div>
            </a>
          </li>
        {{else}}
          <section>
            <div class="empty-message">No new notifications</div>
          </section>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="medium-5 small-12 columns">
    {{ partial 'partials/user-guide-box' }}
    {{ partial "footer"}}
  </div>
</div>
