<div class="row"> 
  <div class="large-7 medium-7 columns">
    <div class="page-heading">      
      <h1>Notifications</h1>
      <p class="text-center">
      </p>                    
    </div>
    <div class="box">
      <ul class="media-list user">
        {{#each model as |item|}}
          <li>
            <a {{action "select" item}} class="{{if item.read false 'new-notification'}}">
              <div class="row columns collapse">
                <div class="columns">
                  <div class="avatar" style={{htmlSafeImage item.target.profile.avatarUrl }}>
                    <img src= {{item.target.profile.avatarUrl}} class="hide">
                  </div>
                  <div class="user-info">
                    <div>
                      <strong>{{item.target.profile.firstName }} {{item.target.profile.lastName }}</strong> {{{notification-text item}}}
                    </div>
                    <span class="timestamp">{{ timestamp item.createdAt }}</span>
                  </div>              
                </div>
              </div>
            </a>
          </li>
        {{else}}
          <li>
            <div class="empty-message">No new notifications</div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="large-5 medium-5 columns sidebar">
    {{ partial 'partials/user-guide-box' }}
    {{ partial "footer"}}

  </div>
</div>