<section>
	<form {{action 'post' on='submit'}} class="form-input mb">
		  <div class="avatar circle" style={{htmlSafeImage sessionAccount.account.profile.avatarUrl}}>
		    <img src= {{avatarUrl}} class="hide">
		  </div>
		  <div class="input-wrapper">
		    {{textarea 
		      value=postContent 
		      key-up="edit" 
		      enter="comment"
		      class="textarea content-editable" 
		    	placeholder='Get noticed! Broadcast opinions, industry news, trends.' 
		      }}  	      	      
		  </div>
	  {{#if site.title}}
			<div class="newsfeed-item">
				{{newsfeed-media model=site preview=true}}
			</div>
		{{/if}}
	
	</form>
	
	<div class="row">
		<div class="columns medium-8">
			<div class="wrapper">
				<a class="dropdown-button button clear" {{action "toggle"}}>
					Add Industry Channel
					<i class="icons caret"></i>
				</a>
			</div>
		</div>
	  <div class="columns medium-4">
	  	<button class="success button rounded float-right" type="submit" {{action "post"}}>Broadcast</button>
	  </div>
	</div>
</section>

{{#zf-accordion id="channelSelect" class="accordion-picker" allowAllClosed=true}}
  <li class="accordion-item" data-accordion-item>
    <div class="accordion-content" data-tab-content>
      {{partial "partials/channel-select"}}
    </div>
  </li>
{{/zf-accordion}}

<section class="section-footer">
  {{#if categories}}
		<div class="broadcast-list">
		  	<span class="broadcast-title">Broadcasting to: </span> 
		  	<strong class="text-gray">My Connections{{#each categories as |item|}}
				    	{{~ concat '; ' item.text ~}}
				    {{/each}}
		  	</strong>
		</div>
	{{else}}
		<div class="broadcast-list"><span class="broadcast-title">Broadcasting to: </span><strong class="text-gray">My Connections Only</strong></div>
	{{/if}}
</section>
	
