<section class="pane-header">
  <div class="row user align-middle">
    <div class="columns medium-8">
      {{avatar-wrap profile=conversation.other.profile}}
      <div class="user-info">
        <a href="{{href-to 'profile' conversation.other.profile.uid}}" class="name">
          {{conversation.other.profile.fullName}}
        </a>
        <div class="position">
          {{conversation.other.profile.career}}
        </div>

      </div>
    </div>
    <div class="column medium-4 text-right">
      <button class="button button-clear" {{action 'delete' conversation.id}}>Delete Conversation</button>
    </div>
  </div>
</section>


{{message-box resp="submit" to=conversation.other model=messages load="load" isLoading=isLoading}}
