<section>
  <div class="row user cards">
    <div class="columns medium-8">
      <div class="avatar" style={{htmlSafeImage model.avatar }}>
        <img src= {{model.avatar}} class="hide">
      </div>
      <div class="user-info">
        {{#link-to "profile" model.other.id }}
          {{ model.fullName }}
        {{/link-to}}
      </div>
    </div>
    <div class="column medium-4 text-right">
      <button class="button secondary clear" {{action 'delete' model.id}}>Delete Conversation</button>
    </div>
  </div>
</section>

{{message-box resp="submit" to=model.other.id messages=model.messages}}
