<div class="row ask wrapper">
	{{#unless profile.settings.ask}}
	<div class="overlay-wrapper">
		<div class="overlay">
		</div>
	</div>
	{{/unless}}

  <div class="medium-5 columns sidebar">
    {{profile-box profile=profile class="mb20"}}
    {{partial 'partials/profile-sidebar'}}
  </div>
  <div class="medium-7 columns">
  	{{profile-menu profile=profile}}
  	{{#if isOwner}}
	    <div class="page-heading">
				<h1>YOUR ASK PAGE</h1>
				<p class="text-center">
					{{#if profile.settings.ask}}
						You are currently accepting questions. To disable the ASK feature go to {{link-to "Settings" "settings" (query-params tab="ask") }}.
					{{else}}
						You are currently not accepting questions. To enable the ASK feature go to {{link-to "Settings" "settings" (query-params tab="ask") }}.
					{{/if}}
				</p>
				<p class="text-center">
					Note: <i>Hidden Questions</i> and questions <i>Pending Answers</i> are only visible to you
				</p>
			</div>
		{{else}}
	      <form {{action 'submit' on='submit'}} class="box user-top-form mb20">
					{{#unless isAsked}}
		        <section>
		        	{{form-text-counter placeholder="Ask anyone a professional question. If answered, it will appear on both profiles." limit=140 value=question rows=3 showCount=true class="mb"}}
							<div class="row">
								<div class="columns medium-8 text-gray">
								</div>
								<div class="columns medium-4 text-right">
									<button class="button btn success">Ask</button>
								</div>
							</div>
		        </section>
					{{else}}
						<p>
							Your question has been sent.
						</p>
					{{/unless}}
				</form>
		{{/if}}

		<div class="mb">
			<ul id="ask-tabs" class="tab-controls tabs">
				<li data-tab='live' class="tabs-title">
					{{link-to "Questions: Answered" "ask" profile.id }}
        </li>
        <li data-tab='curated' class="tabs-title is-active">
          {{link-to "Questions: Asked" "ask.other" profile.id }}
        </li>
			</ul>
		</div>

		{{#each fromQuestions as |item| }}
			{{ask-card item=item isOwner=false}}
		{{/each}}
		{{#brydge-scroller model=fromQuestions onClick="load"}}
      {{#if isLoading}}
        <div class="loading"></div>
      {{/if}}
    {{/brydge-scroller}}

  </div>
</div>

{{answer-form}}
