<ul class="no-bullet bookmarks">
	<li><a href="{{href-to 'home'}}">Home</a></li>
	<li><a href="{{href-to 'me' }}">Profile</a></li>
	<li><a href="{{href-to 'me.edit' }}">Edit Profile</a></li>
	<li><a href="{{href-to 'me.following' }}">Following</a></li>
	<li><a href="{{href-to 'me.followers' }}">Followers</a></li>
	<li><a href="{{href-to 'me.ask' }}">Ask</a></li>
	<li><a href="{{href-to 'search' }}">People Search</a></li>
	<li><a href="{{href-to 'settings' }}">Settings</a></li>
	<li><a {{action 'logout'}}>Log out</a></li>
</ul>
