<div class="row"> 

  <div class="large-7 medium-7 columns">
    {{ share-post-box 
    	postToNewsfeed='postToNewsfeed' 
     	profile=profile
     	class="mb20"
     	submit='postFeed' }}



		<div class="newsfeed-tabs">
			<h4 class="padded">Channel Filters</h4>
			<div class="box">
		    {{picker-channel profile=profile select="setChannel" selected=channels}}
		    
		    {{picker-location profile=profile select="setLocation" selected=location}}

	      {{#zf-tabs id="newsfeed-tabs" class="tab-controls"}}
	        <li data-tab='live' class="tabs-title {{active-tab 'live' tab}}" style="width:20%">
	          <a href="#live">Live</a>
	        </li>
	        <li data-tab='curated' class="tabs-title {{active-tab 'curated' tab}}" style="width:20%">
	          <a href="#curated">Curated</a>
	        </li>
	        <li class="search-box {{if isSearch 'active'}}">
	          <form>
	            {{input 
	              class="input-group-field flat" 
	              type="search" 
	              placeholder="Search this channel" 
	              enter='search'
	              focus-in="clear"
	              value=searchContent }}

	            {{fa-icon "search"}}
	          </form>
	          
	        </li>
	        <li data-tab='search' class="hide medium-6 tabs-title {{active-tab 'search' tab}}">
	          <a href="#search">Search</a>
	        </li>
	      {{/zf-tabs}}
      </div>

			<div class="box getting-started">
				<section>
					<h4>Get Started, {{profile.firstName}}!</h4>
					We'll keep this notice here for the next 7 days.
				</section>
				<section>
					<span class="badge">1</span>

					<p>Explore your {{link-to "Profile" "me"}}</p>
					<p>This is where all the post you share (what we call <strong>Broadcasts</strong>), work and academic history(<strong>Background</strong>), questions you ask and answer (<strong>Ask</strong>) and <strong>Compliments</strong> you receive live.</p>

				</section>
				<section>
					<span class="badge">2</span>
					<p>To really get started - do this as soon as you can!</p>
					<p>One of the first things you really want to do is go to your {{link-to "Edit Profile" "me.edit"}} page, and pick these two options:</p>
					<p><strong class="text-upper">Business Industry</strong>: the industry your business operates in <br>
						<strong class="text-upper">Occupational Industries</strong>: one (or two) other industries you deal with as part of your job
					</p>
				</section>
				<section>
					<span class="badge">3</span>
					<p>Explore industry Channels on the {{link-to "Home" "home"}} page</p>
					<p>Once you've picked your relevant industries, you can use the channel filters below the broadcast box to see what:</p>
					<p>(a) your connections are talking about <br> (b) your industry peers are talking about</p>
					<p>And you can further filter them by location!</p>
				</section>
			</div>

			<div data-tabs-content="newsfeed-tabs">
				<div class="tabs-panel {{active-tab 'live' tab}}" id="live">
				    {{#if feed_live}}
					    {{newsfeed-list newsfeed=feed_live }}
				    {{else}}
							{{#if isLoading }}
								<div class="loader">Loading...</div>
							{{else}}
					      <div class="column">
					        <div class="empty-message">
					          No Newsfeed found
					        </div>      
					      </div>
					    {{/if}}
				    {{/if}}
				</div>
				<div class="tabs-panel {{active-tab 'curated' tab}}" id="curated">
			    {{#if feed_curated}}
				    {{newsfeed-list newsfeed=feed_curated }}
			    {{else}}
						{{#if isLoading }}
							<div class="loader">Loading...</div>
						{{else}}			    
				      <div class="column">
				        <div class="empty-message">
				          No broadcasts to see here as you haven't added any connections yet. Why not use the menu above to view broadcasts from Industry Channels?
				        </div>      
				      </div>
						{{/if}}
			    {{/if}}
				</div>
				<div class="tabs-panel {{active-tab 'search' tab}}" id="search">
			    {{#if feed_search}}
				    {{newsfeed-list newsfeed=feed_search }}
			    {{else}}
						{{#if isLoading }}
							<div class="loader">Loading...</div>
						{{else}}
				      <div class="column">
				        <div class="empty-message">
				          No Results found
				        </div>      
				      </div>
				  	{{/if}}
			    {{/if}}
				</div>
			</div>
		</div>
    
  </div>
  <div class="large-5 medium-5 columns sidebar">
    {{render "footer"}}

  </div>
</div>

{{ post-sharer post=sharePost.selected profile=profile value=sharePost.valueText submit="sharePost" }}
