<div class="row mt">
  <div class="large-7 medium-7 columns">
    {{ share-box postToNewsfeed='postToNewsfeed' profile=model.profile 
     isCheckedIndustry=isCheckedIndustry isCheckedOccupationOne=isCheckedOccupationOne
     isCheckedOccupationTwo=isCheckedOccupationTwo
     broadcast = broadcast
     postFeed='postFeed' }}

	<div class="newsfeed-filter">
		<div class="row">
			<div class="columns">
					{{select-custom
					 	 filtered=filteredIndustry
					 	 myCompany=model.myCompany
					 	 myIndustries=model.myIndustries
					 	 myConnections=model.myConnections
					 	 select='setChannel'
					 	 template="partials/select-industry-menu"}}
			</div>
			<div class="columns">
				 {{select-custom
				 	 items=locations
				 	 selected=selectedLoc
				 	 filtered=filteredLoc
				 	 query='query'
				 	 select='setLocation'
				 	 target=this
				 	 myLocation=model.myLocation
				 	 global=model.global
				 	 template="partials/select-location-menu"}}
			</div>
		</div>
	</div>

	<div class="curated-box clearfix">
		<label for="toggle_live">
			<input type="radio" id="toggle_live" name="toggle" value="live"  {{action 'showMoreFields' 'live' preventDefault=false }} checked={{isLive}} >

			<span>Live</span>
		</label>
		<label for="toggle_curated">
			<input type="radio"  id="toggle_curated" name="toggle" value="curated" {{action 'showMoreFields' 'curated' preventDefault=false }} checked={{isCurated}}>

			<span>Curated</span>
		</label>
		<div class="search-box {{if isSearch 'active'}}">
			<div class="input-group-button">
				{{fa-icon "search"}}
			</div>
			{{input class="input-group-field flat" type="search" placeholder="Search this channel" 
			focus-in='focusedInSearch' focus-out ='focusedOutSearch' enter='pressedSearch'
			value=searchContent}}
		</div>
	</div>
    {{newsfeed-list newsfeed=newsfeed profile=model.profile avatar=model.profile.avatarUrl}}
  </div>
  <div class="large-5 medium-5 columns sidebar">
    {{render "progress-box"}}
    {{render "footer"}}

  </div>
</div>

{{ post-sharer model=sharePost.selected profile=model.profile value=sharePost.valueText submit="sharePost" }}
