<div class="row mt25"> 

  <div class="large-7 medium-7 columns">
    {{ share-box 
    	postToNewsfeed='postToNewsfeed' 
    	profile=profile 
     	isCheckedIndustry=isCheckedIndustry 
     	isCheckedOccupationOne=isCheckedOccupationOne
     	isCheckedOccupationTwo=isCheckedOccupationTwo
     	broadcast = broadcast
     	submit='postFeed' }}

		<div class="newsfeed-filter">
			<div class="row">
				<div class="columns">
						{{select-custom
						 	 filtered=filteredIndustry
						 	 model=model
						 	 myCompany=model.myCompany
						 	 myConnections=model.myConnections
						 	 select='setChannel'
						 	 template="partials/select-industry-menu"}}
				</div>
				<div class="columns">
					 {{select-custom
					 	 items=locations
					 	 selected=selectedLoc
					 	 filtered=filteredLoc
					 	 query='query'
					 	 select='setLocation'
					 	 target=this
					 	 myLocation=model.myLocation
					 	 global=model.global
					 	 template="partials/select-location-menu"}}
				</div>
			</div>
		</div>
<!-- 
		<div class="curated-box clearfix">
			<label for="toggle_live">
				<input type="radio" id="toggle_live" name="toggle" value="live"  {{action 'showMoreFields' 'live' preventDefault=false }} checked={{isLive}} >

				<span>Live</span>
			</label>
			<label for="toggle_curated">
				<input type="radio"  id="toggle_curated" name="toggle" value="curated" {{action 'showMoreFields' 'curated' preventDefault=false }} checked={{isCurated}}>

				<span>Curated</span>
			</label>
			<div class="search-box {{if isSearch 'active'}}">
				<div class="input-group-button">
					{{fa-icon "search"}}
				</div>
				{{input 
					class="input-group-field flat" 
					type="search" 
					placeholder="Search this channel" 
					enter='search' 
					value=searchContent }}
			</div>
		</div>
 -->
		<div class="newsfeed-tabs">


			{{#zf-tabs class="tabs-table mb" id="newsfeed-tabs"}}
				<li data-tab='live' class="tabs-title {{active-tab 'live' tab}}" style="width:20%">
					<a href="#live">Live</a>
				</li>
				<li data-tab='curated' class="tabs-title {{active-tab 'curated' tab}}" style="width:20%">
					<a href="#curated">Curated</a>
				</li>
				<li class="search-box {{if isSearch 'active'}}">
						<div class="input-group-button">
							{{fa-icon "search"}}
						</div>
						{{input 
							class="input-group-field flat" 
							type="search" 
							placeholder="Search this channel" 
							enter='search'
							focus-in="clear"
							value=searchContent }}
					
				</li>
				<li data-tab='search' class="hide medium-6 tabs-title {{active-tab 'search' tab}}">
					<a href="#search">Search</a>
				</li>
			{{/zf-tabs}}

			<div data-tabs-content="newsfeed-tabs">
				<div class="tabs-panel {{active-tab 'live' tab}}" id="live">
				    {{#if feed_live}}
					    {{newsfeed-list newsfeed=feed_live profile=profile avatar=profile.avatarUrl}}
				    {{else}}
							{{#if isLoading }}
								<div class="loader">Loading...</div>
							{{else}}
					      <div class="column">
					        <div class="empty-message">
					          No Newsfeed found
					        </div>      
					      </div>
					    {{/if}}
				    {{/if}}

				</div>
				<div class="tabs-panel {{active-tab 'curated' tab}}" id="curated">
			    {{#if feed_curated}}
				    {{newsfeed-list newsfeed=feed_curated profile=profile avatar=profile.avatarUrl}}
			    {{else}}
						{{#if isLoading }}
							<div class="loader">Loading...</div>
						{{else}}			    
				      <div class="column">
				        <div class="empty-message">
				          No broadcasts to see here as you haven't added any connections yet. Why not use the menu above to view broadcasts from Industry Channels?
				        </div>      
				      </div>
						{{/if}}
			    {{/if}}
				</div>
				<div class="tabs-panel {{active-tab 'search' tab}}" id="search">
			    {{#if feed_search}}
				    {{newsfeed-list newsfeed=feed_search profile=profile avatar=profile.avatarUrl}}
			    {{else}}
						{{#if isLoading }}
							<div class="loader">Loading...</div>
						{{else}}
				      <div class="column">
				        <div class="empty-message">
				          No Results found
				        </div>      
				      </div>
				  	{{/if}}
			    {{/if}}
				</div>
			</div>
		</div>


    
  </div>
  <div class="large-5 medium-5 columns sidebar">
    {{render "progress-box"}}
    {{render "footer"}}

  </div>
</div>

{{ post-sharer post=sharePost.selected profile=profile value=sharePost.valueText submit="sharePost" }}
