<div class="row">
  <div class="large-7 medium-7 columns">
    {{ post-box
    	postToNewsfeed='postToNewsfeed'
     	profile=profile
     	class="mb20"
     	submit="post" }}



		<div class="newsfeed-tabs">
			<h4 class="padded">Pick a Channel</h4>
			<div class="box">
		    {{picker-channel profile=profile menu=model.categories favorites=model.favorites select="setChannel" selected=channels loading=isFavoritesLoading}}

		    {{picker-location profile=profile select="setLocation" selected=googlePlaceObject}}

	      {{#zf-tabs id="newsfeed-tabs" class="tab-controls"}}
	        <li data-tab='live' class="tabs-title {{active-tab 'live' tab}}" style="width:20%">
	          <a href="#live">Live</a>
	        </li>
	        <li data-tab='curated' class="tabs-title {{active-tab 'curated' tab}}" style="width:20%">
	          <a href="#curated">Top</a>
	        </li>
	        <li class="search-box {{if isSearch 'active'}}">
	          <form onsubmit="return false;">
	            {{input
	              class="input-group-field flat"
	              type="search"
	              placeholder="Search this channel"
	              enter='search'
	              focus-in="clear"
	              value=searchContent
                autocomplete="off"}}

	            {{fa-icon "search"}}
	          </form>

	        </li>
	        <li data-tab='search' class="hide medium-6 tabs-title {{active-tab 'search' tab}}">
	          <a href="#search">Search</a>
	        </li>
	      {{/zf-tabs}}
      </div>
      {{#if profile.configSetting.showGuide}}
  			<div class="box getting-started">
  				<section>
  					<h3>Get Started, <span class="text-title">{{profile.firstName}}</span>!</h3>
            Welcome to the BETA Version. We’ll keep this notice here until you dismiss it.
  				</section>
          <section>
  					<span class="badge">1</span>
  					<p><strong>Pick {{link-to "Industries" "me.edit" (query-params tab="industry")}} relevant to you</strong></p>
  					<p>Do this first. Once you do, it becomes easier for other professionals and businesses to discover you. And vice versa.</p>
  				</section>

          <section>
  					<span class="badge">2</span>
  					<p><strong>Browse Industry Channels</strong></p>
  					<p>After you've picked your industries, use the <b>Channel Filters</b> at the top of this page to discover relevant content, people and industry news.</p>
            <p>Go on, try it.</p>
  				</section>

  				<section>
  					<span class="badge">3</span>

  					<p><strong>Set up your {{link-to "Profile" "me"}}</strong></p>
            <p>Tell the world how amazing you are at what you do. Fill out your profile. If you want an example, see <b>{{link-to "Jon Vettori" "profile" "d36475e0645211e69ae542010af00003"}}</b>'s profile.</p>

  				</section>

  				<section>
  					<span class="badge">4</span>
  					<p><strong>Find people you know</strong></p>
  					<p>If you know anyone else who is participating in our Closed BETA, you can search for them. Feel free to connect with <b>{{link-to "Nikhil Charan" "profile" "3ze5n8glm6b"}}</b> or <b>{{link-to "Jon Vettori" "profile" "d36475e0645211e69ae542010af00003"}}</b> if you need any help.</p>
  				</section>
          <section class="text-right">
            <button class="button btn success" {{action "dismiss"}}>Dismiss</button>
          </section>
  			</div>
      {{/if}}
			<div data-tabs-content="newsfeed-tabs">
				<div class="tabs-panel {{active-tab 'live' tab}}" id="live">
				    {{#if feed_live}}
					    {{newsfeed-list newsfeed=feed_live }}
              {{#brydge-scroller id="live" model=feed_live onClick="load"}}
                {{#if isLoading}}
                  <div class="brydge-loading"></div>
                {{/if}}
              {{/brydge-scroller}}
				    {{else}}
							{{#if isLoading }}
								<div class="brydge-loading"></div>
							{{else}}
					      <div class="column">
					        <div class="empty-message">
					          No Newsfeed found
					        </div>
					      </div>
					    {{/if}}
				    {{/if}}
				</div>
				<div class="tabs-panel {{active-tab 'curated' tab}}" id="curated">
			    {{#if newsfeed.curated}}
				    {{newsfeed-list newsfeed=newsfeed.curated }}
            {{#brydge-scroller id="curated" model=newsfeed.curated onClick="load"}}
              {{#if isLoading}}
                <div class="brydge-loading"></div>
              {{/if}}
            {{/brydge-scroller}}
			    {{else}}
						{{#if isLoading }}
							<div class="brydge-loading"></div>
						{{else}}
				      <div class="column">
				        <div class="empty-message">
                  No posts on this channel yet. Use the Channel Filters to find discover content and people in other industry channels.
				        </div>
				      </div>
						{{/if}}
			    {{/if}}
				</div>
				<div class="tabs-panel {{active-tab 'search' tab}}" id="search">
			    {{#if newsfeed.search}}
				    {{newsfeed-list newsfeed=newsfeed.search }}
            {{#brydge-scroller id="search" model=newsfeed.search onClick="load"}}
              {{#if isLoading}}
                <div class="brydge-loading"></div>
              {{/if}}
            {{/brydge-scroller}}
			    {{else}}
						{{#if isLoading }}
							<div class="brydge-loading"></div>
						{{else}}
				      <div class="column">
				        <div class="empty-message">
				          No Results found
				        </div>
				      </div>
				  	{{/if}}
			    {{/if}}
				</div>
			</div>
		</div>

  </div>
  <div class="large-5 medium-5 columns sidebar">
		{{ partial 'partials/user-guide-box' }}
    {{ partial "footer"}}

  </div>
</div>

{{ post-sharer submit="share"}}

{{#zf-reveal id="industryModal" overlay=true class="small industry-picker box"}}
  {{picker-industry-multi name="search" categories=model.categories selected=(readonly myfavs) onSelect="onFavoriteIndustrySelect" }}
{{/zf-reveal}}
