<div class="row">
  <div class="large-7 medium-7 columns">
    {{ post-box
    	postToNewsfeed='postToNewsfeed'
     	profile=profile
     	class="mb20"
     	submit='postFeed' }}



		<div class="newsfeed-tabs">
			<h4 class="padded">Channel Filters</h4>
			<div class="box">
		    {{picker-channel profile=profile categories=model.categories favorites=model.favorites select="setChannel" selected=channels loading=isFavoritesLoading}}

		    {{picker-location profile=profile select="setLocation" selected=googlePlaceObject}}

	      {{#zf-tabs id="newsfeed-tabs" class="tab-controls"}}
	        <li data-tab='live' class="tabs-title {{active-tab 'live' tab}}" style="width:20%">
	          <a href="#live">Live</a>
	        </li>
	        <li data-tab='curated' class="tabs-title {{active-tab 'curated' tab}}" style="width:20%">
	          <a href="#curated">Curated</a>
	        </li>
	        <li class="search-box {{if isSearch 'active'}}">
	          <form onsubmit="return false;">
	            {{input
	              class="input-group-field flat"
	              type="search"
	              placeholder="Search this channel"
	              enter='search'
	              focus-in="clear"
	              value=searchContent
                autocomplete="off"}}

	            {{fa-icon "search"}}
	          </form>

	        </li>
	        <li data-tab='search' class="hide medium-6 tabs-title {{active-tab 'search' tab}}">
	          <a href="#search">Search</a>
	        </li>
	      {{/zf-tabs}}
      </div>

			<div class="box getting-started">
				<section>
					<h3>Get Started, {{profile.firstName}}!</h3>
          Welcome to the BETA Version. We’ll keep this notice here until you dismiss it.
				</section>
				<section>
					<span class="badge">1</span>

					<p>Set up your {{link-to "Profile" "me"}}</p>
          <p>This is where all the content you share (what we call <strong>Broadcasts</strong>), your work and academic history (<strong>Background</strong>), questions you ask and answer (<strong>Ask</strong>) and the <strong>Compliments</strong> you receive will live. See {{link-to "Nikhil Charan" "profile" "3ze5n8glm6b"}}’s profile for example.</p>

				</section>
        <section>
					<span class="badge">2</span>
					<p>Explore Industry Channels on the {{link-to "Home" "home"}} page</p>
					<p>Once you've picked your relevant industries, you can use the Channel Filters at the top of this page to see:</p>
					<p>
            (a) what your industry peers are talking about and sharing <br>
            (b) what your connections are talking about and sharing <br>
            (c) both of the above can be filtered by location — so you see only what's most relevant to you
          </p>
				</section>

				<section>
					<span class="badge">3</span>
					<p>Find people you know</p>
					<p>We understand you might not have a lot of connections right now. We are working on ways to help you find people you might know on Brydge.</p>
					<p>If you know anyone else who is participating in our BETA test, you can search for them. Feel free to connect and message {{link-to "Jon Vettori" "profile" "d36475e0645211e69ae542010af00003"}} for help; he would be happy to.</p>
				</section>
			</div>

			<div data-tabs-content="newsfeed-tabs">
				<div class="tabs-panel {{active-tab 'live' tab}}" id="live">
				    {{#if feed_live}}
					    {{newsfeed-list newsfeed=feed_live }}
              {{#brydge-scroller id="live" model=feed_live onClick="load"}}
                {{#if isLoading}}
                  <div class="brydge-loading"></div>
                {{/if}}
              {{/brydge-scroller}}
				    {{else}}
							{{#if isLoading }}
								<div class="brydge-loading"></div>
							{{else}}
					      <div class="column">
					        <div class="empty-message">
					          No Newsfeed found
					        </div>
					      </div>
					    {{/if}}
				    {{/if}}
				</div>
				<div class="tabs-panel {{active-tab 'curated' tab}}" id="curated">
			    {{#if newsfeed.curated}}
				    {{newsfeed-list newsfeed=newsfeed.curated }}
            {{#brydge-scroller id="curated" model=newsfeed.curated onClick="load"}}
              {{#if isLoading}}
                <div class="brydge-loading"></div>
              {{/if}}
            {{/brydge-scroller}}
			    {{else}}
						{{#if isLoading }}
							<div class="brydge-loading"></div>
						{{else}}
				      <div class="column">
				        <div class="empty-message">
                  No broadcasts on this channel yet. Use the Channel Filters to find discover content and people in other industry channels.
				        </div>
				      </div>
						{{/if}}
			    {{/if}}
				</div>
				<div class="tabs-panel {{active-tab 'search' tab}}" id="search">
			    {{#if newsfeed.search}}
				    {{newsfeed-list newsfeed=newsfeed.search }}
            {{#brydge-scroller id="search" model=newsfeed.search onClick="load"}}
              {{#if isLoading}}
                <div class="brydge-loading"></div>
              {{/if}}
            {{/brydge-scroller}}
			    {{else}}
						{{#if isLoading }}
							<div class="brydge-loading"></div>
						{{else}}
				      <div class="column">
				        <div class="empty-message">
				          No Results found
				        </div>
				      </div>
				  	{{/if}}
			    {{/if}}
				</div>
			</div>
		</div>

  </div>
  <div class="large-5 medium-5 columns sidebar">
		{{ partial 'partials/user-guide-box' }}
    {{ partial "footer"}}

  </div>
</div>

{{ post-sharer submit='sharePost'}}

{{#zf-reveal id="industryModal" overlay=true class="small industry-picker box"}}
  {{picker-industry-multi name="search" categories=model.categories selected=(readonly myfavs) onSelect="onFavoriteIndustrySelect" }}
{{/zf-reveal}}
