<div class="row">
  <div class='columns'>
  	<label>
	  School Name:
	  {{input value=school}}
		</label>
		<label>
	  Degree:
	  {{input value=degree}}
		</label>
		<label>
	  Field Of Study:
	  {{input value=field}}
		</label>
		<label>
	  Description:
	  {{input value=description}}
		</label>

		<label>
	  Start Date:
	   {{date-picker date=from format='YYYY-MM-DD' valueFormat='date' allowBlank=true}}
		</label>

		<label>
	  End Date:
	   {{date-picker date=to format='YYYY-MM-DD' valueFormat='date' allowBlank=true}}
		</label>
		<button class='alert button' {{action 'cancel'}}>Cancel</button>
    <button class='button' {{ action 'save' }}>Save</button>
  </div>
</div>