{{#zf-accordion allowAllClosed="true" id="accordion-education" class="form-accordion"}}
	<li data-accordion-item>
		<div class="accordion-content" data-tab-content>
		  	<form action="">
				<label>{{input value=school placeholder="School Name"}}</label>
				<label>{{input value=degree placeholder="Degree"}}</label>
				<label>{{input value=studyField placeholder="Field Of Study"}}</label>
				<label>{{input value=content placeholder="Description"}}</label>

				<label>{{input value=location placeholder="Location"}}</label>
				<div class="row">
					<div class="columns medium-6">
						<label>{{date-picker date=from format='YYYY-MM-DD' valueFormat='date' allowBlank=true placeholder="Start Date"}}</label>		
					</div>
					<div class="columns medium-6">
						<label>{{date-picker date=to format='YYYY-MM-DD' valueFormat='date' allowBlank=true placeholder="End Date"}}</label>		
					</div>
				</div>
			    <button class='button success' {{ action 'save' }}>SAVE</button>
				<button class='button success' {{ action 'cancel' }}>CANCEL</button>
			</form>								
		</div>
  		<a class="more no-arrow button success expanded">{{fa-icon "plus"}}</a>
	</li>
{{/zf-accordion}}

