<div class="row">
	<div class="columns">
		<div class="top-banner bg-gray box">
			<h1>YOUR CONNECTIONS</h1>
		</div>		
	</div>
</div>


<div class="row">
  <div class="medium-7 columns">
  	<div class="box rounded">
  		<div class="search-bar">
  			<form action="">
          {{input value=key type="search" placeholder="Search by Name"}}
  			</form>
  		</div>

      <ul class="no-bullet connections-list">
        {{#each acceptedList as |connection|}}
        <li class="{{if (eq connection.from.id targetid) "highlight"}}">
            <div class="media-object">
              <div class="media-object-section">
                <div class="thumbnail" style="background-image: url({{connection.from.profile.avatarUrl}})">
                  {{#link-to "profile" connection.from.username class="name"}}  
                  <img src= {{connection.from.profile.avatarUrl}} class="hide">
                  {{/link-to}}
                </div>
              </div>
              <div class="media-object-section media-object-content">
                {{#link-to "profile" connection.from.username class="name"}}  
                  {{connection.from.name }}
                {{/link-to}}
                
                <div class="position">
                  {{#if connection.from.profile.currentTitle}}{{connection.from.profile.currentTitle}} <br>{{/if}}
                  {{connection.from.profile.currentCompany}}
                </div>
                <p class="location">{{connection.from.profile.location}}</p>
              </div>
            </div>
        </li>
        {{/each}}
      </ul>

  	</div>

  </div>    
  <div class="medium-5 columns sidebar">

    <div class="box rounded pending-request-box">
  		<h5 class="box-header">Pending Requests</h5>
      {{#if pendingListTop}}
  		  {{partial 'me/connections/pending'}}
      {{else}}
       <div class="columns">No pending requests</div>
      {{/if}}		
    </div>

    {{progress-box}}
    {{render "footer"}}

  </div>
</div>

{{connection-form-accept model=selected }}
{{connection-form-reject model=selected }}
