<div class="row">
  <div class="columns">
    <div class="top-banner bg-gray box">
      
    </div>
  </div>
</div>
<div class="row">
  <div class="columns">
    <div class="top-banner bg-gray box">
      <div class="columns">
        <h1 class="text-upper">Compliment {{model.profile.firstName}} has posted</h1>
      </div>
    </div>    
  </div>  
</div>



<div class="row ask">
  <div class="medium-7 columns">
    <div class="tabs-content compliments box">
      <div class="padding clear">
          {{#each fromAccept as |item|}}
          <div class="media-object">
            <div class="media-object-section">
              <div class="thumbnail" style="background-image: url({{item.from.profile.avatarUrl}})">
                <img src="{{item.from.profile.avatarUrl}}" class="hide">
              </div>
            </div>
            <div class="media-object-section main-section">
              {{link-to item.from.name "profile" item.from.username class="user"}} <span class="text-light">complimented</span> {{link-to item.to.name "profile" 'me' class="user"}}
              <p class="timestamp text-light">{{timestamp item.createdAt}}</p>              
              <strong class="title text-upper">{{item.title}}</strong>
              <p class="content">{{item.content}}</p>               
            </div>
          </div>
          {{/each}}
      </div>
    </div>
  </div>
  <div class="medium-5 columns sidebar">
    {{progress-box}}
    {{render "footer"}}
  </div>
</div>