  <div class="row user content-pad border-b align-middle">
    <div class="columns medium-8 small-8">
      <div class="avatar" style={{htmlSafeImage conversation.other.profile.avatarUrl }}>
        <img src= {{conversation.other.profile.avatarUrl}} class="hide">
      </div>
      <div class="user-info">
        <a href="{{href-to 'profile' conversation.other.profile.uid}}" class="name">
          {{conversation.other.profile.fullName}}
        </a>
        <div class="position">
          {{conversation.other.profile.career}}
        </div>

      </div>
    </div>
    <div class="column medium-4 small-4 text-right">
      <a class="" {{action 'delete' conversation.id}}>Delete Conversation</a>
    </div>
  </div>
  {{#if list}}
    <section class="bg-white border-b">
      <a {{action "load" "messages"}} class="padding block">See Older Messages...</a>
    </section>
  {{/if}}
  <section class="bg-white">
    <ul class="messages-list no-bullet">
      {{#each list as |item| }}
        <li>
          <div class="row collapse">
            <div class="columns user">
              <div class="avatar" style={{htmlSafeImage item.from.profile.avatarUrl }}>
                <img src= {{item.from.profile.avatarUrl}} class="hide">
              </div>
              <div class="user-info">
                <div class="row collapse">
                  <div class="columns medium-8 small-8">
                    <a href="{{href-to 'profile' item.from.profile.uid}}" class="name">
                      {{ item.from.profile.fullName }}
                    </a>
                  </div>
                  <div class="columns medium-4 small-4 text-right">
                    <div class="timestamp">{{ timestamp item.updatedAt }}</div>
                  </div>
                </div>
                <div class="row columns">
                  {{brydge-linkify text=item.content class="paragraph"}}
                </div>
              </div>
            </div>
          </div>
        </li>
      {{/each}}

    </ul>
  </section>
  <section class="padding">
    <form class="form-input mb">
      <div class="avatar circle" style={{htmlSafeImage sessionAccount.account.profile.avatarUrl}}>
        <img src="{{ sessionAccount.account.profile.avatarUrl }}" class="hide">
      </div>
      <div class="input-wrapper">
        {{textarea
          value=message
          class="textarea content-editable"
          placeholder="Message..."
          }}
      </div>
    </form>
    <div class="text-right">
      <button type="submit" {{action "submit"}} class="button success rounded">Send</button>
    </div>
  </section>
