{{#zf-accordion allowAllClosed="true"}}

{{#each items as |item|}}

	<li class="accordion-item" data-accordion-item >
			<a class="accordion-header">
				{{ item.content }}
			</a>
		<div class="accordion-content" data-tab-content>
	  	<form action="" class="form-accordion	">
				<label>
					{{form-input model=item valuePath='content' placeholder="Interest (Trekking, Model-building, Gardening etc.)"}}	
				</label>
	  	
			    <button class='button success' {{ action 'update' item }}>SAVE</button>
			    <button class='button success float-right' {{ action 'delete' item }}>DELETE</button>
			</form>								

		</div>
	</li>
{{/each}}
	<li class="accordion-item" data-accordion-item>
		<div class="accordion-content" data-tab-content>
	  	<form action="" class="form-accordion">
				<label>
					{{form-input model=this valuePath='content' placeholder="Interest (Trekking, Model-building, Gardening etc.)"}}	
				</label>

			    <button class='button success' {{ action 'create' }}>SAVE</button>
			</form>								
		</div>
  		<a class="more no-arrow button success expanded">{{fa-icon "plus"}}</a>
	</li>
	
  
{{/zf-accordion}}
