<section>
	<label class="title">Academia</label>
	{{#zf-accordion allowAllClosed="true"}}
		<li class="accordion-item" data-accordion-item>
			<a class="button success expanded rounded">Add Academia</a>
			<div class="accordion-content" data-tab-content>
				<div class="content form-new">
					{{partial "partials/form-academia"}}
					<div class="row">
						<div class="columns">
							{{form-input-button item=item submit="create" placeholder="Saved"}}
							<button class="button button-clear float-right">Reset</button>
						</div>
					</div>
				</div>
			</div>
		</li>
	{{#each list as |item|}}
		<li class="accordion-item box" data-accordion-item >
				<a class="accordion-header">
					<div class="name">{{ item.degree }}</div>
					<div class="company">{{ item.school }}</div>
					<div class="timestamp">{{term-date-format item.endAt 'YYYY' }}</div>
				</a>
			<div class="accordion-content" data-tab-content>
				<div class="content">
					{{partial "partials/form-academia"}}
						<div class="row">
							<div class="columns">
								{{form-input-button item=item submit="update" placeholder="Saved"}}
						    <button class="button button-clear float-right" {{ action 'delete' item }}>Delete</button>
							</div>
						</div>
				</div>

			</div>
		</li>
	{{/each}}
	{{/zf-accordion}}
</section>
