<div class="container">
 <div class="row">
   <div class="columns">
     <div class="row column collapse conversations bordered">
       <div class="medium-5 columns">
           <div class="conversations-top-bar">
              {{link-to "Inbox" "messaging" class="button clear"}}
              <a href="#" class="button clear">Others</a>     
              {{link-to "New Message" "messaging.compose" class="float-right secondary button btn-new-message" }}
           </div>
           <div class="search border-b">
             <form action="">{{input value=key placeholder='Search' class="flat"}}</form> 
           </div>
           <ul class="no-bullet conversation-list">
              {{#each conversations as |item| }}    
                {{#if item.preview }}                        
                  <li>
                  {{#link-to "messaging.conversation" item.id class="no-color"}}
                    <div class="media-object">
                      <div class="media-object-section">
                        <div class="thumbnail">
                          <img src={{item.other.profile.avatarUrl}} class="avatar">
                        </div>
                      </div>
                      <div class="media-object-section main-section">
                        <div class="row">
                          <div class="columns medium-9">
                            <strong>{{ item.other.profile.firstName }} <span class="text-upper">{{item.other.profile.lastName }}</span></strong>
                          </div>
                          <div class="columns medium-3 text-right">
                            <span class="timestamp">
                              {{ moment-format item.preview.createdAt "h:ma" }}
                            </span>
                          </div>
                        </div>
                        <div class="truncate">{{ item.preview.content }}</div>
                      </div>
                    </div>
                  {{/link-to}}
                  </li>
                {{/if}}
              {{/each}} 
            </ul>
       </div>
       <div class="medium-7 columns message-container">
        {{ outlet }}        
       </div>
     </div>
   </div>
 </div>
</div>