<div class="row">
	<div class="columns">
		<div class="top-banner box">
			<h1>YOUR ASK PAGE</h1>

			<div class="row">
				<div class="columns medium-4 medium-centered">
					<div class="row">
						<div class="columns medium-6">
							<label for="" class="middle">Turn ASK OFF</label>
						</div>
						<div class="columns medium-6">
							<div class="switch">
								<input class="switch-input" id="exampleRadioSwitch1" type="radio" checked name="testGroup">
								<label class="switch-paddle" for="exampleRadioSwitch1">
									<span class="show-for-sr">Bulbasaur</span>
								</label>
							</div>
						</div>
					</div>
					<p class="text-center">
						Turning ASK off will also...
					</p>					
					
				</div>
			</div>
		</div>
		
	</div>
	
	<!-- {{ ask-box store=store model=model}} -->

</div>


<div class="row ask">
  <div class="medium-7 columns">

	<div class="mb">
		{{#zf-tabs}}
			<li class="medium-6 tabs-title is-active">
				<a href="#question_answered" class="button expanded text-upper" aria-selected="true">Questions {{model.username}} has answered</a>
			</li>
			<li class="medium-6 tabs-title">
				<a href="#question_asked" class="button expanded text-upper">Questions {{model.username}} has asked</a>
			</li>
		{{/zf-tabs}}
	</div>
	<div class="tabs-content questions" data-tabs-content="example-tabs">
		<div class="tabs-panel is-active" id="question_answered">
			{{ partial 'ask/to'}}
		</div>
		<div class="tabs-panel" id="question_asked">
		    {{ partial 'ask/from'}}
		</div>
	</div>


  </div>
  <div class="medium-5 columns sidebar">
    <div class="box rounded question-box">

		<h5 class="box-header">Pending Questions</h5>
      	{{ partial 'me/ask/pendinglist'}}
		{{#link-to 'me.ask' class="success button expanded" }}
			Load More
		{{/link-to}}
    </div>

    {{render "progress-box"}}
    {{render "footer"}}
  </div>
</div>


	{{#zf-reveal id="answerFormModal" overlay=true class="reveal-popup small"}}
		{{answer-form selectedQuestion=selectedQuestion store=store}}
	{{/zf-reveal}}
