<div class="row">
	<div class="columns">
		<div class="top-banner bg-gray box">
			<h1>YOUR ASK PAGE</h1>
			<div class="columns">
				<div class="row">
					<div class="columns medium-centered">
						<form class="inline-block">
              <div class="switch">
                {{input type="checkbox" change=(action settingsChanged 'ask') checked=model.profile.settings.ask class="switch-iput" id="askSwitch" name="askSwitch" }}
                <label class="switch-paddle" for="askSwitch">
                  <span class="show-for-sr">Turn ASK OFF</span>
                </label>
              </div>
						</form>
					</div>
				</div>
				<p class="text-center">
					By turning ASK off, you are blocking anyone from asking you questions. <br>
					It will also disable you from asking questions. <br><br>
					Note: Questions <i>Pending Answers</i> and <i>Hidden Questions</i> are only visible to you.
	
				</p>										
			</div>
		</div>		
	</div>
</div>


<div class="row ask wrapper">
	{{#unless model.profile.settings.ask}}	
	<div class="overlay-wrapper">
		<div class="overlay">		
		</div>
	</div>
	{{/unless}}
  <div class="medium-7 columns">
		<div class="mb">
			{{#zf-tabs class="tabs-table"}}
				<li class="medium-6 tabs-title is-active">
					<a href="#question_answered" class="button expanded text-upper" aria-selected="true">Questions {{model.profile.firstName}} has answered</a>
				</li>
				<li class="medium-6 tabs-title">
					<a href="#question_asked" class="button expanded text-upper">Questions {{model.profile.firstName}} has asked</a>
				</li>
			{{/zf-tabs}}
		</div>
		<div class="tabs-content questions" data-tabs-content="example-tabs">
			<div class="tabs-panel is-active" id="question_answered">
				{{ partial 'ask/to'}}
			</div>
			<div class="tabs-panel" id="question_asked">
			    {{ partial 'ask/from'}}
			</div>
		</div>
  </div>
  <div class="medium-5 columns sidebar">
  	{{ partial 'me/ask/pendinglist'}}


    {{render "progress-box"}}
    {{render "footer"}}
  </div>
</div>

{{answer-form}}



