<div id="messages" class="messages-loader">
  {{#if isLoading}}
    <div class="brydge-loading"></div>
  {{/if}}
</div>

  <section class="container message-scrollable bg-white">
    <ul class="messages-list no-bullet">
      {{#each messages as |item| }}
        <li>
          <div class="row user">
            <div class="columns">
              <div class="avatar" style={{htmlSafeImage item.from.profile.avatarUrl }}>
                <img src= {{item.from.profile.avatarUrl}} class="hide">
              </div>
              <div class="user-info">
                <div class="row collapse">
                  <div class="columns medium-8">
                    {{#link-to "profile" item.from.id class="name"}}
                      {{ item.from.profile.fullName }}
                    {{/link-to}}
                    <div class="position">
                      {{item.from.profile.career}}
                    </div>
                  </div>
                  <div class="columns medium-4 text-right">
                    <div class="timestamp">{{ timestamp item.updatedAt }}</div>
                  </div>
                </div>
                <div class="row columns">
                  {{brydge-linkify text=item.content class="paragraph"}}
                </div>
              </div>
            </div>
          </div>
        </li>
      {{/each}}

    </ul>
  </section>
  <section class="message-form">
    <form class="form-input mb">
    	<div class="avatar circle" style={{htmlSafeImage sessionAccount.account.profile.avatarUrl}}>
    	  <img src="{{ sessionAccount.account.profile.avatarUrl }}" class="hide">
    	</div>
    	<div class="input-wrapper">
    	  {{textarea
    	    value=message
    	    class="textarea content-editable"
    	  	placeholder="Message..."
    	    }}
    	</div>
    </form>
    <div class="text-right">
    	<button type="submit" {{action "submit"}} class="button success rounded">Send</button>
    </div>
  </section>
