<form class="form-input mb">
  {{#if showToInput}}
  	{{input value=to type="text" id="middle-label" placeholder="Type a person name.."}}
  {{/if}}
	<div class="avatar circle" style={{htmlSafeImage sessionAccount.account.profile.avatarUrl}}>
	  <img src="{{ sessionAccount.account.profile.avatarUrl }}" class="hide">
	</div>
	<div class="input-wrapper">
	  {{textarea 
	    value=message
	    key-up="edit" 
	    enter="submit"
	    class="textarea content-editable" 
	  	placeholder="Message..." 
	    }}  	      	      
	</div>
</form>
<div class="text-right">
	<button type="submit" {{action "submit"}} class="button success rounded">{{buttonLabel}}</button>
</div>
