<div class="padded">
  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
      <img src= {{post.user.profile.avatarUrl}}>
      </div>
    </div>
    <div class="media-object-section">
      <div class="name">
        {{#link-to "profile" post.user.username}} 
          <strong>{{post.user.name}}</strong>
        {{/link-to}}
        {{#if post.sharedPost}}
          {{#unless shared}}
            shared a post
          {{/unless}}
        {{/if}}
      </div>
      <div class="position">{{post.user.profile.currentTitle}}</div>
      <p class="timestamp">{{#link-to 'post' post.user.id post.id }}{{postDateFormat post.updatedAt}}{{/link-to}}</p>
    </div>
  </div>

  {{#unless shared }}
    <div class="menu-wrapper">
      <a data-toggle="dd-post-menu-{{post.id}}"><i class="icons ellipsis"></i></a>      
    </div>
    {{#zf-dropdown id=menuName closeOnClick=true class="post-menu-dropdown"}}
      <ul class="menu">
        <li><a href="">Delete Post</a></li>
      </ul>
    {{/zf-dropdown}}
  {{/unless}}
</div>


<div class="media">
  <p>
    {{#unless shared }}
      {{{post.content }}}
    {{else}}
      {{{post.content.content }}}
    {{/unless}}
  </p>
  {{#if post.screenshot}}
    <div class="post-image">
      <img src="{{post.previewImage}}">
    </div>
    <div class="post-caption">
      {{#if post.siteName}}
        <div class="subheader">{{post.siteName}}</div>
      {{/if}}
      <h3>{{title}}</h3>
    </div>
  {{/if}}

  {{#unless shared }}

    {{#if post.sharedPost }}
      {{newsfeed-item post=post.sharedPost shared=true class="shared-post"}}
    {{/if}}
  {{/unless}}
</div>

{{#unless shared }}
  <div class="padded post-actions">
    <div class="float-left"> 
     
      {{#if post.vote.upVoted}}
      <a {{action "vote" "reset"}}>Upvoted</a> 
      {{else}}
      <a {{action "vote" "up"}}>Upvote</a> 
      {{/if}}

       <span> {{post.vote.upVotes}}</span>


      {{#if post.vote.downVoted}}
      <a {{action "vote" "reset"}}>Downvoted</a> 
      {{else}}
      <a {{action "vote" "down"}}>Downvote</a> 
      {{/if}}

     <!--  <span> {{post.vote.downVotes}}
       {{post.vote.downVoted}} {{post.vote.downVoters}}</span> -->
     
    </div>
    <div class="float-right">
      <a {{action "viewComments"}}>Comment</a><span>{{post.commentCount}}</span>
      <a {{action "share" post }} data-open="shareModal">Share</a><span>99</span>
    </div>
  </div>
  <div class="post-footer">
      {{comment-box avatar=avatar post=post}}
  </div>
{{/unless}}
