<section class="user">
  <div class="row">
    <div class="columns medium-8">
      <div class="avatar" style={{htmlSafeImage post.user.profile.avatarUrl }}>
        <img src= {{post.user.profile.avatarUrl}} class="hide">
      </div>
      <div class="user-info">
        <span class="name">
          {{#link-to "profile" post.user.id class="plain"}}
            {{post.user.profile.fullName}}
          {{/link-to}}
        </span>
        {{#if post.shared}}
          {{#unless shared}}
            <span class="text-gray">shared </span><span class="name">{{link-to post.shared.user.profile.fullName "profile" post.shared.user.id class="plain"}}</span><span class="text-gray">'s broadcast</span>
          {{/unless}}
        {{/if}}

        <div class="position">{{post.user.profile.currentTitle}} {{#if post.user.profile.currentCompany}} at {{post.user.profile.currentCompany}}{{/if}}</div>
      </div>
    </div>
    <div class="columns medium-4 text-right">
      {{#unless shared }}
        <a class="button dropdown-button-arrow button-ellipsis" data-toggle="dd-post-menu-{{post.id}}"></a>
        {{#zf-dropdown id=(concat "dd-post-menu-" post.id) closeOnClick=true class="card-menu-dropdown"}}
          <ul class="menu">
            {{#if isOwner}}
              <li><a data-open={{concat 'dialog-box-' 'delete' post.id}}>Delete Post</a></li>
            {{else}}
              <li><a data-open={{concat 'dialog-box-' 'flag' post.id}}>Flag this Post</a></li>
            {{/if}}
          </ul>
        {{/zf-dropdown}}
      {{/unless}}
      {{#link-to 'post' post.user.id post.id class="timestamp"}}{{timestamp post.updatedAt}}{{/link-to}}

    </div>
  </div>
</section>

<section>
  <div class="newsfeed-content">
    {{#unless shared }}
      {{#if post.content}}
        {{see-more content=post.content limit=480 }}
      {{/if}}
    {{else}}
      {{#if post.content.content}}
        {{see-more content=post.content.content limit=480 }}
      {{/if}}
    {{/unless}}
  </div>


  {{#if post.title}}
    {{newsfeed-media model=post}}
  {{/if}}

  {{#unless shared }}
    {{#if post.shared }}
      {{newsfeed-item post=post.shared shared=true class="shared-post"}}
    {{/if}}
  {{/unless}}

</section>
{{#unless shared }}
  <section class="post-actions">
    <div class="row">
      <div class="columns medium-6">
        {{#if post.vote.upVoted}}
        <a {{action "vote" "reset"}} class="acted">Upvoted</a>
        {{else}}
        <a {{action "vote" "up"}}>Upvote</a>
        {{/if}}

        {{#if post.vote.upVotes}}<span>{{post.vote.upVotes}}</span>{{/if}}


        {{#if post.vote.downVoted}}
        <a {{action "vote" "reset"}} class="acted">Downvoted</a>
        {{else}}
          {{#zf-tooltip title="Downvoting is anonymous" class="top"}}
            <a {{action "vote" "down"}}>Downvote</a>
          {{/zf-tooltip}}
        {{/if}}

      </div>
      <div class="columns medium-6 text-right">
        <a {{action "viewComments"}}>Comment</a>
        {{#if post.commentCount}}<span>{{post.commentCount}}</span>{{/if}}
        <a {{action "share"}} data-open="sharePostModal">Share</a>
        {{#if post.shareCount}}<span>{{post.shareCount}}</span>{{/if}}
      </div>
    </div>
  </section>
{{/unless}}

{{#unless shared}}
  <section class="comments">
    {{comment-box post=post total=post.commentCount}}
  </section>
{{/unless}}

{{#unless shared }}
  {{dialog-box name="delete" item=post title="Delete Post" content="Are you sure you want to delete this post?" submit="delete"}}
  {{dialog-box name="flag" item=post title="Flag Post" content="Are you sure you want to flag this post?" submit="flag"}}
{{/unless}}
