

  <div class="padded border-b">
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
        <img src= "assets/avatar.png">
        </div>
      </div>
      <div class="media-object-section">
        <div class="name">

          {{#link-to "profile" post.user.username}}
            <strong>{{post.user.name}}</strong>
          {{/link-to}}

        </div>
        <small class="subheader">{{post.user.profile.jobTitle}}</small>
        <p class="small subheader">{{#link-to 'post' post.user.id post.id }}{{postDateFormat post.updatedAt}}{{/link-to}}</p>
      </div>
    </div>
    <p>{{{post.content}}}</p>
    {{#if post.screenshot}}
	    <div class="shadowed media">
		    <img src="{{post.previewImage}}">
		    <div class="post-caption">
		      <small class="subheader">{{post.siteName}}</small>
		      <h3>{{post.title}}</h3>
		      <!-- <p>{{post.summary}}</p> -->
		    </div>
	    </div>
    {{/if}}
  </div>
  <div class="padded post-footer border-b">
    <div class="float-left">
      <ul>
        <li><a href="">Upvote </a> <span>21</span></li>
        <li><a href="">Downvote</a></li>
      </ul>

    </div>
    <div class="float-right">
      <ul>
        <li><a href="">Comment</a></li>
        <li><a href="">Share</a></li>
      </ul>
    </div>
  </div>
  <div class="padded post-comments">
    <div class="media-object">
      <div class="thumbnail">
        <img src= "assets/avatar-beta.png">
      </div>
      <div class="comment-form">
        <input type="text" placeholder="Write your comment">
      </div>
    </div>

  </div>
