

  <div class="padded">
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
        <img src= {{post.user.profile.avatarUrl}}>
        </div>
      </div>
      <div class="media-object-section">
        <div class="name">
          {{#link-to "profile" post.user.username}}
            <strong>{{post.user.name}}</strong>
          {{/link-to}}
        </div>
        <div class="position">{{post.user.profile.jobTitle}}</div>
        <p class="timestamp">{{#link-to 'post' post.user.id post.id }}{{postDateFormat post.updatedAt}}{{/link-to}}</p>
      </div>
    </div>
    <div class="menu">

      <a data-toggle="dd-post-menu-{{post.id}}"><i class="icons ellipsis"></i></a>      

    </div>
    {{#zf-dropdown id=menuName closeOnClick="true" class="dropdown-flat item-menu-dropdown"}}
      <button class="button expanded">Delete Post</button>
    {{/zf-dropdown}}

  </div>

  <div class="media border-b">

    <p>{{{post.content}}}</p>
    {{#if post.screenshot}}
      <div class="post-image">
        <img src="{{post.previewImage}}">
      </div>
      <div class="post-caption">
        {{#if post.siteName}}
          <div class="subheader">{{post.siteName}}</div>
        {{/if}}
        <h3>{{title}}</h3>
      <!-- <p>{{post.summary}}</p> -->
      </div>
    {{/if}}
  </div>
  

<div class="padded post-actions border-b">
  <div class="float-left">
    <a {{action "vote" "up"}}>Upvote</a> <span>{{data.attributes.counter}}</span>
    <a {{action "vote" "down"}}>Downvote</a>
  </div>
  <div class="float-right">
    <a {{action "focusInput"}}>Comment</a><span>12</span>
    <a>Share</a><span>99</span>
  </div>
</div>

<div class="post-footer">
  <div class="padded border-b">
    <div class="post-comment-form">
      <div class="media-object">
        <div class="thumbnail">
          <img src= "assets/blank-user.jpg">
        </div>
        <div class="comment-form">
          <input type="text" placeholder="Write your comment">
        </div>
      </div>
    </div>
  </div>
  <div class="padded post-comments">
    <a>View Comments</a>    
  </div>  
</div>
