<!-- <div class="row" style="margin-top:0.5em">

<div class="small-2 medium-2 column">
  <img src="http://placehold.it/80x80&amp;text=Profile">
</div>

<div class="small-10 medium-10 columns">
  {{#link-to 'public-profile' post.user.username}} {{post.user.name}} {{/link-to}}
  <br>
  {{#link-to 'post' post.user.username post.id}}{{moment-from-now post.updatedAt}}{{/link-to}}
  <p>
  {{{post.content}}}
</p>
  {{#link-to 'public-profile' post.user.username}} See more {{post.user.username}} {{/link-to}}
</div>

  <div class="small-12 column">
    <button class="button hollow secondary tiny" {{action 'upvote' post.id}}>Upvote</button>
    <button class="button hollow secondary tiny" {{action 'downvote' post.id}}>Downvote</button>
    <button class="button hollow secondary tiny" {{action 'comment' post.id}}>Comment</button>
    <button class="button hollow secondary tiny" {{action 'share' post.id}}>Share</button>
  </div>

</div> -->



  <div class="padded border-b">
    <div class="media-object">
      <div class="media-object-section">
        <div class="thumbnail">
        <img src= "assets/avatar.png">
        </div>
      </div>
      <div class="media-object-section">
        <div class="name">

          {{#link-to "profile" post.user.username}}
            <strong>{{post.user.name}}</strong>
          {{/link-to}}

        </div>
        <small class="subheader">{{post.user.profile.jobTitle}}</small>
        <p class="small subheader">{{#link-to 'post' post.user.id post.id }}{{moment-from-now post.updated_at}}{{/link-to}}</p>
      </div>
    </div>
    <p>{{{post.content}}}</p>
    {{#if post.screenshot}}
	    <div class="shadowed media">
		    <img src="{{post.previewImage}}">
		    <div class="post-caption">
		      <small class="subheader">{{post.siteName}}</small>
		      <h3>{{post.title}}</h3>
		      <!-- <p>{{post.summary}}</p> -->
		    </div>
	    </div>
    {{/if}}
  </div>
  <div class="padded post-footer border-b">
    <div class="float-left">
      <ul>
        <li><a href="">Upvote </a> <span>21</span></li>
        <li><a href="">Downvote</a></li>
      </ul>

    </div>
    <div class="float-right">
      <ul>
        <li><a href="">Comment</a></li>
        <li><a href="">Share</a></li>
      </ul>
    </div>
  </div>
  <div class="padded post-comments">
    <div class="media-object">
      <div class="thumbnail">
        <img src= "assets/avatar-beta.png">
      </div>
      <div class="comment-form">
        <input type="text" placeholder="Write your comment">
      </div>
    </div>

  </div>

