<section class="user">
  <div class="row">
    <div class="columns medium-9 small-9">
      <div class="avatar" style={{htmlSafeImage post.user.profile.avatarUrl }}>
        <img src= {{post.user.profile.avatarUrl}} class="hide">
      </div>
      <div class="user-info">
        <span class="name">
          <a href="{{href-to 'profile' post.user.profile.uid}}" class="plain">
            {{post.user.profile.fullName}}
          </a>
        </span>
        {{#if post.shared}}
          {{#unless shared}}
            <span class="text-gray">shared </span>
              <span class="name">
                <a href="{{href-to 'profile' post.shared.user.profile.uid }}" class="plain">{{post.shared.user.profile.fullName}}</a>
              </span><span class="text-gray">'s post</span>
          {{/unless}}
        {{/if}}

        <div class="position">
          {{post.user.profile.career}}
        </div>
      </div>
    </div>
    <div class="columns medium-3 small-3 text-right">
      {{#unless shared }}
        <a class="button dropdown-button-arrow button-ellipsis" data-toggle="dd-post-menu-{{post.id}}"></a>
        {{#zf-dropdown id=(concat "dd-post-menu-" post.id) closeOnClick=true class="card-menu-dropdown"}}
          <ul class="menu">
            {{#if isOwner}}
              <li><a {{action "select"}} data-open="post-edit-dialog">Edit Post</a></li>
              <li><a data-open={{concat 'dialog-box-' 'delete-' post.id}}>Delete Post</a></li>
            {{else}}
              <li><a data-open={{concat 'dialog-box-' 'flag-' post.id}}>Flag this Post</a></li>
            {{/if}}
          </ul>
        {{/zf-dropdown}}
      {{/unless}}
      {{#link-to 'post' post.user.profile.uid post.id class="timestamp"}}
        {{timestamp post.updatedAt}}
      {{/link-to}}
    </div>
  </div>
</section>

<section>
  {{#unless shared }}
    {{#if post.content}}
      <div class="newsfeed-content">
        {{see-more content=content limit=480 }}
      </div>
    {{/if}}
  {{else}}
    {{#if post.content.content}}
      <div class="newsfeed-content">
        {{see-more content=content.content limit=480 }}
      </div>
    {{/if}}
  {{/unless}}


  {{#if post.title}}
    {{#if isHTML}}
      {{newsfeed-video model=post}}
    {{else if isMedia}}
      {{newsfeed-media model=post}}
    {{else if isText}}
      {{newsfeed-text model=post}}
    {{/if}}
  {{/if}}

  {{#unless shared }}
    {{#if post.shared }}
      {{newsfeed-item post=post.shared shared=true class="shared-post"}}
    {{/if}}
  {{/unless}}

</section>
{{#unless shared }}
  <section class="post-actions">
    <div class="row text-center collapse is-collapse-child">
      <div class="columns medium-3 small-4 text-left">
        {{#if post.vote.upVoted}}
          <a {{action "vote" "reset"}} class="acted">Upvoted</a>
        {{else}}
          <a {{action "vote" "up"}}>Upvote</a>
        {{/if}}
        {{#if post.vote.upVotes}}<span>{{post.vote.upVotes}}</span>{{/if}}
      </div>
      <div class="columns medium-3 small-4 text-left">
        {{#if post.vote.downVoted}}
          <a {{action "vote" "reset"}} class="acted">Downvoted</a>
        {{else}}
          {{#zf-tooltip title="Downvoting is anonymous" class="top"}}
            <a {{action "vote" "down"}}>Downvote</a>
          {{/zf-tooltip}}
        {{/if}}
      </div>
      <div class="columns medium-3 small-4 text-right show-for-medium">
        <a {{action "viewComments"}}>Comment</a>
        {{#if post.commentCount}}<span>{{post.commentCount}}</span>{{/if}}
      </div>
      <div class="columns medium-3 small-4 text-right">
        <a {{action "share"}} data-open={{sharePostModal}}>Share</a>
        {{#if post.shareCount}}<span>{{post.shareCount}}</span>{{/if}}
      </div>
    </div>
  </section>
{{/unless}}

{{#unless shared}}
  <section class="container comments">
    {{comment-box post=post total=post.commentCount expanded=expanded}}
  </section>
{{/unless}}

{{#unless shared }}
  {{dialog-box name="delete" item=post title="Delete Post" content="Are you sure you want to delete this post?" submit="delete"}}
  {{dialog-box name="flag" item=post title="Flag Post" content="Are you sure you want to flag this post?" submit="flag"}}
{{/unless}}
