<div class="row"> 
  <div class="large-7 medium-7 columns">
    <div class="page-heading">      
      <h1>Pending Connection Requests</h1>
      <p class="text-center">
      </p>                    
    </div>
    <div class="box">
      <ul class="media-list user">
        {{#each model as |item|}}
        <li>
          <div {{action "selectView" item}} class="padding {{if item.read false 'new-notification'}}">
            <div class="row collapse">
              <div class="columns medium-8">
                {{#link-to "profile" item.id}}
                <div class="avatar" style={{htmlSafeImage item.avatar }}>
                  <img src= {{item.avatar}} class="hide">
                </div>
                {{/link-to}}
                <div class="user-info">                  
                  {{link-to item.fullName "profile" item.id }}
                  <div class="position">{{item.currentTitle}} at {{item.currentCompany}}</div>
                </div>
                
              </div>
              <div class="columns medium-4 actions text-right">
                <a {{action "accept" item }} class="button clear"><i class="fa fa-check-circle-o" aria-hidden="true"></i></a>
                <a {{action "reject" item }} class="button clear"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>              
              </div>
            </div>
          </div>
        </li>
        {{else}}
        <li>
          <div class="empty-message">No pending connection requests</div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="large-5 medium-5 columns sidebar">
    {{ partial 'partials/user-guide-box' }}
    {{ partial "footer"}}
  </div>
</div>
