<div class="row">
	<div class="columns">
		<div class="top-banner bg-gray box">
			<h1>PENDING CONNECTION REQUESTS</h1>
		</div>		
	</div>
</div>


<div class="row">
  <div class="medium-7 columns">
  	<div class="box rounded">
      <div class="padding">
        <strong class="text-upper">PENDING CONNECTION REQUESTS FOR {{ sessionAccount.account.profile.firstName }}</strong>
      </div>
      <ul class="media-list no-bullet">
        {{#each requests as |item|}}
        <li>
          <div class="media-object">
            <div class="media-object-section">
              <div class="thumbnail" style={{htmlSafeImage item.from.profile.avatarUrl}}>
                <img src= "{{item.from.profile.avatarUrl}}" class="hide">
              </div>
            </div>
            <div class="media-object-section main-section">
              {{link-to item.from.name 'profile' item.from.id class="name"}}
              <div class="position">
                <div>{{item.from.profile.currentTitle}}</div>
                <div>{{item.from.profile.currentCompany}}</div>
              </div>
            </div>
            <div class="media-object-section actions-section">
              <a class="button expanded success" {{action "accept" item.from.userid }}>ACCEPT</a>
              <a class="button expanded default" {{action "reject" item.from.userid }}>REJECT</a>
            </div>
          </div>
        </li>
        {{/each}}
      </ul>

  	</div>

  </div>    
  <div class="medium-5 columns sidebar">

    {{progress-box}}
    {{render "footer"}}
  </div>
</div>
