{{#if item.subCommentsCount }}
  <div class="mb">
    <a {{action "show"}}>
      <i class="fa {{if showComments 'fa-caret-down' 'fa-caret-right'}}" aria-hidden="true"></i>
      {{item.subCommentsCount}} {{replyText}}
    </a>
    {{#if showComments}}
      <i class="dot"></i>
      <a {{action "hide"}}>Hide {{replyText}}</a>
      {{#if isMore}}
        <i class="dot"></i>
        <a {{action "show"}}>View previous replies</a>
      {{/if}}
    {{/if}}
  </div>
{{/if}}

{{#if (or showForm showComments)}}
  <div class="border-l">
    {{#if (or subComments showComments )}}
      <ul class="easing no-bullet">
        {{#each subComments as |item|}}
          <li>
            <div class="comment-item">
              <div class="user user-small smaller">
                {{avatar-wrap profile=item.user.profile}}
                <div class="user-info">
                  <a href="{{href-to 'profile' item.user.profile.uid}}" class="name">{{item.user.profile.fullName}}</a>
                  {{see-more content=item.content class="comment"}}
                  {{#if (or (eq session.data.authenticated.user_id item.user.id) isPostOwner)}}
                    <a {{action "delete" item true}}>Delete</a>
                    <i class="dot"></i>
                  {{/if}}
                  <span class="timestamp">{{timestamp item.insertedAt}}</span>
                </div>
              </div>
            </div>
          </li>
        {{/each}}
      </ul>
    {{/if}}
    {{#if showForm}}
      <div class="padded mt">
        <form class="form-reply">
          {{text-area
            value=commentContent
            key-up="resize"
            enter="submit"
            disabled=notAuthenticated
            class="textarea content-editable"
            placeholder="Reply..."}}
        </form>
      </div>
    {{/if}}
    {{#if subComments}}
      {{#if showComments}}
        <div class="padded mt">
          <a {{action "hide"}}>Hide {{replyText}}</a>
        </div>
      {{/if}}
    {{/if}}
  </div>
{{/if}}
