<!-- <p>Your Industry:<br/><b>Id</b>: {{chosenIndustry.id}}<br/><b>Name</b>: {{chosenIndustry.text}}<br/><b>Description</b>: {{chosenIndustry.description}}</p>

<p>Your Occupation One:<br/><b>Id</b>: {{chosenOccupOne.id}}<br/><b>Name</b>: {{chosenOccupOne.text}}<br/><b>Description</b>: {{chosenOccupOne.description}}</p>
   

<p>Your Occupation Two:<br/><b>Id</b>: {{chosenOccupTwo.id}}<br/><b>Name</b>: {{chosenOccupTwo.text}}<br/><b>Description</b>: {{chosenOccupTwo.description}}</p>
    -->
   

<form {{action 'saveIndustry' 
	chosenIndustry.text 
	chosenOccupOne.text 
	chosenOccupTwo.text    
	chosenIndustry.id
	chosenOccupOne.id
	chosenOccupTwo.id
	on='submit'}}>
<div class="row column">
	<label>
	  Job Industry:
	  
	  {{ typehead-industry-search store=store chosenData=chosenIndustry}}
	</label>
</div>
<div class="row column">
	<label>
	  Occupation Industry - 1:
	  
	  {{ typehead-industry-search store=store chosenData=chosenOccupOne}}
	</label>
</div>
<div class="row column">
	<label>
  Occupation Industry - 2:
  
  {{ typehead-industry-search store=store chosenData=chosenOccupTwo}}
</label>
</div>
<button type='submit' class='button'>Save Changes</button>
</form>








 

 <!-- <form {{action 'saveIndustry' chosenPatient on='submit'}}>

 {{select-2
    placeholder="Choose Industry"
    value=chosenPatient
    typeaheadSearchingText="Searching"
    typeaheadNoMatchesText="No categories found for '%@'"
    typeaheadErrorText="Loading failed: %@"
    minimumInputLength=3
    maximumInputLength=10
    query="queryAction"
}}
<button type='submit' class='button'>Savess</button>
</form> -->