<div class="newsfeed-trending-title text-right">
  <strong>TRENDING</strong>
</div>
<section>
  
  {{#if post.title}}
    {{newsfeed-media model=post}}
  {{/if}}

  {{#unless shared }}
    {{#if post.sharedPost }}
      {{newsfeed-item post=post.sharedPost shared=true class="shared-post"}}
    {{/if}}
  {{/unless}}

</section>
{{#unless shared }}
  <section class="post-actions">
    <div class="row">
      <div class="columns medium-6">
        {{#if post.vote.upVoted}}
        <a {{action "vote" "reset"}} class="acted">Upvoted</a>
        {{else}}
        <a {{action "vote" "up"}}>Upvote</a>
        {{/if}}

        {{#if post.vote.upVoted}}<span>{{post.vote.upVotes}}</span>{{/if}}

        {{#if post.vote.downVoted}}
        <a {{action "vote" "reset"}} class="acted">Downvoted</a>
        {{else}}
          {{#zf-tooltip title="Downvoting is anonymous" class="top"}}
            <a {{action "vote" "down"}}>Downvote</a>
          {{/zf-tooltip}}
        {{/if}}
      </div>
      <div class="columns medium-6 text-right">
        <a {{action "viewComments"}}>Comment</a>
        {{#if post.commentCount}}<span>{{post.commentCount}}</span>{{/if}}
        <a {{action "share"}} data-open="sharePostModal">Share</a>
        {{#if post.vote.sharedCount}}<span>{{post.vote.sharedCount}}</span>{{/if}}
      </div>
    </div>
  </section>
{{/unless}}

{{#unless shared}}
  <section class="comments">
    {{comment-box post=post total=post.commentCount}}
  </section>
{{/unless}}

