<input type="file" name="file" style="display: none" />
<div class="profile-photo">
  {{#tooltip-dynamic text=profile.influence.text}}
    <a href={{href-to 'influencers'}} class="icons {{profile.influence.class}}"></a>
  {{/tooltip-dynamic}}

  <div class="avatar" {{action "clicked"}} style={{htmlSafeImage logoUrl}}>
    <img src="{{logoUrl}}" class="hide">
    <div class="overlay"><i class="fa fa-camera" aria-hidden="true"></i></div>
    {{#if isLoading}}
      <div class="brydge-loading"></div>
    {{/if}}
  </div>
</div>
<div class="text-center">
  <a {{action "clicked"}}>{{placeholder}}</a>
</div>
