<div class="row columns">
  <div class="hide-for-medium">
    {{profile-menu profile=profile }}
  </div>
</div>
<div class="row">
  <div class="columns medium-5 small-12 sidebar">
    {{profile-box profile=profile}}
    {{partial 'partials/profile-sidebar'}}

  </div>
  <div class="columns medium-7 small-12">
    <div class="show-for-medium">
      {{profile-menu profile=profile }}
    </div>
    {{#if posts}}
      {{newsfeed-list newsfeed=posts profile=model}}
      {{#brydge-scroller id="newsfeed" model=posts onClick="load"}}
        {{#if isLoading}}
          <div class="brydge-loading"></div>
        {{/if}}
      {{/brydge-scroller}}

    {{else}}
      {{#if isLoading }}
        <div class="brydge-loading"></div>
      {{else}}
        <div class="box">
          <section>
            <div class="empty-message">
              <span class="text-title">{{profile.firstName}}</span> hasn't shared any posts yet
            </div>
          </section>
        </div>
      {{/if}}
    {{/if}}
  </div>

</div>

{{ post-sharer submit="share"}}
