<div class="row column">

  <div class="box profile profile-top">
    <div class="columns medium-6 text-right name">
      <h1><small>{{model.firstName}}</small><br> <span>{{model.lastName}}</span></h1>
    </div>
    <div class="profile-center">
      <div class="profile-photo">
        <img src="assets/avatar-beta.png" class="circle">
      </div>

    </div>

    <div class="columns medium-6 text-left location">
      <span class="subheader">
        {{model.location}}
      </span>

    </div>
  </div>
  <div class="medium-6 float-left box profile role-bar">
    Head of Digital Marketing <br/>
    <strong>PEPSICO</strong>

  </div>
  <div class="medium-6 float-left">
    <div class="profile-actions expanded button-group">
		{{#link-to 'connections' class="large button"}}
			CONNECT
		{{/link-to}}
      
		<a class="large secondary button">MESSAGE</a>
		{{#link-to 'ask' model.username class="large secondary button"}}
			ASK
		{{/link-to}}

    </div>
  </div>
</div>
<div class="row">
  <div class="columns medium-7">
    <div class="box profile profile-industry">
      <div class="medium-6 float-left industry-column">
        {{fa-icon "building"}}

        <ul class="no-bullet">
          <li><a href="">Food &amp; Beverage</a></li>
        </ul>
      </div>
      <div class="medium-6 float-left industry-column">
        {{fa-icon "building"}}
        <ul class="no-bullet">
          <li><a href="">Advertising &amp; Marketing </a></li>
          <li><a href="">Digital Marketing</a></li>
        </ul>

      </div>
    </div>


    {{newsfeed-list newsfeed=trendingPosts}}


  </div>
  <div class="columns medium-5 sidebar">
    <div class="box question-box">
      <div class="columns wrapper clearfix">
        <a href="">Nikhil Charan</a> asked <a href="">Jon Wayne</a>
        <h2>What is your opinion on the latest WHO regulations on Soda advertising?</h2>
       	<div class="floated">
        	<a href="" class="more">See Answer</a>
        </div>
      </div>
      {{#link-to 'me.ask' }}
      <button class="button expanded">
        see more questions
      </button>
      {{/link-to}}
    </div>
    <div class="box snapshot">
      <h5 class="box-header">Snapshot</h5>
      <div class="columns">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
    <div class="box">
      <h5 class="box-header">Work History</h5>
      <div class="sidebox">
          Head of Digital Marketing, Asia Pacific <br/>
          <h4>Pepsico</h4>
          <small class="subheader">May 2013 - Present (2 Years and 6 Months)</small>

          <a href="" class="more">Show More</a>
      </div>
      <div class="sidebox">
          Senior Director, Digital Marketing <br/>
          <h4>Pepsico</h4>
          <small class="subheader">May 2013 - Present (2 Years and 6 Months)</small>

          <a href="" class="more">Show More</a>
      </div>
      <div class="sidebox">
          Head, Social & Digital Marketing <br/>
          <h4>Leo Burnett</h4>
          <small class="subheader">May 2013 - Present (2 Years and 6 Months)</small>

          <a href="" class="more">Show More</a>
      </div>
    </div>
  </div>
</div>
