<div class="full-width profile-cover-wrapper">
  <div class="row column">
    <div class="profile profile-cover">
      <div class="text-right name">

        <h1>
          <span>{{model.profile.firstName}}</span>
          <strong>{{model.profile.lastName}}</strong>
        </h1>
      </div>
      <div class="location">
        {{model.profile.location}}
      </div>

      <div class="profile-center">
        <div class="profile-photo">
          <img src= {{model.profile.avatarUrl}} class="circle">
        </div>

      </div>

    </div>
  </div>  
</div>


<div class="row column">
  <div class="medium-6 float-left box profile profile-bar">
    <div class="position">{{ model.profile.jobTitle}}</div>
    <strong class="text-upper">{{model.company}}</strong>

  </div>
  <div class="medium-6 float-left profile profile-actions">
    <div class="expanded button-group">
      {{#connect-button action="clickedConnect"}}CONNECT{{/connect-button}}
      <a class="button large text-blue">MESSAGE</a>
      {{ ask-dropdown store=store model=model action='goToAsk' }}
    </div>

  </div>
</div>

<div class="row">
  <div class="columns medium-7">
    <!-- {{share-box postToNewsfeed='postToNewsfeed' profile=model.profile}}
 -->
    {{newsfeed-list newsfeed=model.trendingPosts}}
  </div>

  <div class="columns medium-5 sidebar">
    <div class="box rounded profile overflow">
      <ul class="no-bullet list-lined no-margin">
        <li>
          <div class="profile-industry">
              <div class="icon-wrapper">
                <i class="icons building"></i>
              </div>
              <div class="content">
                <a href="">{{model.profile.industry}}</a>
              </div>        
          </div>          
        </li>
        <li>
          <div class="profile-industry">
              <div class="icon-wrapper">
                <i class="icons briefcase"></i>
              </div>
              <div class="content">
                <a href="">{{model.profile.occupationOne}}</a>
                <a href="">{{model.profile.occupationTwo}}</a>
              </div>
          </div>          
        </li>
      </ul>
    </div>

    {{#if model.lastestQuestion}}
    <div class="box rounded question-box">
        <div class="columns wrapper clearfix">
           {{link-to model.lastestQuestion.from.content.name "profile" model.lastestQuestion.from.content.username }} asked {{link-to model.lastestQuestion.to.content.name "profile" model.lastestQuestion.to.content.username }}

          <h2>{{model.lastestQuestion.content}}</h2>
          <div class="floated">
            <a href="" class="more">See Answer</a>
          </div>
        </div>
      
      {{#link-to 'ask' model.lastestQuestion.from.content.username}}
      <button class="success button expanded">
        see more questions
      </button>
      {{/link-to}}
    </div>
     {{/if}}

    <div class="box rounded snapshot">
      <h5 class="box-header">Snapshot</h5>
      <div class="columns text-light-gray">
        {{model.profile.snapshot}}
      </div>
    </div>

    <div class="box rounded work-history">
      <h5 class="box-header">Work History</h5>
      {{partial 'me/index/workhistory'}}
    </div>

    <div class="box rounded academia">
      <h5 class="box-header">Academia</h5>
      {{partial 'me/index/academia'}}
    </div>

    <div class="box rounded languages">
      <h5 class="box-header">Languages</h5>
      <ul class="box-list no-bullet">
        <li>
          <div class="name">English</div>
          <div class="text-light-gray">Native Proficiency</div>            
        </li>
        <li>
          <div class="name">English</div>
          <div class="text-light-gray">Native Proficiency</div>            
        </li>
        <li>
          <div class="name">English</div>
          <div class="text-light-gray">Native Proficiency</div>            
        </li>
      </ul>          
    </div>

    <div class="box rounded">
      <h5 class="box-header">Interests</h5>
      <div class="columns">
        <p>Scuba diving, Rock-climbing, Travel, Advenure sports</p>
      </div>
    </div>

    <div class="box rounded compliments">
      <h5 class="box-header">Compliments</h5>
      <ul class="box-list no-bullet">
        <li>
          <div class="title">Thank you for</div>
          <p>your excellent work in making the Evian launch event a success.</p>            
          <span>Posted by</span> <a>Nikhil Charan</a>
        </li>
        <li>
          <div class="title">Good job on</div>
          <p>exceeding your sales target this quarter. You're a star!</p>            
          <span>Posted by</span> <a>Nikhil Charan</a>
        </li>
      </ul>   
      <div class="box-footer">
        <a href="">See all</a>  
        <a class="float-right" data-open="complimentModal">Post a compliment</a>
      </div>
      
    </div>

    {{render "progress-box"}}
    {{render "footer"}}

  </div>
</div>


  {{#zf-reveal id="complimentModal" overlay=true class="reveal-popup"}}
      <h4>Compliments</h4>
      <p class="lead">Show your appreciation for Jon WAYNE by complementing him</p>
      <form action="">
        <div class="content clearfix">
          
          <select name="" id="">
            <option value="">Thank you for</option>
            <option value="">Good job on</option>
            <option value="">Congratulations on</option>
            <option value="">Kudos on</option>
          </select>
          <textarea name="" id="" cols="30" rows="5" class="rounded"></textarea>
          <a href="">See Tips</a>
          <span class="float-right dim-text">250 characters</span>
        </div>
        <div class="reveal-footer text-right">
          <div class="content">
            <button class="button success">Post</button>
            <a class="button success" data-close>Cancel</a>
          </div>
        </div>
      </form>
  {{/zf-reveal}}

