<div class="full-width profile-cover-wrapper">
  <div class="row column">
    <div class="profile profile-cover">
      <div class="text-right name">
        <h1>
          <span>{{model.firstName}}</span>
          <strong>{{model.lastName}}</strong>
        </h1>
      </div>
      <div class="location">
        {{model.location}}
      </div>
      <div class="profile-center">
        <div class="profile-photo">
          <img src= {{model.avatarUrl}} class="circle">
        </div>
      </div>
    </div>
  </div>  
</div>

<div class="row column">
  <div class="medium-6 float-left box profile profile-bar">
    <div class="position">{{ model.currentTitle}}</div>
    <strong class="text-upper">{{model.currentCompany}}</strong>
  </div>
  <div class="medium-6 float-right profile">
    {{partial "partials/profile-actions" }}
  </div>
</div>

<div class="row">
  <div class="columns medium-7">
    {{newsfeed-list newsfeed=trendingPosts profile=model}}
  </div>

  <div class="columns medium-5 sidebar">
    {{partial 'partials/profile-sidebar'}}
  </div>
</div>

{{#zf-reveal id="complimentModal" overlay=true class="reveal-popup"}}
  <h4>Compliments</h4>
  <p class="lead">Show your appreciation for {{model.firstName}} by complementing him</p>
  <form {{action 'postCompliment' on='submit'}}>
    <div class="content clearfix">
      
      {{select-native content=titles action=(action (mut complimentTitle))}}

      {{form-text-counter limit=250 value=complimentContent rows=5 }}
      {{link-to "See Tips" "user-guide"}}
    </div>
    <div class="reveal-footer text-right">
      <div class="content">
        <button class="button success {{if flagCompliment 'disabled'}}" type="submit" data-close>Post</button>
        <a class="button success" data-close>Cancel</a>
      </div>
    </div>
  </form>
{{/zf-reveal}}

