<div class="full-width profile-cover-wrapper profile-cover">
  <div class="row column collapse">
      <div class="columns text-right" style="width:37%">
        <div class="name">          
          {{model.firstName}}
          <span>
            {{model.lastName}}
          </span>
        </div>
      </div>
      <div class="columns" style="width:26%">
        <div class="profile-photo circle" style="background-image: url('{{{model.avatarUrl}}}')"></div>
      </div>

      <div class="columns" style="width:37%">
        <div class="location">
          {{location.city}}<br>
          <big>{{location.state}}</big>        
        </div>
      </div>
  </div>  
</div>

<div class="row column">
  <div class="medium-6 float-left box profile profile-bar">
    {{#if isNotEmptyTitleCompany}}
      <div class="position">{{ model.currentTitle}}</div>
      <strong class="text-upper">{{model.currentCompany}}</strong>
    {{else}}
      <div class="empty-message" style="margin:.5rem; ">
        Current Title and Company
      </div>      
    {{/if}}
  </div>
  <div class="medium-6 float-right profile">
    {{partial "partials/profile-actions" }}
  </div>
</div>

<div class="row">
  <div class="columns medium-7">

    {{#if posts}}
      {{newsfeed-list newsfeed=posts profile=model}}
    {{else}}
      {{#if isLoading }}
        <div class="loader">Loading...</div>
      {{else}}
        <div class="column">
          <div class="empty-message">
            {{model.firstName}} hasn't shared any broadcast yet
          </div>      
        </div>
      {{/if}}
    {{/if}}



  </div>

  <div class="columns medium-5 sidebar">
    {{partial 'partials/profile-sidebar'}}
  </div>
</div>

{{#zf-reveal id="complimentModal" overlay=true class="reveal-popup"}}
  <h4>Compliments</h4>
  <p class="lead">Show your appreciation for {{model.firstName}} by complementing him</p>
  <form {{action 'postCompliment' on='submit'}}>
    <div class="content clearfix">
      
      {{select-native content=titles action=(action (mut complimentTitle))}}

      {{form-text-counter limit=250 value=complimentContent rows=5 }}
      {{link-to "See Tips" "user-guide"}}
    </div>
    <div class="reveal-footer text-right">
      <div class="content">
        <button class="button success {{if flagCompliment 'disabled'}}" type="submit" data-close>Post</button>
        <a class="button success" data-close>Cancel</a>
      </div>
    </div>
  </form>
{{/zf-reveal}}

