
<div class="row">
  <div class="columns medium-5 sidebar">
    {{profile-box profile=profile class="mb20"}}
    {{partial 'partials/profile-sidebar'}}

  </div>
  <div class="columns medium-7">
    {{profile-menu profile=profile connections=connections}}
    {{#if posts}}
      {{newsfeed-list newsfeed=posts profile=model}}
    {{else}}
      {{#if isLoading }}
        <div class="loading"></div>
      {{else}}
        <div class="box">
          <section>
            <div class="empty-message">
              {{profile.firstName}} hasn't shared any broadcasts yet
            </div>
          </section>
        </div>
      {{/if}}
    {{/if}}
  </div>

</div>

{{#zf-reveal id="complimentModal" overlay=true class="reveal-popup"}}
  <h4>Compliments</h4>
  <p class="lead">Show your appreciation for {{profile.firstName}} by complementing him</p>
  <form {{action 'postCompliment' on='submit'}}>
    <div class="content clearfix">

      {{select-native content=titles action=(action (mut complimentTitle))}}

      {{form-text-counter limit=250 value=complimentContent rows=5 }}
      {{link-to "See Tips" "user-guide"}}
    </div>
    <div class="reveal-footer text-right">
      <div class="content">
        <button class="button success {{if flagCompliment 'disabled'}}" type="submit" data-close>Post</button>
        <a class="button success" data-close>Cancel</a>
      </div>
    </div>
  </form>
{{/zf-reveal}}

{{ post-sharer submit='sharePost'}}
