<div class="row">
  <div class="columns medium-5 sidebar">
    {{profile-box profile=profile class="mb20"}}
    {{partial 'partials/profile-sidebar'}}

  </div>
  <div class="columns medium-7">
    {{profile-menu profile=profile }}
    {{#if posts}}
      {{newsfeed-list newsfeed=posts profile=model}}
      {{#brydge-scroller id="newsfeed" model=posts onClick="load"}}
        {{#if isLoading}}
          <div class="brydge-loading"></div>
        {{/if}}
      {{/brydge-scroller}}

    {{else}}
      {{#if isLoading }}
        <div class="brydge-loading"></div>
      {{else}}
        <div class="box">
          <section>
            <div class="empty-message">
              {{profile.firstName}} hasn't shared any broadcasts yet
            </div>
          </section>
        </div>
      {{/if}}
    {{/if}}
  </div>

</div>

{{ post-sharer submit="share"}}
