<!-- 
{{#each model as |q| }}
<div class="callout">
  <h2>{{ q.content }}</h2>
  <p> {{ q.answer}}</p>
  
  {{#if answer}}

  <form {{action 'answer' q.answer q.id on='submit'}}>
	  <div class="row">
	  	 {{input value=q.id type="text"}}
	  	 
	     <div class="small-9 columns">
	      {{textarea value=q.answer placeholder='Write Answer' rows="4"}}
	    </div>
	    <div class="small-9 columns">
	    <button type="submit" class="secondary hollow button">Answer</button>
	    </div>
	  </div>
	</form>
	{{else}}
	<a href="#">{{ q.from.name }}</a>
  {{/if}}
</div>
{{/each}} -->

{{#each model as |q| }}
<div class="box">
	<a href="">{{q.from.name}}</a> asked <a href="">{{q.to.name}}</a>
	<h1>{{q.content}}</h1>
	<a href="">See Answer</a>
</div>
{{/each}}