<div class="row">
  <div class="medium-6 small-centered columns">
    <div class="page-heading">
      <h1>Compliments You Have Posted</h1>
      <p class="text-center">
        These are the compliments you have given your connections.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-7 medium-7 columns">
    {{#each fromAcceptSidebar as |item| }}
      <div class="box {{if (eq item.id qid) 'highlight' }}">
        <section>
          <div class="user mb">
            You complimented {{link-to item.to.name "profile" item.to.id class="name"}}
            <div class="timestamp">{{timestamp item.createdAt}}</div>
          </div>
          <strong>{{item.title}}:</strong>
          <div class="content-pad">
            {{item.content}}
          </div>
          <div class="section-footer-buttons">
            <a {{action 'delete' item.id}} class="button success rounded">Delete</a>
          </div>
        </section>
      </div>
    {{/each}}
  </div>
  <div class="large-5 medium-5 columns sidebar">
    {{ partial 'partials/user-guide-box' }}
    {{ partial "footer"}}
  </div>
</div>
