<div class="row">
	<div class="columns">
		<div class="top-banner bg-gray box">
			<h1 class="text-upper">Compliments you have posted</h1>
		</div>		
	</div>
</div>


<div class="row">
  <div class="medium-7 columns">
  	<div class="box rounded compliments">
      <div class="padding">
        {{#each fromAcceptSidebar as |item|}}
          <div class="media-object {{if (eq item.id qid) "highlight"}}">
            <div class="media-object-section">
              <div class="thumbnail" style="background-image: url({{item.from.profile.avatarUrl}})">
                <img src="{{item.from.profile.avatarUrl}}" class="hide">
              </div>
            </div>
            <div class="media-object-section main-section">
              {{link-to item.from.name "profile" "me" class="user"}} <span class="text-light">complimented</span> {{link-to item.to.name "profile" item.to.username class="user"}}
              <p class="timestamp text-light">{{timestamp item.createdAt}}</p>              
              <strong class="title text-upper">{{item.title}}</strong>
              <p class="content">{{item.content}}</p>
              <div class="question-box-footer mb5">
                <ul class="menu menu-dotted">
                  <li><a {{action "delete" item.id }}>Delete this compliment</a></li>
                </ul>                       
              </div>
            </div>
          </div>
        {{/each}}
      </div>
  	</div>
  </div>    
  <div class="medium-5 columns sidebar">
    {{progress-box}}
    {{render "footer"}}
  </div>
</div>
