	<div class="row ask wrapper">
	{{#unless profile.settings.ask}}
	<div class="overlay-wrapper">
		<div class="overlay">
		</div>
	</div>
	{{/unless}}

  <div class="medium-5 columns sidebar">
		{{profile-box profile=profile class="mb20" isOwner=true}}

  	{{ partial 'me/ask/sidebar'}}


    {{ partial 'partials/user-guide-box' }}

    {{render "footer"}}
  </div>
  <div class="medium-7 columns">
		{{profile-menu profile=profile connections=connections}}
    <div class="page-heading">
			<h1>Your Ask Page</h1>
			<p class="text-center">
				{{#if profile.setting.ask}}
					You are currently accepting questions. To disable the ASK feature go to {{link-to "Settings" "settings" (query-params tab="ask") }}.
				{{else}}
					You are currently not accepting questions. To enable the ASK feature go to {{link-to "Settings" "settings" (query-params tab="ask") }}.
				{{/if}}
			</p>
		</div>
    <div class="mb">
			<ul id="ask-tabs" class="tab-controls tabs">
				<li data-tab='live' class="tabs-title is-active">
					{{link-to "Questions: Answered" "me.ask" }}
        </li>
        <li data-tab='curated' class="tabs-title">
          {{link-to "Questions: Asked" "me.ask.other"}}
        </li>
			</ul>
		</div>

		{{#each toQuestions as |item| }}
			{{ask-card item=item}}
		{{else}}
			<div class="box">
				<section>
					<div class="empty-message">
						You haven't answered any questions
					</div>
				</section>
			</div>
		{{/each}}
		{{#brydge-scroller model=toQuestions onClick="load"}}
      {{#if isLoading}}
        <div class="loading"></div>
      {{/if}}
    {{/brydge-scroller}}


  </div>
</div>

{{answer-form}}
