<form class="form-profile">
  <div class="row columns">
    <div class="columns medium-4">
      <div class="profile-photo circle"> 
          {{image-upload fileLoaded="fileLoaded" logoUrl=profile.avatarUrl}}
      </div>
      <div class="text-center">{{image-upload fileLoaded="fileLoaded" logoUrl=profile.avatarUrl text=true placeholder="Change Profile Photo"}}</div>
      
    </div>
    <div class="columns medium-8">
      <div class="row">
        <div class="columns">
          <label>First Name
            {{input value=profile.firstName}}
          </label>
        </div>
      </div>
      <div class="row">
        <div class="columns">
          <label>Last Name
            {{input value=profile.lastName}}
          </label>
        </div>
      </div>
      <div class="row">
        <div class="columns">
          <label>City
            {{autocomplete-location selected=profile.location onItemSelected="onLocationSelect" }}
          </label>
        </div>
      </div>
      <div class="row">
        <div class="columns">
          <label>Date of Birth
            {{pikaday-input 
              placeholder="Date of Birth" 
              date=profile.dob 
              format='MMMM DD YYYY' 
              valueFormat='date' 
              allowBlank=true
              yearRange='-80, 0'}}          
          </label>
        </div>
      </div>
      <div class="row">
        <div class="columns">
          <button class='button success rounded' {{ action 'save' }}>Save</button>
        </div>
      </div>

      
    </div>
  </div>
</form>
