<form class="brydge-form">
  <div class="row columns">
    <div class="columns medium-4">
      <div class="profile-photo circle">
        {{image-upload fileLoaded="fileLoaded" logoUrl=profile.avatarUrl}}
      </div>
      <div class="text-center">
        {{image-upload fileLoaded="fileLoaded" logoUrl=profile.avatarUrl text=true placeholder="Change Profile Photo"}}
      </div>

    </div>
    <div class="columns medium-8">
      <div class="row">
        <div class="columns">
          <label>First Name
            {{form-input model=profile valuePath="firstName" placeholder="First Name"}}
          </label>
        </div>
      </div>
      <div class="row">
        <div class="columns">
          <label>Last Name
            {{form-input model=profile valuePath="lastName" placeholder="Last Name"}}
          </label>
        </div>
      </div>
      <div class="row">
        <div class="columns">
          <label>City
            {{form-input-location
                model=profile
                valuePath="location"
                selected=profile.location
                onItemSelected="onLocationSelect"
                placeholder="City"}}

          </label>
        </div>
      </div>
      <div class="row">
        <div class="columns">
          <label>Date of Birth
            {{input-date-picker selected=profile.dob value=profile.dob}}
          </label>
        </div>
      </div>
      <div class="row">
        <div class="columns">
          {{form-input-button item=profile submit="save" placeholder="Saved"}}
        </div>
      </div>


    </div>
  </div>
</form>
