<!-- {{ particular-info locations=locations profile=profile store=store}}

 -->

 <div class="profile-form-wrapper">
	<form action="" class="form-profile">
      <div class="profile-photo"> 
          {{image-upload fileLoaded="fileLoaded" logoUrl=profile.avatarUrl}}
      </div>
		<div class="row">
			<div class="columns medium-6">
			    {{input value=profile.firstName placeholder='First Name'}}
			</div>
      <div class="columns medium-6">
          {{input value=profile.lastName placeholder='Last Name'}}        
      </div>
		</div>
		<div class="row">
		  <div class='columns'>
       <!--  {{dropdown-filter content=locations template="partials/location-filter" onclick="openLocationModal" willChangeAction='queryCities' didChangeAction='citySelected' model=profile}} -->

       {{dropdown-filter
          items=locations 
          selected=selectedLoc.text 
          query='query'
          itemSelected='citySelected'
          template="partials/location-filter"}}

		  </div>
    <div class="columns">
        {{date-picker 
        placeholder="Date of Birth" 
        date=profile.birthDay 
        format='YYYY-MM-DD' 
        valueFormat='date' 
        allowBlank=true
        yearRange='-80, 0'}}
      
    </div>
		</div>
	    <button class='button success' {{ action 'save' }}>Save Changes</button>
	</form>
</div>



