  {{#unless preview}}
    <a href="{{model.url}}" target="_blank">
      <div class="post-image" style={{htmlSafeImage model.image }}>
        <img src="{{model.image}}" class="hide">
      </div>
    </a>
  {{else}}
    <div class="post-image" style={{htmlSafeImage model.image }}>
      <img src="{{model.image}}" class="hide">
    </div>
    <a {{action "removePreview"}} class="x-button fa fa-times"></a>
  {{/unless}}


    {{#unless preview}}
      <a href="{{model.url}}" target="_blank">
        <div class="post-content">
          {{#unless model.trending}}
            <div class="title">
              <a href="{{model.url}}" target="_blank">{{title}}</a>
            </div>
            <a>{{model.siteName}}</a>
          {{else}}
            {{model.siteName}}
            <div class="title">{{title}}</div>
          {{/unless}}
        </div>
      </a>

    {{else}}
      <div class="post-content">
        <div class="title">
          <a>{{title}}</a>
        </div>
        <a>{{model.site_name}}</a>
        <a {{action "removeObject"}} class="x-button fa fa-times"></a>
      </div>

    {{/unless}}
