<div class="full-width profile-cover-wrapper">
  <div class="row column">
    <div class="profile profile-cover">
      <div class="text-right name">

        <h1>
          <span>{{model.profile.firstName}}</span>
          <strong>{{model.profile.lastName}}</strong>
        </h1>
      </div>
      <div class="location">
        {{model.profile.location}}
      </div>

      <div class="profile-center">
        <div class="profile-photo">
          {{#link-to 'me.edit' model.profile.id}}
            <img src= {{model.profile.avatarUrl}} class="circle">
          {{/link-to}}
        </div>

      </div>

    </div>
  </div>  
</div>

<div class="row column">


  <div class="medium-6 float-left box profile profile-bar rounded">
    <div class="position">{{ model.profile.currentTitle}}</div>
    <strong class="text-upper">{{model.profile.currentCompany}}</strong>

  </div>
  <div class="medium-6 float-left profile wrapper">
    {{partial "partials/profile-actions" }}
  </div>
</div>

<div class="row">
  <div class="columns medium-7">
    {{share-box postToNewsfeed='postToNewsfeed' profile=model.profile}}

    {{newsfeed-list newsfeed=model.posts profile=model.profile avatar=model.profile.avatarUrl}}
  </div>

  <div class="columns medium-5 sidebar">
    <div class="box rounded profile overflow">
      <ul class="no-bullet list-lined no-margin">
        <li>
          <div class="profile-industry">
              <div class="icon-wrapper">
                <i class="icons building"></i>
              </div>
              <div class="content">
                <a href="">{{model.profile.industry}}</a>
              </div>        
          </div>          
        </li>
        <li>
          <div class="profile-industry">
              <div class="icon-wrapper">
                <i class="icons briefcase"></i>
              </div>
              <div class="content">
                <a href="">{{model.profile.occupationOne}}</a>
                <a href="">{{model.profile.occupationTwo}}</a>
              </div>
          </div>          
        </li>
      </ul>
    </div>

    <div class="box rounded question-box">
      <div class="columns wrapper clearfix">

        {{link-to model.lastestQuestion.from.content.name "profile" model.lastestQuestion.from.content.username class="user"}} asked {{link-to model.lastestQuestion.to.content.name "profile" model.lastestQuestion.to.content.username class="user"}}

        <h2>{{model.lastestQuestion.content}}</h2>


        {{#zf-accordion-menu class="accordion-menu"}}
        <li>
          <ul class="no-bullet vertical nested">
            <li>
              <p>{{model.lastestQuestion.answer}}</p>
            </li>
          </ul>
          <a class="more no-arrow"><span class="content-more" disabled=true>See Answer</span><span class="content-less">Hide Answer</span></a>
        </li>
      {{/zf-accordion-menu}}    


       	<!-- <div class="floated">
        	<a href="" class="more">See Answer</a>
        </div> -->
      </div>
      {{#link-to 'me.ask' }}
      <button class="footer-button success button expanded">
        see more questions
      </button>
      {{/link-to}}
    </div>

    <div class="box rounded snapshot">
      <h5 class="box-header">Snapshot</h5>
      <div class="columns text-light-gray">
        {{model.profile.snapshot}}
      </div>
    </div>

    <div class="box rounded compliments">
      <h5 class="box-header">Compliments</h5>
      <ul class="box-list no-bullet">
        <li>
          <div class="title">Thank you for</div>
          <p>your excellent work in making the Evian launch event a success.</p>            
          <span>Posted by</span> <a class="user">Nikhil Charan</a>
        </li>
        <li>
          <div class="title">Good job on</div>
          <p>exceeding your sales target this quarter. You're a star!</p>            
          <span>Posted by</span> <a class="user">Nikhil Charan</a>
        </li>
      </ul>   
      <div class="box-footer">
        <a href="">See all</a>  
        <a class="float-right" data-open="complimentModal">Post a compliment</a>
      </div>      
    </div>

    <div class="box rounded work-history">
      <h5 class="box-header">Work History</h5>
      {{list-experience model=model.experiences class="sidebox box-list"}}      
    </div>

    <div class="box rounded academia">
      <h5 class="box-header">Academia</h5>
      {{list-academia model=model.educations class="sidebox box-list"}}      
    </div>

    <div class="box rounded languages">
      <h5 class="box-header">Languages</h5>
      {{list-languages model=model.languages class="sidebox box-list"}}      
    </div>

    <div class="box rounded">
      <h5 class="box-header">Interests</h5>
      <div class="columns">
        <p>
          {{#each model.interests as |item index|}}
            {{item.content}},
          {{/each}}

          {{#each model.interests as |item index|}}
            {{#if index}}
            , {{item.content}}
            {{else}}
              {{item.content}}
            {{/if}}

          {{/each}}          
        </p>
      </div>
    </div>


    {{render "progress-box"}}
    {{render "footer"}}

  </div>
</div>


	{{#zf-reveal id="complimentModal" overlay=true class="reveal-popup"}}
		  <h4>Compliments</h4>
		  <p class="lead">Show your appreciation for Jon WAYNE by complementing him</p>
      <form action="">
  		  <div class="content clearfix">
  		  	
          <select name="" id="">
            <option value="">Thank you for</option>
            <option value="">Good job on</option>
            <option value="">Congratulations on</option>
            <option value="">Kudos on</option>
          </select>
  		  	<textarea name="" id="" cols="30" rows="5" class="rounded"></textarea>
          <a href="">See Tips</a>
  		  	<span class="float-right dim-text">250 characters</span>
  		  </div>
  		  <div class="reveal-footer text-right">
  		  	<div class="content">
            <button class="button success">Post</button>
            <a class="button success" data-close>Cancel</a>
          </div>
  		  </div>
      </form>
	{{/zf-reveal}}

