<div class="full-width profile-cover-wrapper">
  <div class="row column">
    <div class="profile profile-cover">
      <div class="text-right name">

        <h1>
          <span>{{model.profile.firstName}}</span>
          <strong>{{model.profile.lastName}}</strong>
        </h1>
      </div>
      <div class="location">
        {{model.profile.location}}
      </div>

      <div class="profile-center">
        <div class="profile-photo">
          {{#link-to 'me.edit' model.profile.id}}
            <img src="assets/jane_austen_circle_profile.png" class="circle">
          {{/link-to}}
        </div>

      </div>

    </div>
  </div>  
</div>

<div class="row column">


  <div class="medium-6 float-left box profile profile-bar">
    <div class="position">{{ model.profile.jobTitle}}</div>
    <strong>{{model.company}}</strong>

  </div>
  <div class="medium-6 float-left profile profile-actions">
    <div class="expanded button-group">
      <a class="button large connect success">CONNECT</a>
      <a class="button large text-blue">MESSAGE</a>
      <a class="button large text-blue" data-toggle="dd-ask">
        ASK
        <div class="wrapper">
          <div class="triangle"></div>
        </div>
      </a>


    </div>
      {{#zf-dropdown id="dd-ask" closeOnClick="true"}}
        <section class="padding ask-form">
          <textarea name="" id="" rows="3"></textarea>
          <div class="row">
            <div class="columns text-right">
              <button class="button success">ASK</button>            
            </div>
          </div>
          <p class="dim-text">
            Ask anyone a professional question. <br>
            If answered, it will appear on both profiles.
          </p>
          <small><a href="">Tips on how to use ASK</a></small>

        </section>

      {{/zf-dropdown}}

  </div>
</div>
<div class="row">
  <div class="columns medium-7">
	 {{share-box postToNewsfeed='postToNewsfeed' profile=model.profile}}

    {{newsfeed-list newsfeed=model.posts}}


  </div>
  <div class="columns medium-5 sidebar">
    <div class="box rounded profile overflow">
      <ul class="no-bullet list-lined no-margin">
        <li>
          <div class="profile-industry">
              <div class="icon-wrapper">
                <i class="icons building"></i>
              </div>
              <div class="content">
                <a href="">{{model.profile.industry}}</a>
              </div>        
          </div>
          
        </li>
        <li>
          <div class="profile-industry">
              <div class="icon-wrapper">
                <i class="icons briefcase"></i>
              </div>
              <div class="content">
                <a href="">{{model.profile.occupationOne}}</a>
                <a href="">{{model.profile.occupationTwo}}</a>
              </div>
          </div>
          
        </li>
      </ul>
    </div>


    <div class="box rounded question-box">
      <div class="columns wrapper clearfix">
        <a href="">Nikhil Charan</a> asked <a href="">Jon Wayne</a>
        <h2>What is your opinion on the latest WHO regulations on Soda advertising?</h2>
       	<div class="floated">
        	<a href="" class="more">See Answer</a>
        </div>
      </div>
      {{#link-to 'me.ask' }}
      <button class="success button expanded">
        see more questions
      </button>
      {{/link-to}}
    </div>
    <div class="box rounded snapshot">
      <h5 class="box-header">Snapshot</h5>
      <div class="columns text-light-gray">
        {{model.profile.snapshot}}
      </div>
    </div>
    <div class="box rounded work-history">
      <h5 class="box-header">Work History</h5>

      {{partial 'me/index/workhistory'}}
      
    </div>

    <div class="box rounded academia">
      <h5 class="box-header">Academia</h5>
      {{partial 'me/index/academia'}}
      <!-- <div class="columns">
          <div class="name">Stanford University</div>

          Bachelor of Science, International Business Management <br>
          Class of 2001          
      </div> -->
    </div>
    <div class="box rounded languages">
      <h5 class="box-header">Languages</h5>
      <ul class="box-list no-bullet">
        <li>
          <div class="name">English</div>
          <div class="text-light-gray">Native Proficiency</div>            
        </li>
        <li>
          <div class="name">English</div>
          <div class="text-light-gray">Native Proficiency</div>            
        </li>
        <li>
          <div class="name">English</div>
          <div class="text-light-gray">Native Proficiency</div>            
        </li>
      </ul>          
    </div>

    <div class="box rounded">
      <h5 class="box-header">Interests</h5>
      <div class="columns">
        <p>Scuba diving, Rock-climbing, Travel, Advenure sports</p>
      </div>
    </div>


    <div class="box rounded compliments">
      <h5 class="box-header">Compliments</h5>
      <ul class="box-list no-bullet">
        <li>
          <div class="title">Thank you for</div>
          <p>your excellent work in making the Evian launch event a success.</p>            
          <span>Posted by</span> <a>Nikhil Charan</a>
        </li>
        <li>
          <div class="title">Good job on</div>
          <p>exceeding your sales target this quarter. You're a star!</p>            
          <span>Posted by</span> <a>Nikhil Charan</a>
        </li>
      </ul>   
      <div class="box-footer">
        <a href="">See all</a>  
        <a class="float-right" data-open="complimentModal">Post a compliment</a>
      </div>
      
    </div>

    {{render "progress-box"}}
    {{render "footer"}}

  </div>
</div>


	{{#zf-reveal id="complimentModal" overlay=true class="reveal-popup"}}
		  <h4>Compliments</h4>
		  <p class="lead">Show your appreciation for Jon WAYNE by complementing him</p>
      <form action="">
  		  <div class="content clearfix">
  		  	
          <select name="" id="">
            <option value="">Thank you for</option>
            <option value="">Good job on</option>
            <option value="">Congratulations on</option>
            <option value="">Kudos on</option>
          </select>
  		  	<textarea name="" id="" cols="30" rows="5" class="rounded"></textarea>
          <a href="">See Tips</a>
  		  	<span class="float-right dim-text">250 characters</span>
  		  </div>
  		  <div class="reveal-footer text-right">
  		  	<div class="content">
            <button class="button success">Post</button>
            <a class="button success" data-close>Cancel</a>
          </div>
  		  </div>
      </form>
	{{/zf-reveal}}

