<!-- <div class="row">
  <div class="large-4 medium-4 columns">
    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Profile picture&w=120&h=150">

    Profile pic
  </div>
  <div class="large-8 medium-8 columns">
    profile header body
    <ul>
      {{sessionAccount.account.name}}
      <li>Full name: {{model.account.name}} .>>>>> {{session.account}}</li>
      <li>username: {{model.account.username}}</li>
      <li>Member since {{moment-from-now model.account.createdAt}}</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="large-4 medium-4 columns">
    <h6>Position or job status</h6>
  </div>
  <div class="large-8 medium-8 columns">
    <div class="expanded button-group">

    </div>
  </div>

</div>

<div class="row">
  <div class="large-8 medium-8 columns">
    {{newsfeed-form postToNewsfeed='postToNewsfeed'}}
    {{newsfeed-list newsfeed=model.posts}}
  </div>
  <div class="large-4 medium-4 columns">
    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Placeholder&w=380&h=650">
  </div>
</div>
 -->

<div class="row column">
  <div class="box profile profile-top">
    <div class="columns medium-6 text-right name">
      <h1><small>{{model.profile.firstName}}</small><br> <span>{{model.profile.lastName}}</span></h1>      
    </div>    
    <div class="profile-center">
      <div class="profile-photo">
        <img src="assets/avatar-1.jpg" class="circle">
      </div>
      
    </div>   

    <div class="columns medium-6 text-left location">
      <span class="subheader">
        {{model.profile.location}}
      </span>
      <div>
        {{#link-to 'me.edit' model.profile.id}} <button type="button" class="success button">Edit</button>  {{/link-to}}
      </div>
    </div>
  </div>
  <div class="medium-6 float-left box profile role-bar">
    Head of Digital Marketing <br/>
    <strong>PEPSICO</strong>
    
  </div>
  <div class="medium-6 float-left">
    <div class="expanded button-group">
      <a class="secondary button" disabled>Message</a>
      <a class="secondary button" disabled>Ask</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="columns medium-7">
    <div class="box profile profile-industry">
      <div class="medium-6 float-left industry-column">
        {{fa-icon "building"}}
        
        <ul class="no-bullet">
          <li><a href="">Food &amp; Beverage</a></li>
        </ul>
      </div>
      <div class="medium-6 float-left industry-column">
        {{fa-icon "building"}}
        <ul class="no-bullet">
          <li><a href="">Advertising &amp; Marketing </a></li>
          <li><a href="">Digital Marketing</a></li>
        </ul>
        
      </div>
    </div>
    <div class="box post-form">
      <div class="post-bar border-b">
        <div class="thumbnail">
          <img src= "assets/avatar-2.jpg">
        </div>
        <div class="post-form">
          <input type="text" placeholder="Get noticed: broadcast opinions, Industry news, and request"> 
        </div>        
      </div>
      <div class="actions">
        <div class="float-right">
        {{#zf-dropdown-menu class="border-l border-r float-left"}}
          <li>
            <a href="#">Select channel</a>
            <ul class="menu">
              <li><a href="#">Item 1A</a></li>
            </ul>
          </li>
          {{/zf-dropdown-menu}}

          <button class="button">
            Broadcast
          </button>
        </div>
      </div>

    </div>

    {{newsfeed-list newsfeed=model.posts}}
    

  </div>
  <div class="columns medium-5 sidebar">
    <div class="box question-box">
      <div class="columns">
        <a href="">Nikhil Charan</a> asked <a href="">Jon Wayne</a>
        <h2>What is your opinion on the latest WHO regulations on Soda advertising?</h2>
        <a href="" class="more">See Answer</a>
      </div>  
      {{#link-to 'me.ask' }}
      <button class="button expanded">
        see more questions
      </button>
      {{/link-to}}
    </div>    
    <div class="box snapshot">
      <h5 class="box-header">Snapshot</h5>
      <div class="columns">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>    
    <div class="box">
      <h5 class="box-header">Work History</h5>
      <div class="sidebox">
          Head of Digital Marketing, Asia Pacific <br/>
          <h4>Pepsico</h4>
          <small class="subheader">May 2013 - Present (2 Years and 6 Months)</small>

          <a href="" class="more">Show More</a>
      </div>
      <div class="sidebox">
          Senior Director, Digital Marketing <br/>
          <h4>Pepsico</h4>
          <small class="subheader">May 2013 - Present (2 Years and 6 Months)</small>

          <a href="" class="more">Show More</a>
      </div>
      <div class="sidebox">
          Head, Social & Digital Marketing <br/>
          <h4>Leo Burnett</h4>
          <small class="subheader">May 2013 - Present (2 Years and 6 Months)</small>

          <a href="" class="more">Show More</a>
      </div>      
    </div>    
  </div>
</div>
