
<div class="row">
  <div class="columns medium-5 sidebar">
    {{profile-box profile=profile class="mb20" isOwner=true}}

    {{partial 'partials/profile-sidebar'}}
  </div>

  <div class="columns medium-7">
    {{profile-menu isOwner=true connections=connections}}
  
    {{ share-post-box 
      postToNewsfeed='postToNewsfeed'
      profile=profile
      submit='postFeed' }}

    {{#if posts}}
      {{newsfeed-list newsfeed=newsfeed }}
    {{else}}
      {{#if isLoading }}
        <div class="loader">Loading...</div>
      {{else}}
        <div class="column">
          <div class="empty-message">
            {{profile.firstName}} hasn't shared any broadcast yet
          </div>      
        </div>
      {{/if}}
    {{/if}}
  </div>

</div>

{{ post-sharer submit="sharePost" }}
