<div class="full-width profile-cover-wrapper">
  <div class="row column">
    <div class="profile profile-cover">
      <div class="text-right name">

        <h1>
          <span>{{model.firstName}}</span>
          <strong>{{model.lastName}}</strong>
        </h1>
      </div>
      <div class="location">
        {{location.city}}<br>
        <big>{{location.state}}</big>
      </div>

      <div class="profile-center">
        <div class="profile-photo">
          {{#link-to 'me.edit' model.id}}
            <img src= {{model.avatarUrl}} class="circle">
          {{/link-to}}
        </div>

      </div>

    </div>
  </div>  
</div>
<div class="row column">


  <div class="medium-6 float-left box profile profile-bar rounded">
    <div class="position">{{ model.currentTitle}}</div>
    <strong class="text-upper">{{model.currentCompany}}</strong>

  </div>
  <div class="medium-6 float-left profile wrapper">
    {{partial "partials/profile-actions" }}
  </div>
</div>

<div class="row">
  <div class="columns medium-7">
    {{ share-box 
      postToNewsfeed='postToNewsfeed' 
      profile=model 
      submit='postFeed' }}

    {{newsfeed-list newsfeed=posts profile=model avatar=model}}
  </div>

  <div class="columns medium-5 sidebar">
    {{partial 'partials/profile-sidebar'}}
  </div>
</div>


	<!-- {{#zf-reveal id="complimentModal" overlay=true class="reveal-popup"}}
		  <h4>Compliments</h4>
		  <p class="lead">Show your appreciation for Jon WAYNE by complementing him</p>
      <form action="">
  		  <div class="content clearfix">
  		  	
          <select name="" id="">
            <option value="">Thank you for</option>
            <option value="">Good job on</option>
            <option value="">Congratulations on</option>
            <option value="">Kudos on</option>
          </select>
  		  	<textarea name="" id="" cols="30" rows="5" class="rounded"></textarea>
          <a href="">See Tips</a>
  		  	<span class="float-right dim-text">250 characters</span>
  		  </div>
  		  <div class="reveal-footer text-right">
  		  	<div class="content">
            <button class="button success">Post</button>
            <a class="button success" data-close>Cancel</a>
          </div>
  		  </div>
      </form>
	{{/zf-reveal}} -->


{{ post-sharer model=sharePost.selected profile=model value=sharePost.valueText submit="sharePost" }}
