<header>
  <div class="title-bar">
    <div class="row columns">
      <div class="title-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
						{{#link-to 'home'}}<img src="assets/logo.svg" class="logo">{{/link-to}}
          </li>
          <li>
						{{top-bar-search}}
          </li>
        </ul>
      </div>
      <div class="title-bar-right">
				<ul class="top-bar-group menu menu-actions wrapper" {{ action "closeTooltip" preventDefault=false }}>
					<li>
						{{#zf-tooltip title="Profile Views"}}
							<a data-toggle="dd-views" class="dropdown-button-arrow" {{action 'clickProfile' notification.profileCount}}>
								{{#if notification.profileCount}}
									<span class="alert badge">{{notification.profileCount}}</span>
								{{/if}}
								<i class="icons bino"></i>
							</a>
						{{/zf-tooltip}}
					</li>

					<li>
						{{#zf-tooltip title="Connection Requests"}}
							<a data-toggle="dd-requests" class="dropdown-button-arrow" {{action 'clickConnection' notification.connectionCount}}>
								{{#if notification.connectionCount}}
									<span class="alert badge">{{notification.connectionCount}}</span>
								{{/if}}
								<i class="icons user"></i>
							</a>
						{{/zf-tooltip}}

					</li>
					<li>
						{{#zf-tooltip title="Messages"}}
							<a data-toggle="dd-messages" class="dropdown-button-arrow" {{action 'clickMessage' notification.messageCount}}>
								{{#if notification.messageCount}}
									<span class="alert badge">{{notification.messageCount}}</span>
								{{/if}}
								<i class="icons messages"></i>
							</a>
						{{/zf-tooltip}}

					</li>
					<li>
						{{#zf-tooltip title="Notifications"}}
							<a data-toggle="dd-notification" class="dropdown-button-arrow" {{action 'clickNotification' notification.notificationCount}}>
									{{#if notification.notificationCount }}
							      <span class="alert badge">{{notification.notificationCount}}</span>
							    {{/if}}
									<i class="icons stack"></i>
							</a>
						{{/zf-tooltip}}

					</li>
					<li>
						<ul class="user-info no-bullet">
							<li>
								{{#link-to "me"}}
									<div class="avatar" style={{htmlSafeImage sessionAccount.account.profile.avatarUrl}}>
										<img src= {{sessionAccount.account.profile.avatarUrl}} class="hide">
									</div>
								{{/link-to}}
							</li>
						</ul>
					</li>
					<li>
						<ul class="menu">
							<li>
								{{#zf-tooltip title="Menu"}}
									<a data-toggle="dd-menu" class="dropdown-button-arrow">
										<i class="icons caret"></i>
									</a>
								{{/zf-tooltip}}
							</li>
						</ul>

					</li>
				</ul>
      </div>


    </div>
  </div>
</header>

<div class="row columns wrapper">
	{{#zf-dropdown id="dd-views" class="dropdown-notification" closeOnClick=true }}
		<div class="dropdown-header">
			<h4>See who's viewed your profile</h4>
			{{#if setting.profileView}}
				<div>Turning this ON will also let other users know you've seen their profile. You can turn it OFF in {{link-to "Settings" "settings" (query-params tab="views") }}.</div>
			{{else}}
				<div>Turning this ON will also let other users know you've seen their profile. You can turn it ON in {{link-to "Settings" "settings" (query-params tab="views") }}.</div>
			{{/if}}
		</div>
		<ul class="media-list user">
			{{#if sessionAccount.account.profile.settings.profileView}}
				{{#each notification.views as |item|}}
				<li>
					<a {{action "selectView" item}} class="{{if item.read false 'new-notification'}}">
						<div class="row collapse">
							<div class="columns medium-8">
					      <div class="avatar" style={{htmlSafeImage item.target.profile.avatarUrl }}>
					        <img src= {{item.target.profile.avatarUrl}} class="hide">
					      </div>
					      <div class="user-info">
				          {{item.target.profile.firstName}} {{item.target.profile.lastName}}
					        <div class="position">{{item.title}} at {{item.company}}</div>
					      </div>

							</div>
							<div class="columns medium-4 timestamp text-right">
								{{ timestamp item.createdAt }}
							</div>
						</div>
					</a>
				</li>
				{{/each}}
			{{else}}
				<li>
					<div class="empty-message">
						You have turned Profile Views off
					</div>
				</li>
			{{/if}}
		</ul>
		{{#if sessionAccount.account.profile.settings.profileView}}
			{{#link-to 'profile-views' class="footer-button button expanded"}}
				See all profile views
			{{/link-to}}
		{{/if}}
	{{/zf-dropdown}}

	{{#zf-dropdown id="dd-requests" class="dropdown-notification" closeOnClick=true }}
		<div class="dropdown-header">
			<h4>Your Connection Requests</h4>
				<div>
					These professionals want to connect! <br>
					Are they relevant to your career? Check their profile.
				</div>
		</div>
		<ul class="media-list user">
			{{#each notification.request as |item|}}
			<li>
				<div {{action "selectView" item}} class="padding {{if item.read false 'new-notification'}}">
					<div class="row collapse">
						<div class="columns medium-8">
				      <div class="avatar" style={{htmlSafeImage item.target.profile.avatarUrl }}>
				        <img src= {{item.target.profile.avatarUrl}} class="hide">
				      </div>
				      <div class="user-info">
			          {{item.target.profile.firstName}} {{item.target.profile.lastName}}
				        <div class="position">{{item.title}} at {{item.company}}</div>
				      </div>

						</div>
						<div class="columns medium-4 actions text-right">
		          <a {{action "acceptConnection" item }}><i class="fa fa-check-circle-o" aria-hidden="true"></i></a>
		          <a {{action "rejectConnection" item }}><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
			</li>
			{{else}}
			<li>
				<div class="empty-message">No pending connection requests</div>
			</li>
			{{/each}}
		</ul>
		{{#if notification.request}}
			{{#link-to 'requests' class="footer-button button expanded"}}
				See All Connection Requests
			{{/link-to}}
		{{/if}}
	{{/zf-dropdown}}

	{{#zf-dropdown id="dd-messages" class="dropdown-notification" closeOnClick=true }}
		<div class="dropdown-header">
			<h4>Your Incoming Messages</h4>
				<div>
					Speak with professionals and create connections! Network and expand your connections with highly qualified professionals
				</div>
		</div>

		<ul class="media-list user">
			{{#each notification.messages as |item|}}
			<li {{action "selectMessage" item}} class="{{if item.read false 'new-notification'}}">
				{{#link-to "messages.conversation" item.id }}
					<div class="row collapse">
						<div class="columns medium-8">
				      <div class="avatar" style={{htmlSafeImage item.target.profile.avatarUrl }}>
				        <img src= {{item.target.profile.avatarUrl}} class="hide">
				      </div>
				      <div class="user-info">
			          {{item.target.profile.firstName}} {{item.target.profile.lastName}}
				        <div class="position">{{{ getNotificationContent item.content }}}</div>
				      </div>
						</div>
						<div class="columns medium-4 timestamp text-right">
		          {{ timestamp item.createdAt }}
						</div>
					</div>
				{{/link-to}}
			</li>
			{{else}}
			<li>
				<div class="empty-message">
					You have no recent messages
				</div>
			</li>
			{{/each}}
		</ul>
		{{#if notification.messages}}
			{{#link-to 'messages' class="footer-button success button expanded"}}
				See All Messages
			{{/link-to}}
		{{/if}}
	{{/zf-dropdown}}

	{{#zf-dropdown id="dd-notification" class="dropdown-notification" closeOnClick=true}}
		<div class="dropdown-header">
			<h4>Your Notifications</h4>
				<div>
					Get updates on what people are doing with your content and post shares, interact!
				</div>
		</div>

	  <ul class="media-list user">
		  {{#each notification.notifications as |item|}}
		    <li>
		    	<a {{action "select" item}} class="{{if item.read false 'new-notification'}}">
						<div class="row columns collapse">
							<div class="columns">
					      <div class="avatar" style={{htmlSafeImage item.target.profile.avatarUrl }}>
					        <img src= {{item.target.profile.avatarUrl}} class="hide">
					      </div>
					      <div class="user-info">
		              <p>
		              	<strong>{{item.target.profile.firstName }} {{item.target.profile.lastName }}</strong> {{{notification-text item}}}
		              </p>
		              <span class="timestamp">{{ timestamp item.createdAt }}</span>
					      </div>
							</div>
						</div>
					</a>
		    </li>
		  {{else}}
			  <li>
			    <div class="empty-message">No new notifications</div>
			  </li>
		  {{/each}}
	  </ul>
		{{#if notification.notifications}}
			{{#link-to 'notifications' class="footer-button button expanded"}}
				See All Notifications
			{{/link-to}}
		{{/if}}
	{{/zf-dropdown}}


	{{#zf-dropdown id="dd-menu" class="dropdown-menu" closeOnClick=true}}
		<ul class="menu">
			<li>{{link-to "Home" "home"}}</li>
		</ul>
		<ul class="menu">
			<li>{{link-to "Profile" "me"}}</li>
			<li>{{link-to "Edit Profile" "me.edit"}}</li>

		</ul>
		<ul class="menu">
			<li>{{link-to "Connections" "me.connections"}}</li>
			<li>{{link-to "Your ASK Page" "me.ask"}}</li>
			<li>{{link-to "Compliments" "me.compliments"}}</li>
		</ul>
		<ul class="menu">
			<li>{{link-to "People Search" "search"}}</li>
		</ul>
		<ul class="menu">
			<li>{{link-to "Settings" "settings" }}</li>
			<li>{{link-to "User Guide" "user-guide" }}</li>
			<li><a href="" {{action 'logout'}}>Log out</a></li>
		</ul>
	{{/zf-dropdown}}

</div>
