{{dialog-box name=(concat "archive-" item.id) item=item title=(concat title " Question") content=(concat "Are you sure you want to " message " this question?" ) submit="toggleHide"}}

<div class="section-group section-accordion-group">
  <section>
    <div class="row user section-main">
      <div class="columns medium-8 small-10">
        {{avatar-wrap profile=item.from.content.profile}}
        <div class="user-info">
          <a href="{{href-to 'profile' item.from.content.profile.uid}}" class="name">{{item.from.content.profile.fullName}}</a>
           asked
          <a href="{{href-to 'profile' item.to.content.profile.uid}}" class="name">{{item.to.content.profile.fullName}}</a>
        </div>
      </div>
      <div class="column medium-4 small-2 text-right">
        {{#if isOwner}}
          <a class="button dropdown-button-arrow button-ellipsis" data-toggle="dd-card-menu-{{item.id}}"></a>
          {{#zf-dropdown id=(concat 'dd-card-menu-' item.id) closeOnClick=true class="card-menu-dropdown"}}
            <ul class="menu">
              <li><a data-open={{concat 'dialog-box-' 'archive-' item.id}}>{{if isArchived "Unarchive" "Archive"}}</a></li>
            </ul>
          {{/zf-dropdown}}
        {{/if}}
        <div class="timestamp">
          <a href="{{href-to 'ask.detail' item.id}}" class="timestamp">
            {{timestamp item.answeredAt}}
          </a>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="section-main">
      <div class="title large">{{item.question}}</div>
    </div>
    {{#zf-accordion-menu class="section-accordion accordion-ask-answer" multiOpen=true}}
      <li>
        <a class="more no-arrow more-top"><span class="content-more">See Answer</span><span class="content-less">Hide Answer</span></a>
        <ul class="section-accordion-content no-bullet">
          <li>
            {{brydge-linkify text=item.answer class="paragraph answer-content"}}
          </li>
        </ul>
        <a class="more no-arrow"><span class="content-more">See Answer</span><span class="content-less">Hide Answer</span></a>
      </li>
    {{/zf-accordion-menu}}
  </section>
</div>
