{{#zf-reveal id="shareModal" overlay=true class="reveal-popup newsfeed-item"}}
  <h4>Share this content</h4>
  <form action="">
    <div class="content">
      {{content-editable class="content-editable" value=value placeholder='Would you like to say something about this?'}}
      <p>{{{model.content}}}</p>
      {{#if model.screenshot}}
        <div class="post-image">
          <img src="{{model.previewImage}}">
        </div>
        <div class="post-caption">
          {{#if model.siteName}}
            <div class="subheader">{{model.siteName}}</div>
          {{/if}}
          <h3>{{model.title}}</h3>
        </div>
      {{/if}}      
    </div>
    <div class="reveal-footer">
      {{#if sharePost.categories }}
        <div class="broadcast-list">Broadcasting to: My Connections
          {{#each sharePost.categories as |item|}}
            {{concat ', ' item.text }}
          {{/each}}
        </div>
      {{else}}
        <div class="broadcast-list">Broadcasting to: My Connections Only</div>
      {{/if}}
      <div class="content text-right">

        <div class="button-wrapper text-left">
          <a class="button dropdown-button" data-toggle="dd-select-channel-post-sharer">
            Select Channel
            <i class="icons caret"></i>
          </a>
          {{#zf-dropdown id="dd-select-channel-post-sharer" closeOnClick=true}}
            {{partial 'partials/select-channel-menu'}}
          {{/zf-dropdown}}
        </div>

        <button {{action "sharePost" }} class="button success">Share</button>
        <a class="button success" data-close>Cancel</a>
      </div>
    </div>
  </form>
{{/zf-reveal}}


