{{#zf-reveal id="sharePostModal" overlay=true class="small post-sharer box"}}
  <section class="title">
    <h4>Share this content</h4>
  </section>
  <section class="header">
    <form class="form-input">
      <div class="avatar circle" style={{htmlSafeImage sessionAccount.account.profile.avatarUrl}}>
        <img src= {{avatarUrl}} class="hide">
      </div>
      <div class="input-wrapper">
        {{textarea 
          value=sharePost.valueText 
          key-up="edit" 
          enter="comment"
          class="textarea content-editable" 
          placeholder="Would you like to say something about this?" 
          }}                  
      </div>
    </form>    
  </section>
  <section>
    <div class="newsfeed-item">
      {{#unless sharePost.selected.sharedPost}}
        <p>{{{sharePost.selected.content}}}</p>
        {{newsfeed-media model=sharePost.selected }}
      {{else}}
        <p>{{{sharePost.selected.sharedPost.content.content}}}</p>
        {{newsfeed-media model=sharePost.selected }}
      {{/unless}}          
    </div>
    <div class="row">
      <div class="columns medium-8">
        <div class="wrapper">
          <a class="dropdown-button button clear" {{action "toggle"}}>
            Add Industry Channel
            <i class="icons caret"></i>
          </a>
        </div>
      </div>
      <div class="columns medium-4">
        <button class="success button rounded float-right" type="submit" {{action "submit"}}>Broadcast</button>
      </div>
    </div>
  </section>
  <section>
  {{#zf-accordion id="postSharerChannelSelect" class="accordion-picker" allowAllClosed=true}}
    <li class="accordion-item" data-accordion-item>
      <div class="accordion-content" data-tab-content>
        {{partial "partials/channel-select"}}
      </div>
    </li>
  {{/zf-accordion}}
  </section>
  <section class="section-footer">
    {{#if categories}}
      <div class="broadcast-list">
          <span class="broadcast-title">Broadcasting to: </span> 
          <strong class="text-gray">My Connections{{#each categories as |item|}}
                {{~ concat '; ' item.text ~}}
              {{/each}}
          </strong>
      </div>
    {{else}}
      <div class="broadcast-list"><span class="broadcast-title">Broadcasting to: </span><strong class="text-gray">My Connections Only</strong></div>
    {{/if}}
  </section>
    

<!-- 
  <form action="">
    <div class="reveal-footer">
      {{#if sharePost.categories }}
        <div class="broadcast-list">Broadcasting to: My Connections{{#each sharePost.categories as |item|}}
            {{~ concat '; ' item.text ~}}
          {{/each}}
        </div>
      {{else}}
        <div class="broadcast-list">Broadcasting to: My Connections Only</div>
      {{/if}}
      <div class="content text-right">

        <div class="button-wrapper text-left">
          <a class="button dropdown-button" data-toggle="dd-select-channel-post-sharer">
            Select Channel
            <i class="icons caret"></i>
          </a>
          {{#zf-dropdown id="dd-select-channel-post-sharer" closeOnClick=true}}
            {{partial "partials/channel-select"}}
          {{/zf-dropdown}}
        </div>

        <button {{action "sharePost" }} class="button success">Share</button>
        <a class="button success" data-close>Cancel</a>
      </div>
    </div>
  </form>
 -->
{{/zf-reveal}}


