<div class="box">
	<section class="title">
		<h4>Pending Answers: Asked to you</h4>
	</section>
		{{#each questions.pendingSidebar as |item| }}
			<section>
				<div class="section-main">
					<div class="user">
						asked by {{link-to item.from.content.name "profile" item.from.content.id}}
						<div class="timestamp">{{timestamp item.createdAt}}</div>
					</div>
					<div class="content-pad">{{item.content}}</div>
					<div class="section-footer-links">
						<ul class="menu">
							<li><a {{action "selectItem" item }} class="float-left" data-open="answerFormModal">Write Answer</a></li>
							<li><a {{action "delete" item }} class="float-right">Delete</a></li>
							<li><a class="float-right">Flag</a></li>
						</ul>												
					</div>
				</div>
			</section>
		{{else}}
			<section>No Pending Questions</section>
		{{/each}}
		{{#if questions.pendingSidebar }}
			<section class="section-footer-links">
				{{#link-to 'me.ask.pending' (query-params tab="questions")  class="footer-button button expanded" }}
					Load More
				{{/link-to}}
			</section>
		{{/if}}
</div>

<div class="box">
	<section class="title">
			<h4>Pending Answers: Asked by you</h4>
	</section>
	<section>
		{{#each asked.pendingSidebar as |item| }}
			<div>
				you asked {{link-to item.to.content.name "profile" item.to.content.id}}
				<div class="timestamp">{{timestamp item.createdAt}}</div>
				<div class="content-pad">{{item.content}}</div>
				<div class="section-footer-links">
					<ul class="menu hide">
						<li><a {{action "selectItem" item }} class="float-left" data-open="answerFormModal">Write Answer</a></li>
						<li><a class="float-right">Delete</a></li>
						<li><a class="float-right">Flag</a></li>
					</ul>												
				</div>			
			</div>
		{{else}}
			<div class="padding">No Pending Questions</div>
		{{/each}}

	</section>
	{{#if asked.pendingSidebar}}
		<section class="section-footer-links">
			{{#link-to 'me.ask.pending' (query-params tab="asked") class="footer-button button expanded" }}
				Load More
			{{/link-to}}
		</section>
	{{/if}}
</div>

<div class="box">
	<section class="title">
		<h4>Hidden Questions</h4>		
	</section>
	<section>
		{{#each questions.hiddenSidebar as |item| }}
			<div>
				{{link-to item.from.content.name "profile" item.from.content.id}} asked {{link-to item.to.content.name "profile" item.to.content.id }}
				<div class="timestamp">{{timestamp item.createdAt}}</div>
				<div class="content-pad">{{item.content}}</div>
				<div class="section-footer-links">
					<ul class="menu">
						<li><a {{action "toggleHide" item }}>Unhide</a></li>
					</ul>												
				</div>			
			</div>
		{{/each}}
		{{#each asked.hiddenSidebar as |item| }}
			<div>
				You asked {{link-to item.to.content.name "profile" item.to.content.id class="user"}}
				<div class="timestamp">{{timestamp item.createdAt}}</div>
				<div class="content-pad">{{item.content}}</div>
				<div class="section-footer-links">
					<ul class="menu">
						<li><a {{action "toggleHide" item }}>Unhide</a></li>
					</ul>												
				</div>			
			</div>
		{{/each}}
	</section>
	<section class="section-footer-links">
		{{#link-to 'me.ask.hidden' class="footer-button button expanded" }}
			Load More
		{{/link-to}}
	</section>
</div>