<div class="box rounded question-box">
	<h5 class="box-header">Pending Answers: Asked to you</h5>
	<ul class="no-bullet pending-list">
	{{#each questionPending as |q index| }}
		<li>
			<div class="columns wrapper clearfix">
				<div class="question-title">{{q.content}}</div>
				<div class="text-light">asked by {{link-to q.from.content.name "profile" q.from.content.username class="user"}}</div>
				<p class="timestamp text-light mb5">{{postDateFormat q.createdAt}}</p>
			</div>
			<div class="question-box-footer">
				<ul class="menu menu-dotted">
					<li><a {{action "selectItem" q }} class="float-left" data-open="answerFormModal">Write Answer</a></li>
					<li><a class="float-right">Delete</a></li>
					<li><a class="float-right">Flag</a></li>
				</ul>												
			</div>			
		</li>
	{{/each}}
	</ul>
	{{#link-to 'questions' class="footer-button button expanded" }}
		Load More
	{{/link-to}}
</div>

<div class="box rounded question-box">
	<h5 class="box-header">Pending Answers: Asked by you</h5>
	<ul class="no-bullet pending-list no-footer">
	{{#each askedPending as |q index| }}
		<li>
			<div class="columns wrapper clearfix">
				<div class="question-title">{{q.content}}</div>
				<div class="text-light">you asked {{link-to q.to.content.name "profile" q.to.content.username class="user"}}</div>
				<p class="timestamp text-light mb5">{{postDateFormat q.createdAt}}</p>
			</div>
			<div class="question-box-footer">
				<ul class="menu menu-dotted hide">
					<li><a {{action "selectItem" q }} class="float-left" data-open="answerFormModal">Write Answer</a></li>
					<li><a class="float-right">Delete</a></li>
					<li><a class="float-right">Flag</a></li>
				</ul>												
			</div>			
		</li>
	{{/each}}
	</ul>
	{{#link-to 'questions' class="footer-button button expanded" }}
		Load More
	{{/link-to}}
</div>