{{#zf-accordion allowAllClosed="true"}}

{{#each items as |item|}}
	<li class="accordion-item" data-accordion-item >
			<a class="accordion-header">
				{{ item.name }} <br>
				<strong>{{ item.proficiency }}</strong>
			</a>
		<div class="accordion-content" data-tab-content>
	  	<form class="form-accordion	">
	  		<div class="row">
	  			<div class="columns medium-3">
						<label class="text-right middle">
							Name
						</label>
	  			</div>
					<div class="columns medium-9">
						{{form-input model=item valuePath='name'}}
					</div>
				</div>
	  		<div class="row">
	  			<div class="columns medium-3">
						<label class="text-right middle">
							Proficiency
						</label>
	  			</div>
					<div class="columns medium-9">
	        	{{dropdown-proficiency-filter items=languageProficiency model=item.proficiency template="partials/proficiency-filter"}}
					</div>
				</div>
				<div class="row">
					<div class="columns medium-9 medium-offset-3">
				    <button class='button success' disabled={{v-get item 'isInvalid'}} {{ action 'update' item }}>SAVE</button>
				    <button class='button success float-right' {{ action 'delete' item }}>DELETE</button>
					</div>
				</div>	  	
			</form>								
		</div>
	</li>
{{/each}}
	<li class="accordion-item" data-accordion-item>
		<div class="accordion-content" data-tab-content>
	  	<form class="form-accordion	">
	  		<div class="row">
	  			<div class="columns medium-3">
						<label class="text-right middle">
							Name
						</label>
	  			</div>
					<div class="columns medium-9">
						{{form-input model=this valuePath='name'}}
					</div>
				</div>
	  		<div class="row">
	  			<div class="columns medium-3">
						<label class="text-right middle">
							Proficiency
						</label>
	  			</div>
					<div class="columns medium-9">
	        	{{dropdown-proficiency-filter items=languageProficiency model=proficiency template="partials/proficiency-filter"}}
					</div>
				</div>
				<div class="row">
					<div class="columns text-center">
				    <button class='button success' disabled={{v-get this 'isInvalid'}} {{ action 'create' }}>SAVE</button>
					</div>
				</div>	  	
			</form>								
		</div>
  		<a class="more no-arrow button success expanded">{{fa-icon "plus"}}</a>
	</li>	  
{{/zf-accordion}}
