<section>
	<label class="title">Languages</label>
	{{#zf-accordion allowAllClosed="true"}}
		<li class="accordion-item" data-accordion-item>
			<a class="button success expanded rounded">Add Language</a>
			<div class="accordion-content" data-tab-content>
				<div class="content	">
					{{partial "partials/form-language"}}
					<div class="row">
						<div class="columns text-center">
							{{form-input-button item=item submit="create" placeholder="Saved"}}
							<button class="button button-clear float-right" {{ action 'clear' item }}>Reset</button>
						</div>
					</div>
				</div>
			</div>
		</li>

		{{#each list as |item|}}
			<li class="accordion-item box" data-accordion-item >
					<a class="accordion-header">
						<div class="name">{{ item.name }}</div>
						<div class="company">{{ item.proficiency }}</div>
					</a>
				<div class="accordion-content" data-tab-content>
			  	<div class="content">
			  		{{partial "partials/form-language"}}
						<div class="row">
							<div class="columns">
								{{form-input-button item=item submit="update" placeholder="Saved"}}
						    <a class="button button-clear float-right" data-open={{concat 'dialog-box-' 'delete' item.id}}>Delete</a>
							</div>
						</div>
					</div>
				</div>
				{{dialog-box name="delete" item=item title="Delete Language" content="Are you sure you want to delete this Language?" submit="delete"}}
			</li>
		{{/each}}
	{{/zf-accordion}}
</section>
