<div class="row">
	<div class="columns">
		<div class="top-banner bg-gray box">
			<h1>PROFILE VIEWS</h1>
      <div class="columns">
        <div class="row">
          <div class="columns medium-centered">
            <form class="inline-block">
              <div class="switch">
                {{input type="checkbox" change=(action settingsChanged 'profileView') checked=model.profile.settings.profileView class="switch-iput" id="profileSwitch" name="profileSwitch" }}
                <label class="switch-paddle" for="profileSwitch">
                  <span class="show-for-sr">Turn Profile Views OFF</span>
                </label>
              </div>
            </form>
          </div>
        </div>
        <p class="text-center">
          By turning Profile Views off...<br>  
        </p>                    
      </div>

		</div>		
	</div>
</div>


<div class="row">
  <div class="medium-7 columns">
  	<div class="box rounded">
      <div class="padding">
        <strong>PROFILE VIEWS FROM THE LAST FEW DAYS</strong>
      </div>
      <ul class="media-list notifications-list no-bullet list-lined">
      {{#each model.views as |item|}}
        <li {{action "selectView" item preventDefault=false }}>
        
          <div class="media-object">
            <div class="media-object-section">
              <div class="thumbnail" style="background-image: url({{item.target.profile.avatarUrl}})">
                <img src= {{item.target.profile.avatarUrl}} class="hide">
              </div>
            </div>
            <div class="media-object-section main-section">
              <p><a>{{item.target.profile.firstName}} {{item.target.profile.lastName}}</a> viewed your profile</p>
              <span>{{ timestamp item.createdAt }}</span>
            </div>
          </div>
         
        </li>
        
        {{/each}}
      </ul>
  		
  	</div>

  </div>    
  <div class="medium-5 columns sidebar">

    {{render "progress-box"}}
    {{render "footer"}}
  </div>
</div>
