<div class="page-heading align-center">
  <h1>Profile Views</h1>
  <p>
    You can turn this ON or OFF in <a href="{{href-to 'settings' (query-params tab='views')}}">Settings</a>.
  </p>
</div>

<div class="row">
  <div class="medium-7 small-12 columns">
    <div class="box">
      <ul class="media-list user">
        {{#each list as |item|}}
          <li>
            <div {{action "selectView" item}} class="padding {{if item.read false 'new-notification'}}">
              <a href="{{href-to 'profile' item.target.profile.uid}}">
                {{avatar-wrap profile=item.target.profile}}              
              </a>
              <div class="user-info">
                <a href="{{href-to 'profile' item.target.profile.uid}}" class="text-title">{{item.target.profile.fullName}}</a> viewed your profile
                <div class="timestamp">{{ timestamp-views item.createdAt }}</div>
              </div>
            </div>
          </li>
        {{else}}
          <section>
            <div class="empty-message">No recent profile views</div>
          </section>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="medium-5 small-12 columns">
    {{ partial 'partials/user-guide-box' }}
    {{ partial "footer"}}
  </div>
</div>
