<div class="row">
  <div class="medium-6 medium-centered columns">
    <div class="page-heading">
      <h1>Profile Views</h1>
      <p class="text-center">
        Toggling this ON will also notify other users when you view their profiles. If you don’t like that, you can toggle it OFF in {{link-to "Settings" "settings" (query-params tab="views") }}.
      </p>
    </div>

  </div>
</div>
<div class="row">
  <div class="large-7 medium-7 columns">

    <div class="box">
      <ul class="media-list user">
        {{#each list as |item|}}
          <li>
            <div {{action "selectView" item}} class="padding {{if item.read false 'new-notification'}}">
              <div class="row collapse">
                <div class="columns">
                  {{#link-to  "profile" item.target.profile.id class="name"}}
                    <div class="avatar" style={{htmlSafeImage item.target.profile.avatarUrl }}>
                      <img src= {{item.target.profile.avatarUrl}} class="hide">
                    </div>
                  {{/link-to}}
                  <div class="user-info">
                    {{link-to item.target.profile.fullName "profile" item.target.profile.id class="name"}} viewed your profile
                    <div class="timestamp">{{ timestamp-views item.createdAt }}</div>
                  </div>

                </div>
              </div>
            </div>
          </li>
        {{else}}
          <section>
            <div class="empty-message">No recent profile views</div>
          </section>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="large-5 medium-5 columns sidebar">
    {{ partial 'partials/user-guide-box' }}
    {{ partial "footer"}}
  </div>
</div>
