<form onsubmit="return false;">
	{{input value=search.key key-up="search" focus-in="clear" focus-out="clear" class="input-group-field" type="search" placeholder="People Search"}}
	{{fa-icon "search"}}
</form>

<a data-toggle="dd-search" class="hide">
</a>

{{#zf-dropdown id="dd-search" closeOnClick=true autoFocus=false class="dropdown-notification"}}
	<div class="wrapper">
		<div class="triangle"></div>
	</div>

	<ul class="media-list no-bullet user">
		{{#each search.results as |item|}}
			<li {{action "clear"}}>
				<a href="{{href-to 'profile' item.publicProfile}}">
		      <div class="avatar" style={{htmlSafeImage item.avatar }}>
		        <img src= {{item.avatar}} class="hide">
		      </div>
		      <div class="user-info">
            <div class="name">{{item.fullName}}</div>
		        <div class="position">{{item.career}}</div>
		      </div>
				</a>
			</li>
		{{else}}
			<li>
				<div class="empty-message">
					{{#if search.isLoading}}
						<div class="brydge-loading"></div>
					{{else}}
							No results for your search terms
					{{/if}}
				</div>

			</li>
		{{/each}}

	</ul>
	{{#link-to 'search' class="footer-button success button expanded hide"}}
		Advanced People Search
	{{/link-to}}
{{/zf-dropdown}}
