<div class="search-form">
	{{input value="" key-up="search" class="input-group-field" type="search" placeholder="Search"}}
	<div class="input-group-button" data-toggle="dd-search">
		{{fa-icon "search"}}
	</div>

</div>

<a data-toggle="dd-search" class="hide">
</a>


{{#zf-dropdown id="dd-search" closeOnClick=true autoFocus=false}}
	<div class="wrapper">
		<div class="triangle"></div>
	</div>
	
	<ul class="menu-media-list no-bullet">
		{{#each search.results as |item|}}

		<li>
			{{#link-to "profile" item.username}}
				<div class="media-object">
					<div class="media-object-section">
						<div class="thumbnail">
							<img src="{{ item.avatarUrl }}">
						</div>
					</div>
					<div class="media-object-section main-section">
							<span class="name">{{item.name}}</span>
							<div class="position">
								{{item.title}} <br>
								{{item.company}}
							</div>
					</div>
				</div>
			{{/link-to}}
		</li>
		{{/each}}
		{{#unless search.results }}
		<li>
			<div class="empty-message">
				No results for your search terms
			</div>
		</li>
		{{/unless}}

	</ul>
	{{#link-to 'search' class="footer-button success button expanded"}}
		Advanced People Search
	{{/link-to}}
{{/zf-dropdown}}
