<form>
	{{input value=search.key key-up="search" focus-in="clear" focus-out="clear" class="input-group-field" type="search" placeholder="Search"}}
	{{fa-icon "search"}}
</form>

<a data-toggle="dd-search" class="hide">
</a>

{{#zf-dropdown id="dd-search" closeOnClick=true autoFocus=false}}
	<div class="wrapper">
		<div class="triangle"></div>
	</div>
	
	<ul class="menu-media-list no-bullet">
		{{#each search.results as |item|}}
			<li {{action "clear"}}>
				{{#link-to "profile" item.id}}
					<div class="media-object">
						<div class="media-object-section">
							<div class="thumbnail" style={{htmlSafeImage item.avatarUrl}}>
								<img src="{{ item.avatarUrl }}" class="hide">
							</div>
						</div>
						<div class="media-object-section main-section">
								<span class="name">{{item.name}}</span>
								<div class="position">
									{{item.title}} <br>
									{{item.company}}
								</div>
						</div>
					</div>
				{{/link-to}}
			</li>
		{{else}}
			<li>
				<div class="empty-message">
					No results for your search terms
				</div>
			</li>
		{{/each}}

	</ul>
	{{#link-to 'search' class="footer-button success button expanded"}}
		Advanced People Search
	{{/link-to}}
{{/zf-dropdown}}
