<form>
	{{input value=search.key key-up="search" focus-in="clear" focus-out="clear" class="input-group-field" type="search" placeholder="Search"}}
	{{fa-icon "search"}}
</form>

<a data-toggle="dd-search" class="hide">
</a>

{{#zf-dropdown id="dd-search" closeOnClick=true autoFocus=false}}
	<div class="wrapper">
		<div class="triangle"></div>
	</div>
	
	<ul class="media-list no-bullet user">
		{{#each search.results as |item|}}
			<li {{action "clear"}}>
				{{#link-to "profile" item.id}}
		      <div class="avatar" style={{htmlSafeImage item.avatarUrl }}>
		        <img src= {{item.avatarUrl}} class="hide">
		      </div>
		      <div class="user-info">
            <div class="name">{{item.name}}</div>
		        <div class="position">{{item.title}} at {{item.company}}</div>
		      </div>
				{{/link-to}}
			</li>
		{{else}}
			<li>
				<div class="empty-message">
					No results for your search terms
				</div>
			</li>
		{{/each}}

	</ul>
	{{#link-to 'search' class="footer-button success button expanded"}}
		Advanced People Search
	{{/link-to}}
{{/zf-dropdown}}
