{{#if showComments}}
  <section class="comment-header">
    {{#if isMore}}
      <span class="dot-after">
      <a class="more no-arrow" {{action 'show'}}>
        View previous comments
      </a>
      </span>
    {{/if}}
    <a class="more no-arrow" {{action 'hide'}}>
      Hide comments
    </a>
    {{#if isLoading}}
      <div class="brydge-loading"></div>
    {{/if}}
  </section>
  <section class="comment-group">
    {{#each comments as |comment|}}
      <div class="comment-item">
        <div class="user user-small">
          {{avatar-wrap profile=comment.user.profile}}
          <div class="user-info">
            <div class="block-ellipsis mb-sm">
              <a href="{{href-to 'profile' comment.user.profile.uid}}" class="name">{{comment.user.profile.fullName}}</a>
              <i class="dot"></i>
              <span class="position">{{ comment.user.profile.career }}</span>
            </div>
            <div class="comment">
              {{see-more content=comment.content class="message mb-sm" tagName='div'}}

              {{reply-box comment=comment}}

            </div>

          </div>
        </div>
      </div>
    {{/each}}
  </section>
{{else}}
  {{#if isLoading}}
    <section class="comment-group">
      <div class="brydge-loading"></div>
    </section>
  {{/if}}
{{/if}}

<section>
  <form>
    {{text-area
      value=commentContent
      key-up="resize"
      enter="submit"
      disabled=notAuthenticated
      class="textarea content-editable"
      placeholder="Write your comment"}}
  </form>
</section>

{{#if showComments}}
  <section class="comment-footer">
    <a class="more no-arrow" {{action 'hide'}}>
      Hide comments
    </a>
  </section>
{{else}}
  {{#if total}}
    <section class="comment-footer">
      <a class="more no-arrow" {{action 'show'}}>
        View comments
      </a>
    </section>
  {{/if}}
{{/if}}
