<div class="padded border-b">
  <div class="post-comment-form">
    <div class="media-object">
      <div class="thumbnail rounded">
        <img src= {{ avatarUrl }}>
      </div>
      <div class="comment-form" id="comment-form-{{post.id}}">
        {{input type="text" placeholder="Write your comment" enter="comment" value=commentContent}}
      </div>
    </div>
  </div>
</div>
<div class="post-comments" style="display: {{checkCount post.commentCount}}">

  {{#zf-accordion-menu class="accordion-menu" multiOpen=true}}
    <li>      
      <ul class="media-list no-bullet {{if isExpend "is-active"}} ">
       {{#each post.comments as |comment|}}  
        <li>
          <div class="media-object">
            <div class="media-object-section">
              <div class="thumbnail rounded">
                <img src= {{comment.user.profile.avatarUrl}}>
              </div>
            </div>
            <div class="media-object-section main-section">
              <a class="name">{{comment.user.name}}</a>
              <div class="position">{{comment.user.profile.currentTitle }} <span class="bullet">&bull;</span> {{ comment.user.profile.currentCompany }}</div>
              
              <p class="comment-content">{{comment.content}}</p>
              <div class="timestamp">{{postDateFormat comment.createdAt}}</div>
            </div>
          </div>
        </li>
        {{/each}}
      </ul>     
      <a class="more no-arrow"><span class="content-more" disabled=true {{action 'viewComments'}} id={{post.id}}>View Comments</span><span class="content-less">Hide Comments</span></a>
    </li>
  {{/zf-accordion-menu}}    
</div>
