<form>
  {{textarea
    value=commentContent
    key-up="resize"
    enter="comment"
    class="textarea content-editable"
    placeholder="Write your comment"}}
</form>

{{#if post.commentCount}}
  <div class="comment-group">
      {{#if showComments}}
          {{#each comments as |comment|}}
            <div class="comment-item">
              <div class="row user">
                <div class="columns medium-8">
                  <div class="avatar" style={{htmlSafeImage comment.user.profile.avatarUrl}}>
                    <img src= {{comment.user.profile.avatarUrl}} class="hide">
                  </div>
                  <div class="user-info">
                    {{#link-to "profile" comment.user.id class="name"}} {{comment.user.profile.firstName}} {{/link-to}}
                    <div class="position">{{ comment.user.profile.currentTitle }} at {{ comment.user.profile.currentCompany }}</div>
                  </div>
                </div>
                <div class="column medium-4 text-right">
                  <div>
                    <div class="timestamp">{{timestamp comment.insertedAt}}</div>
                  </div>
                </div>
              </div>
              <div class="comment">
                {{see-more content=comment.content}}
              </div>
            </div>
          {{/each}}
      {{/if}}
      {{#if isLoading}}
        <div class="loader small"></div>
      {{/if}}

      <div class="comment-footer">
        {{#if showComments}}
          {{#if isMore}}
            <a class="more no-arrow" {{action 'viewComments'}}>
              View more comments
            </a>
          {{/if}}
          <a class="more no-arrow" {{action 'hideComments'}}>
            Hide comments
          </a>
        {{else}}
          {{#if total}}
            <a class="more no-arrow" {{action 'viewComments'}}>
              View comments
            </a>
          {{/if}}
        {{/if}}
      </div>
  </div>
{{/if}}
