<div class="padded border-b">
  <div class="post-comment-form">
    <div class="media-object">
      <div class="thumbnail">
        <img src= {{avatar}}>
      </div>
      <div class="comment-form">
        {{input type="text" placeholder="Write your comment" enter="comment" value=commentContent}}
      </div>
    </div>
  </div>
</div>
<div class="padded post-comments">
  <!-- <a {{action 'viewComments'}}>View Comments</a>   -->
  <!-- {{#each post.comments as |comment|}}  
  <p>{{comment.content}} by {{comment.user.name}}</p>
  {{/each}} -->



  {{#zf-accordion-menu class="accordion-menu" multiOpen=true}}
    <li>
      
      <ul class="media-list no-bullet list-lined">
       {{#each post.comments as |comment|}}  
        <li>
          <div class="media-object">
            <div class="media-object-section">
              <div class="thumbnail">
                <img src= {{comment.user.profile.avatarUrl}}>
              </div>
            </div>
            <div class="media-object-section main-section">
              <a class="name">{{comment.user.name}}</a>
              <span class="float-right dim-text">{{postDateFormat comment.createdAt}}</span>
              <p class="position">{{comment.content}}</p>
            </div>
          </div>
        </li>
      {{/each}}
      </ul>


      <a class="more no-arrow"><span class="content-more" disabled=true {{action 'viewComments'}} id={{post.id}}>View Comments</span><span class="content-less">Hide Comments</span></a>
    </li>
  {{/zf-accordion-menu}}    


  
</div>