<div class="expanded row">
  <div class="columns large-8 medium-8 main-content">
    <div class="container">
      <div class="row">
        <div class="large-6 medium-8 small-centered columns">
          <div class="dialog-wrapper">
            <div class="dialog-header">
              <a href="/" class="logo"><img src="assets/brydge-blue.svg"></a>
            </div>
            <div class="avatar" style={{htmlSafeImage profile.avatar}}>
              <img src="{{profile.avatar}}" class="hide">
            </div>
            <div class="padding text-center">
              <h1 class="mb name"><strong>{{profile.name}}</strong></h1>
              <div class="position">{{profile.title}}</div>
              <div class="position"><strong>{{profile.currentCompany}}</strong></div>
              <div class="location"><strong>{{profile.location}}</strong></div>
            </div>
            <div class="row collapse bg-gray stats">
              <div class="columns medium-4">
                <div class="padding text-center">
                  <div>
                    <big>{{profile.connectionsCount}}</big>
                  </div>
                  Connections
                </div>
              </div>
              <div class="columns medium-4">
                <div class="padding text-center">
                  <div>
                    <big>{{profile.postCount}}</big>
                  </div>
                  Posts
                </div>
              </div>
              <div class="columns medium-4">
                <div class="padding text-center">
                  <div>
                    <big>{{profile.askCount}}</big>
                  </div>
                  Questions
                </div>
              </div>
            </div>
            <div class="row stats-footer">
              <div class="columns text-center medium-centered mb">
                <div class="padding">
                  <strong>Want to connect? {{link-to "Login" "home"}} or {{link-to "Create Account" "home"}}</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns large-4 medium-4 sidebar-content">
    <div class="container">
      {{ partial 'partials/public-sidebar' }}
    </div>
  </div>
</div>
