<div class="page-heading align-center mb-2">
  <h1><a href="{{href-to 'me.ask'}}">Ask</a>: Inbox</h1>
  <div class="row columns medium-8">
    <p>
      Questions that users have asked you. Answer the ones you want to. Delete the ones you don’t. Flag the ones that you consider inappropriate or spam.
    </p>
  </div>
</div>
<div class="spacer-1"></div>

<div class="row">
  <div class="medium-7 small-12 columns">
    {{#each list as |item| }}
      {{ask-card-pending item=item submit="submit"}}
    {{else}}
      <div class="box">
        <section>No Pending Questions</section>
      </div>
    {{/each}}

    {{#brydge-scroller id="inbox" model=model onClick="load"}}
      {{#if isLoading}}
        <div class="brydge-loading"></div>
      {{/if}}
    {{/brydge-scroller}}

  </div>
  <div class="medium-5 small-12 columns sidebar">
    {{ partial 'partials/user-guide-box' }}
    {{ partial "footer"}}
  </div>
</div>


{{answer-form-modal}}
