<div class="row"> 
  <div class="large-7 medium-7 columns">
    <div class="page-heading">      
      <h1>Questions: Inbox</h1>
      <p class="text-center">
      </p>                    
    </div>

    {{#each toPending as |item| }}
      <div class="box {{if (eq item.id qid) 'highlight'}}">
        <section>
          <div class="section-main">
            <div class="user">
              Asked by {{link-to item.from.content.name "profile" item.from.content.id class="name"}}
              <div class="timestamp">{{timestamp item.createdAt}}</div>
            </div>
            <div class="content-pad">{{item.content}}</div>
            <div class="section-footer-buttons">
              <a {{action "selectItem" item }} class="button success rounded" data-open="answerFormModal">Write Answer</a>
              <a {{action "delete" item }} class="button button-border rounded">Delete</a>
              <a class="button button-border rounded">Flag</a>
            </div>
          </div>
        </section>
      </div>
    {{else}}
      <div class="box">
        <section>No Pending Questions</section>
      </div>
    {{/each}}

  </div>
  <div class="large-5 medium-5 columns sidebar">
    {{ partial 'partials/user-guide-box' }}
    {{ partial "footer"}}
  </div>
</div>


{{answer-form}}
