<div class="box">
	<section class="title">
		<h4>Questions: Inbox</h4>
	</section>
		{{#each to.pendingSidebar as |item| }}
			<section>
				<div class="section-main">
					<div class="user">
						Asked by {{link-to item.from.content.name "profile" item.from.content.id class="name"}}
						<div class="timestamp">{{timestamp item.createdAt}}</div>
					</div>
					<div class="content-pad">{{item.content}}</div>
					<div class="section-footer-buttons">
						<a {{action "selectItem" item }} class="button success rounded" data-open="answerFormModal">Write Answer</a>
						<a {{action "delete" item }} class="button button-border rounded">Delete</a>
						<a class="button button-border rounded">Flag</a>
					</div>
				</div>
			</section>
		{{else}}
			<section>Nothing to show here</section>
		{{/each}}
		{{#if from.pendingSidebar }}
			<section class="section-footer-links">
				{{#link-to 'me.ask.pending' (query-params tab="questions")  class="footer-button button expanded" }}
					See All
				{{/link-to}}
			</section>
		{{/if}}
</div>

<div class="box">
	<section class="title">
			<h4>Question: Outbox</h4>
	</section>
		{{#each from.pendingSidebar as |item| }}
	<section>
				You asked {{link-to item.to.content.name "profile" item.to.content.id class="name"}}
				<div class="timestamp mb">{{timestamp item.createdAt}}</div>
				{{item.content}}
	</section>
		{{else}}
			<div class="padding">Nothing to show here</div>
		{{/each}}

	{{#if to.pendingSidebar}}
		<section class="section-footer-links">
			{{#link-to 'me.ask.pending' (query-params tab="asked") class="footer-button button expanded" }}
				See All
			{{/link-to}}
		</section>
	{{/if}}
</div>

<div class="box">
	<section class="title">
		<h4>Archived Questions</h4>		
	</section>
		{{#each from.hiddenSidebar as |item| }}
			<section>
				{{link-to item.from.content.name "profile" item.from.content.id class="name"}} asked {{link-to item.to.content.name "profile" item.to.content.id class="name"}}
				<div class="timestamp">{{timestamp item.createdAt}}</div>
				<div class="content-pad">{{item.content}}</div>
				<div class="section-footer-buttons">
					<a {{action "toggleHide" item }} class="button success rounded">Unarchive</a>
				</div>			
			</section>
		{{/each}}
		{{#each to.hiddenSidebar as |item| }}
			<section>
				You asked {{link-to item.to.content.name "profile" item.to.content.id class="name"}}
				<div class="timestamp">{{timestamp item.createdAt}}</div>
				<div class="content-pad">{{item.content}}</div>
				<div class="section-footer-buttons">
					<a {{action "toggleHide" item }} class="button success rounded">Unarchive</a>
				</div>			
			</section>
		{{/each}}
	<section class="section-footer-links">
		{{#link-to 'me.ask.hidden' class="footer-button button expanded" }}
			Go to archives
		{{/link-to}}
	</section>
</div>