<div class="box">
	<ul class="ask-menu no-bullet">
		<li>
			{{#link-to "me.ask.inbox" }}
				Ask: Inbox
				<span>({{toPending.length}})</span>
				<i class="fa fa-chevron-right float-right" aria-hidden="true"></i>
			{{/link-to}}
		</li>
		<li>
			{{#link-to "me.ask.outbox" }}
				Ask: Outbox
				<i class="fa fa-chevron-right float-right" aria-hidden="true"></i>
			{{/link-to}}
		</li>
		<li>
			{{#link-to "me.ask.hidden" }}
				Archived Questions
				<i class="fa fa-chevron-right float-right" aria-hidden="true"></i>
			{{/link-to}}
		</li>
	</ul>
</div>
<!--
<div class="box">
	<section class="title">
		<h4>Questions: Inbox</h4>
	</section>
		{{#each to.pendingSidebar as |item| }}
			<section>
				<div class="section-main">
					<div class="user">
						Asked by {{link-to item.from.content.name "profile" item.from.content.id class="name"}}
						<div class="timestamp">{{timestamp item.createdAt}}</div>
					</div>
					<div class="content-pad">{{item.content}}</div>
					<div class="section-footer-buttons">
						<a {{action "selectItem" item }} class="button success rounded" data-open="answerFormModal">Write Answer</a>
						<a {{action "delete" item }} class="button button-border rounded">Delete</a>
						<a class="button button-border rounded">Flag</a>
					</div>
				</div>
			</section>
		{{else}}
			<section>Nothing to show here</section>
		{{/each}}
		{{#if to.showLink }}
			<section class="section-footer-links">
				{{#link-to 'me.ask.inbox' class="footer-button button expanded" }}
					See All
				{{/link-to}}
			</section>
		{{/if}}
</div>

<div class="box">
	<section class="title">
			<h4>Question: Outbox</h4>
	</section>
		{{#each from.pendingSidebar as |item| }}
	<section>
				You asked {{link-to item.to.content.name "profile" item.to.content.id class="name"}}
				<div class="timestamp mb">{{timestamp item.createdAt}}</div>
				{{item.content}}
	</section>
		{{else}}
			<div class="padding">Nothing to show here</div>
		{{/each}}

	{{#if from.showLink}}
		<section class="section-footer-links">
			{{#link-to 'me.ask.outbox' class="footer-button button expanded" }}
				See All
			{{/link-to}}
		</section>
	{{/if}}
</div>

<div class="box">
	<section class="title">
		<h4>Archived Questions</h4>
	</section>
		{{#each from.hiddenSidebar as |item| }}

  <div class="section-group section-accordion-group">
    <section>
      <div class="section-main">
        <h4>Ask</h4>

        <div class="title mb">{{latestQuestion.content}}</div>
        <div class="user">
          {{link-to latestQuestion.from.content.name "profile" latestQuestion.from.content.id class="name" }} asked {{link-to latestQuestion.to.content.name "profile" latestQuestion.to.content.id class="name"}}
          <div class="text-gray">{{timestamp latestQuestion.createdAt}}</div>
        </div>
      </div>
      {{#zf-accordion-menu class="section-accordion" multiOpen=true}}
        <li>
          <ul class="section-accordion-content no-bullet">
            <li>{{{latestQuestion.answer}}}</li>
          </ul>
          <a class="more no-arrow"><span class="content-more">See Answer</span><span class="content-less">Hide Answer</span></a>
        </li>
      {{/zf-accordion-menu}}
    </section>

    <section class="section-footer-links">
      {{#if isOwner }}
        {{link-to "See more questions" 'me.ask'  class="button expanded"}}
      {{else}}
        {{link-to "See more questions" 'ask' profile.id  class="button expanded"}}
      {{/if}}
    </section>
  </div>

			<section>
				{{link-to item.from.content.name "profile" item.from.content.id class="name"}} asked {{link-to item.to.content.name "profile" item.to.content.id class="name"}}
				<div class="timestamp">{{timestamp item.createdAt}}</div>
				<div class="content-pad">{{item.content}}</div>
        {{#zf-accordion-menu class="section-accordion" multiOpen=true}}
          <li>
            <ul class="section-accordion-content no-bullet">
              <li>{{{item.answer}}}</li>
            </ul>
            <a class="more no-arrow"><span class="content-more">See Answer</span><span class="content-less">Hide Answer</span></a>
          </li>
        {{/zf-accordion-menu}}

				<div class="section-footer-buttons">
					<a {{action "toggleHide" item }} class="button success rounded">Unarchive</a>
				</div>
			</section>
		{{/each}}
		{{#each to.hiddenSidebar as |item| }}
			<section>
				You asked {{link-to item.to.content.name "profile" item.to.content.id class="name"}}
				<div class="timestamp">{{timestamp item.createdAt}}</div>
				<div class="content-pad">{{item.content}}</div>
				<div class="section-footer-buttons">
					<a {{action "toggleHide" item }} class="button success rounded">Unarchive</a>
				</div>
			</section>
		{{/each}}
	<section class="section-footer-links">
		{{#link-to 'me.ask.hidden' class="footer-button button expanded" }}
			Go to archives
		{{/link-to}}
	</section>
</div>

 -->
