<div class="row collapse overflow box bg-gray">
  <div class="medium-5 columns border-r">
    <section class="container pane-header">
      <section class="text-right bg-white">
        {{link-to "New Message" "messages.compose" class="button button-clear" }}
      </section>
      <section>
        <form class="form-profile">
          {{input type="search" value=key placeholder="Search by Name" class="no-margin search-input"}}
        </form>
      </section>
    </section>
    <section class="conversation-list">
      <ul class="no-bullet user-link-list bg-white">
      {{#each list as |item| }}
        {{#if item.content}}
        <li class="{{unless item.read 'new-notification'}}">
          {{#link-to "messages.conversation" item.id class="no-color"}}
            <div class="row user">
              <div class="columns medium-8">
                <div class="avatar" style={{htmlSafeImage item.other.profile.avatarUrl }}>
                  <img src= {{item.other.profile.avatarUrl}} class="hide">
                </div>
                <div class="user-info">
                  <a class="name">{{ item.other.profile.fullName }}</a> {{#if item.count}} <span class="timestamp">({{item.count}})</span> {{/if}}
                  <div class="truncate">{{{item.content}}}</div>
                </div>
              </div>
              <div class="column medium-4 text-right">
                <div class="timestamp">{{ timestamp item.updatedAt }}</div>
              </div>
            </div>
            <div class="message-body truncate"></div>
          {{/link-to}}
        </li>
        {{/if}}
      {{/each}}
      </ul>
    </section>
  </div>
  <div class="medium-7 columns message-pane">
    {{ outlet }}
  </div>
</div>
