<section>
  <div class="section-main">
    <div class="user mb">
      <div class="avatar" style={{htmlSafeImage item.from.profile.avatarUrl }}>
        <img src= {{item.from.profile.avatarUrl}} class="hide">
      </div>
      <div class="user-info">
        {{#if isOwner}}
          <strong>Asked by</strong> {{link-to item.from.profile.fullName "profile" item.from.id class="name"}}
        {{else}}
          <strong>You asked</strong> {{link-to item.to.profile.fullName "profile" item.to.id class="name"}}
        {{/if}}
        <div>
          {{#link-to "me.ask.detail" item.id class="timestamp"}}
            {{timestamp item.answeredAt}}
          {{/link-to}}
        </div>
      </div>
    </div>

    <div class="content-pad">{{item.question}}</div>
    {{#unless item.answer}}
    {{#if isOwner}}
      <div class="section-footer-buttons">
        <a {{action "select" item }} class="button success rounded" data-open="answerFormModal">Write Answer</a>
        <a class="button button-border rounded" data-open={{concat 'dialog-box-' 'delete-' item.id}}>Delete</a>
        <a class="button button-border rounded" data-open={{concat 'dialog-box-' 'flag-' item.id}}>Flag</a>
      </div>
    {{/if}}
    {{/unless}}
  </div>
</section>

{{dialog-box name="delete" item=item title="Delete Question" content="Are you sure you want to delete this question?" submit="delete"}}
{{dialog-box name="flag" item=item title="Flag Question" content="Are you sure you want to flag this question?" submit="flag"}}
