<!-- <div class="row">
  <div class="12-medium column">
    <form {{action 'post' on='submit'}}>
      <label>
        Share something
        {{textarea value=postContent placeholder='What can I share now?'}}
      </label>
      <a href="#" {{action 'cancel'}}>Cancel</a>
      <button class="button small">Post</button>
    </form>
  </div>
</div> -->


<!-- <form {{action 'post' on='submit'}}>
  <label>
    Share something
    {{textarea value=postContent placeholder='What can I share now?'}}
  </label>
  <a href="#" {{action 'cancel'}}>Cancel</a>
  <button class="button small">Post</button>
</form> -->

<form {{action 'post' on='submit'}}>
<div class="box post-form">
  <div class="post-bar border-b">
    <div class="thumbnail">
      <img src= "assets/avatar-beta.png">
    </div>
    <div class="post-form">
      {{textarea value=postContent placeholder='Get noticed: broadcast opinions, Industry news, and request'}}
      <!-- <input type="text" placeholder="Get noticed: broadcast opinions, Industry news, and request">  -->
    </div>
  </div>
  <div class="actions">
    <div class="float-right wrapper">

	<a class="button dropdown-button" data-toggle="channel-dropdown">
		Select Channel
		<i class="fa fa-caret-down"></i>
	</a>
	{{#zf-dropdown id="channel-dropdown"}}
		<section>
			<strong>Relevant Industry Channels</strong>
			<ul class="no-bullet">
				<li>Food & Beverage <input type="checkbox"></li>
				<li>Advertising & Marketing <input type="checkbox"></li>
				<li>Digital Marketing <input type="checkbox"></li>
			</ul>
			<p><a href="">Edit Occupation Insdustry</a></p>
			<div class="dim-text">Broadcast will also be shared with Connections by default</div>
		</section>
		<hr>
		<section>
			<strong>My Connections</strong>
			<ul class="no-bullet">
				<li>Only Broadcast to My Connections <input type="checkbox"></li>
			</ul>			
		</section>
	{{/zf-dropdown}}


      <a href="" class="button">BROADCAST</a>
    </div>
  </div>
</div>
</form>
