<form {{action 'post' on='submit'}}>
<div class="box post-form">
  <div class="post-bar border-b">
    <div class="thumbnail">
      <img src= {{profile.avatarUrl}}>
    </div>
    
    <div class="post-form">
      {{content-editable class="content-editable" value=postContent placeholder='Get noticed: broadcast opinions, Industry news, and request'}}
    </div>
    <div class="broadcast-list">Broadcasting to: My Connections Only</div>
  </div>
  
  <div class="actions">
    <div class="float-right wrapper">

	<a class="button dropdown-button" data-toggle="dd-select-channel">
		Select Channel
		<i class="icons caret"></i>
	</a>
	{{#zf-dropdown id="dd-select-channel" closeOnClick=true}}
		<section>
			<strong>Relevant Industry Channels</strong>
			<ul class="no-bullet">
				<li>{{ profile.industry }} {{action-checkbox value=profile.industryId action="checkboxChanged"}}</li>
				<li>{{ profile.occupationOne }} {{action-checkbox value=profile.occupationOneId action="checkboxChanged"}}</li>
				<li>{{ profile.occupationTwo }} {{action-checkbox value=profile.occupationTwoId action="checkboxChanged"}}</li>
			</ul>
			<p>{{#link-to 'me.edit' profile.id}}Edit Occupation Industry{{/link-to}}</p>
			<div class="dim-text">Broadcast will also be shared with Connections by default</div>
		</section>
		<hr>
		<section>
			<strong>My Connections</strong>
			<ul class="no-bullet">
				<li>Only Broadcast to My Connections <input type="checkbox"></li>
			</ul>			
		</section>
	{{/zf-dropdown}}
      <button class="success button" type="submit">BROADCAST</button>
    </div>
  </div>
</div>
</form>
