<form {{action 'post' on='submit'}}>
	<div class="box rounded post-form">
	  <div class="post-bar border-b">
	    <div class="thumbnail">
	      <img src= {{profile.avatarUrl}}>
	    </div>
	    
	    <div class="post-form">
	      {{content-editable 
	      	type="text"
	      	class="content-editable" 
	      	value=postContent 
	      	placeholder='Get noticed! Broadcast opinions, industry news, trends.' 
	      	key-up="edit" }}
	      
	      
	    </div>
	    {{#if site}}
				<div class="newsfeed-item">
					<div class="media">
					  <div class="media-main wrapper">
					    {{#if site.image}}
					    {{#unless noPreview}}
					    <div class="post-image">
				        <img src="{{site.image}}">
					    </div>
					    {{/unless}}
					    <a {{action "removePreview"}}><i class="fa fa-times" aria-hidden="true"></i></a>
					    {{/if}}
					    <div class="post-caption">
					      <h3>{{site.title}}</h3>
					      {{#if site.siteName}}
					        <div class="subheader">{{site.siteName}}</div>
					      {{/if}}
					    </div>
					  </div>
					</div>
				</div>
			{{/if}}

	    {{#if categories}}
	    	<div class="broadcast-list"><span class="broadcast-title text-upper">Broadcasting to: </span> 
	    	<span>My Connections{{#each categories as |item|}}
				    	{{~ concat '; ' item.text ~}}
				    {{/each}}
	    	</span>
	    	</div>
	    {{else}}
	    	<div class="broadcast-list"><span class="broadcast-title">Broadcasting to: </span><span>My Connections Only</span></div>
	    {{/if}}
	  </div>
	  
	  <div class="actions">
	    <div class="float-right wrapper">
				<span class="wrapper">
					<a class="button dropdown-button" data-toggle="dd-select-channel">
						Add Industry Channel
						<i class="icons caret"></i>
					</a>
					{{#zf-dropdown id="dd-select-channel" closeOnClick=true}}
						{{partial 'partials/select-channel-menu'}}
					{{/zf-dropdown}}
				</span>
	      <button class="success button" type="submit">BROADCAST</button>
	    </div>
	  </div>
	</div>
</form>
