<form {{action 'post' on='submit'}}>
	<div class="box rounded post-form">
	  <div class="post-bar border-b">
	    <div class="thumbnail">
	      <img src= {{profile.avatarUrl}}>
	    </div>
	    
	    <div class="post-form">
	      {{content-editable class="content-editable" value=postContent placeholder='Get noticed! Broadcast opinions, industry news, trends.'}}
	    </div>
	    {{#if categories}}
	    	<div class="broadcast-list">Broadcasting to: 
	    	<span>My Connections{{#each categories as |item|}}
				    	{{~ concat '; ' item.text ~}}
				    {{/each}}
	    	</span>
	    	</div>
	    {{else}}
	    	<div class="broadcast-list">Broadcasting to: <span>My Connections Only</span></div>
	    {{/if}}
	  </div>
	  
	  <div class="actions">
	    <div class="float-right wrapper">
				<span class="wrapper">
					<a class="button dropdown-button" data-toggle="dd-select-channel">
						Add Industry Channel
						<i class="icons caret"></i>
					</a>
					{{#zf-dropdown id="dd-select-channel" closeOnClick=true}}
						{{partial 'partials/select-channel-menu'}}
					{{/zf-dropdown}}
				</span>
	      <button class="success button" type="submit">BROADCAST</button>
	    </div>
	  </div>
	</div>
</form>
