
<div class="row">
    <div class="columns">
        <div class="top-banner bg-gray box">
            <h2 class="page-title">SETTINGS</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="columns settings">
        <div class="row collapse tab-wrapper bordered" data-equalizer data-equalize-by-row="true">
        
          <div class="medium-3 columns bg-gray">
            <div class="tab-header padding">
                <h2>Stay in control!</h2>
            </div>

            {{#zf-tabs class="vertical bg-gray" id="settings-tabs"}}
              <li data-tab='email' class="tabs-title {{active-tab 'email' tab}}"><a href="#email">Email address</a></li>
              <li data-tab='password' class="tabs-title {{active-tab 'password' tab}}"><a href="#password">Password</a></li>
              <li data-tab='notification' class="tabs-title {{active-tab 'notification' tab}}"><a href="#notification">Notification settings</a></li>
              <li data-tab='ask' class="tabs-title {{active-tab 'ask' tab}}"><a href="#ask">ASK settings</a></li>
              <li data-tab='views' class="tabs-title {{active-tab 'views' tab}}"><a href="#views">Profile views</a></li>
            {{/zf-tabs}}
          </div>
          <div class="medium-9 columns float-left">
            <div class="tabs-content vertical" data-tabs-content="settings-tabs">      
              <div class="tabs-panel space-filler {{active-tab 'email' tab}}" id="email">
                <form>
                  <div class="row">
                    <div class="medium-8 columns medium-centered">
                      <div class="label columns mb50 text-center">
                        <span>Current email: </span><a>{{model.user.email}}</a>
                      </div>
                      {{update-email-form update="updateEmail"}}
                    </div>
                  </div>
                </form>

                
              </div>
              <div class="tabs-panel space-filler {{active-tab 'password' tab}}" id="password">
                {{update-password-form update="updatePassword"}}
              </div>
              <div class="tabs-panel {{active-tab 'notification' tab}}" id="notification">
                <table class="mb30">
                  <thead>
                    <tr>
                      <th></th>
                      <th width="50" class="text-center">ON BRYDGE</th>
                      <th width="50" class="text-center">ON EMAIL</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>When someone upvotes my broadcast</td>
                      <td class="text-center">
                        {{input type="checkbox" change=(action 'notificationChanged') checked=model.settings.notifications.vote id="notifications.vote" name="notifications.vote" }}                        
                      </td>
                      <td class="text-center">
                        {{input type="checkbox" change=(action 'emailNotificationChanged') checked=model.settings.emailNotifications.vote id="emailNotifications.vote" name="emailNotifications.vote" }}
                      </td>
                    </tr>
                    <tr>
                      <td>When someone comments on my broadcast</td>
                      <td class="text-center">
                        {{input type="checkbox" change=(action 'notificationChanged') checked=model.settings.notifications.comment id="notifications.comment" name="notifications.comment" }}
                      </td>
                      <td class="text-center">
                        {{input type="checkbox" change=(action 'emailNotificationChanged') checked=model.settings.emailNotifications.comment id="emailNotifications.comment" name="emailNotifications.comment" }}
                      </td>
                    </tr>
                    <tr>
                      <td>When someone shares my broadcast</td>
                      <td class="text-center">
                        {{input type="checkbox" change=(action 'notificationChanged') checked=model.settings.notifications.share id="notifications.share" name="notifications.share" }}
                      </td>
                      <td class="text-center">
                        {{input type="checkbox" change=(action 'emailNotificationChanged') checked=model.settings.emailNotifications.share id="emailNotifications.share" name="emailNotifications.share" }}
                      </td>
                    </tr>
                    <tr>
                      <td>When someone asks me a question</td>
                      <td class="text-center">
                        {{input type="checkbox" change=(action 'notificationChanged') checked=model.settings.notifications.ask id="notifications.ask" name="notifications.ask" }}
                      </td>
                      <td class="text-center">
                        {{input type="checkbox" change=(action 'emailNotificationChanged') checked=model.settings.emailNotifications.ask id="emailNotifications.ask" name="emailNotifications.ask" }}
                      </td>
                    </tr>
                    <tr>
                      <td>When someone answers a question I asked</td>
                      <td class="text-center">
                        {{input type="checkbox" change=(action 'notificationChanged') checked=model.settings.notifications.answer id="notifications.answer" name="notifications.answer" }}                        
                      </td>
                      <td class="text-center">
                        {{input type="checkbox" change=(action 'emailNotificationChanged') checked=model.settings.emailNotifications.answer id="emailNotifications.answer" name="emailNotifications.answer" }}
                      </td>
                    </tr>
                    <tr>
                      <td>When someone compliments me</td>
                      <td class="text-center">
                        {{input type="checkbox" change=(action 'notificationChanged') checked=model.settings.notifications.compliment id="notifications.compliment" name="notifications.compliment" }}
                      </td>
                      <td class="text-center">
                        {{input type="checkbox" change=(action 'emailNotificationChanged') checked=model.settings.emailNotifications.compliment id="emailNotifications.compliment" name="emailNotifications.compliment" }}
                      </td>
                    </tr>
                    <tr>
                      <td>When someone requests to connect with me</td>
                      <td class="text-center">
                        {{input type="checkbox" change=(action 'notificationChanged') checked=model.settings.notifications.request id="notifications.request" name="notifications.request" }}
                      </td>
                      <td class="text-center">
                        {{input type="checkbox" change=(action 'emailNotificationChanged') checked=model.settings.emailNotifications.request id="emailNotifications.request" name="emailNotifications.request" }}
                      </td>
                    </tr>
                    <tr>
                      <td>When someone accepts my connection request</td>
                      <td class="text-center">
                        {{input type="checkbox" change=(action 'notificationChanged') checked=model.settings.notifications.accept id="notifications.accept" name="notifications.accept" }}
                      </td>
                      <td class="text-center">
                        {{input type="checkbox" change=(action 'emailNotificationChanged') checked=model.settings.emailNotifications.accept id="emailNotifications.accept" name="emailNotifications.accept" }}
                      </td>
                    </tr>
                    <tr>
                      <td>When someone sends me a message</td>
                      <td class="text-center">
                        {{input type="checkbox" change=(action 'notificationChanged') checked=model.settings.notifications.message id="notifications.message" name="notifications.message" }}
                      </td>
                      <td class="text-center">
                        {{input type="checkbox" change=(action 'emailNotificationChanged') checked=model.settings.emailNotifications.message id="emailNotifications.message" name="emailNotifications.message" }}
                      </td>
                    </tr>
                  </tbody>
                </table>  
                <div class="mt text-center">
                </div>            
              </div>
              <div class="tabs-panel space-filler {{active-tab 'ask' tab}}" id="ask">
                <form>
                  <div class="row">
                    <div class="columns medium-6 text-right">
                      <label class="middle">Turn ASK OFF</label>
                    </div>
                    <div class="columns medium-6">
                      <div class="switch">
                        {{input type="checkbox" change=(action settingsChanged) checked=model.settings.ask class="switch-iput" id="settings_ask" name="ask" }}
                        <label class="switch-paddle" for="settings_ask">
                          <span class="show-for-sr">Turn ASK OFF</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <p class="text-center">
                    By turning ASK off, you are blocking anyone from asking you questions. <br>
                    It will also disable you from asking questions.

                  </p>          
                </form>
              </div>
              <div class="tabs-panel space-filler {{active-tab 'views' tab}}" id="views">
                <form>
                  <div class="row">
                    <div class="columns medium-6 text-right">
                      <label class="middle">Turn Profile Views OFF</label>
                    </div>
                    <div class="columns medium-6">
                      <div class="switch">
                        {{input type="checkbox" change=(action settingsChanged) checked=model.settings.profileView class="switch-iput" id="settings_view" name="profileView" }}
                        <label class="switch-paddle" for="settings_view">
                          <span class="show-for-sr">Turn Profile Views OFF</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <p class="text-center">
                    Turning Profile Views off will also... Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                  </p>          
                </form>
              </div>            
            </div>            
          </div>
        </div>
    </div>
</div>
