<div class="page-heading align-center">
  <h1>Settings</h1>
  <div class="row columns medium-6 small-10">
    <p>
      Stay in control! Use these settings to manage your account.
    </p>
  </div>
</div>

<div class="row">
    <div class="columns">
        <div class="row collapse is-collapse-child brydge-tab brydge-form">

          <div class="medium-4 small-12 columns">
            {{#zf-tabs class="vertical" id="settings-tabs"}}
              <li data-tab='email' class="tabs-title {{active-tab 'email' tab}}">
                <a href="#email"><i class="fa fa-envelope-o" aria-hidden="true"></i>Email address</a>
              </li>
              <li data-tab='password' class="tabs-title {{active-tab 'password' tab}}">
                <a href="#password"><i class="fa fa-asterisk" aria-hidden="true"></i>Password</a>
              </li>
              <li data-tab='profile' class="tabs-title {{active-tab 'profile' tab}}">
                <a href="#profile"><i class="fa fa-share" aria-hidden="true"></i>Profile URL</a>
              </li>
              <li data-tab='notification' class="tabs-title {{active-tab 'notification' tab}}">
                <a href="#notification"><i class="fa fa-sticky-note" aria-hidden="true"></i>Notification settings</a>
              </li>
              <li data-tab='ask' class="tabs-title {{active-tab 'ask' tab}}">
                <a href="#ask"><i class="fa fa-quote-left" aria-hidden="true"></i>ASK settings</a>
              </li>
              <li data-tab='views' class="tabs-title {{active-tab 'views' tab}}">
                <a href="#views"><i class="fa fa-binoculars" aria-hidden="true"></i>Profile views</a>
              </li>
            {{/zf-tabs}}
          </div>
          <div class="medium-8 small-12 columns float-left">
            <div class="tabs-content vertical boxz" data-tabs-content="settings-tabs">
              <div class="tabs-panel header {{active-tab 'email' tab}}" id="email">
                <div class="row align-center">
                  <div class="columns medium-10">
                    <section>
                      <div class="spacer-3"></div>
                      <form class="brydge-form">
                        <div class="row columns">
                          <label>Current email: <a>{{model.user.email}}</a></label>
                          <p>Email cannot be changed in the BETA version. Sorry for the inconvenience.</p>
                        </div>
                      </form>
                    </section>
                  </div>
                </div>
              </div>
              <div class="tabs-panel header {{active-tab 'password' tab}}" id="password">
                <div class="row align-center">
                  <div class="columns medium-10">
                    <section>
                      <div class="spacer-2"></div>
                      {{form-update-password confirm="confirm"}}
                    </section>
                  </div>
                </div>
               </div>
              <div class="tabs-panel header {{active-tab 'profile' tab}}" id="profile">
                <div class="row align-center">
                  <div class="columns medium-10">
                    <section>
                      <div class="spacer-2"></div>
                      {{form-profile-url profile=profile confirm="confirm"}}
                    </section>
                  </div>
                </div>
              </div>
              <div class="tabs-panel header {{active-tab 'notification' tab}}" id="notification">
                <div class="row align-center">
                  <div class="columns medium-10">
                    <section>
                      <div class="spacer-2"></div>
                      <p class="hide">Email notifications are not available in the BETA version. Sorry for the inconvenience.</p>
                      {{partial "partials/table-email-notification-settings"}}
                    </section>
                  </div>
                </div>
              </div>
              <div class="tabs-panel header {{active-tab 'ask' tab}}" id="ask">
                <div class="row align-center">
                  <div class="columns medium-10">
                    <section>
                      <div class="spacer-3"></div>
                      <div class="switch">
                        <label class="middle">OFF</label>
                        {{input type="checkbox" change=(action settingsChanged) checked=setting.ask class="switch-iput" id="settings_ask" name="ask" }}
                        <label class="switch-paddle" for="settings_ask">
                          <span class="show-for-sr">Turn ASK OFF</span>
                        </label>
                        <label class="middle">ON</label>
                      </div>

                      <div class="row">
                        <div class="columns medium-5 text-right">
                        </div>
                        <div class="columns medium-2">
                        </div>
                        <div class="columns medium-5 text-left">
                        </div>
                      </div>
                      <p>
                        You can stop accepting questions by turning Ask OFF. When it's OFF, you will not be able to ask questions as well.
                      </p>
                    </section>
                  </div>
                </div>
              </div>
              <div class="tabs-panel header {{active-tab 'views' tab}}" id="views">
                <div class="row align-center">
                  <div class="columns medium-10">
                    <section>
                      <div class="spacer-3"></div>
                      <div class="switch">
                        <label class="middle">OFF</label>
                        {{input type="checkbox" change=(action settingsChanged) checked=setting.profileView class="switch-iput" id="settings_view" name="profile_view" }}
                        <label class="switch-paddle" for="settings_view">
                          <span class="show-for-sr">Turn Profile Views OFF</span>
                        </label>
                        <label class="middle">ON</label>
                      </div>
                      <p>
                        When Profile Views is ON, other users will also be able to see that you have visited their profile. When it's OFF, your activity will be kept private, but you will not be able to see who visited your profile either.
                      </p>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

{{dialog-box name="confirm" item=setting confirm=true title=title content=description}}
