
{{#each questions.answered as |item| }}
	<div class="box rounded question-box">
  	{{#if isCurrentUser}}
      <div class="menu-wrapper">
        <a data-toggle="dd-card-menu-{{item.id}}"><i class="icons ellipsis"></i></a>      
      </div>
      {{#zf-dropdown id=(concat 'dd-card-menu-' item.id) closeOnClick=true class="card-menu-dropdown"}}
        <ul class="menu">
          <li><a href="">Hide</a></li>
          <li><a href="">{{item.id}}</a></li>
        </ul>
      {{/zf-dropdown}}
    {{/if}}

    <div class="mb5">{{link-to item.from.content.name "profile" item.from.content.username class="user"}} asked {{link-to item.to.content.name "profile" item.to.content.username class="user"}}</div>
    <p class="timestamp">{{postDateFormat item.createdAt}}</p>	    
    <h2>{{item.content}}</h2>
    {{#zf-accordion-menu class="accordion-menu"}}
      <li>
        <ul class="no-bullet vertical nested">
          <li>
          	<p>{{{item.answer}}}</p>
          </li>
        </ul>
        <a class="more no-arrow"><span class="content-more">See Answer</span><span class="content-less">Hide Answer</span></a>
      </li>
    {{/zf-accordion-menu}}           
	</div>
{{/each}}