<div class="user section-main">
  <div class="avatar float-left" style={{htmlSafeImage item.avatar}}>
    <img src= {{item.avatar}} class="hide">
  </div>
  <div class="user-info">
    {{link-to item.fullName "profile" item.userid }}
    <div class="position">{{item.currentTitle}}</div>
    <div class="position"><strong>{{item.currentCompany}}</strong></div>
    <div class="position">{{item.location}}</div>
  </div>
</div>
{{#if isMe}}
  {{#link-to "messages.conversation" item.conversationid class="button success expanded"}}
    Message
  {{/link-to}}
{{else}}
  {{#unless isOwner}}
    {{#if isConnected}}
      {{#link-to "messages.conversation" item.friend.conversationid class="button success expanded"}}
        Message
      {{/link-to}}
    {{else}}
      {{#if isPending}}
        <div class="button expanded bordered">
          Connection Request Sent
        </div>
      {{else}}
        {{spinning-button clicked="connect" value="Connect" class="button expanded bordered" }}
      {{/if}}

    {{/if}}
  {{/unless}}
{{/if}}
