<div class="user section-main">
  <div class="avatar float-left" style={{htmlSafeImage user.profile.avatarUrl}}>
    <img src= {{user.profile.avatarUrl}} class="hide">
  </div>
  <div class="user-info">
    {{link-to user.profile.fullName "profile" user.id class="text-title"}}
    <div class="position">{{user.profile.career}}</div>
    <div class="position">{{user.profile.location}}</div>
  </div>
</div>
{{#unless isSelf}}
  {{#if isAccepted}}
    {{#if me}}
      {{#link-to "messages.conversation" item.conversationid class="button success expanded"}}
        Message
      {{/link-to}}
    {{else}}
      {{#link-to "messages.conversation" item.friend.conversationid class="button success expanded"}}
        Message
      {{/link-to}}
    {{/if}}
  {{else if isPending}}
    {{link-to "Connection Request Pending" "profile" user.id class="button bordered expanded button-green"}}
  {{else}}
    <button class="button expanded bordered" {{action "connect"}}>Connect</button>
  {{/if}}
{{/unless}}
