<div class="page-heading align-center mb-2">
  <h1><a href="{{href-to 'me.ask'}}">Ask</a>: Outbox</h1>
  <div class="row medium-6 columns">
    <p>
      Questions you have asked other users. If they’re answered, they will move to your public ASK page.
    </p>
  </div>
</div>
<div class="spacer-1"></div>

<div class="row">
  <div class="medium-7 small-12 columns">
    {{#each list as |item| }}
      {{ask-card-pending item=item}}
    {{else}}
      <div class="box">
        <section>Nothing to see here</section>
      </div>
    {{/each}}

    {{#brydge-scroller id="outbox" model=model onClick="load"}}
      {{#if isLoading}}
        <div class="brydge-loading"></div>
      {{/if}}
    {{/brydge-scroller}}



  </div>
  <div class="medium-5 small-12 columns sidebar">
    {{ partial 'partials/user-guide-box' }}
    {{ partial "footer"}}
  </div>
</div>


{{answer-form}}
