<div class="row"> 
  <div class="large-7 medium-7 columns">
    <div class="page-heading">      
      <h1>Questions: Outbox</h1>
      <p class="text-center">
      </p>                    
    </div>
    {{#each toPending as |item| }}
      <div class="box {{if (eq item.id qid) 'highlight'}}">
        <section>
          You asked {{link-to item.from.content.name "profile" item.from.content.id class="name"}}
          <div class="timestamp mb">{{timestamp item.createdAt}}</div>
          {{item.content}}
        </section>

      </div>
    {{else}}
      <div class="box">
        <section>Nothing to see here</section>
      </div>
    {{/each}}


  </div>
  <div class="large-5 medium-5 columns sidebar">
    {{ partial 'partials/user-guide-box' }}
    {{ partial "footer"}}
  </div>
</div>


{{answer-form}}
