<a data-toggle="dd-views" {{action 'clickProfile' notification.profileCount}}>
	{{#zf-tooltip title="Profile Views" vOffset=0}}
		<span class="alert badge">99</span>
			{{#if notification.profileCount}}
		<span class="alert badge">{{notification.profileCount}}</span>
	{{/if}}
	<i class="icons bino"></i>
	{{/zf-tooltip}}
	<div class="wrapper">
		<div class="triangle"></div>
	</div>
</a>

{{#zf-dropdown id="dd-views" class="dropdown-menu-bar" closeOnClick=true }}

	<div class="padding profile-view-settings">
		<div class="row collapse">
			<div class="columns">
				<strong>SEE WHO'S VIEWED YOUR PROFILE</strong>
				{{#if setting.profileView}}
					<p>Turning this ON will also let other users know you've seen their profile. You can turn it OFF in {{link-to "Settings" "settings" (query-params tab="views") }}.</p>
				{{else}}
					<p>Turning this ON will also let other users know you've seen their profile. You can turn it ON in {{link-to "Settings" "settings" (query-params tab="views") }}.</p>
				{{/if}}
			</div>
		</div>
	</div>
	<ul class="media-list no-bullet list-lined">
		{{#if setting.profileView}}
			{{#each notification.views as |item|}}
			<li {{action "selectView" item preventDefault=false }}
			class="{{if item.read false 'new-notification'}}">
				<div class="row">
					<div class="columns medium-8">
			      <div class="avatar" style={{htmlSafeImage item.target.profile.avatarUrl }}>
			        <img src= {{item.target.profile.avatarUrl}} class="hide">
			      </div>
			      <div class="user-info">
		          {{item.target.profile.firstName}} {{item.target.profile.lastName}}
			        <div class="position">{{item.title}} at {{item.company}}</div>
			      </div>
						
					</div>
					<div class="columns medium-4">
						{{ timestamp item.createdAt }}
					</div>
				</div>
			</li>
			{{/each}}
		{{else}}
			<li>
				<div class="empty-message">
					You have turned Profile Views off
				</div>
			</li>
		{{/if}}
	</ul>
	{{#if setting.profileView}}
		{{#link-to 'profile-views' class="footer-button button expanded"}}
			SEE ALL PROFILE VIEWS
		{{/link-to}}
	{{/if}}
{{/zf-dropdown}}
