<p>ratings</p>


<!-- {{rate-box
    content=model
    value=favouritePizza
    multiple=true
    placeholder="Choose some Pizzas"
}} -->

<!-- {{rate-box firstName='Hein' lastName='Zeya'}} -->


{{action-checkbox value=1 action="checkboxChanged"}}
{{action-checkbox value=2 action="checkboxChanged"}}
{{action-checkbox value=3 action="checkboxChanged"}}
{{action-checkbox value=4 action="checkboxChanged"}}
{{action-checkbox value=5 action="checkboxChanged"}}

{{typeahead-search
	id='industry'
	selection=industry 
	store=store
	label='Industry' 
	placeholder='Please select the industry'
	minimumInputLength=3
	action="selectionChanged"}}

{{typeahead-search 
    id='occupOne'
	selection=occupOne 
	store=store
	label='Occupation One' 
	placeholder='Please select the industry'
	minimumInputLength=3
	action="selectionChanged"}}

<p>Your Industry:<br/><b>Id</b>: {{industry.id}}<br/><b>Name</b>: {{industry.text}}<br/><b>Description</b>: {{industry.description}}</p>


{{action-input action="inputChanged" id='username'}}
{{action-input action="inputChanged" id='password' type='password'}}
