<div class="row">
  <div class="medium-6 medium-centered columns">
    <div class="page-heading">
        <h1><a href="{{href-to 'profile' profile.uid}}" class="text-title">{{profile.firstName}}</a>'s Following</h1>
      <p class="text-center">
        These are the users <span class="text-title">{{ profile.firstName}}</span> is connected to.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="mb">
    <ul class="tab-controls brydge-tab-blue tabs">
      <li data-tab='tab_1' class="tabs-title is-active">
        <a aria-selected="true">Following</a>
      </li>
      <li data-tab='tab_2' class="tabs-title">
        <a href="{{href-to 'followers' profile.uid}}">Followers</a>
      </li>
    </ul>
  </div>
</div>

{{partial "partials/list-follow"}}
