{{#zf-reveal id="sharePostModal" overlay=true class="post-sharer box small"}}
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
  <section class="title">
    <h4>Share {{link-to sharePost.post.user.profile.fullName "profile" sharePost.post.user.id }}'s post</h4>
  </section>
  <section class="header">
    <form class="form-input">
      <div class="avatar circle" style={{htmlSafeImage sessionAccount.account.profile.avatarUrl}}>
        <img src= {{avatarUrl}} class="hide">
      </div>
      <div class="input-wrapper">
        {{textarea
          value=sharePost.valueText
          key-up="edit"
          class="textarea content-editable"
          placeholder="Would you like to say something about this?"
          }}
      </div>
    </form>
  </section>
  <section>
    <div class="newsfeed-item">
      <div>
        {{#if sharePost.post.content}}{{{ sharePost.post.content }}}{{/if}}
      </div>

      {{#if sharePost.post.title}}
        {{newsfeed-media model=sharePost.post }}
      {{/if}}
    </div>
    <div class="row collapse">
      <div class="columns medium-8">
        <div class="wrapper">
          <a class="dropdown-button button button-clear" {{action "toggle"}}>
            Tag Industry Channel
            <i class="icons caret"></i>
          </a>
        </div>
      </div>
      <div class="columns medium-4">
        <button class="success button rounded float-right" type="submit" {{action "submit"}}>Broadcast</button>
      </div>
    </div>
  </section>
    {{#zf-accordion id="postSharerChannelSelect" class="accordion-picker brydge-accordion" allowAllClosed=true}}
    <li class="accordion-item" data-accordion-item>
      <div class="accordion-content" data-tab-content>
        {{partial "partials/channel-select"}}
      </div>
    </li>
  {{/zf-accordion}}
  <section class="section-footer bg-gray">
    {{#if categories}}
      <div class="broadcast-list">
          <strong class="broadcast-title">Broadcasting to: </strong>
          <strong class="text-gray">Connections{{#each categories as |item|}}
                {{~ concat '; ' item.text ~}}
              {{/each}}
          </strong>
      </div>
    {{else}}
      <div class="broadcast-list"><strong class="broadcast-title">Broadcasting to: </strong><strong class="text-gray">Connections Only</strong></div>
    {{/if}}
  </section>
{{/zf-reveal}}
