<a data-toggle="dd-requests">
	{{#zf-tooltip title="Connection Requests" vOffset=0}}
	{{#if notification.requests}}
		<span class="alert badge">{{notification.requests.length}}</span>
	{{/if}}
	<i class="icons user"></i>
	{{/zf-tooltip}}
	<div class="wrapper">
		<div class="triangle"></div>
	</div>
</a>
{{#zf-dropdown id="dd-requests" class="dropdown-topbar" closeOnClick=true }}

	<ul class="media-list no-bullet list-lined">
		{{#each notification.requests as |item|}}
		<li>
			<div class="media-object">
				<div class="media-object-section">
					<div class="thumbnail">
						<img src= {{item.target.profile.avatarUrl}}>
					</div>
				</div>
				<div class="media-object-section main-section">
					<a class="name">{{item.target.profile.firstName}} {{item.target.profile.lastName}}</a>
					<p class="position">
						{{item.target.profile.currentTitle}}<br>
						{{item.target.profile.currentCompany}}
					</p>
				</div>
				<div class="media-object-section actions-section">
          <a class="button expanded success" {{action "acceptConnection" item preventDefault=false }}>ACCEPT</a>
          <a class="button expanded default" {{action "rejectConnection" item preventDefault=false }}>DELETE</a>

				</div>
			</div>
		</li>
		{{/each}}
		{{#unless notification.requests }}
		<li>
			<div class="empty-message">No pending connection requests</div>
		</li>
		{{/unless}}
	</ul>
	{{#link-to 'requests' class="footer-button success button expanded"}}
		SEE ALL CONNECTION REQUESTS
	{{/link-to}}
{{/zf-dropdown}}
