<a data-toggle="dd-requests">
	{{#zf-tooltip title="Connection Requests" vOffset=0}}
	{{#if notification.request}}
		<span class="alert badge">{{notification.requests.length}}</span>
	{{/if}}
	<i class="icons user"></i>
	{{/zf-tooltip}}
	<div class="wrapper">
		<div class="triangle"></div>
	</div>
</a>
{{#zf-dropdown id="dd-requests" class="dropdown-topbar" closeOnClick=true }}

	<ul class="media-list no-bullet list-lined">
		{{#each notification.requests as |item|}}
		<li>
			<div class="media-object">
				<div class="media-object-section">
					<div class="thumbnail">
						<img src= "assets/avatar-1.jpg">
					</div>
				</div>
				<div class="media-object-section main-section">
					<a class="name">{{item.from.name}}</a>
					<p class="position">
						{{item.from.profile.currentTitle}}<br>
						{{item.from.profile.currentCompany}}
					</p>
				</div>
				<div class="media-object-section actions-section">
          <a class="button expanded success" {{action "accept" item.from.userid }}>ACCEPT</a>
          <a class="button expanded default" {{action "reject" item.from.userid }}>DELETE</a>

				</div>
			</div>
		</li>
		{{/each}}
	</ul>
	{{#link-to 'requests' class="footer-button button expanded"}}
		SEE ALL CONNECTION REQUESTS
	{{/link-to}}
{{/zf-dropdown}}
