<div class="row ask wrapper">
	{{#unless profile.settings.ask}}
	<div class="overlay-wrapper">
		<div class="overlay">
		</div>
	</div>
	{{/unless}}

  <div class="medium-5 columns sidebar">
    {{profile-box profile=profile class="mb20"}}
    {{partial 'partials/profile-sidebar'}}
  </div>
  <div class="medium-7 columns">
  	{{profile-menu profile=profile}}
  	{{#if isOwner}}
	    <div class="page-heading">
				<h1>YOUR ASK PAGE</h1>
				<p class="text-center">
					{{#if profile.settings.ask}}
						You are currently accepting questions. To disable the ASK feature go to {{link-to "Settings" "settings" (query-params tab="ask") }}.
					{{else}}
						You are currently not accepting questions. To enable the ASK feature go to {{link-to "Settings" "settings" (query-params tab="ask") }}.
					{{/if}}
				</p>
				<p class="text-center">
					Note: <i>Hidden Questions</i> and questions <i>Pending Answers</i> are only visible to you
				</p>
			</div>
		{{else}}
			{{#unless asked}}
	      <form {{action 'submit' on='submit'}} class="box user-top-form mb20">
	        <section>

	        	{{form-text-counter placeholder="Ask anyone a professional question. If answered, it will appear on both profiles." limit=140 value=question rows=3 showCount=true class="mb"}}

						<div class="row">
							<div class="columns medium-8 text-gray">

							</div>
							<div class="columns medium-4 text-right">
								<button class="button btn success">Ask</button>
							</div>
						</div>
	        </section>
	      </form>
			{{else}}
				<p>
					Your question has been sent.
				</p>
			{{/unless}}
		{{/if}}

    <div class="mb">

      {{#zf-tabs id="ask-tabs" class="tab-controls"}}
        <li data-tab='live' class="tabs-title is-active">
          <a href="#question_answered" aria-selected="true" >Questions: Answered</a>
        </li>
        <li data-tab='curated' class="tabs-title">
          <a href="#question_asked">Questions: Asked</a>
        </li>
      {{/zf-tabs}}

		</div>
		<div class="tabs-content questions" data-tabs-content="ask-tabs">
			<div class="tabs-panel {{active-tab 'questions' tab}}" id="question_answered">
				{{ partial 'ask/to'}}
			</div>
			<div class="tabs-panel {{active-tab 'asked' tab}}" id="question_asked">
			    {{ partial 'ask/from'}}
			</div>
		</div>
  </div>
</div>

{{answer-form}}
