<div class="row">
	<div class="columns">
		<div class="top-banner bg-gray box">
			<div class="columns">
				<h1>ASK <span class="text-upper">{{profile.firstName}}</span></h1>
				<p><span class="text-title">{{profile.firstName}}</span> is currently taking your questions. Below are the questions professionals have asked {{profile.firstName}}, which he's replied to. Use ASK to interact with {{profile.firstName}} one-on-one. If he responds, the question and answer will be displayed on both your profiles. </p>				
				<p>If you're not sure how to use this, see our tips {{link-to "here" "user-guide"}}.</p>
			</div>
		</div>		
	</div>	
</div>

<div class="row ask wrapper">
<!-- 	{{#unless profile.settings.ask}}	
	<div class="overlay-wrapper">
		<div class="overlay">
			<div class="jumbotron">
				<strong>User has turned ASK off</strong>
			</div>
		</div>
	</div>
	{{/unless}}
 -->
  <div class="medium-7 columns">
		<div class="mb">
			{{#zf-tabs}}
				<li class="medium-6 tabs-title is-active">
					<a href="#question_answered" class="button expanded text-upper" aria-selected="true">Questions {{profile.firstName}} has answered</a>
				</li>
				<li class="medium-6 tabs-title">
					<a href="#question_asked" class="button expanded text-upper">Questions {{profile.firstName}} has asked&nbsp;&nbsp;&nbsp;&nbsp;</a>
				</li>
			{{/zf-tabs}}
		</div>
		<div class="tabs-content questions" data-tabs-content="example-tabs">
			<div class="tabs-panel is-active" id="question_answered">
				  {{ partial 'ask/to'}}
			</div>
			<div class="tabs-panel" id="question_asked">
					{{ partial 'ask/from'}}
			</div>
		</div>
  </div>
  <div class="medium-5 columns sidebar">
  	<div class="wrapper">
			{{ ask-dropdown name="dd-ask-form" model=profile from=me class="mb"}}
		</div>

    {{render "progress-box"}}
    {{render "footer"}}
  </div>
</div>

