<div class="row column">
	<div class="ask-top-banner mb5 box">
		<h1>ASK @{{model.username}}</h1>
		<p>{{model.username}} is currently taking your questions. Below are the questions professionals have asked {{model.username}}, which he's replied to. Use ASK to interact with {{model.username}} one-on-one. If he responds, the question and answer will be displayed on both your profiles. </p>

		<p>If you're not sure how to use this, see our tips <a href="">here</a>.</p>
	</div>

	<div class="row">
	  <div class="large-8 medium-8 columns">
	  	<div class="ask-box box">
			<!-- <form {{action 'ask' model.userid model.ownerid question on='submit'}}>
				{{input value=model.userid type="hidden"}}
				{{input value=model.ownerid type="hidden"}}
			 	{{textarea value=question placeholder='Ask' rows="4"}}
			 	<div class="row">
				 	<div class="medium-7 columns">
				 		<p class="dim-text">
				 			Ask anyone a professional question. <br>
							If answered, it will appear on both profiles.
						</p>
						<small><a href="">Tips on how to use ASK</a></small>
				 	</div>
				 	<div class="medium-3 columns text-right user dim-text">
				 		@Jon
				 	</div>
				 	<div class="medium-2 columns">
				 		<button type="submit" class="button expanded">ASK</button>	
				 	</div>
			 	</div>			 
			</form> -->

			{{ ask-box store=store model=model}}
		</div>
		<div class="questions">
			{{ questions-list model=model.asks answer=false }}
			
			<!-- <div class="box">
				<a href="">Nikhil Charan</a> asked <a href="">Jon Wayne</a>
				<h1>What is your opinion on the latest WHO regulations on Soda advertising?</h1>
				<a href="">See Answer</a>
			</div>
			<div class="box">
				<a href="">Nikhil Charan</a> asked <a href="">Jon Wayne</a>
				<h1>What is your opinion on the latest WHO regulations on Soda advertising?</h1>
				<a href="">See Answer</a>
			</div>
			<div class="box">
				<a href="">Nikhil Charan</a> asked <a href="">Jon Wayne</a>
				<h1>What is your opinion on the latest WHO regulations on Soda advertising?</h1>
				<a href="">See Answer</a>
			</div> -->
		</div>
	  </div>
	  <div class="large-4 medium-4 columns sidebar">
		<div class="box">
			<h5 class="box-header">Your Profile</h5>
			<div class="columns">
	  			<label>Completeness:</label>
	  			<div class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
				  <span class="progress-meter" style="width: 50%">
				    <p class="progress-meter-text">50%</p>
				  </span>
				</div>
	  			<label>Activity:</label>
	  			<div class="progress" role="progressbar" tabindex="1" aria-valuenow="10" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
				  <span class="progress-meter" style="width: 15%">
				    <p class="progress-meter-text">15%</p>
				  </span>
				</div>
				<p class="dim-text">Complete and active profiles have a higher chance of being surfaced and noticed.</p>
				<small><a href="">See how you can be more active on Brydge.</a></small>
			</div>
		</div>
		<!-- {{render "sidebar-footer"}} -->
	  </div>
	</div>

	
	<!-- {{ ask-box store=store model=model}} -->

</div>

