	<form class="channel-select">
		<div class="row collapse">
			<div class="columns medium-5">
				<p >By tagging industries to your broadcasts you can help other professionals discover you</p>
			</div>
			<div class="columns medium-7 wrapper">
				<section>
					<div class="sub-title mb5">Tag Industry Channels</div>
						<ul class="no-bullet">
							{{#if profile.industryOneId}}
								<li>
									{{action-checkbox-bind value=profile.industryOneId text=profile.industryOneName action="checkboxChanged" name="industryOneId" checked=industryOneId }}
								</li>
							{{/if}}
							{{#if profile.industryTwoId}}
								<li>
									{{action-checkbox-bind value=profile.industryTwoId text=profile.industryTwoName action="checkboxChanged" name="industryTwoName" checked=industryTwoId }}
								</li>
							{{/if}}
							{{#if profile.industryThreeId}}
								<li>
									{{action-checkbox-bind value=profile.industryThreeId text=profile.industryThreeName action="checkboxChanged" name="industryThreeName" checked=industryThreeId }}
								</li>
							{{/if}}
						</ul>
					<small>
					{{#if isIndustry ~}}
						{{link-to "Change Industries" "me.edit" (query-params tab="industry")}}
					{{~ else ~}}
						{{link-to "Add Industries" "me.edit" (query-params tab="industry") ~}}
					{{/if}}
					</small>

				</section>
			</div>
		</div>
	</form>
