	<form class="channel-select">
		<div class="row collapse">
			<div class="columns medium-6">
				<section>
					<div class="sub-title">Your Business Industry
						({{#if profile.industryOneId ~}}
							{{link-to "Edit" "me.edit"}}
						{{~ else ~}}
							{{link-to "Add" "me.edit" ~}}
						{{/if ~}})</div>
						{{#if profile.industryOneId}}
						<ul class="no-bullet content-pad">
							<li>
								{{action-checkbox-bind value=profile.industryOneId text=profile.industryOneName action="checkboxChanged" name="industryOneId" checked=industryOneId }}
							</li>
						</ul>
						{{/if}}
				</section>
			</div>
			<div class="columns medium-6">
				<section>
					<div class="sub-title">Your Occupational Industry
						({{#if isOccupational ~}}
							{{link-to "Edit" "me.edit"}}
						{{~ else ~}}
							{{link-to "Add" "me.edit" ~}}
						{{/if}})</div>
					{{#if isOccupational }}
						<ul class="no-bullet content-pad">
							<li>
								{{action-checkbox-bind value=profile.industryTwoId text=profile.industryTwoName action="checkboxChanged" name="industryTwoName" checked=industryTwoName }}
							</li>
							<li>
								{{action-checkbox-bind value=profile.industryThreeId text=profile.industryThreeName action="checkboxChanged" name="industryThreeName" checked=industryThreeName }}
							</li>
						</ul>
					{{/if}}
				</section>
			</div>
		</div>
	</form>
