	<form class="channel-select">
		<div class="row collapse">
			<div class="columns medium-5 small-12">
				<p>Is your post relevant to one of your industries? Tag it. Note: irrelevant tags will lower its reach.</p>
			</div>
			<div class="columns medium-7 small-12 wrapper">
				<section>
					<div class="sub-title mb5">Tag Industry Channels</div>
					<ul class="no-bullet">
						{{#each industries as |item|}}
						<li>
							{{action-checkbox-bind value=item.id text=item.text action="checkboxChanged" name=item.id checked=item.checked }}
						</li>
						{{/each}}
					</ul>
					<small>
						{{#if isIndustry ~}}
							{{#if isAddOrChange}}
								<a href="{{href-to 'me.edit' (query-params tab="industry")}}" class="text-gray">Add or Change Industries</a>
							{{else}}
								<a href="{{href-to 'me.edit' (query-params tab="industry")}}" class="text-gray">Change Industries</a>
							{{/if}}
						{{~ else ~}}
							<a href="{{href-to 'me.edit' (query-params tab="industry")}}" class="text-gray">Add Industries</a>
						{{/if}}
					</small>
				</section>
			</div>
		</div>
	</form>
