	<form class="channel-select">
		<div class="row collapse">
			<div class="columns medium-5">
				<p >By tagging industries to your broadcasts you can help other professionals discover you</p>
			</div>
			<div class="columns medium-7 wrapper">
				<section>
					<div class="sub-title mb5">Tag Industry Channels</div>
						<ul class="no-bullet">
							{{#each industries as |item|}}
							<li>
								{{action-checkbox-bind value=item.id text=item.text action="checkboxChanged" name=item.id checked=item.checked }}
							</li>
							{{/each}}
						</ul>
					<small>
					{{#if isIndustry ~}}
						{{#if isAddOrChange}}
							{{link-to "Add or Change Industries" "me.edit" (query-params tab="industry")}}
						{{else}}
							{{link-to "Change Industries" "me.edit" (query-params tab="industry")}}
						{{/if}}
					{{~ else ~}}
						{{link-to "Add Industries" "me.edit" (query-params tab="industry") ~}}
					{{/if}}
					</small>

				</section>
			</div>
		</div>
	</form>
