<div class="row">
	<div class="columns">
		<label>
			School
			{{form-input model=item valuePath='school'}}
		</label>
	</div>
	<div class="columns medium-8">
	</div>
</div>
<div class="row">
	<div class="columns">
		<label>
			Location
			{{form-input model=item valuePath='location'}}
		</label>
	</div>
</div>
<div class="row">
	<div class="columns">
		<label>
			Degree / Diploma / Certification
			{{form-input model=item valuePath='degree'}}
		</label>
	</div>
</div>
<div class="row">
	<div class="columns">
		<label>
			Year of Graduation {{item.endAt}}
			{{form-input-month-year value=item.endAt type="year" maxYear=maxYear}}
		</label>
	</div>
</div>
