<form {{action "authenticate" on='submit'}} class="brydge-form micro-forms">
  <div class="row column">
    {{input placeholder="Email" value=email}}
    {{input type="password" placeholder="Password" value=password}}
    <button class="button success" disabled={{isInvalid}} type="submit">LOG IN</button>

    <a href="{{href-to 'forgot-password'}}" class="float-right button">Forgot your password?</a>
  </div>
</form>
