<form {{action 'authenticate' on='submit'}} class="brydge-form micro-forms">
  <div class="row column">
    {{input id='email' placeholder="Email" value=email}}
    {{input type='password' id="password_field" placeholder="Password" value=password}}
    <button class="button success" disabled={{isInvalid}} type="submit">LOG IN</button>

    {{link-to "Forgot your password?" "forgot-password" class="float-right button"}}
  </div>
</form>
