<div class="row">
	<div class="columns">
		<label>
			Title
			{{form-input model=item valuePath="title"}}
		</label>
	</div>
</div>
<div class="row">
	<div class="columns">
		<label>
			Company
			{{form-input-autocomplete
					api="companies/"
					model=item
					valuePath="company"
					selected=item.company}}
		</label>
	</div>
</div>
<div class="row">
	<div class="columns">
		<label>
			Location
			{{form-input-location
					model=item
					valuePath="location"
					selected=item.location}}
		</label>
	</div>
</div>
<div class="row">
	<div class="columns">
		<label>
			Start Date
		</label>
		<div class="row">
			<div class="columns medium-5">{{form-input-month-year value=item.startFrom}}</div>
			<div class="columns medium-3">{{form-input-month-year value=item.startFrom type="year"}}</div>
			<div class="columns"></div>
		</div>
	</div>
</div>
<div class="row">
	<div class="columns">
		<label>
			End Date
		</label>
		<div class="row">
			<div class="columns medium-5">{{form-input-month-year value=item.endAt disabled=item.currentCompany}}</div>
			<div class="columns medium-3">{{form-input-month-year value=item.endAt type="year" disabled=item.currentCompany}}</div>
			<div class="columns medium-4">
				<div class="checkbox current-job">
					<label>
						{{input type="checkbox" name="currentCompany" checked=item.currentCompany}} Current Job
					</label>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="columns">
	</div>
</div>
<div class="row">
	<div class="columns">
		<label>
			Description
		</label>
		{{form-text-counter limit=2000 value=item.content rows=10 }}
	</div>
</div>
