<form class="brydge-form micro-forms mb20" autocomplete="false" >
  <div class="row column">
    <div class="row">
      <div class="columns medium-6">
        {{form-input model=form valuePath="firstName" placeholder="First Name"}}
      </div>
      <div class="columns medium-6">
        {{form-input model=form valuePath="lastName" placeholder="Last Name"}}
      </div>
      <div class="columns">
        {{form-input-location
            model=form
            valuePath="location"
            placeid=form.placeid
            selected=form.location
            onItemSelected="onLocationSelect"
            placeholder="City"}}


      </div>
      <fieldset class="large-6 columns">
        <label for="gender_2" class="inline">{{action-radio id="gender_2" value="female" htmlChecked=form.gender name="gender" action="onChecked" }} Female</label>
        <label for="gender_1" class="inline">{{action-radio id="gender_1" value="male" htmlChecked=form.gender name="gender" action="onChecked" required=true}} Male</label>
      </fieldset>
      <div class="columns">
        {{form-input model=form valuePath="email" placeholder="Email" disabled=true}}
      </div>
      <div class="columns">
        {{form-input type="password" model=form valuePath="password" placeholder="Create Password"}}
      </div>
      <div class="columns">
        {{input-date-picker selected=form.dob value=form.dob}}
        {{form-input model=form valuePath="dob" placeholder="DOB" class="hide"}}
      </div>
    </div>
    <p>By signing up to the service you are agreeing to our <a href="{{href-to 'terms-of-use'}}">Terms of Use</a> and our <a href="{{href-to 'privacy-policy'}}">Privacy Policy</a></p>
    <button class="button success rounded" disabled={{v-get form 'isInvalid'}} {{ action "register" }} type="submit">Create Account</button>
  </div>
</form>
