<form class="micro-forms mb20">
  <div class="row column">
    <div class="text-center">
      <a href="/"><img class="logo" src="assets/brydge-blue.svg"></a>
    </div>
    <div class="row">
      <div class="columns medium-6">
        {{form-input model=form valuePath="firstName" placeholder="First Name"}}
      </div>
      <div class="columns medium-6">
        {{form-input model=form valuePath="lastName" placeholder="Last Name"}}
      </div>
      <div class="columns">
        {{form-input model=form valuePath="location" placeholder="City"}}
      </div>
      <fieldset class="large-6 columns">
        <label for="gender_1" class="inline">{{action-radio id="gender_1" value="male" htmlChecked=form.gender name="gender" action="onChecked" required=true}} Male</label>
        <label for="gender_2" class="inline">{{action-radio id="gender_2" value="female" htmlChecked=form.gender name="gender" action="onChecked" }} Female</label>
      </fieldset>
      <div class="columns">
        {{form-input model=form valuePath="email" placeholder="Email"}}
      </div>
      <div class="columns">
        {{input name="confirm_email" placeholder="Re-enter email" value=confirm_email}}
      </div>
      <div class="columns">
        {{form-input type="password" model=form valuePath="password" placeholder="Password"}}        
      </div>
    </div>
    <p>By signing up to the service you are agreeing to our <a>Terms of User</a> and our <a>Privacy Policy</a></p>
    <button class="button success rounded" disabled={{v-get form 'isInvalid'}} {{ action "register" }} type="submit">Create Account</button>
  </div>
</form>
