<div class="box rounded profile overflow">
  <ul class="no-bullet list-lined no-margin">
    <li class="hover-edit hover-edit-absolute">
      <div class="profile-industry">
          <div class="icon-wrapper">
            <i class="icons building"></i>
          </div>
          <div class="content">
            <a href="">{{model.industry}}</a>
          </div>        
      </div>   
      {{#link-to "me.edit" model.id (query-params tab="industry")}}
        <i class="icons pencil"></i>       
      {{/link-to}}
    </li>
    <li class="hover-edit hover-edit-absolute">
      <div class="profile-industry">
          <div class="icon-wrapper">
            <i class="icons briefcase"></i>
          </div>
          <div class="content">
            <a href="">{{model.occupationOne}}</a>
            <a href="">{{model.occupationTwo}}</a>
          </div>
      </div>
      {{#link-to "me.edit" model.id (query-params tab="occupindustry") }}       
        <i class="icons pencil"></i>
      {{/link-to}}
    </li>
  </ul>
</div>

{{#if latestQuestion}}
  <div class="box rounded question-box">
    <div class="padding wrapper">
      <div class="mb5">{{link-to latestQuestion.from.content.name "profile" latestQuestion.from.content.username class="user" }} asked {{link-to latestQuestion.to.content.name "profile" latestQuestion.to.content.username class="user"}}</div>
      <p class="timestamp">{{timestamp latestQuestion.createdAt}}</p>          

      <h2>{{latestQuestion.content}}</h2>
      {{#zf-accordion-menu class="accordion-menu"}}
        <li>
          <ul class="no-bullet vertical nested">
            <li>
              <p>{{{latestQuestion.answer}}}</p>
            </li>
          </ul>
          <a class="more no-arrow"><span class="content-more" disabled=true>See Answer</span><span class="content-less">Hide Answer</span></a>
        </li>
      {{/zf-accordion-menu}}           

    </div>
    
    <div>
      {{link-to "see more questions" 'me.ask'  class="success button expanded"}}
    </div>
  </div>
{{/if}}

<div class="box rounded snapshot hover-edit">
  <h5 class="box-header">Snapshot 
    {{#link-to "me.edit" model.id (query-params tab="snapshot")}}       
      <i class="icons pencil pull-right"></i>
    {{/link-to}}
  </h5>
  <div class="columns">
    {{model.snapshot}}
  </div>
  {{#unless model.snapshot}}
    <div class="empty-message">
      {{model.firstName}} hasn't added a Snapshot
    </div>
  {{/unless}}
</div>

<div class="box rounded compliments">
  <h5 class="box-header">Compliments</h5>
  {{#if latestCompliment}}
  <ul class="box-list no-bullet">
    <li>
      <div class="title">{{latestCompliment.title}}</div>
      <p>{{latestCompliment.content}}</p>            
      <span>Posted by</span> <a>{{latestCompliment.from.name}}</a>
    </li>
  </ul> 
  {{else}}
  <div class="empty-message">
    {{model.firstName}} hasn't received any Compliments
  </div>
  {{/if}}

  {{#if latestCompliment}}
  <div class="box-footer">
    {{#if isOwner }}
      {{link-to 'See all' 'me.compliments'}}
    {{else}}
      {{link-to 'See all' 'compliments' latestCompliment.to.username}}
    {{/if}}

    {{#if isConnected}}
      <a class="float-right" data-open="complimentModal">Post a compliment</a>
    {{/if}}
  </div>   
  {{else}}
    {{#if isConnected}}
    <div class="box-footer">
      <a class="float-right" data-open="complimentModal">Post a compliment</a>
    </div>
    {{/if}}  
  {{/if}}   

</div>

<div class="box rounded work-history hover-edit">
  <h5 class="box-header">Work History
    {{#link-to "me.edit" model.id (query-params tab="work")}}       
      <i class="icons pencil pull-right"></i>
    {{/link-to}}
  </h5>
  {{#if experiences}}
  {{ list-experience model=experiences class="sidebox box-list" }}
  {{else}}
    <div class="empty-message">
      {{model.firstName}} hasn't added any Work History
    </div>
  {{/if}}
</div>

<div class="box rounded academia hover-edit">
  <h5 class="box-header">Academia
    {{#link-to "me.edit" model.id (query-params tab="academia")}}       
      <i class="icons pencil pull-right"></i>
    {{/link-to}}
  </h5>
  {{#if educations}}
  {{ list-academia model=educations class="sidebox box-list" }}
  {{else}}
    <div class="empty-message">
      {{model.firstName}} hasn't added any Academic Information
    </div>
  {{/if}}
</div>

<div class="box rounded languages hover-edit">
  <h5 class="box-header">Languages
    {{#link-to "me.edit" model.id (query-params tab="language")}}       
      <i class="icons pencil pull-right"></i>
    {{/link-to}}
  </h5>
    {{#if languages}}
    {{list-languages model=languages class="sidebox box-list"}}      
    {{else}}
      <div class="empty-message">
        {{model.firstName}} hasn't added any Languages
      </div>
    {{/if}}
</div>

<div class="box rounded hover-edit">
  <h5 class="box-header">Interests
    {{#link-to "me.edit" model.id (query-params tab="interest")}}       
      <i class="icons pencil pull-right"></i>
    {{/link-to}}
  </h5>
  {{#if interests}}
  <div class="columns">
    <p>
      {{#each interests as |item index|}}
        {{#if index~}}
          , {{item.content~}}
        {{else}}
          {{item.content~}}
        {{/if}}
      {{/each}}          
    </p>
  </div>
  {{else}}
    <div class="empty-message">
      {{model.firstName}} hasn't added any Interests
    </div>
  {{/if}}
</div>

{{render "progress-box"}}
{{render "footer"}}
