<div class="wrapper">
  <div class="profile-actions {{if isOwner 'connected'}} {{if isConnected 'connected' }}">
    {{#if isOwner }}
      <div class="table-cell">
        {{link-to "Edit Profile" "me.edit" class="button large rounded expanded"}}
      </div>
      <div class="table-cell">
        {{link-to "Settings" "settings" class="button large rounded expanded" }}
      </div>
    {{else}}
      <div class="table-cell cell-connected">
        {{spinning-button clicked="onClickedConnect" value=connectionStatus class="button large rounded connect success"}}
      </div>
      <div class="table-cell">
        {{link-to "Message" "messages.conversation" profile.conversationid class="button large rounded expanded"}}
      </div>
      <div class="table-cell">
        {{ask-dropdown model=profile from=me action='goToAsk' name="dd-ask-form1"}}
      </div>
    {{/if}}
    <div class="table-cell">
      <a class="button large rounded expanded" data-toggle="dd-public-options">
        <i class="icons ellipsis"></i>
        <div class="wrapper">
          <div class="triangle triangle-gray"></div>
        </div>
      </a>

      {{#zf-dropdown id="dd-public-options" class="dropdown-gray" closeOnClick=true}}
        <ul class="no-bullet menu-list menu-list-menu">
          {{#if isOwner}}
            <li>{{link-to "Connections" "me.connections"}}</li>
            <li>{{link-to "Your ASK Page" "me.ask"}}</li>
          {{else}}
            <li>{{#link-to "connections" profile.id }} {{profile.firstName}}'s connection ({{ activeConnections.length }}){{/link-to}}</li>
            <li>{{#link-to "ask" profile.id }} {{profile.firstName}}'s ASK Page{{/link-to}}</li>
            <li>{{#link-to "compliments" profile.id }} Compliment {{profile.firstName}}{{/link-to}}</li>
            <li><a href="" class="warning" {{action 'onClickedDisconnect'}}>Disconnect from {{profile.firstName}}</a></li>
          {{/if}}
        </ul>
      {{/zf-dropdown}}

    </div>
  </div>


</div>