<div class="box">
  <section class="hoverable">
    <h4><i class="fa fa-building-o" aria-hidden="true"></i>
      Business Industry
      {{#if isOwner}}
        {{#link-to "me.edit" (query-params tab="industry") class="editable"}}
          <i class="fa fa-pencil-square-o"></i>
        {{/link-to}}
      {{/if}}
    </h4>
    {{#if profile.industryOneName}}
      <strong><a href="">{{profile.industryOneName}}</a></strong>
    {{else}}
      {{#if isOwner}}
        <div class="empty-message">
          Add Business Industry
        </div>
      {{else}}
        <div class="empty-message">
          {{profile.firstName}} hasn't added a Business Industry
        </div>
      {{/if}}
    {{/if}}
  </section>

  <section class="hoverable">
    <h4><i class="fa fa-briefcase" aria-hidden="true"></i>
      Occupational Industry
      {{#if isOwner}}
        {{#link-to "me.edit" (query-params tab="occupindustry") class="editable" }}
          <i class="fa fa-pencil-square-o"></i>
        {{/link-to}}
      {{/if}}
    </h4>
    {{#if isNotEmptyOccupation}}
      <div>
        <strong><a href="">{{profile.industryTwoName}}</a></strong>
      </div>
      <div>
        <strong><a href="">{{profile.industryThreeName}}</a></strong>
      </div>
    {{else}}
      {{#if isOwner}}
      <div class="empty-message">
        Add Occupational Industry
      </div>
      {{else}}
      <div class="empty-message">
        {{profile.firstName}} hasn't added an Occupational Industry
      </div>
      {{/if}}
    {{/if}}
  </section>

  <section class="hoverable">
    <h4><i class="fa fa-camera-retro" aria-hidden="true"></i>
      Snapshot
      {{#if isOwner}}
        {{#link-to "me.edit" (query-params tab="snapshot") class="editable"}}
          <i class="fa fa-pencil-square-o"></i>
        {{/link-to}}
      {{/if}}
    </h4>
    {{#if profile.snapshot}}
      <p class="paragraph snapshot">{{profile.snapshot}}</p>
    {{else}}
      <div class="empty-message">
        {{profile.firstName}} hasn't added a Snapshot
      </div>
    {{/if}}
  </section>
</div>

{{#if latestQuestion}}
<div class="box rounded question-box">
  <div class="section-group section-accordion-group">
    <section>
      <div class="section-main">
        <h4><i class="fa fa-quote-left" aria-hidden="true"></i>Ask</h4>
        <div class="user mb">
          <div class="avatar" style={{htmlSafeImage latestQuestion.from.profile.avatarUrl }}>
            <img src= {{latestQuestion.from.profile.avatarUrl}} class="hide">
          </div>
          <div class="user-info">
            <span class="name">
              {{link-to latestQuestion.from.profile.fullName "profile" latestQuestion.from.id}}
            </span>
              asked
            <span class="name">
              {{link-to latestQuestion.to.profile.fullName "profile" latestQuestion.to.id}}
            </span>
            <div class="timestamp">
              {{#link-to "ask.detail" latestQuestion.id class="timestamp"}}
                {{timestamp latestQuestion.answeredAt}}
              {{/link-to}}
            </div>

          </div>
        </div>

        <div class="title large">{{latestQuestion.question}}</div>
      </div>
      {{#zf-accordion-menu class="section-accordion accordion-ask-answer" multiOpen=true}}
        <li>
          <ul class="section-accordion-content no-bullet">
            <li><span class="answer-content">{{{latestQuestion.answer}}}</span></li>
          </ul>
          <a class="more no-arrow"><span class="content-more">See Answer</span><span class="content-less">Hide Answer</span></a>
        </li>
      {{/zf-accordion-menu}}
    </section>

    <section class="section-footer-links">
      {{#if isOwner }}
        {{link-to "Go to Ask" 'me.ask'  class="button expanded"}}
      {{else}}
        {{#link-to 'ask' profile.id  class="button expanded"}}
          Ask {{profile.firstName}}
        {{/link-to}}
      {{/if}}
    </section>
  </div>
</div>
{{else}}
  <div class="box">
    <section>
      <h4><i class="fa fa-quote-left" aria-hidden="true"></i>Ask</h4>
      <div class="empty-message">
        {{profile.firstName}} hasn't answered any questions
      </div>
    </section>
    <section class="section-footer-links">
      {{#if isOwner }}
        {{link-to "Go to Ask" 'me.ask'  class="button expanded"}}
      {{else}}
        {{#link-to 'ask' profile.id  class="button expanded"}}
          Ask {{profile.firstName}}
        {{/link-to}}
      {{/if}}
    </section>

  </div>
{{/if}}

<div class="box compliment-card">
  <section>
    <h4><i class="fa fa-thumbs-up" aria-hidden="true"></i>Compliments</h4>
    {{#if latestCompliment}}
      <div class="mb">
        <div class="title large">
          {{latestCompliment.title}}!
        </div>
        <div class="content-pad description-content">{{latestCompliment.content}}</div>
      </div>
      <div class="user">
        <div class="avatar" style={{htmlSafeImage latestCompliment.from.content.profile.avatarUrl }}>
          <img src= {{post.user.profile.avatarUrl}} class="hide">
        </div>
        <div class="user-info">
          Complimented by
          <span class="name">
            {{#link-to "profile" latestCompliment.from.id}}
              {{latestCompliment.from.profile.fullName}}
            {{/link-to}}
          </span>
          <div class="timestamp">
            {{#link-to "compliments.detail" latestCompliment.id class="timestamp"}}
              {{timestamp latestCompliment.updatedAt}}
            {{/link-to}}
          </div>

        </div>
      </div>

    {{else}}
    <div class="empty-message">
      {{profile.firstName}} hasn't received any Compliments
    </div>
    {{/if}}
  </section>
  <section class="section-footer-links">
    {{#if isOwner }}
      {{link-to 'Go to Compliments' 'me.compliments' class="button expanded"}}
    {{else}}
      {{#link-to 'compliments' profile.id class="button expanded"}}
        Compliment {{profile.firstName}}
      {{/link-to}}
    {{/if}}
  </section>
</div>

{{ partial "partials/user-guide-box" }}
{{ partial "footer"}}
