<div class="box">
  <section class="hoverable">
    <h4><i class="fa fa-building-o" aria-hidden="true"></i>
      Industries
      {{#if isOwner}}
        <a href="{{href-to 'me.edit' (query-params tab='industry')}}" class="editable">
          <i class="fa fa-pencil-square-o"></i>
        </a>
      {{/if}}
    </h4>
    <ul class="no-bullet">
      {{#each industries as |item|}}
        <li>
          <strong>
            <a href="{{href-to 'home' (query-params channels=item.id)}}">{{item.text}}</a>
          </strong>
        </li>
      {{else}}
          <li class="empty-message">
            {{#if isOwner}}
              You haven't added any Industries
            {{else}}
              <span class="text-title">{{profile.firstName}}</span> hasn't added any Industries
            {{/if}}
          </li>
      {{/each}}
    </ul>
  </section>


  <section class="hoverable">
    <h4><i class="fa fa-certificate" aria-hidden="true"></i>
      Expertise
      {{#if isOwner}}
        <a href="{{href-to 'me.edit' (query-params tab='snapshot')}}" class="editable">
          <i class="fa fa-pencil-square-o"></i>
        </a>
      {{/if}}
    </h4>
    {{#if profile.snapshot}}
      <ul class="list-inline">
        {{#each keywords as |item|}}
          <li>
            <span class="label label-item">
              {{item}}
            </span>
          </li>
        {{/each}}
      </ul>

    {{else}}
      <div class="empty-message">
        {{#if isOwner}}
          You haven't added any Expertise
        {{else}}
          <span class="text-title">{{profile.firstName}}</span> hasn't added any Expertise
        {{/if}}
      </div>
    {{/if}}
  </section>
</div>

<div class="show-for-medium">

  {{#if latestQuestion}}
    <div class="box rounded question-box">
    <div class="section-group section-accordion-group">
      <section>
        <div class="section-main">
          <h4><i class="fa fa-quote-left" aria-hidden="true"></i>Ask</h4>
          <div class="user mb">
            {{avatar-wrap profile=latestQuestion.from.profile}}
            <div class="user-info">
              <a href="{{href-to 'profile' latestQuestion.from.profile.uid}}" class="name">{{latestQuestion.from.profile.fullName}}</a>
              asked
              <a href="{{href-to 'profile' latestQuestion.to.profile.uid}}" class="name">{{latestQuestion.to.profile.fullName}}</a>
              <div class="timestamp">
                <a href="{{href-to 'ask.detail' latestQuestion.id}}" class="timestamp">
                  {{timestamp latestQuestion.answeredAt}}
                </a>
              </div>

            </div>
          </div>

          <div class="title large">{{latestQuestion.question}}</div>
        </div>
        {{#zf-accordion-menu class="section-accordion accordion-ask-answer" multiOpen=true}}
          <li>
            <a class="more no-arrow more-top"><span class="content-more">See Answer</span><span class="content-less">Hide Answer</span></a>
            <ul class="section-accordion-content no-bullet">
              <li>
                {{brydge-linkify text=latestQuestion.answer class="paragraph answer-content"}}
              </li>
            </ul>
            <a class="more no-arrow"><span class="content-more">See Answer</span><span class="content-less">Hide Answer</span></a>
          </li>
        {{/zf-accordion-menu}}
      </section>

      <section class="section-footer-links">
        {{#if isOwner }}
          <a href="{{href-to 'me.ask'}}" class="button expanded">Go to Ask</a>
        {{else}}
          <a href="{{href-to 'ask' profile.uid}}" class="button expanded">
            Ask <span class="text-title">{{profile.firstName}}</span>
          </a>
        {{/if}}
      </section>
    </div>
  </div>
  {{else}}
    <div class="box">
      <section>
        <h4><i class="fa fa-quote-left" aria-hidden="true"></i>Ask</h4>
        <div class="empty-message">
          {{#if isOwner}}
            You haven't answered any questions
          {{else}}
            <span class="text-title">{{profile.firstName}}</span> hasn't answered any questions
          {{/if}}
        </div>
      </section>
      <section class="section-footer-links">
        {{#if isOwner }}
          <a href="{{href-to 'me.ask'}}" class="button expanded">Go to Ask</a>
        {{else}}
          <a href="{{href-to 'ask' profile.uid}}" class="button expanded">
            Ask <span class="text-title">{{profile.firstName}}</span>
          </a>
        {{/if}}
      </section>
    </div>
  {{/if}}

  {{#if isOwner}}
    {{invite-to-brydge}}
  {{/if}}

  {{ partial "partials/user-guide-box" }}
  {{ partial "footer"}}
</div>
