<div class="box rounded profile overflow">
  <ul class="no-bullet list-lined no-margin">
    <li>
      <div class="profile-industry">
          <div class="icon-wrapper">
            <i class="icons building"></i>
          </div>
          <div class="content">
            <a href="">{{model.industry}}</a>
          </div>        
      </div>          
    </li>
    <li>
      <div class="profile-industry">
          <div class="icon-wrapper">
            <i class="icons briefcase"></i>
          </div>
          <div class="content">
            <a href="">{{model.occupationOne}}</a>
            <a href="">{{model.occupationTwo}}</a>
          </div>
      </div>          
    </li>
  </ul>
</div>

{{#if latestQuestion}}
  <div class="box rounded question-box">
    <div class="columns wrapper clearfix">

      <div class="mb5">{{link-to latestQuestion.from.content.name "profile" latestQuestion.from.content.username class="user" }} asked {{link-to latestQuestion.to.content.name "profile" latestQuestion.to.content.username class="user"}}</div>
      <p class="timestamp">{{postDateFormat latestQuestion.createdAt}}</p>          

      <h2>{{latestQuestion.content}}</h2>
      {{#zf-accordion-menu class="accordion-menu"}}
        <li>
          <ul class="no-bullet vertical nested">
            <li>
              <p>{{{latestQuestion.answer}}}</p>
            </li>
          </ul>
          <a class="more no-arrow"><span class="content-more" disabled=true>See Answer</span><span class="content-less">Hide Answer</span></a>
        </li>
      {{/zf-accordion-menu}}           

    </div>
    
    {{#link-to 'ask' latestQuestion.from.content.username}}
    <button class="success button expanded">
      see more questions
    </button>
    {{/link-to}}
  </div>
{{/if}}

<div class="box rounded snapshot">
  <h5 class="box-header">Snapshot</h5>
  <div class="columns">
    {{model.snapshot}}
  </div>
  {{#unless model.snapshot}}
    <div class="empty-message">
      {{model.firstName}} hasn't added a Snapshot
    </div>
  {{/unless}}
</div>

<div class="box rounded compliments">
  <h5 class="box-header">Compliments</h5>

  {{#if compliments}}
  <ul class="box-list no-bullet">
    <li>
      <div class="title">{{latestCompliment.title}}</div>
      <p>{{latestCompliment.content}}</p>            
      <span>Posted by</span> <a>{{latestCompliment.from.name}}</a>
    </li>
  </ul> 
  {{else}}
  <div class="empty-message">
    {{model.firstName}} hasn't received any Compliments
  </div>
  {{/if}}
  <div class="box-footer">
    {{#if compliments}}
      {{#if isCurrentUser}}
      {{link-to 'See all' 'me.compliments'}}
      {{else}}
      {{link-to 'See all' 'compliments' latestCompliment.to.username}}
      {{/if}}
    {{/if}}

    {{#unless isCurrentUser}}
      {{#if isConnected}}
        <a class="float-right" data-open="complimentModal">Post a compliment</a>
      {{/if}}
    {{/unless}}
  </div>      
</div>

<div class="box rounded work-history">
  <h5 class="box-header">Work History</h5>
  {{#if experiences}}
  {{ list-experience model=experiences class="sidebox box-list" }}
  {{else}}
    <div class="empty-message">
      {{model.firstName}} hasn't added any Work History
    </div>
  {{/if}}
</div>

<div class="box rounded academia">
  <h5 class="box-header">Academia</h5>
  {{#if educations}}
  {{ list-academia model=educations class="sidebox box-list" }}
  {{else}}
    <div class="empty-message">
      {{model.firstName}} hasn't added any Academic Information
    </div>
  {{/if}}
</div>

<div class="box rounded languages">
  <h5 class="box-header">Languages</h5>
    {{#if languages}}
    {{list-languages model=languages class="sidebox box-list"}}      
    {{else}}
      <div class="empty-message">
        {{model.firstName}} hasn't added any Languages
      </div>
    {{/if}}
</div>

<div class="box rounded">
  <h5 class="box-header">Interests</h5>
  {{#if interests}}
  <div class="columns">
    <p>
      {{#each interests as |item index|}}
        {{#if index~}}
          , {{item.content~}}
        {{else}}
          {{item.content~}}
        {{/if}}
      {{/each}}          
    </p>
  </div>
  {{else}}
    <div class="empty-message">
      {{model.firstName}} hasn't added any Interests
    </div>
  {{/if}}
</div>

{{render "progress-box"}}
{{render "footer"}}
