<a class="box default button dropdown-button expanded text-center" data-toggle="industry-dropdown">
	<strong>{{filtered}}</strong>
	<i class="icons caret"></i>
</a>
{{#zf-dropdown id="industry-dropdown" class="filter-dropdowns"}}
	<section class="custom-select-list">
		<div class="title-bar dim-text text-center">Select a Channel</div>
			<div class="columns medium-6">
				<strong>Your Network</strong>
				<ul class="no-bullet">
					<li {{action "select" myConnections.text preventDefault=false }}>{{myConnections.text}}</li>
					<li><label for="">{{myCompany.text}}</label></li>
				</ul>
				<p></p>
				<strong>Your Business Industry</strong>
				<ul class="no-bullet">
					<li {{action "select" model.myIndustry preventDefault=false }}>{{model.myIndustry.text}}</li>
				</ul>
				<p>{{#link-to 'me.edit' (query-params tab="industry")}}Edit Business Industry{{/link-to}}</p>				

				<strong>Your Occupational Industry</strong>
				<ul class="no-bullet">
				{{#each model.myOccupations as |industry|}}
					<li {{action "select" industry.id preventDefault=false }}>{{industry.text}}</li>
				{{/each}}
				</ul>
				<p>{{#link-to 'me.edit' (query-params tab="occupindustry")}}Edit Occupational Industry{{/link-to}}</p>				
				
			</div>
			<div class="columns medium-6">
				<strong>Industry Channels you follow</strong>
				<ul class="no-bullet">
					<li>Consumer Web & Mobile</li>
					<li>Enterprise Software & Technology</li>
					<li>Broadcast Media</li>
				</ul>
				<p><a>Add Industry Channels to follow</a></p>
			</div>
	</section>
{{/zf-dropdown}}