<a class="box button dropdown-button expanded text-center" data-toggle="location-dropdown">{{selectedLoc}}
	<strong>{{filtered}}</strong>
	<i class="icons caret"></i>
</a>
{{#zf-dropdown id="location-dropdown" class="filter-dropdowns"}}
	<section class="custom-select-list">
		<div class="title-bar dim-text text-center">Select a Location</div>
			<div class="mt mb clearfix">
				<div class="columns medium-6">
					<strong>Your Location</strong>
					<ul class="no-bullet">
						<li {{action "select" profile.location preventDefault=false }}>{{profile.location}}</li>
					</ul>				
					<p>{{#link-to 'me.edit' (query-params tab="personal")}}Edit Your Location{{/link-to}}</p>				
				</div>
				<div class="columns medium-6">
					<strong>Global</strong>
					<ul class="no-bullet">
						<li {{action "select" "Everywhere" preventDefault=false }}>Everywhere</li>
					</ul>
				</div>
			</div>
			<div class="mt mb clearfix">
				<div class="columns">
					<form>
						<strong>Search</strong>
						{{dropdown-filter
							items=items 
							selected=selected
							query='query'
							onItemSelected = 'citySelected'
							template="partials/location-filter"}}		
					</form>						
				</div>
				<div class="columns">
					<p>
						<button class="success button" {{action 'select' selected}}>Select</button>				
					</p>
				</div>
			</div>
	</section>
{{/zf-dropdown}}	
