<a class="box default button dropdown-button expanded text-center" data-toggle="industry-dropdown">
	<strong>{{filtered}}</strong>
	<i class="icons caret"></i>
</a>
{{#zf-dropdown id="industry-dropdown"}}
	<section class="custom-select-list">
		<div class="title-bar dim-text text-center">Select a Channel</div>
			<div class="columns medium-6">
				<strong>Your Network</strong>
				<ul class="no-bullet">
					<li><label for="">{{myConnections.text}}</label></li>
					<!-- <li {{action "select" myCompany preventDefault=false }}>{{myCompany.text}}</li> -->

					<li><label for="">{{myCompany.text}}</label></li>
				</ul>
				<p></p>
				<strong>Your Business Industry</strong>
				<ul class="no-bullet">{{log model}}
					<li {{action "select" model.myIndustry preventDefault=false }}><label for="">{{model.myIndustry.text}}</label></li>
				</ul>
				<p>{{#link-to 'me.edit' sessionAccount.account.profile.id (query-params tab="industry")}}Edit Business Industry{{/link-to}}</p>				
				<!-- <p><a href="">Add other Industry Channels to follow</a></p> -->

				<strong>Your Occupational Industry</strong>
				<ul class="no-bullet">{{log model}}
				{{#each model.myOccupations as |industry|}}
					<li {{action "select" industry preventDefault=false }}><label for="">{{industry.text}}</label></li>
				{{/each}}
				</ul>
				<p>{{#link-to 'me.edit' sessionAccount.account.profile.id (query-params tab="occupindustry")}}Edit Occupational Industry{{/link-to}}</p>				
				
			</div>
			<div class="columns medium-6">
				<strong>Industry Channels you follow</strong>
				<ul class="no-bullet">
					<li>Consumer Web & Mobile</li>
					<li>Enterprise Software & Technology</li>
					<li>Broadcast Media</li>
				</ul>
				<p><a>Add Industry Channels to follow</a></p>
			</div>
	</section>
{{/zf-dropdown}}