<p>Email notifications are not available in BETA. So there's nothing to turn off here!</p>
<table class="hide">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>When someone upvotes my broadcast</td>
      <td class="text-center">
        {{input type="checkbox" change=(action 'notificationChanged') checked=notification.vote id="notification.vote" name="vote" }}
      </td>
    </tr>
    <tr>
      <td>When someone comments on my broadcast</td>
      <td class="text-center">
        {{input type="checkbox" change=(action 'notificationChanged') checked=notification.comment id="notification.comment" name="comment" }}
      </td>
    </tr>
    <tr>
      <td>When someone shares my broadcast</td>
      <td class="text-center">
        {{input type="checkbox" change=(action 'notificationChanged') checked=notification.share id="notification.share" name="share" }}
      </td>
    </tr>
    <tr>
      <td>When someone asks me a question</td>
      <td class="text-center">
        {{input type="checkbox" change=(action 'notificationChanged') checked=notification.ask id="notification.ask" name="ask" }}
      </td>
    </tr>
    <tr>
      <td>When someone answers a question I asked</td>
      <td class="text-center">
        {{input type="checkbox" change=(action 'notificationChanged') checked=notification.answer id="notification.answer" name="answer" }}
      </td>
    </tr>
    <tr>
      <td>When someone compliments me</td>
      <td class="text-center">
        {{input type="checkbox" change=(action 'notificationChanged') checked=notification.compliment id="notification.compliment" name="compliment" }}
      </td>
    </tr>
    <tr>
      <td>When someone requests to connect with me</td>
      <td class="text-center">
        {{input type="checkbox" change=(action 'notificationChanged') checked=notification.request id="notification.request" name="request" }}
      </td>
    </tr>
    <tr>
      <td>When someone accepts my connection request</td>
      <td class="text-center">
        {{input type="checkbox" change=(action 'notificationChanged') checked=notification.accept id="notification.accept" name="accept" }}
      </td>
    </tr>
    <tr>
      <td>When someone sends me a message</td>
      <td class="text-center">
        {{input type="checkbox" change=(action 'notificationChanged') checked=notification.message id="notification.message" name="message" }}
      </td>
    </tr>
  </tbody>
</table>
