<a data-toggle="dd-notification" {{action 'clickNotification' notification.notificationCount}}>
	{{#zf-tooltip title="Notifications" vOffset=0}}
		{{#if notification.notificationCount }}
      <span class="alert badge">{{notification.notificationCount}}</span>    
    {{/if}}
		<i class="icons stack"></i>
	{{/zf-tooltip}}
	<div class="wrapper">
		<div class="triangle"></div>
	</div>							
</a>
{{#zf-dropdown id="dd-notification" class="dropdown-topbar" closeOnClick=true}}

  <ul class="media-list notifications-list no-bullet list-lined">
  {{#each notification.notifications as |item|}}
    <li {{action "select" item preventDefault=false }} 
    class="{{if item.read false 'new-notification'}}">
      <div class="media-object">
        <div class="media-object-section">
          <div class="thumbnail">
            <img src={{item.target.profile.avatarUrl}}>
          </div>
        </div>
        <div class="media-object-section main-section">

          {{#if (notification-type 'answer' item.type)}}
                <p><a>{{item.target.profile.firstName}} {{item.target.profile.lastName}}</a> answered your question</p>
                <span>{{ timestamp item.createdAt }}</span>
              {{/if}}


              {{#if (notification-type 'ask' item.type)}}
                <p><a>{{item.target.profile.firstName}} {{item.target.profile.lastName}}</a> asked you a question</p>
                <span>{{ timestamp item.createdAt }}</span>
              {{/if}}

              {{#if (notification-type 'comment' item.type)}}
                <p><a>{{item.target.profile.firstName}} {{item.target.profile.lastName}}</a> commented your broadcast <a>"{{ getNotificationContent item.content }}"</a></p>
                <span>{{ timestamp item.createdAt }}</span>
              {{/if}}

              {{#if (notification-type 'vote' item.type)}}
                <p><a>{{item.target.profile.firstName}} {{item.target.profile.lastName}}</a> upvoted your broadcast <a>"{{ getNotificationContent item.content }}"</a>  </p>
                <span>{{ timestamp item.createdAt }}</span>
              {{/if}}
              {{#if (notification-type 'compliment' item.type)}}
                <p><a>{{item.target.profile.firstName}} {{item.target.profile.lastName}}</a> posted a compliment to you </p>
                <span>{{ timestamp item.createdAt }}</span>
              {{/if}}

              {{#if (notification-type 'accept' item.type)}}
                <p><a>{{item.target.profile.firstName}} {{item.target.profile.lastName}}</a> accepted your request <a>{{ item.content}}</a></p>
                <span>{{ timestamp item.createdAt }}</span>
              {{/if}}


              {{#if (notification-type 'share' item.type)}}
                <p><a>{{item.target.profile.firstName}} {{item.target.profile.lastName}}</a> shared your broadcast <a>"{{ getNotificationContent item.content }}"</a></p>
                <span>{{ timestamp item.createdAt }}</span>
              {{/if}}

        </div>
      </div>
    </li>
  {{/each}}
  {{#unless notification.notifications }}
  <li>
    <div class="empty-message">No new notification</div>
  </li>
  {{/unless}}

  </ul>



	{{#link-to 'notifications' class="footer-button success button expanded"}}
		SEE ALL NOTIFICATIONS
	{{/link-to}}

{{/zf-dropdown}}


