<a data-toggle="dd-notification">
	{{#zf-tooltip title="Notifications" vOffset=0}}
		{{#if notification.notifications }}
      <span class="alert badge">{{notification.notifications.length}}</span>    
    {{/if}}
		<i class="icons stack"></i>
	{{/zf-tooltip}}
	<div class="wrapper">
		<div class="triangle"></div>
	</div>							
</a>
{{#zf-dropdown id="dd-notification" class="dropdown-topbar" closeOnClick=true}}

  <ul class="media-list notifications-list no-bullet list-lined">
  {{#each notification.notifications as |item|}}
    <li>
      <div class="media-object">
        <div class="media-object-section">
          <div class="thumbnail">
            <img src={{item.profile.avatarUrl}}>
          </div>
        </div>
        <div class="media-object-section main-section">
          {{#if (notification-type 'ask' item.type)}}
            <p><strong>{{item.profile.firstName}} {{item.profile.lastName}}</strong> asked you a question <strong>{{ item.content}}</strong></p>
            <span>{{ postDateFormat item.createdAt }}</span>
          {{/if}}
          {{#if (notification-type 'post' item.type)}}
            <p><strong>{{item.profile.firstName}} {{item.profile.lastName}}</strong> shared your post <strong>{{ item.content}}</strong></p>
            <span>{{ postDateFormat item.createdAt }}</span>
          {{/if}}

        </div>
      </div>
    </li>
  {{/each}}
  </ul>



	{{#link-to 'notifications' class="footer-button success button expanded"}}
		SEE ALL NOTIFICATIONS
	{{/link-to}}

{{/zf-dropdown}}


