<div class="row">
  <div class="medium-5 columns sidebar">
    {{profile-box profile=profile class="mb20" isOwner=true}}
    {{partial 'me/compliments/sidebar'}}
  </div>

  <div class="medium-7 columns">
    {{profile-menu isOwner=true}}
    <div class="page-heading">      
      <h1>Your Compliments Page</h1>
    </div>

    <form>
      <div class="row collapse">
        <div class="small-8 columns">
          <h4 class="text-right middle select-label">Filter compliments by</h4>          
        </div>
        <div class="small-4 columns">
        {{select-native content=complimentTitles action=(action (mut complimentTitle)) }}
        </div>
      </div>
    </form>

    <div class="cards">
      {{#each compliments as |item|}}
      <div class="box">
        <section>
          <div class="row user section-main">
            <div class="columns medium-8">
              <div class="avatar" style={{htmlSafeImage item.from.profile.avatarUrl}}>
                <img src="{{item.from.profile.avatarUrl}}" class="hide">
              </div>
              <div class="user-info">
                {{link-to item.from.profile.firstName "profile" item.from.id}} complimented {{link-to item.to.profile.firstName "profile" 'me'}}              
              </div>            
            </div>
            <div class="columns medium-4 text-right">
              <div class="timestamp">{{timestamp item.createdAt}}</div>                          
            </div>
          </div>        
        </section>
        <section>
            <div class="title">{{item.title}}:</div>
            <div class="content-pad">{{item.content}}</div>
        </section>
      </div>
      {{/each}}
    </div>
  </div>
</div>