{{#each model as |item|}}
  <li>
    <div class="name">{{item.title}}</div>
    <div>{{item.company}}</div>
    <span class="dim-text">
      {{term-date-format item.from}} - 
      {{#if item.currentCompany}}
        Present
      {{else}}
        {{term-date-format item.to}} ({{time-diff item.from item.to}})
      {{/if}}
    </span>

    {{#zf-accordion-menu class="mt"}}
      <li>
        <ul class="no-bullet vertical nested">
          <li><p class="wrap">{{{item.content}}}</p></li>
        </ul>
        <a class="more no-arrow"><span class="content-more">Show More</span><span class="content-less">Show Less</span></a>
      </li>
    {{/zf-accordion-menu}}               
  </li>
{{/each}}
