<div class="profile-photo">
  {{#if isOwner}}
    {{image-upload fileLoaded="fileLoaded" logoUrl=profile.avatarUrl}}
  {{else}}
    <div class="avatar-wrapper">
      <div class="avatar" style={{htmlSafeImage profile.avatarUrl}}>
        <img src="{{profile.avatarUrl}}" class="hide">
      </div>
    </div>

  {{/if}}


</div>
<div class="text-center">
  <section class="hoverable">
    <div class="name">{{profile.firstName}} {{profile.lastName}}</div>
    {{#if isOwner}}
      {{#link-to "me.edit" (query-params tab="personal") class="editable" }}
        <i class="fa fa-pencil-square-o"></i>
      {{/link-to}}
    {{/if}}
  </section>
  {{#if isNotEmptyTitleCompany}}
    <section class="hoverable">
      <div class="position font-light">{{profile.currentTitle}}</div>
      <div class="company">{{profile.currentCompany}}</div>
      {{#if isOwner}}
        {{#link-to "me.edit" (query-params tab="work") class="editable" }}
          <i class="fa fa-pencil-square-o"></i>
        {{/link-to}}
      {{/if}}
    </section>
  {{else}}
    {{#if isOwner}}
      <div class="empty-message" style="margin:.5rem; ">
        Add Current Title and Company
      </div>
    {{/if}}
  {{/if}}
  <section class="hoverable">
    <div class="location mb">
      {{profile.location}}
      {{#if isOwner}}
        {{#link-to "me.edit" (query-params tab="work") class="editable" }}
          <i class="fa fa-pencil-square-o"></i>
        {{/link-to}}
      {{/if}}

    </div>
  </section>
  <div class="text-title">
    {{#unless isOwner }}
      {{#unless isConnected }}
        {{#if isPending}}
          {{#if isSender}}
            Connection Request Sent
          {{else}}
            <button class="button large bordered green"{{action "accept"}}>Accept Request</button>
          {{/if}}
        {{else}}
          <button class="button large bordered green"{{action "connect"}}>Connect</button>
        {{/if}}
      {{else}}
        {{#link-to "messages.conversation" profile.connection.conversationid class="button circle"}}
          <i class="icons messages white"></i>
        {{/link-to}}

      {{/unless}}
    {{/unless}}
  </div>
</div>
