<div>
  {{#if isOwner}}
    {{image-upload fileLoaded="fileLoaded" logoUrl=profile.avatarUrl}}
  {{else}}
    <div class="avatar-wrapper">
      <div class="profile-photo circle">
        <div class="avatar" style={{htmlSafeImage profile.avatarUrl}}>
          <img src="{{profile.avatarUrl}}" class="hide">
        </div>
      </div>
    </div>
  {{/if}}

</div>
<div class="text-center">
  <section>
    <div class="hoverable name">
      <span>
        {{profile.fullName}}
        {{#if isOwner}}
          {{#link-to "me.edit" (query-params tab="personal") class="editable" }}
            <i class="fa fa-pencil-square-o"></i>
          {{/link-to}}
        {{/if}}
      </span>
    </div>
  </section>
  {{#if isNotEmptyTitleCompany}}
    <section>
      <div class="hoverable position font-light">
        <span>
          {{profile.currentTitle}}
          {{#if isOwner}}
            {{#link-to "me.edit" (query-params tab="work") class="editable" }}
              <i class="fa fa-pencil-square-o"></i>
            {{/link-to}}
          {{/if}}
        </span>
      </div>
      <div class="hoverable company">
        <span>
          {{profile.currentCompany}}
          {{#if isOwner}}
            {{#link-to "me.edit" (query-params tab="work") class="editable" }}
              <i class="fa fa-pencil-square-o"></i>
            {{/link-to}}
          {{/if}}
        </span>
      </div>
    </section>
  {{else}}
    {{#if isOwner}}
      <div class="empty-message" style="margin:.5rem; ">
        Add Current Title and Company
      </div>
    {{/if}}
  {{/if}}
  <section>
    <div class="hoverable mb">
      <span class="location">
        <strong>{{profile.location}}</strong>
        {{#if isOwner}}
          {{#link-to "me.edit" (query-params tab="personal") class="editable" }}
            <i class="fa fa-pencil-square-o"></i>
          {{/link-to}}
        {{/if}}
      </span>
    </div>
  </section>
  <div class="text-title">
    {{#unless isOwner }}
      {{#unless isConnected }}
        {{#if isPending}}
          {{#if isSender}}
            Connection Request Sent
          {{else}}
            <button class="button large bordered green"{{action "accept"}}>Accept Request</button>
          {{/if}}
        {{else}}
          <button class="button large bordered green"{{action "connect"}}>Connect</button>
        {{/if}}
      {{else}}

        {{#zf-tooltip title="Send Message" positionClass="right"}}
          {{#link-to "messages.conversation" profile.connection.conversationid class="inline-block"}}
            <i class="icons messages"></i>
          {{/link-to}}
        {{/zf-tooltip}}


      {{/unless}}
    {{/unless}}
  </div>
</div>
