<div class="column medium-5">
  <div class="wrapper industry-thumb">
    <img src="https://storage.googleapis.com/brydge-assets/assets/industries/{{item.id}}.png" alt="">
    <strong>{{item.name}}</strong>
  </div>
</div>
<div class="column medium-7">
  <ul class="industry-list padded">
  {{#each groups as |item|}}
    <li>
      <strong>
      {{#if item.selected}}
        <a class="selected">
          {{item.industry}}
          <span aria-hidden="true" class="fa" {{action "remove" item }}>&times;</span>
        </a>
      {{else if item.active}}
        <a class="active">
          {{item.industry}}
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
      {{else}}
        <a {{action "select" item}}>
          {{item.industry}}
        </a>
      {{/if}}
      </strong>
    </li>
  {{/each}}
  </ul>
</div>
