<div class="column medium-5">
  <div class="wrapper industry-thumb">
    <img src="https://storage.googleapis.com/brydge-assets/temp/61237789.png" alt="">
    <strong>{{item.name}}</strong>
  </div>
</div>
<div class="column medium-7">
  {{selected}}
  <ul class="industry-list">
  {{#each groups as |item|}}
    <li><a class="{{if item.selected 'selected'}}" {{action "select" item}}>{{item.industry}}</a> {{item.active}}</li>
  {{/each}}
  </ul>
</div>
