{{#zf-reveal id=(concat "dialog-box-" name) overlay=true class="tiny box"}}
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
  <section class="title">
    <h4>{{title}}</h4>
  </section>
  <section>
    <p>{{content}}</p>
  </section>
  <section class="text-right">
    {{#unless confirm}}
      <button class="success button" type="submit" {{action "submit"}}>Yes</button>
	  	<a class="button button-border" data-close>No</a>
    {{else}}
      <button class="success button" type="submit" {{action "callback"}} data-close>OK</button>
    {{/unless}}
  </section>
{{/zf-reveal}}
