{{#zf-accordion allowAllClosed="true" id="accordion-work" class="form-accordion"}}
	<li data-accordion-item>
		<div class="accordion-content" data-tab-content>
		  	<form action="">
				<label>
					{{input value=company placeholder="Company"}}
				</label>
				<div class="row">
					<div class="columns medium-4">
						<label>
							{{date-picker placeholder="Start Date" date=from format='YYYY-MM-DD' valueFormat='date' allowBlank=true}}
						</label>							
					</div>
					<div class="columns medium-4">
						<label>
							{{date-picker placeholder="End Date" date=to format='YYYY-MM-DD' valueFormat='date' allowBlank=true}}
						</label>
					</div>
					<div class="columns medium-4">
						<div class="checkbox">
							<label>
								{{input type="checkbox" name="currentCompany" checked=currentCompany}} I currently work here
							</label>
						</div>
					</div>
				</div>
				<label>
					{{input value=title placeholder="Title"}}
				</label>

				<label>
					{{input value=location placeholder="Location"}}
				</label>
				<label>
					{{textarea value=content rows="10" placeholder="Description"}}
				</label>
			    <button class='button success' {{ action 'save' }}>SAVE</button>
			</form>								
		</div>
  		<a class="more no-arrow button success expanded">{{fa-icon "plus"}}</a>
	</li>
{{/zf-accordion}}

