
<div class="row">
    <div class="columns">
        <div class="bordered bg-gray">
            <h2 class="page-title">EDIT PROFILE</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="columns">
        <div class="row collapse profile tab-wrapper bordered" data-equalizer data-equalize-by-row="true">
        
          <div class="medium-3 columns bg-gray">
            <div class="tab-header padding">
                <h2>Invest some time here. It'll do you good!</h2>
                <p>A complete profile increases your chances of being noticed by industry peers.</p>
            </div>

            {{#zf-tabs class="vertical bg-gray"}}
              <li class="tabs-title is-active"><a href="#personal" aria-selected="true">Personal Particulars</a></li>
              <li class="tabs-title"><a href="#type">Profile Type</a></li>
              <li class="tabs-title"><a href="#industry">Industry</a></li>
              <li class="tabs-title"><a href="#occupindustry">Occupation Industry</a></li>
              <li class="tabs-title"><a href="#snapshot">Snapshot</a></li>
              <li class="tabs-title"><a href="#work">Work History</a></li>
              <li class="tabs-title"><a href="#academia">Academia</a></li>
              <li class="tabs-title"><a href="#language">Languages</a></li>
              <li class="tabs-title"><a href="#interest">Interests</a></li>
            {{/zf-tabs}}
          </div>
          <div class="medium-9 columns float-left">
              <div class="tabs-content vertical" data-tabs-content="example-tabs">
      
                  <div class="tabs-panel is-active" id="personal">
                       {{partial 'me/edit/info'}}
                  </div>
                  <div class="tabs-panel" id="type">
                  </div>
                  <div class="tabs-panel" id="industry">
                      {{partial 'me/edit/industry'}}
                  </div>
                  <div class="tabs-panel" id="occupindustry">
                      {{partial 'me/edit/occupindustry'}}
                  </div>
                  <div class="tabs-panel" id="snapshot">
                      {{partial 'me/edit/snapshot'}}
                  </div>
                  <div class="tabs-panel" id="work">
                      {{partial 'me/edit/work'}}
                  </div>
                  <div class="tabs-panel" id="academia">
                      {{partial 'me/edit/education'}}
                  </div>
                  <div class="tabs-panel" id="language">
                      
                  </div>
                  <div class="tabs-panel" id="interest">
                      
                  </div>
      
      
              </div>            
          </div>
        </div>
    </div>
</div>