<div class="row">
  <div class="medium-6 small-centered columns">
    <div class="page-heading">
      <h1>Edit Profile</h1>
      <p class="text-center">
        A complete profile increases your chances of being noticed by industry peers and businesses. So invest some time here—it’ll do you good!
      </p>
    </div>
  </div>

</div>
<div class="row">
  <div class="columns">
    <div class="row collapse brydge-tab brydge-form">

      <div class="medium-3 columns">

        {{#zf-tabs class="vertical" id="edit-tabs"}}
        <li data-tab='personal' class="tabs-title {{active-tab 'personal' tab}}">
          <a href="#personal" aria-selected="true">Personal Particulars</a>
        </li>
        <li data-tab='industry' class="tabs-title {{active-tab 'industry' tab}}">
          <a href="#industry"><i class="fa fa-building-o" aria-hidden="true"></i>Business Industry</a>
        </li>
        <li data-tab='occupindustry' class="tabs-title {{active-tab 'occupindustry' tab}}">
          <a href="#occupindustry"><i class="fa fa-briefcase" aria-hidden="true"></i>Occupational Industry</a>
        </li>
        <li data-tab='snapshot' class="tabs-title {{active-tab 'snapshot' tab}}"><a href="#snapshot">Snapshot</a></li>
        <li data-tab='work' class="tabs-title {{active-tab 'work' tab}}"><a href="#work">Work History</a></li>
        <li data-tab='academia' class="tabs-title {{active-tab 'academia' tab}}"><a href="#academia">Academia</a></li>
        <li data-tab='language' class="tabs-title {{active-tab 'language' tab}}"><a href="#language">Languages</a></li>
        {{/zf-tabs}}
      </div>
      <div class="medium-9 columns float-left">
        <div class="tabs-content vertical boxz" data-tabs-content="edit-tabs">
          <a data-toggle="dd-industry-picker-business" class="action-button dropdown-button-arrow invisible"><i class="icons ellipsis"></i></a>

          <div class="tabs-panel {{active-tab 'personal' tab}}" id="personal">
            <section class="personal-info">
              {{partial 'me/edit/info'}}
            </section>
          </div>
          <div class="tabs-panel {{active-tab 'industry' tab}}" id="industry">
            {{#zf-dropdown id="dd-industry-picker-business" class="industry-picker"}}
              <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
              </button>

              {{picker-industry name="business" categories=categories onSelect='setBusinessIndustry' }}
            {{/zf-dropdown}}

            <section class="header">
              <form class="form-occupational-industry">
                <div class="row">
                  <div class="columns medium-7">
                    <form class="brydge-form">
                      <label for="">
                        Business Industry
                       {{dropdown-filter
                        items=industries
                        selected=selectedIndustry
                        query='queryIndustries'
                        itemSelected='industrySelected'
                        template="partials/industry-filter"}}
                      </label>
                    </form>
                  </div>
                  <div class="columns medium-5">
                    <label for="">
                      <a data-toggle="dd-industry-picker-business" class="picker" class="button button-border expanded rounded">Use the Industry Picker</a>
                    </label>

                  </div>
                </div>
                <div>
                  <button class="button success rounded" {{ action 'save' }}>Save Changes</button>
                </div>
              </form>
            </section>
            {{partial 'partials/industry-examples'}}

          </div>
          <div class="tabs-panel {{active-tab 'occupindustry' tab}}" id="occupindustry">
            {{#zf-dropdown id="dd-industry-picker-occupationalOne" class="industry-picker"}}
              <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
              </button>
              {{picker-industry name="occupationalOne" categories=categories onSelect='setOccupationalOne' }}
            {{/zf-dropdown}}
            {{#zf-dropdown id="dd-industry-picker-occupationalTwo" class="industry-picker"}}
              <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
              </button>
              {{picker-industry name="occupationalTwo" categories=categories onSelect='setOccupationalTwo' }}
            {{/zf-dropdown}}

            <section class="header">
              <p>Occupational Industries are industries that you deal with as part of your job. We allow you to pick up 2 Occupational Industries on Brydge. See example below.</p>
              <p>If you think this isn't applicable to you, check the Not Applicable box.</p>
              <form class="form-occupational-industry">
                <div class="row">
                  <div class="columns medium-7">
                    <form class="brydge-form">
                      <label for="">
                        Occupation Industry #1
                        {{dropdown-filter
                        items=industries
                        selected=selectedOccupOne
                        query='queryIndustries'
                        itemSelected='occupOneSelected'
                        template="partials/industry-filter"}}
                      </label>
                    </form>
                  </div>
                  <div class="columns medium-5">
                    <label for="">
                      <a data-toggle="dd-industry-picker-occupationalOne" class="picker" class="button button-border expanded rounded">Use the Industry Picker</a>
                    </label>
                  </div>
                </div>

                <div class="row">
                  <div class="columns medium-7">
                    <form class="brydge-form">
                      <label for="">
                        Occupation Industry #2 (optional)
                        {{dropdown-filter
                        items=industries
                        selected=selectedOccupTwo
                        query='queryIndustries'
                        itemSelected='occupTwoSelected'
                        template="partials/industry-filter"}}
                      </label>
                    </form>
                  </div>
                  <div class="columns medium-5">
                    <label for="">
                      <a data-toggle="dd-industry-picker-occupationalTwo" class="picker" class="button button-border expanded rounded">Use the Industry Picker</a>
                    </label>

                  </div>
                </div>
                <div>
                  <button class="button success rounded" {{ action "save" }}>Save Changes</button>
                </div>
              </form>
            </section>
            {{partial 'partials/industry-examples'}}

          </div>
          <div class="tabs-panel {{active-tab 'snapshot' tab}}" id="snapshot">
            <section class="header">
              <form>
                <label for="">Write a summary about yourself:</label>
                <div class="wrapper">{{form-text-counter limit=500 value=profile.snapshot rows=10 class="mb"}}</div>
                <button class="button success rounded" {{ action 'save' }}>Save Changes</button>
              </form>

            </section>
          </div>
          <div class="tabs-panel {{active-tab 'work' tab}}" id="work">
            {{ profile-work-history items=experiences }}
          </div>
          <div class="tabs-panel {{active-tab 'academia' tab}}" id="academia">
            {{ profile-academia items=educations}}
          </div>
          <div class="tabs-panel {{active-tab 'language' tab}}" id="language">
            {{ profile-language items=languages}}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
