<div class="page-heading align-center mb-2">
  <h1>Edit Profile</h1>
  <div class="row columns medium-6">
    <p>
      A complete profile increases your chances of being noticed by industry peers and businesses. So invest some time here—it’ll do you good!
    </p>
  </div>
</div>
<div class="spacer-1"></div>

<div class="row">
  <div class="columns">
    <div class="row collapse is-collapse-child brydge-tab brydge-form">

      <div class="medium-4 small-12 columns">

        {{#zf-tabs class="tabs vertical" id="edit-tabs"}}
        <li data-tab='personal' class="tabs-title {{active-tab 'personal' tab}}">
          <a href="#personal" aria-selected="true"><i class="fa fa-street-view" aria-hidden="true"></i>Personal Particulars</a>
        </li>
        <li data-tab='industry' class="tabs-title {{active-tab 'industry' tab}}">
          <a href="#industry"><i class="fa fa-briefcase" aria-hidden="true"></i>Industries</a>
        </li>
        <li data-tab='snapshot' class="tabs-title {{active-tab 'snapshot' tab}}">
          <a href="#snapshot"><i class="fa fa-certificate" aria-hidden="true"></i>Expertise</a>
        </li>
        <li data-tab='work' class="tabs-title {{active-tab 'work' tab}}">
          <a href="#work"><i class="fa fa-paperclip" aria-hidden="true"></i>Work History</a>
        </li>
        <li data-tab='academia' class="tabs-title {{active-tab 'academia' tab}}">
          <a href="#academia"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Academia</a>
        </li>
        <li data-tab='language' class="tabs-title {{active-tab 'language' tab}}">
          <a href="#language"><i class="fa fa-globe" aria-hidden="true"></i>Languages</a>
        </li>
        {{/zf-tabs}}
      </div>
      <div class="medium-8 small-12 columns float-left">
        <div class="tabs-content vertical boxz form-highlight" data-tabs-content="edit-tabs">
          <div class="tabs-panel header {{active-tab 'personal' tab}}" id="personal">
            <div class="spacer-2"></div>
            {{partial 'me/edit/info'}}
            <div class="spacer-2"></div>
          </div>
          <div class="tabs-panel {{active-tab 'industry' tab}}" id="industry">
            <div class="bg-gray">
              <div class="row align-center">
                <div class="columns medium-10">
                  <section>
                    <div class="spacer-2"></div>
                    <p>
                      Select 3 industries you want to participate in
                    </p>
                    <form class="form-occupational-industry">
                      <div class="row mb20 show-for-medium">
                        <div class="columns medium-4">
                            <a data-open="industry-picker-edit-profile" class="button-add-industries">
                              {{#if profile.industryOneName}}
                                <div class="button-header">{{profile.industryOneName}}</div>
                                <div class="button-footer"><i class="fa fa-pencil-square-o"></i></div>
                              {{else}}
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <div>Add Industry</div>
                              {{/if}}
                            </a>
                        </div>
                        <div class="columns medium-4">
                            <a data-open="industry-picker-edit-profile" class="button-add-industries">
                              {{#if profile.industryTwoName}}
                                <div class="button-header">{{profile.industryTwoName}}</div>
                                <div class="button-footer"><i class="fa fa-pencil-square-o"></i></div>
                              {{else}}
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <div>Add Industry</div>
                              {{/if}}
                            </a>
                        </div>
                        <div class="columns medium-4">
                            <a data-open="industry-picker-edit-profile" class="button-add-industries">
                              {{#if profile.industryThreeName}}
                                <div class="button-header">{{profile.industryThreeName}}</div>
                                <div class="button-footer"><i class="fa fa-pencil-square-o"></i></div>
                              {{else}}
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <div>Add Industry</div>
                              {{/if}}
                            </a>
                        </div>
                      </div>
                      <div class="row mb20 hide-for-medium">
                        <div class="columns medium-4">
                            <a data-open="industry-picker-mobile-edit-profile" class="button-add-industries">
                              {{#if profile.industryOneName}}
                                <div class="button-header">{{profile.industryOneName}}</div>
                                <div class="button-footer"><i class="fa fa-pencil-square-o"></i></div>
                              {{else}}
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <div>Add Industry</div>
                              {{/if}}
                            </a>
                        </div>
                        <div class="columns medium-4">
                            <a data-open="industry-picker-mobile-edit-profile" class="button-add-industries">
                              {{#if profile.industryTwoName}}
                                <div class="button-header">{{profile.industryTwoName}}</div>
                                <div class="button-footer"><i class="fa fa-pencil-square-o"></i></div>
                              {{else}}
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <div>Add Industry</div>
                              {{/if}}
                            </a>
                        </div>
                        <div class="columns medium-4">
                            <a data-open="industry-picker-mobile-edit-profile" class="button-add-industries">
                              {{#if profile.industryThreeName}}
                                <div class="button-header">{{profile.industryThreeName}}</div>
                                <div class="button-footer"><i class="fa fa-pencil-square-o"></i></div>
                              {{else}}
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <div>Add Industry</div>
                              {{/if}}
                            </a>
                        </div>
                      </div>
                      <div class="row">
                        <div class="columns">
                          {{form-input-button item=profile submit="save" placeholder="Saved"}}
                        </div>
                      </div>
                    </form>
                    <div class="spacer-2"></div>
                  </section>
                </div>
              </div>
            </div>

            <section class="industry-examples">
              <div class="columns">
                <p class="title text-center mb40">
                  Not sure what Industries to select?
                </p>
                {{partial 'partials/industry-examples'}}
              </div>
            </section>
          </div>
          <div class="tabs-panel header {{active-tab 'snapshot' tab}}" id="snapshot">
            <div class="row align-center">
              <div class="columns medium-10">
                <div class="spacer-2"></div>
                <section>
                  {{form-expertise profile=profile onSave="save"}}
                </section>
              </div>
            </div>
          </div>
          <div class="tabs-panel {{active-tab 'work' tab}}" id="work">
            {{ profile-work-history items=experiences}}
          </div>
          <div class="tabs-panel {{active-tab 'academia' tab}}" id="academia">
            <div class="row align-center">
              <div class="columns medium-10">
                <section>
                  {{ profile-academia items=educations}}
                </section>
              </div>
            </div>
          </div>
          <div class="tabs-panel {{active-tab 'language' tab}}" id="language">
            <div class="row align-center">
              <div class="columns medium-10">
                {{ profile-language items=languages}}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

{{industry-picker name="edit-profile" title="Select up to 3 Industries you want to participate in" selected=industries submit="onIndustrySelect"}}
{{industry-picker-mobile name="edit-profile" title="Select up to 3 Industries you want to participate in" selected=industries submit="onIndustrySelect"}}
