<div class="row">
  <div class="medium-6 small-centered columns">
    <div class="page-heading">
      <h1>Edit Profile</h1>
      <p class="text-center">
        A complete profile increases your chances of being noticed by industry peers and businesses. So invest some time here—it’ll do you good!
      </p>
    </div>
  </div>

</div>
<div class="row">
  <div class="columns">
    <div class="row collapse brydge-tab brydge-form">

      <div class="medium-4 columns">

        {{#zf-tabs class="vertical" id="edit-tabs"}}
        <li data-tab='personal' class="tabs-title {{active-tab 'personal' tab}}">
          <a href="#personal" aria-selected="true"><i class="fa fa-street-view" aria-hidden="true"></i>Personal Particulars</a>
        </li>
        <li data-tab='industry' class="tabs-title {{active-tab 'industry' tab}}">
          <a href="#industry"><i class="fa fa-briefcase" aria-hidden="true"></i>Industries</a>
        </li>
        <li data-tab='snapshot' class="tabs-title {{active-tab 'snapshot' tab}}">
          <a href="#snapshot"><i class="fa fa-camera-retro" aria-hidden="true"></i>Snapshot</a>
        </li>
        <li data-tab='work' class="tabs-title {{active-tab 'work' tab}}">
          <a href="#work"><i class="fa fa-paperclip" aria-hidden="true"></i>Work History</a>
        </li>
        <li data-tab='academia' class="tabs-title {{active-tab 'academia' tab}}">
          <a href="#academia"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Academia</a>
        </li>
        <li data-tab='language' class="tabs-title {{active-tab 'language' tab}}">
          <a href="#language"><i class="fa fa-globe" aria-hidden="true"></i>Languages</a>
        </li>
        {{/zf-tabs}}
      </div>
      <div class="medium-8 columns float-left">
        <div class="tabs-content vertical boxz form-highlight" data-tabs-content="edit-tabs">

          <div class="tabs-panel {{active-tab 'personal' tab}}" id="personal">
            <section class="personal-info">
              {{partial 'me/edit/info'}}
            </section>
          </div>
          <div class="tabs-panel {{active-tab 'industry' tab}}" id="industry">

            <section class="header">
              <p>
                On Brydge, you can participate in up to three industries. Make sure you select at least one.
              </p>
              <form class="form-occupational-industry">
                <div class="row mb20">
                  <div class="columns medium-4">
                      <a data-open="industry-picker-edit-profile" class="button-add-industries">
                        {{#if profile.industryOneName}}
                          <div class="button-header">{{profile.industryOneName}}</div>
                          <div class="button-footer"><i class="fa fa-pencil-square-o"></i></div>
                        {{else}}
                          <i class="fa fa-plus" aria-hidden="true"></i>
                          <div>Add Industry</div>
                        {{/if}}
                      </a>
                  </div>
                  <div class="columns medium-4">
                    {{#if profile.industryTwoName}}
                      <a data-open="industry-picker-edit-profile" class="button-add-industries">
                        <div class="button-header">{{profile.industryTwoName}}</div>
                        <div class="button-footer"><i class="fa fa-pencil-square-o"></i></div>
                      </a>
                    {{else}}
                      <a data-open="industry-picker-edit-profile" class="button-add-industries">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <div>Add Industry</div>
                      </a>
                    {{/if}}
                  </div>
                  <div class="columns medium-4">
                    {{#if profile.industryThreeName}}
                      <a data-open="industry-picker-edit-profile" class="button-add-industries">
                        <div class="button-header">{{profile.industryThreeName}}</div>
                        <div class="button-footer"><i class="fa fa-pencil-square-o"></i></div>
                      </a>
                    {{else}}
                      <a data-open="industry-picker-edit-profile" class="button-add-industries">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <div>Add Industry</div>
                      </a>
                    {{/if}}
                  </div>
                </div>
                <div class="row">
                  <div class="columns">
                    {{form-input-button item=profile submit="save" placeholder="Saved"}}
                  </div>
                </div>
              </form>
            </section>
            <section class="industry-examples">
              <p class="title text-center mb40">
                Not sure what Industries to select?
              </p>
              {{partial 'partials/industry-examples'}}
            </section>


          </div>
          <div class="tabs-panel {{active-tab 'snapshot' tab}}" id="snapshot">
            <section class="header">
              <form>
                <label for="">A quick snapshot about your professional life:</label>
                <div class="wrapper">
                  {{form-text-counter limit=500 value=profile.snapshot rows=10 class="mb" class="with-text-helper"}}
                  <div class="text-helper font-light mb">TIP: Keep this really short. People take more notice that way.</div>
                </div>
                <div class="row">
                  <div class="columns">{{form-input-button submit="save" placeholder="Saved"}}</div>
                </div>
              </form>

            </section>
          </div>
          <div class="tabs-panel {{active-tab 'work' tab}}" id="work">
            {{ profile-work-history items=experiences}}
          </div>
          <div class="tabs-panel {{active-tab 'academia' tab}}" id="academia">
            {{ profile-academia items=educations}}
          </div>
          <div class="tabs-panel {{active-tab 'language' tab}}" id="language">
            {{ profile-language items=languages}}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

{{industry-picker name="edit-profile" title="Select up to 3 Industries you want to participate in" industries=model.categories selected=industries submit="onIndustrySelect"}}
