<div class="row collapse">
  <div class="medium-3 columns">
  {{#zf-tabs class="vertical"}}
	  <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Personal Particulars</a></li>
	  <li class="tabs-title"><a href="#panel2">Work History</a></li>
	  <li class="tabs-title"><a href="#panel3">Academia</a></li>
	  <li class="tabs-title"><a href="#industry">Industry</a></li>
	{{/zf-tabs}}
    </div>
    <div class="medium-9 columns">
    	<div class="tabs-content vertical" data-tabs-content="example-tabs">
			  <div class="tabs-panel is-active" id="panel1">
			    {{partial 'me/edit/info'}}
			  </div>
			  <div class="tabs-panel" id="panel2">
			  	
			  	{{#if isNewWork}}
					  {{partial 'me/edit/new/work'}}
					{{else}}
					  {{partial 'me/edit/work'}}
					{{/if}}
			    
			  </div>
			  <div class="tabs-panel" id="panel3">
			    {{#if isNewEducation}}
					  {{partial 'me/edit/new/education'}}
					{{else}}
					  {{partial 'me/edit/education'}}
					{{/if}}
			  </div>
			</div> 

			<div class="tabs-panel" id="industry">
			   {{partial 'me/edit/industry'}}
			</div>
			
    </div>
</div>