<div class="row">
  <aside class="columns medium-5 sidebar">
    {{profile-box profile=profile class="mb20"}}

    {{partial 'partials/profile-sidebar'}}
  </aside>

  <div class="columns medium-7 page-about">
    {{profile-menu profile=profile }}

    <div class="box">
      <section class="title">
        <h3><i class="fa fa-paperclip" aria-hidden="true"></i>Work History</h3>
      </section>
        <div class="section-group section-accordion-group work-history-group">
          {{#each experiences as |item|}}
            {{partial "partials/work-history-item"}}
          {{else}}
            <div class="section-main">
              {{profile.firstName}} hasn't added any Work History
            </div>
          {{/each}}
        </div>
    </div>

    <div class="box">
      <section>
        <h3><i class="fa fa-graduation-cap" aria-hidden="true"></i>Academia</h3>
      </section>
      <div class="section-group">
        {{#each educations as |item|}}
          {{partial "partials/academia-item"}}
        {{else}}
          <section>
            <div class="section-main">
              {{profile.firstName}} hasn't added any Academia
            </div>
          </section>
        {{/each}}
      </div>
    </div>

    <div class="box">
      <section class="title">
        <h3><i class="fa fa-globe" aria-hidden="true"></i>Languages</h3>
      </section>
      <div class="section-group section-accordion-group">
        {{#each languages as |item|}}
          {{partial "partials/language-item"}}
        {{else}}
          <section>
            <div class="section-main">
              {{profile.firstName}} hasn't added any Language
            </div>
          </section>
        {{/each}}
      </div>
    </div>
  </div>
</div>
