<div class="row columns">
  <div class="hide-for-medium">
    {{profile-menu profile=profile}}
  </div>
</div>
<div class="row">
  <aside class="columns medium-5 small-12">
    {{profile-box profile=profile full=false}}
    <div class="show-for-medium">
      {{partial 'partials/profile-sidebar'}}      
    </div>
  </aside>

  <div class="columns medium-7 small-12">
    <div class="show-for-medium">
      {{profile-menu profile=profile full=false}}
    </div>

    <div class="box">
      <section class="title-bg">
        <h3><i class="fa fa-paperclip" aria-hidden="true"></i>Work History</h3>
      </section>
        <div class="section-group section-accordion-group work-history-group">
          {{#each experiences as |item|}}
            {{partial "partials/work-history-item"}}
          {{else}}
            <div class="section-main">
              <span class="text-title">{{profile.firstName}}</span> hasn't added any Work History
            </div>
          {{/each}}
        </div>
    </div>

    <div class="box">
      <section class="title-bg">
        <h3><i class="fa fa-graduation-cap" aria-hidden="true"></i>Academia</h3>
      </section>
      <div class="section-group section-accordion-group">
        {{#each educations as |item|}}
          {{partial "partials/academia-item"}}
        {{else}}
          <section>
            <div class="section-main">
              <span class="text-title">{{profile.firstName}}</span> hasn't added any Academia
            </div>
          </section>
        {{/each}}
      </div>
    </div>

    <div class="box">
      <section class="title-bg">
        <h3><i class="fa fa-globe" aria-hidden="true"></i>Languages</h3>
      </section>
      <div class="section-group section-accordion-group">
        {{#each languages as |item|}}
          {{partial "partials/language-item"}}
        {{else}}
          <section>
            <div class="section-main">
              <span class="text-title">{{profile.firstName}}</span> hasn't added any Language
            </div>
          </section>
        {{/each}}
      </div>
    </div>
  </div>
</div>
