{{#zf-reveal id="rejectFormModal" overlay=true class="reveal-popup tiny"}}
  <h4>Reject the request.</h4>
  <form {{action 'reject' on='submit'}}>
  	<div class="mt content clearfix question-box">

  		<div class="media-object">
        <div class="media-object-section">
          <div class="thumbnail flat" style="background-image: url({{model.from.profile.avatarUrl}})">
            <img src= {{model.from.profile.avatarUrl}} class="accept-form-image hide">
          </div>
        </div>
        <div class="media-object-section media-object-content">
          <div class="title"><a>{{model.from.name}}</a></div>        
          <div class="position">
           {{model.from.profile.currentTitle}} <br>
           {{model.from.profile.currentCompany}}
          </div>
        </div>
      </div>
  	</div>
  	<div class="reveal-footer text-right">
  		<div class="content">
  			<button class="button success" type="submit">Reject</button>
  			<a class="button success" data-close>Close</a>
  		</div>
  	</div>
  </form>
{{/zf-reveal}}
