{{#if errors}}
  <div class="error-messages">
    <ul class="no-bullet errors">
      {{#each errors as |item|}}
      {{log item}}
          <li>
            <h4>{{item.title}}</h4>
            {{item.detail}}
            {{#if (eq item.code 403)}}
              {{#link-to "profile" item.source.userid}}{{item.source.first_name}} {{item.source.last_name}} {{/link-to}}
            {{/if}}
          </li>
      {{/each}}
    </ul>
  </div>
{{/if}}

{{#unless model.isSaving}}
  <form class="brydge-form">
  <div class="row">
    <div class="medium-9 columns">
      {{#if model.email}}
        {{errors}}
        {{#if errors}}
          {{input value=model.email}}
        {{else}}
          {{input value=model.email disabled=true}}
        {{/if}}
      {{else}}
        {{form-input type="email" model=this showValidate=isSubmitted key-up="edit" valuePath="email" placeholder="Email"}}
      {{/if}}
    </div>
    <div class="medium-3 columns">
      {{#if isPending}}
        <span class="button clear text-gray">Invited</span>
      {{else if isUsed}}
        <span class="button clear text-gray">Used</span>
      {{else}}
        <button class="button success expanded" {{action "submit"}}>Invite</button>
      {{/if}}
    </div>
  </div>
</form>
{{else}}
  <div class="padding">
    <div class="brydge-loading"></div>
  </div>
{{/unless}}
