{{#zf-accordion allowAllClosed="true"}}

{{#each items as |item|}}

	<li class="accordion-item" data-accordion-item >
			<a class="accordion-header">
				{{ item.title }} <br>
				<strong>{{ item.company }}</strong>
			</a>
		<div class="accordion-content" data-tab-content>
	  	<form action="" class="form-accordion	">
				<div class="row">
					<div class="columns medium-3">
						<label class="text-right middle">					
							Title
						</label>						
					</div>
					<div class="columns medium-9">
						{{form-input model=item valuePath="title"}}
					</div>
				</div>
	  		<div class="row">
	  			<div class="columns medium-3">
						<label class="text-right middle">
							Company
						</label>
	  			</div>
					<div class="columns medium-9">
						{{form-input model=item valuePath='company'}}
					</div>
				</div>
				<div class="row">
					<div class="column medium-3">
						<label class="text-right middle">
							Location
						</label>						
					</div>
					<div class="columns medium-9">
						{{form-input model=item valuePath="location"}}
					</div>
				</div>
				<div class="row">
					<div class="columns medium-3">
						<label class="text-right middle">Start Date</label>
					</div>
					<div class="columns medium-9">
						<div class="row">
							<div class="columns medium-6">{{form-input-month-year value=item.from}}</div>
							<div class="columns medium-6">{{form-input-month-year value=item.from type="year"}}</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="columns medium-3">
						<label class="text-right middle">
							End Date							
						</label>
					</div>
					<div class="columns medium-9">
						<div class="row">
							<div class="columns medium-6">{{form-input-month-year value=item.to disabled=item.currentCompany}}</div>
							<div class="columns medium-6">{{form-input-month-year value=item.to type="year" disabled=item.currentCompany}}</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="columns medium-9 medium-offset-3">
						<div class="checkbox">
							<label class="middle">
								{{input type="checkbox" name="currentCompany" checked=item.currentCompany}} I currently work here
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="columns medium-3">
						<label class="text-right middle">
							Description
						</label>						
					</div>
					<div class="columns medium-9">
						{{form-text-counter limit=500 value=item.content rows=10 }}				
					</div>
				</div>
				<div class="row">
					<div class="columns medium-9 medium-offset-3">
				    <button class='button success' disabled={{v-get item 'isInvalid'}} {{ action 'update' item }}>SAVE</button>
				    <button class='button success float-right' {{ action 'delete' item }}>DELETE</button>						
					</div>
				</div>

			</form>								

		</div>
	</li>
{{/each}}
	<li class="accordion-item" data-accordion-item>
		<div class="accordion-content" data-tab-content>
	  	<form action="" class="form-accordion">
				<div class="row">
					<div class="columns medium-3">
						<label class="text-right middle">					
							Title
						</label>						
					</div>
					<div class="columns medium-9">
						{{form-input model=this valuePath="title"}}
					</div>
				</div>
	  		<div class="row">
	  			<div class="columns medium-3">
						<label class="text-right middle">
							Company
						</label>
	  			</div>
					<div class="columns medium-9">
						{{form-input model=this valuePath="company"}}
					</div>
				</div>
				<div class="row">
					<div class="column medium-3">
						<label class="text-right middle">
							Location
						</label>						
					</div>
					<div class="columns medium-9">
						{{form-input model=this valuePath="location"}}
					</div>
				</div>
				<div class="row">
					<div class="columns medium-3">
						<label class="text-right middle">Start Date</label>
					</div>
					<div class="columns medium-9">
						<div class="row">
							<div class="columns medium-6">{{form-input-month-year value=this.from}}</div>
							<div class="columns medium-6">{{form-input-month-year value=this.from type="year"}}</div>
						</div>

					</div>
				</div>
				<div class="row">
					<div class="columns medium-3">
						<label class="text-right middle">
							End Date							
						</label>
					</div>
					<div class="columns medium-9">
						<div class="row">
							<div class="columns medium-6">{{form-input-month-year value=this.to disabled=this.currentCompany}}</div>
							<div class="columns medium-6">{{form-input-month-year value=this.to type="year" disabled=this.currentCompany}}</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="columns medium-9 medium-offset-3">
						<div class="checkbox">
							<label class="middle">
								{{input type="checkbox" name="currentCompany" checked=this.currentCompany}} I currently work here
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="columns medium-3">
						<label class="text-right middle">
							Description
						</label>						
					</div>
					<div class="columns medium-9">
						{{form-text-counter limit=500 value=this.content rows=10 }}				
					</div>
				</div>
				<div class="row">
					<div class="columns medium-9 medium-offset-3">
			    	<button class='button success' disabled={{v-get this 'isInvalid'}} {{ action 'create' }}>SAVE</button>
				    <button class='button success'>RESET</button>						
					</div>
				</div>
			</form>								
		</div>
  		<a class="more no-arrow button success expanded">{{fa-icon "plus"}}</a>
	</li>  
{{/zf-accordion}}