<div class="bg-gray">
  <div class="row align-center">
    <div class="columns medium-10 medium-centered">
      <div class="spacer-2"></div>
      <section>
        <p>You current job will be set as your profile's Title. Alternatively, you can pick a Career Status from the dropdown and use that as your profile's Title.</p>

    		<label for="">Select a Career Status <span>(If you are currently not employed full-time)</span></label>
    			<div class="row">
    				<div class="columns medium-8">
    						{{select-native content=highlightStatuses action=(action (mut highlightStatus)) selectedValue=defaultCareerStatus}}
    				</div>
    				<div class="columns medium-4">
    					{{#if isHighlightStatus}}
    						<label class="middle">
    							<a>Current Title</a>
    						</label>
    					{{else}}
    						<label for="highlightStatus" class="for-radio middle">
    							<a {{action "highlightCustom"}}>Use this as Title</a>
    						</label>
              {{/if}}
    				</div>
    			</div>
      </section>
    </div>
  </div>
</div>
<div class="row align-center">
  <div class="columns medium-10 medium-centered">
    <section>
    	<label class="title">Work History</label>
    {{#zf-accordion allowAllClosed="true" class="brydge-accordion"}}
        <li class="accordion-item" data-accordion-item>
          <a class="button success expanded rounded">Add Job Position</a>
          <div class="accordion-content" data-tab-content>
            <div class="content form-new">
              {{partial "partials/form-work-history"}}
              <div class="row">
                <div class="columns">
                  {{form-input-button item=item submit="create" placeholder="Saved"}}
                </div>
              </div>
            </div>
          </div>
        </li>
      {{#each list as |item|}}
      	<li class="accordion-item box	" data-accordion-item >

      		<a class="col">
      				<div class="name"><strong>{{ item.title }}</strong></div>
      				<div class="company">{{ item.company }}</div>
      				<div class="timestamp">
      		      {{term-date-format item.startFrom}} -
      		      {{#if item.currentCompany}}
      		        Present
      		      {{else}}
      		        {{term-date-format item.endAt}}
      		      {{/if}}
      	      </div>
      		</a>
      		<div class="col text-right">
            {{#if item.currentCompany}}
        			{{#if item.isProfileTitle}}
        				<label><a>Current Title</a></label>
        			{{else}}
          			<label for="{{item.id}}" class="for-radio">
          				<a {{action "highlight" item}}>Use this as Title</a>
          			</label>
        			{{/if}}
            {{/if}}

      		</div>
      		<div class="accordion-content" data-tab-content>
      	  	<div class="content">
      				{{partial "partials/form-work-history"}}
      				<div class="row">
      					<div class="columns">
                  {{form-input-button item=item submit="update" placeholder="Saved" class="inline-block"}}
      				    <a class="float-right button button-border" data-open={{concat 'dialog-box-' 'delete-' item.id}}>Delete</a>
      					</div>
      				</div>
      			</div>
      		</div>
          {{dialog-box name="delete" item=item title="Delete Job Position" content="Are you sure you want to delete this job position?" submit="delete"}}
      	</li>
      {{/each}}
    {{/zf-accordion}}
    </section>
  </div>
</div>
