{{#zf-reveal id="answerFormModal" overlay=true class="small box"}}
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
  <section class="title">
    <h4>Write Answer</h4>
  </section>
  <section>
  	<div class="title">{{ask.question.question}}</div>
  </section>
  <section class="header">
    <form class="form-input">
      <div class="avatar circle" style={{htmlSafeImage sessionAccount.account.profile.avatarUrl}}>
        <img src={{sessionAccount.account.profile.avatarUrl}} class="hide">
      </div>
      <div class="input-wrapper">
        {{textarea
          value=answer
          key-up="edit"
          class="textarea content-editable"
          placeholder="Type answer here"
          }}
      </div>
    </form>
  </section>
  <section>
    <button class="success button rounded" type="submit" {{action "submit"}}>Submit</button>
		<a class="button button-clear float-right" data-close>Cancel</a>
  </section>

{{/zf-reveal}}
