	<section class="content-title">
	  <h4>Industry Picker</h4>
		<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
	    <span aria-hidden="true">&times;</span>
	  </button>
	</section>

	  {{#zf-tabs class="hide" id=(concat "industry-tab-" name)}}
	    <li class="tabs-title is-active"><a href="#{{name}}-root">Root</a></li>
	    {{#each categories as |item|}}
	        <li class="tabs-title"><a href="#{{name}}-{{item.sector_id}}">{{item.name}}</a></li>
	        {{#each item.categories as |category|}}
	          <li class="tabs-title"><a href="#{{name}}-{{category.industry_id}}">{{category.name}}</a></li>
	        {{/each}}
	    {{/each}}
	    <li class="tabs-title"><a href="#{{name}}-done">Done</a></li>
	  {{/zf-tabs}}

	  <div data-tabs-content="industry-tab-{{name}}">
	    <div class="tabs-panel is-active bg-gray" id="{{name}}-root">
	    	<section>
				  <p>
				  	Step 1 of 2: <span class="text-green">Select an Industry Group</span>
				  </p>
					<form>
			      <ul class="no-bullet text-title root-list">
			        {{#each categories as |item|}}
			          <li>
									<strong>{{item.name}}</strong>
									<ul class="no-bullet">
				            {{#each item.categories as |item|}}
				              <li>
												{{#zf-tooltip title=item.industry_description positionClass="right" templateClasses="picker-tooltip"}}
													<a {{action "goto" "2" item }}>{{item.name}}</a>
												{{/zf-tooltip}}
											</li>
				            {{/each}}
									</ul>
								</li>
			        {{/each}}
			      </ul>
					</form>
	      </section>
	    </div>

	    <form>
	      {{#each categories as |item|}}
	        <div class="tabs-panel" id="{{name}}-{{item.sector_id}}">
	          <section class="content-title text-title">
	        		<label>Sector:</label> <strong>{{item.name}}</strong> <a {{action "goto" "0" "root" }}>Change</a>
	          </section>
	          <section class="content">
	          	Choose an Industry Group
	            <ul class="no-bullet text-title">
	            {{#each item.categories as |item|}}
	              <li>
									{{#zf-tooltip title=item.industry_description positionClass="right" templateClasses="picker-tooltip"}}
										<a {{action "goto" "2" item }}>{{item.name}}</a>
									{{/zf-tooltip}}
								</li>
	            {{/each}}
	            </ul>
	          </section>
	        </div>

	        {{#each item.categories as |category|}}
	          <div class="tabs-panel" id="{{name}}-{{category.industry_id}}">
	            <section class="content-title text-title">
	          		<label>Industry Group:</label> <strong>{{category.name}}</strong> <a {{action "goto" "0" "root" }}>Change</a>
	            </section>
	            <section class="content">
								<p>
							  	Step 2 of 2: <span class="text-green">Select an Industry</span>
							  </p>
		            <ul class="no-bullet sub-industry">
		            {{#each category.industries as |industry|}}
		              <li>
										<a {{action "goto" "3" industry }}>{{industry.data.subIndustry}}</a>
		              </li>
		            {{/each}}
		            </ul>
	            </section>
	          </div>
	        {{/each}}
	      {{/each}}
	    </form>

	    <div class="tabs-panel" id="{{name}}-done">
	    	<form>
	        <section class="content-title text-title">
	      		<label>Industry Group:</label> <strong>{{group.name}}</strong> <a {{action "goto" "0" "root" }}>Change</a>
	        </section>
	        <section class="content-title text-title">
	      		<label>Industry:</label> <strong>{{industry.data.subIndustry}}</strong> <a {{action "goto" "2" group }}>Change</a>
	        </section>
		    	<section>
				    <button class="button success rounded" {{action "select" industry }}>Select</button>
		      </section>
	      </form>
	    </div>
	  </div>
