{{#if errors}}
  <div class="error-messages">
    <h4>There was an error submitting the form</h4>
    <ul class="no-bullet errors">
      {{#each errors as |item|}}
          <li>{{item.detail}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}


<form class="brydge-form">
  <div class="row columns">
    <div class="mb20">
      <label>Current: {{#link-to "public-profile" profile.publicProfile }}brydge.com/{{profile.publicProfile}}{{/link-to}}</label>
    </div>

  <div class="{{unless validations.attrs.username.isValid 'validated-input has-error'}}">
    {{form-input model=this valuePath="username" class="hide"}}
    {{#unless validations.attrs.username.isValid}}
      <div class="error mb">{{validations.attrs.username.message}}</div>
    {{/unless}}
    <div class="row dashed-format mb20">
      <div class="columns" style="width:30%">
        {{form-input model=this valuePath="publicProfileOne" focus-out="checkUsername"}}
      </div>
      <div class="columns dash" style="width:25%">
        <label for="">
          {{form-input model=this valuePath="publicProfileTwo" focus-out="checkUsername"}}
          <span>optional</span>
        </label>
      </div>
      <div class="columns dash end" style="width:25%">
        <label for="">
          {{form-input model=this valuePath="publicProfileThree" focus-out="checkUsername"}}
          <span>optional</span>
        </label>
      </div>
    </div>
  </div>


    <div class="row columns">
      {{form-input-button item=this submit="save" placeholder="Saved"}}
    </div>
  </div>
</form>
