<div>
	<h3>Messages for {{model.id}} ({{model.messages.length}})</h3>

	{{#each model.messages as |message|}}
			<div class="callout secondary">
				[{{message.from.name}}]
				<p>{{ message.content }}</p>
			</div>
	{{/each}}
</div>


 {{ message-box store=store resp='getResponse' buttonLabel='Reply' showToInput=false to=model.id}}
