{{#unless landingPage}}
  {{render "header"}}
{{/unless}}
<section class="main">
{{outlet}}
</section>

<div class="flash-notification">
	{{#each flashMessages.queue as |flash|}}
	  {{#flash-message messageStyle='foundation' flash=flash as |component flash| }}
	    {{#if flash.componentName}}
	      {{component flash.componentName content=flash.content}}
	    {{else}}
	      <h6>{{component.flashType}}</h6>
	      <p>{{flash.message}}</p>
	    {{/if}}
	  {{/flash-message}}
	{{/each}}
</div>