{{#if isHeader}}
  {{#if isAuth}}
    {{render "header"}}
  {{/if}}
{{else if isPublic}}
  {{#unless isAuth}}
    {{render "public-header"}}
  {{/unless}}
{{else if isStatic}}
  {{render "static-header"}}
{{/if}}

<section class="main {{classNames}}">
  <div class="spacer-2"></div>
  {{outlet}}
</section>

{{#zf-reveal id="mobileBrowser" overlay=true class="full box brydge-dialog" closeOnEsc=false closeOnClick=false}}
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
  <section class="title">
    <h4><a href="/" class="logo"><img src="https://storage.googleapis.com/brydge-assets/logo.svg"></a></h4>
  </section>
  <section>
    <p>Brydge is in BETA, and best optimized for the Web.</p>

    <p>You can proceed to use it on Mobile. But please note that we are still tinkering with it.    </p>
    <br>
    <br>
    <p><a href="https://www.facebook.com/brydgedotcom" target="_blank">Follow us on Facebook</a> to stay updated.</p>
    <br>
    <br>
  </section>
  <div class="reveal-footer">
    <button class="success button expanded" type="submit" data-close>Proceed</button>
  </div>
{{/zf-reveal}}

{{#unless session.isAuthenticated}}
  {{login-dialog onAuthenticate="login"}}
{{/unless}}
{{modal-player name="video-teaser" videoid="Y1yOKql2xc0"}}
