{{partial "partials/header-white"}}
<div class="main-content">
  <div class="container">
    <div class="row align-center">
      <div class="large-6 medium-8 columns">
        <div class="brydge-dialog dialog-wrapper">
          <div class="brydge-form micro-forms">
            {{#if errors}}
              <div class="error-messages">
              <ul class="no-bullet errors">
                {{#each errors as |item|}}
                    <li>
                      <h4>{{item.title}}</h4>
                      {{item.detail}}
                    </li>
                {{/each}}
              </ul>
            </div>
            {{/if}}
            {{#if model}}
              {{#unless successPasswordChange }}
                <form {{action "change" on="submit"}}>
                  <div class="row column">
                    {{form-input type="password" model=this valuePath="password" placeholder="New Password"}}
                    {{form-input type="password" model=this valuePath="confirmPassword" placeholder="Confirm Password"}}
                    <button class="button success rounded" disabled={{v-get this 'isInvalid'}} type="submit">Change Password</button>
                  </div>
                </form>
              {{/unless}}
            {{else}}
              {{#unless forgotPasswordSent}}
                <form {{action "submit" on="submit"}}>
                  <div class="row column">
                    {{form-input model=this valuePath="forgotEmail" placeholder="Email"}}
                  </div>
                  <div class="row">
                    <div class="columns medium-4">
                      <button class="button success rounded expanded" type="submit">Forgot Password</button>
                    </div>
                  </div>
                </form>
              {{/unless}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    <div class="row align-center">
      <div class="large-8 medium-8 columns">
        {{#if forgotPasswordSent}}
          <div class="box">
            <section class="title">
              <h4>Password reset link has been sent</h4>
            </section>
            <section>
              Please check your email and follow the instructions.
            </section>
          </div>
        {{/if}}
        {{#if successPasswordChange}}
          <div class="box">
            <section class="title">
              <h4>Password has been changed</h4>
            </section>
            <section>
              You have successfully changed your password. Go to <a href="{{href-to 'login'}}">Log In</a> page.
            </section>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
<footer>
  {{search-box}}
</footer>
