<div class="expanded row">
  <div class="columns medium-9 small-6 main-content">
    <div class="container">
      <div class="row">
        <div class="large-5 medium-6 small-centered columns">
          <div class="dialog-wrapper">
            <div class="page-dialog">
              <a href="/" class="logo"><img src="assets/brydge-blue.svg"></a>
            </div>
            {{#if errors}}
              <div class="error-messages">
              <ul class="no-bullet errors">
                {{#each errors as |item|}}
                    <li>
                      <h4>{{item.title}}</h4>
                      {{item.detail}}
                    </li>
                {{/each}}
              </ul>
            </div>
            {{/if}}
            {{#if model}}
              {{#unless successPasswordChange }}
                <form {{action "change" on="submit"}} class="brydge-form micro-forms">
                  <div class="row column">
                    {{form-input type="password" model=this valuePath="password" placeholder="New Password"}}
                    {{form-input type="password" model=this valuePath="confirmPassword" placeholder="Confirm Password"}}
                    <button class="button success rounded" disabled={{v-get this 'isInvalid'}} type="submit">Change Password</button>
                  </div>
                </form>
              {{/unless}}
            {{else}}
              {{#unless forgotPasswordSent}}
                <form {{action "submit" on="submit"}} class="brydge-form micro-forms">
                  <div class="row column">
                    {{form-input model=this valuePath="forgotEmail" placeholder="Email"}}
                    <button class="button success rounded" disabledxxx={{v-get this 'isInvalid'}} type="submit">Forgot Password</button>
                  </div>
                </form>
              {{/unless}}
            {{/if}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="medium-6 small-centered columns">
          {{#if forgotPasswordSent}}
            <div class="box">
              <section class="title">
                <h4>Password reset link has been sent</h4>
              </section>
              <section>
                Please check your email and follow the instructions.
              </section>
            </div>
          {{/if}}
          {{#if successPasswordChange}}
            <div class="box">
              <section class="title">
                <h4>Password has been changed</h4>
              </section>
              <section>
                You have successfully changed your password. Go to {{link-to "Login" "login"}} page.
              </section>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <div class="columns medium-3 small-6 sidebar-content">
    <div class="container">
      <h1><strong>Your new professional profile.</strong></h1>
      <p>
        <h1><span>Ask</span> for expertise</h1>
        <h1><span>Share</span> your expertise</h1>
        <h1><span>Discover</span> professionals like you</h1>
        <h1><span>Discuss</span> industry news</h1>
      </p>
    </div>
  </div>
</div>
