<header>
  <div class="title-bar">
    <div class="row collapse">
      <div class="title-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
						{{#link-to 'home'}}<img src="https://storage.googleapis.com/brydge-assets/logo.svg" class="logo">{{/link-to}}
          </li>
          <li>
						{{top-bar-search}}
          </li>
        </ul>
      </div>
      <div class="title-bar-right">
				<ul class="top-bar-group menu menu-actions wrapper" {{ action "closeTooltip" preventDefault=false }}>
					<li>
						{{#zf-tooltip title="Profile Views"  vOffset=7}}
							<a data-toggle="dd-views" class="dropdown-button-arrow dropdown-button-icons" {{action "open" "view" }}>
								{{#if notification.count.view}}
									<span class="alert badge">{{notification.count.view}}</span>
								{{/if}}
								<i class="icons bino"></i>
							</a>
						{{/zf-tooltip}}
					</li>
					<li>
						{{#zf-tooltip title="Notifications" vOffset=7}}
							<a data-toggle="dd-notification" class="dropdown-button-arrow dropdown-button-icons" {{action "open" "notification"}}>
									{{#if notification.count.notification }}
							      <span class="alert badge">{{notification.count.notification}}</span>
							    {{/if}}
									<i class="icons stack"></i>
							</a>
						{{/zf-tooltip}}
					</li>
          <li>
            <span>
            {{#link-to "home" class="home-icon"}}
              <i class="fa fa-home" aria-hidden="true"></i>
            {{/link-to}}
            </span>
					</li>
					<li>
						<ul class="user-info user-small user-session no-bullet">
							<li>
								{{#link-to "profile" sessionAccount.account.profile.uid }}
									<div class="avatar" style={{htmlSafeImage sessionAccount.account.profile.avatarUrl}}>
										<img src= {{sessionAccount.account.profile.avatarUrl}} class="hide">
									</div>
								{{/link-to}}
                {{isOnboarding}}
							</li>
						</ul>
					</li>
					<li>
						<ul class="menu">
							<li>
								{{#zf-tooltip title="Menu" vOffset=7}}
									<a data-toggle="dd-menu" class="dropdown-button-arrow">
										<i class="icons caret"></i>
									</a>
								{{/zf-tooltip}}
							</li>
						</ul>

					</li>
				</ul>
      </div>


    </div>
  </div>
  <div class="row columns wrapper">
	{{#zf-dropdown id="dd-views" dataName="views" class="dropdown-notification" closeOnClick=true }}
		<div class="dropdown-header">
			<h4>See who's viewed your profile</h4>
      <div>
        You can turn this ON or OFF in {{link-to "Settings" "settings" (query-params tab="views")}}.
      </div>
		</div>
		<ul class="media-list user user-small">
			{{#if settings.profileView}}
				{{#each views as |item|}}
  				<li {{action "read" item}}>
            {{#link-to "profile" item.target.id class=(if item.read false 'new-notification')}}
  						<div class="row collapse">
  							<div class="columns">
  					      <div class="avatar" style={{htmlSafeImage item.target.profile.avatarUrl }}>
  					        <img src= {{item.target.profile.avatarUrl}} class="hide">
  					      </div>
  					      <div class="user-info">
                    <div>
                      <span class="name">{{item.target.profile.fullName}}</span>
                      <span class="timestamp float-right">{{ timestamp-views item.createdAt }}</span>
                    </div>
  					        <div class="position">{{item.target.profile.career}}</div>
  					      </div>

  							</div>
  						</div>
            {{/link-to}}
  				</li>
        {{else}}
          <li>
            <div class="empty-message">
              {{#if loading.view}}
                <div class="brydge-loading"></div>
              {{else}}
                You have no profile views
              {{/if}}
            </div>

  				</li>
				{{/each}}

			{{else}}
				<li>
					<div class="empty-message">
						You have turned Profile Views off
					</div>
				</li>
			{{/if}}
		</ul>
    {{#if settings.profileView}}
  		{{#link-to 'profile-views' class="footer-button button expanded"}}
  			See all Profile Views
  		{{/link-to}}
    {{/if}}
	{{/zf-dropdown}}

	{{#zf-dropdown id="dd-notification" class="dropdown-notification" closeOnClick=true}}
		<div class="dropdown-header">
			<h4>Your Notifications</h4>
				<div>
          Get updates on your interaction with other users on Brydge.
				</div>
		</div>

	  <ul class="media-list user user-small">
		  {{#each notifications as |item|}}
		    <li>
		    	<a {{action "select" item}} class="{{if item.read false 'new-notification'}}">
						<div class="row columns collapse">
							<div class="columns">
					      <div class="avatar" style={{htmlSafeImage item.target.profile.avatarUrl }}>
					        <img src= {{item.target.profile.avatarUrl}} class="hide">
					      </div>
					      <div class="user-info">
		              <div>
		              	<strong class="name">{{item.target.profile.fullName }}</strong> {{{notification-text item}}}
		              </div>
		              <span class="timestamp">{{ timestamp item.createdAt }}</span>
					      </div>
							</div>
						</div>
					</a>
		    </li>
		  {{else}}
			  <li>
          <div class="empty-message">
            {{#if loading.notification}}
              <div class="brydge-loading"></div>
            {{else}}
              No new notifications
            {{/if}}
          </div>

			  </li>
		  {{/each}}
	  </ul>
			{{#link-to 'notifications' class="footer-button button expanded"}}
				See all Notifications
			{{/link-to}}
	{{/zf-dropdown}}

	{{#zf-dropdown id="dd-menu" class="dropdown-menu" closeOnClick=true}}
		<ul class="menu">
			<li>{{link-to "Home" "home"}}</li>
		</ul>
		<ul class="menu">
			<li>{{link-to "Profile" "profile" session.data.authenticated.user_id}}</li>
			<li>{{link-to "Edit Profile" "me.edit"}}</li>

		</ul>
		<ul class="menu">
			<li>{{link-to "Following" "me.following"}}</li>
      <li>{{link-to "Followers" "me.followers"}}</li>
			<li>{{link-to "Ask" "me.ask"}}</li>
		</ul>
		<ul class="menu hide">
			<li>{{link-to "People Search" "search"}}</li>
		</ul>
		<ul class="menu">
			<li>{{link-to "Settings" "settings" }}</li>
			<li><a href="" {{action 'logout'}}>Log out</a></li>
		</ul>
	{{/zf-dropdown}}

</div>
</header>
