<header class="top-bar"  data-options="marginTop:0;" style="width:100%">
	<div class="row columns">
		<div class="top-bar-title">{{#link-to 'home'}}<img src="assets/logo.svg">{{/link-to}}</div>
		<div>
			<div class="top-bar-left">
				<ul class="menu menu-links hide">
					<li>{{#link-to 'me'}}Profile{{/link-to}}</li>
					<li>{{#link-to 'home'}}Home{{/link-to}}</li>
				</ul>
				<ul class="top-bar-group menu menu-actions" {{ action "closeTooltip" preventDefault=false }}>

					{{top-bar-views setting=sessionAccount.account.profile.settings}}
					{{top-bar-requests}}
					{{top-bar-messages}}
					{{top-bar-notifications}}
				</ul>
			</div>
			<div class="top-bar-right">
				{{top-bar-search}}
				<ul class="top-bar-group menu menu-actions" {{ action "closeTooltip" }}>	
					<li>
						<a data-toggle="dd-menu">
							{{#zf-tooltip title="Menu" vOffset=0}}
								<i class="divider"></i>
								<i class="icons caret"></i>
							{{/zf-tooltip}}
							<div class="wrapper">
								<div class="triangle"></div>
							</div>
						</a>

							{{#zf-dropdown id="dd-menu" class="dropdown-topbar" closeOnClick=true}}
								<ul class="menu">
									<li>{{link-to "Home" "home"}}</li>
								</ul>
								<ul class="menu">
									<li>{{link-to "Profile" "me"}}</li>
									<li>{{link-to "Edit Profile" "me.edit" sessionAccount.account.userid}}</li>
									
								</ul>
								<ul class="menu">
									<li>{{link-to "Connections" "me.connections"}}</li>
									<li>{{link-to "Your ASK Page" "me.ask"}}</li>
									<li>{{link-to "Compliments" "me.compliments"}}</li>
								</ul>
								<ul class="menu">
									<li>{{link-to "People Search" "search"}}</li>
								</ul>
								<ul class="menu">
									<li>{{link-to "Settings" "settings" }}</li>
									<li>{{link-to "User Guide" "user-guide" }}</li>
									<li><a href="" {{action 'logout'}}>Log out</a></li>
									
								</ul>

							{{/zf-dropdown}}
						
					</li>
				</ul>

			</div>
		</div>
	</div>
</header>
