<header>
  <div class="title-bar">
    <div class="row collapse">
      <div class="title-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
						{{#link-to 'home'}}<img src="assets/logo.svg" class="logo">{{/link-to}}
          </li>
          <li>
						{{top-bar-search}}
          </li>
        </ul>
      </div>
      <div class="title-bar-right">
				<ul class="top-bar-group menu menu-actions wrapper" {{ action "closeTooltip" preventDefault=false }}>
					<li>
						{{#zf-tooltip title="Profile Views"  vOffset=7}}
							<a data-toggle="dd-views" class="dropdown-button-arrow dropdown-button-icons" {{action "open" "view" }}>
								{{#if notification.count.view}}
									<span class="alert badge">{{notification.count.view}}</span>
								{{/if}}
								<i class="icons bino"></i>
							</a>
						{{/zf-tooltip}}
					</li>

					<li>
						{{#zf-tooltip title="Connection Requests" vOffset=7}}
							<a data-toggle="dd-requests" class="dropdown-button-arrow dropdown-button-icons" {{action "open" "request"}}>
								{{#if notification.count.request}}
									<span class="alert badge">{{notification.count.request}}</span>
								{{/if}}
								<i class="icons user"></i>
							</a>
						{{/zf-tooltip}}

					</li>
					<li>
						{{#zf-tooltip title="Messages" vOffset=7}}
							<a data-toggle="dd-messages" class="dropdown-button-arrow dropdown-button-icons" {{action "open" "message"}}>
								{{#if notification.count.message}}
									<span class="alert badge">{{notification.count.message}}</span>
								{{/if}}
								<i class="icons messages"></i>
							</a>
						{{/zf-tooltip}}

					</li>
					<li>
						{{#zf-tooltip title="Notifications" vOffset=7}}
							<a data-toggle="dd-notification" class="dropdown-button-arrow dropdown-button-icons" {{action "open" "notification"}}>
									{{#if notification.count.notification }}
							      <span class="alert badge">{{notification.count.notification}}</span>
							    {{/if}}
									<i class="icons stack"></i>
							</a>
						{{/zf-tooltip}}

					</li>
          <li>
            <span>
            {{#link-to "home" class="home-icon"}}
              <i class="fa fa-home" aria-hidden="true"></i>
            {{/link-to}}
            </span>
					</li>
					<li>
						<ul class="user-info no-bullet">
							<li>
								{{#link-to "me"}}
									<div class="avatar" style={{htmlSafeImage sessionAccount.account.profile.avatarUrl}}>
										<img src= {{sessionAccount.account.profile.avatarUrl}} class="hide">
									</div>
								{{/link-to}}
							</li>
						</ul>
					</li>
					<li>
						<ul class="menu">
							<li>
								{{#zf-tooltip title="Menu" vOffset=7}}
									<a data-toggle="dd-menu" class="dropdown-button-arrow">
										<i class="icons caret"></i>
									</a>
								{{/zf-tooltip}}
							</li>
						</ul>

					</li>
				</ul>
      </div>


    </div>
  </div>
</header>

<div class="row columns wrapper">
	{{#zf-dropdown id="dd-views" dataName="views" class="dropdown-notification" closeOnClick=true }}
		<div class="dropdown-header">
			<h4>See who's viewed your profile</h4>
      <div>
        You can turn this ON or OFF in {{link-to "Settings" "settings" (query-params tab="views")}}.
      </div>
		</div>
		<ul class="media-list user">
			{{#if settings.profileView}}
				{{#each views as |item|}}
  				<li {{action "read" item}}>
            {{#link-to "profile" item.target.id class=(if item.read false 'new-notification')}}
  						<div class="row collapse">
  							<div class="columns">
  					      <div class="avatar" style={{htmlSafeImage item.target.profile.avatarUrl }}>
  					        <img src= {{item.target.profile.avatarUrl}} class="hide">
  					      </div>
  					      <div class="user-info">
                    <div>
                      <span class="name">{{item.target.profile.fullName}}</span>
                      <span class="timestamp float-right">{{ timestamp-views item.createdAt }}</span>
                    </div>
  					        <div class="position">{{item.target.profile.career}}</div>
  					      </div>

  							</div>
  						</div>
            {{/link-to}}
  				</li>
        {{else}}
          <li>
            <div class="empty-message">
              {{#if loading.view}}
                <div class="brydge-loading"></div>
              {{else}}
                You have no profile views
              {{/if}}
            </div>

  				</li>
				{{/each}}

			{{else}}
				<li>
					<div class="empty-message">
						You have turned Profile Views off
					</div>
				</li>
			{{/if}}
		</ul>
    {{#if settings.profileView}}
  		{{#link-to 'profile-views' class="footer-button button expanded"}}
  			See all Profile Views
  		{{/link-to}}
    {{/if}}
	{{/zf-dropdown}}

	{{#zf-dropdown id="dd-requests" class="dropdown-notification" closeOnClick=true }}
		<div class="dropdown-header">
			<h4>Your Connection Requests</h4>
				<div>
					These users want to connect! Accept if you know them, or head over to their profile to see if they can be relevant professional acquaintances.
				</div>
		</div>
		<ul class="media-list user">
			{{#each requests as |item|}}
			<li>
				<div class="padding">
					<div class="row collapse">
						<div class="columns medium-9">
              {{#link-to "profile" item.target.id}}
  				      <div class="avatar" style={{htmlSafeImage item.target.profile.avatarUrl }}>
  			          <img src= {{item.target.profile.avatarUrl}} class="hide">
  				      </div>
              {{/link-to}}
              {{#link-to "profile" item.target.id}}
				      <div class="user-info">
			          <div class="name">{{item.target.profile.fullName}}</div>
				        <div class="position">{{item.target.profile.career}}</div>
				      </div>
              {{/link-to}}

						</div>
						<div class="columns medium-3 actions text-right">
		          <span class="middle"><a {{action "acceptConnection" item }}><i class="fa fa-check-circle" aria-hidden="true"></i></a></span>
		          <span class="middle"><a {{action "rejectConnection" item }}><i class="fa fa-times-circle" aria-hidden="true"></i></a></span>
						</div>
					</div>
				</div>
			</li>
			{{else}}
			<li>
        <div class="empty-message">
          {{#if loading.request}}
            <div class="brydge-loading"></div>
          {{else}}
            No pending connection requests
          {{/if}}
        </div>
			</li>
			{{/each}}
		</ul>
		{{#link-to 'requests' class="footer-button button expanded"}}
			See all Connection Requests
		{{/link-to}}
	{{/zf-dropdown}}

	{{#zf-dropdown id="dd-messages" class="dropdown-notification" closeOnClick=true }}
		<div class="dropdown-header">
			<h4>Your Incoming Messages</h4>
				<div>
					Speak with connections privately. Only connections can message you, so if you are receiving inappropriate messages or spam, inform the user or disconnect from them.
				</div>
		</div>

		<ul class="media-list user">
			{{#each messages as |item|}}
			<li {{action "read" item}} class="{{if item.read false 'new-notification'}}">
				{{#link-to "messages.conversation" item.referenceid class="no-color" }}
					<div class="row collapse">
						<div class="columns medium-8">
				      <div class="avatar" style={{htmlSafeImage item.target.profile.avatarUrl }}>
				        <img src= {{item.target.profile.avatarUrl}} class="hide">
				      </div>
				      <div class="user-info">
			          <a class="name">{{item.target.profile.fullName}} {{#if item.count}}<span class="message-count">({{item.count}})</span>{{/if}}</a>
				      </div>
						</div>
						<div class="columns medium-4 timestamp text-right">
		          {{ timestamp item.updatedAt }}
						</div>
					</div>
          <div class="message-body position truncate">{{{getNotificationContent item.content}}}</div>
				{{/link-to}}
			</li>
			{{else}}
			<li>
        <div class="empty-message">
          {{#if loading.message}}
            <div class="brydge-loading"></div>
          {{else}}
            You have no recent messages
          {{/if}}
        </div>
			</li>
			{{/each}}
		</ul>
		{{#link-to 'messages' class="footer-button button expanded"}}
			See all Messages
		{{/link-to}}
	{{/zf-dropdown}}

	{{#zf-dropdown id="dd-notification" class="dropdown-notification" closeOnClick=true}}
		<div class="dropdown-header">
			<h4>Your Notifications</h4>
				<div>
          Get updates on your interaction with other users on Brydge.
				</div>
		</div>

	  <ul class="media-list user">
		  {{#each notifications as |item|}}
		    <li>
		    	<a {{action "select" item}} class="{{if item.read false 'new-notification'}}">
						<div class="row columns collapse">
							<div class="columns">
					      <div class="avatar" style={{htmlSafeImage item.target.profile.avatarUrl }}>
					        <img src= {{item.target.profile.avatarUrl}} class="hide">
					      </div>
					      <div class="user-info">
		              <div>
		              	<strong>{{item.target.profile.fullName }}</strong> {{{notification-text item}}}
		              </div>
		              <span class="timestamp">{{ timestamp item.createdAt }}</span>
					      </div>
							</div>
						</div>
					</a>
		    </li>
		  {{else}}
			  <li>
          <div class="empty-message">
            {{#if loading.notification}}
              <div class="brydge-loading"></div>
            {{else}}
              No new notifications
            {{/if}}
          </div>

			  </li>
		  {{/each}}
	  </ul>
			{{#link-to 'notifications' class="footer-button button expanded"}}
				See all Notifications
			{{/link-to}}
	{{/zf-dropdown}}


	{{#zf-dropdown id="dd-menu" class="dropdown-menu" closeOnClick=true}}
		<ul class="menu">
			<li>{{link-to "Home" "home"}}</li>
		</ul>
		<ul class="menu">
			<li>{{link-to "Profile" "me"}}</li>
			<li>{{link-to "Edit Profile" "me.edit"}}</li>

		</ul>
		<ul class="menu">
			<li>{{link-to "Connections" "me.connections"}}</li>
			<li>{{link-to "Ask" "me.ask"}}</li>
			<li>{{link-to "Compliments" "me.compliments"}}</li>
		</ul>
		<ul class="menu hide">
			<li>{{link-to "People Search" "search"}}</li>
		</ul>
		<ul class="menu">
			<li>{{link-to "Settings" "settings" }}</li>
			<li>{{link-to "User Guide" "user-guide" }}</li>
			<li><a href="" {{action 'logout'}}>Log out</a></li>
		</ul>
	{{/zf-dropdown}}

</div>
