<header class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%">
	<div class="row columns">
		<div class="top-bar-title">{{#link-to 'home'}}<img src="assets/logo.svg">{{/link-to}}</div>
		<div>
			<div class="top-bar-left">

				<ul class="menu menu-links hide">
					<li>{{#link-to 'me'}}Profile{{/link-to}}</li>
					<li>{{#link-to 'home'}}Home{{/link-to}}</li>
				</ul>

				<ul class="top-bar-group menu menu-actions" {{ action "closeTooltip" }}>
					<li>
						<a data-toggle="dd-messages">
							{{#zf-tooltip title="Profile Views" vOffset=0}}
							<span class="alert badge">5</span>
							<i class="icons bino"></i>
							{{/zf-tooltip}}
							<div class="wrapper">
								<div class="triangle"></div>
							</div>
						</a>
						{{#zf-dropdown id="dd-messages" closeOnClick="true" }}							
							<ul class="no-bullet list-lined">
								<li>
									<div class="media-object">
										<div class="media-object-section">
											<div class="thumbnail">
												<img src= "assets/avatar-1.jpg">
											</div>
										</div>
										<div class="media-object-section main-section">
											<span>Mark JUDGE</span>
											<span class="float-right subheader">2:30pm</span>
											<p>Hey Jon, I thought you should take a look a this.</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media-object">
										<div class="media-object-section">
											<div class="thumbnail">
												<img src= "assets/avatar-2.jpg">
											</div>
										</div>
										<div class="media-object-section main-section">
											<span>Mark JUDGE</span>
											<span class="float-right subheader">2:30pm</span>
											<p>Hey Jon, I thought you should take a look a this.</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media-object">
										<div class="media-object-section">
											<div class="thumbnail">
												<img src= "assets/avatar-1.jpg">
											</div>
										</div>
										<div class="media-object-section main-section">
											<span>Mark JUDGE</span>
											<span class="float-right subheader">2:30pm</span>
											<p>Hey Jon, I thought you should take a look a this.</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media-object">
										<div class="media-object-section">
											<div class="thumbnail">
												<img src= "assets/avatar-2.jpg">
											</div>
										</div>
										<div class="media-object-section main-section">
											<span>Mark JUDGE</span>
											<span class="float-right subheader">2:30pm</span>
											<p>Hey Jon, I thought you should take a look a this.</p>
										</div>
									</div>
								</li>
								<li>
									<div class="media-object">
										<div class="media-object-section">
											<div class="thumbnail">
												<img src= "assets/avatar-1.jpg">
											</div>
										</div>
										<div class="media-object-section main-section">
											<span>Mark JUDGE</span>
											<span class="float-right subheader">2:30pm</span>
											<p>Hey Jon, I thought you should take a look a this.</p>
										</div>
									</div>
								</li>
							</ul>
							{{#link-to 'messaging'}}
								<button class="button expanded">
									See All Messages
								</button>
							{{/link-to}}
						{{/zf-dropdown}}
					</li>
					<li>
						<a>
							{{#zf-tooltip title="Connection Requests" vOffset=0}}
							<i class="divider"></i>
							<i class="icons user"></i>
							{{/zf-tooltip}}
						</a>
					</li>
					<li>						
						{{#link-to 'messaging' }}
							{{#zf-tooltip title="Messages" vOffset=0}}
							<span class="alert badge">3</span>
							<i class="icons messages"></i>
							{{/zf-tooltip}}

						{{/link-to}}
					</li>
					<li>
						<a data-toggle="dd-stack">
							{{#zf-tooltip title="Notifications" vOffset=0}}
							<i class="icons stack"></i>
							<i class="divider"></i>						
							{{/zf-tooltip}}
							<div class="wrapper">
								<div class="triangle"></div>
							</div>							
						</a>
						{{#zf-dropdown id="dd-stack" closeOnClick="true"}}
							<ul class="menu">
								<li>{{link-to "Home" "home"}}</li>
							</ul>
							<ul class="menu">
								<li>{{link-to "Profile" "me"}}</li>
								<li>{{link-to "Edit Profile" "me"}}</li>
								
							</ul>
							<ul class="menu">
								<li><a href="">People Search</a></li>									
							</ul>
							<ul class="menu">
								<li><a href="">Settings</a></li>
								<li><a href="">User Guide</a></li>
								<li><a href="" {{action 'logout'}}>Log out</a></li>
								
							</ul>
						{{/zf-dropdown}}
					</li>						
				</ul>


			</div>
			<div class="top-bar-right">
				<div class="top-bar-group top-bar-search rounded">
					<input class="input-group-field" type="search" placeholder="Search">
					<div class="input-group-button">
						{{fa-icon "search"}}
					</div>
				</div>
				<ul class="top-bar-group menu menu-actions" {{ action "closeTooltip" }}>	
					<li>
						<a data-toggle="dd-menu">
							{{#zf-tooltip title="Menu" vOffset=0}}
								<i class="divider"></i>
								<i class="icons caret"></i>
							{{/zf-tooltip}}
							<div class="wrapper">
								<div class="triangle"></div>
							</div>
						</a>

							{{#zf-dropdown id="dd-menu" closeOnClick="true"}}
								<ul class="menu">
									<li>{{link-to "Home" "home"}}</li>
								</ul>
								<ul class="menu">
									<li>{{link-to "Profile" "me"}}</li>
									<li>{{link-to "Edit Profile" "me.edit" sessionAccount.account.userid}}</li>
									
								</ul>
								<ul class="menu">
									<li><a href="">People Search</a></li>
									<li>{{link-to "Your ASK page" "me.ask"}}</li>
								</ul>
								<ul class="menu">
									<li><a href="">Settings</a></li>
									<li><a href="">User Guide</a></li>
									<li><a href="" {{action 'logout'}}>Log out</a></li>
									
								</ul>

							{{/zf-dropdown}}
						
					</li>
				</ul>

			</div>
		</div>
	</div>
</header>
