{{partial "partials/header-white"}}
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="large-6 medium-8 small-centered columns">
        <div class="brydge-dialog dialog-wrapper">
          {{#if errors}}
            <div class="error-messages">
              <ul class="no-bullet errors">
              {{#each errors as |item|}}
                  <li>
                    <h4>{{item.title}}</h4>
                    {{item.detail}}
                  </li>
              {{/each}}
              </ul>
            </div>
          {{/if}}
          {{partial "partials/form-login"}}
          {{!--
          <a data-open="video-teaser" class="wrapper button-overlay">
            <img src="https://storage.googleapis.com/brydge-assets/temp/video_image.jpg" alt="" class="overlay-preview">
            <div class="button-play-wrapper">
              <img src="https://storage.googleapis.com/brydge-assets/temp/video-play-button.png" alt="" class="button-play">
            </div>
          </a>
          --}}
          <div class="dialog-footer">
            <form class="brydge-form hide">
              <div class="input-group">
                {{input value=code class="input-group-field" placeholder="Invitation code" }}
                <div class="input-group-button">
                  <button type="submit" class="button expanded success" {{action "proceed"}}>Sign up</button>
                </div>
              </div>
            </form>
            <div class="text-center page-title">
              <strong><a href="{{href-to 'register'}}">Join</a> the network</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<footer>
  {{search-box}}
</footer>
