<div class="row mt">
	<div class="medium-7 columns">
    {{ newsfeed-item post=model onDelete="delete" expanded=true}}

	</div>
	<div class="medium-5 columns sidebar">
		{{partial "partials/user-guide-box"}}
		{{render "footer"}}
	</div>
</div>

{{ post-sharer submit="sharePost" }}
{{ post-edit-dialog submit="edit" }}
