<div class="row">
  <div class="large-4 medium-4 columns">
    public-profile::Profile pic
  </div>
  <div class="large-8 medium-8 columns">
    profile header body
    <ul>
      <li> By [{{sessionAccount.account.name}}] </li>
      <li>Full name: {{model.name}} </li>
      <li>username: {{model.username}}</li>
      <li>Member since {{moment-from-now model.createdAt}}</li>
      <p>
        [{{model.user.name}}]
      </p>
    </ul>
  </div>
</div>
<div class="row">

  <div class="large-4 medium-4 columns">
    <h6>Position or job status</h6>
  </div>

  <div class="large-8 medium-8 columns">
    <div class="expanded button-group">
      {{connect-button  connect="connect" account=model.user}}
      <a class="button">Message</a>
      <a class="button">Ask</a>
    </div>
  </div>

</div>


<div class="row">
  <div class="large-8 medium-8 columns">
    {{newsfeed-list newsfeed=model.posts}}
  </div>
  <div class="large-4 medium-4 columns">
    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Placeholder&w=380&h=650">
  </div>
</div>
