{{partial "partials/header-white"}}
<div class="main-content">
  <div class="container">
      <div class="row">
        <div class="large-6 medium-8 small-centered columns">
          <div class="brydge-dialog dialog-wrapper">
            <div class="brydge-form micro-forms">
              {{#if errors}}
              <div class="error-messages mb20">
                <ul class="no-bullet errors">
                {{#each errors as |item|}}
                    <li>
                      <h4>{{item.title}}</h4>
                      {{item.detail}}
                    </li>
                {{/each}}
                </ul>
              </div>
            {{/if}}
              {{partial "partials/form-register"}}
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<footer>
  {{search-box}}
</footer>
