<div class="row">
  <div class="medium-6 medium-centered columns">
    <div class="page-heading">
      <h1>User Guide</h1>
      <p class="text-center">Trouble finding your way around?</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns text-justify">
    <div class="box">
      <section>
        {{#zf-accordion allowAllClosed="true" class="accordion-user-guide"}}
          <li class="accordion-item" data-accordion-item>
            <a class="accordion-title">IS BRYDGE LIKE… A PROFESSIONAL FACEBOOK? </a>
            <div class="accordion-content" data-tab-content>
              <p>THAT question! </p>
              <p>The answer is: <strong>Yes and No</strong>. We’re big fans of Facebook—as a product—but we’re not trying to be a professional Facebook. The topics in this User Guide will show you how we are differentiated, and how we are addressing the needs of professionals who wish to network and discover other professionals. </p>
              <p>As for the look-and-feel, you might say that Brydge has striking similarities to many other popular social platforms. That is because we wanted to introduce the platform in a familiar setting; a design and layout that people are used to. (See: <a href="http://www.nirandfar.com/2015/06/california-role-rule.html">California Sushi Roll</a>). </p>
              <p>As the platform evolves, based on how you use it, so will our design! </p>
            </div>
          </li>
          <li class="accordion-item" data-accordion-item>
            <a class="accordion-title">PICKING YOUR INDUSTRIES</a>
            <div class="accordion-content" data-tab-content>
              <p>The {{link-to "Edit Profile" "me.edit"}} has helpful illustrations to help you pick the right one. But here’s the lowdown.</p>
              <p>Your <strong>BUSINESS INDUSTRY</strong> is the industry your business or employer primarily operates in. </p>
              <p>Your <strong>OCCUPATIONAL INDUSTRY</strong> is the industry, outside of your Business Industry that you engage with often. For some it may depend on their role or department, for others it may be the industry or vertical they sell their company’s products or services into. We’ve put up some illustrations on the Edit Profile page to help you select the right ones. We let you select 1 or 2 options for your Occupational Industry. </p>
              <p>When picking both the <strong>BUSINESS INDUSTRY</strong> and the <strong>OCCUPATIONAL INDUSTRY</strong>, you are shown the same list of industries. </p>
              <p>We developed a proprietary industry classification system called BIC (Brydge Industry Classifications). It will be reviewed from time to time. </p>
              <p>BIC is classified as follows: <br>
              Sector > Industry Group > Industry
              </p>
              <p>Once you’ve picked the right industries, you will see how the experience gets that much better. Head over to your {{link-to "Edit Profile" "me.edit"}} page to pick them. </p>
            </div>
          </li>
          <li class="accordion-item" data-accordion-item>
            <a class="accordion-title">BROADCASTING CONTENT, OPINIONS, TRENDS</a>
            <div class="accordion-content" data-tab-content>
              <p>When looking for talent, companies today want more than just your résumé and work history. They are looking for well-informed candidates who have an opinion or two about the industry they work in. They value real-time data about you, as much as they do your CV and résumé. </p>
              <p>With that in mind, the Broadcast tool was built so you can have a say on the news, developments and trends in your relevant industries. </p>
              <p>When you broadcast content it is shared, by default, with all your connections. But we also allow you to <strong>TAG INDUSTRY CHANNELS</strong>. </p>
              <p>This means you can tag your posts with the industries (Business and Occupational) that you are a part of. When you do that, your broadcasts will be seen by your connections as well as anyone browsing the industry channels you’ve tagged. </p>
              <p>This opens up a whole new possibility to network professionally: see the next topic! </p>
            </div>
          </li>
          <li class="accordion-item" data-accordion-item>
            <a class="accordion-title">BROWSING INDUSTRY CHANNELS </a>
            <div class="accordion-content" data-tab-content>
              <p>Now that you can know how Broadcasting works (see previous topic) – you should get an idea how you can browse content and channels. </p>

              <p>Let’s dig deeper. </p>

              <p>On top of the {{link-to "Home page" "home"}}, we have a tool called <strong>CHANNEL FILTERS</strong>.</p>

              <p>Every Industry is its own channel. Every City is its own channel. Combining an Industry with a City is a completely different channel. </p>

              <p>Example: </p>

              <p><strong>Food & Beverage + Everywhere</strong>: is a channel with the top content broadcasted by F&B professionals all over the world. </p>

              <p><strong>Food & Beverage + New York, NY, United States</strong>: is a channel with the top content broadcasted by F&B professionals in New York. </p>

              <p>You get the picture! </p>

              <p>When you add connections on Brydge, your connections as a whole, form a channel as well. So by filtering “<strong>Your Connections + Paris, France</strong>” you only see Broadcasts from your connections whose current city is Paris. </p>

              <p>Once you’ve filtered by desired channel, the Broadcasts within them can be viewed in three different ordering mechanisms: Live, Curated, and Search. </p>
              <p>
              <strong><u>Live</u></strong>: shows you the latest Broadcasts as it comes in, ordered by timestamps. <br>
              <strong><u>Curated</u></strong>: shows you the top Broadcasts in the filtered channels, based on Upvotes, Comments, and other fine-tuned algorithms. <br>
              <strong><u>Search</u></strong>: lets you search the filtered channel by keywords. <br>
              </p>

              <p>By using these filters you can do plenty:</p>
              <p>
              <ol>
                <li><strong>People Discovery</strong>: The Channel Filter comes in very handy when you are looking to find new people to network with in a specific industry, in a specific part of the world. Use the filters; see what professionals in various industries are broadcasting; if you find interesting members, ASK them a question or opinion, and connect with them! </li>
                <li><strong>Gauge Trends and Stay Informed</strong>: You might also use these filters to understand what the hot topics of discussion are in each industry. Let’s say you’re looking to switch careers, and want to prepare for an interview in a new industry sector, follow those industries and see what members are broadcasting and discussing. </li>
                <li><strong>Research Industries</strong>: Want to dig deeper into a particular development or news topic and what to see what relevant professionals think about it, use the filters together with the Search feature. </li>
              </ol>
              </p>
              <p><strong>How are we moderating content to keep it relevant? </strong></p>

              <p>We aren’t, you are! </p>

              <p>We made do with the Like feature—and replaced it with the Upvote-Downvote tool. The Upvote-Downvote let’s you be in-charge on moderation. </p>

              <p>Upvotes are similar to likes, and have a counter next to them. Downvotes, however, are anonymous, and do not have a counter. When you Downvote a Broadcast, the user that broadcasted it will not know that you downvoted it. </p>

              <p>As a general rule, please only Downvote the Broadcasts that are spammy or promotional in nature, and do not Downvote a Broadcast because you differ in opinion. Let’s be adults about this! </p>
            </div>
          </li>
          <li class="accordion-item" data-accordion-item>
            <a class="accordion-title">ASK</a>
            <div class="accordion-content" data-tab-content>
              <p>In a professional setting, asking the right questions can help you go a long way. </p>
              <p>{{link-to "Ask" "me.ask"}} allows you to ask anyone on Brydge, connection or not, a professional question or opinion. If they qualify your question with an answer, it will appear publicly on both your profiles. If they do not, it will not appear anywhere. </p>
              <p>This is a great tool to ask people their opinion on a popular topic, or their input on something. </p>
              <p>The biggest advantage of this tool is to help you break the ice before connecting with someone you discovered on Brydge, someone you do not know. </p>
              <p>Say you saw a broadcast by someone in your industry that lives in your city. You go over to their profile and see that they are someone you’d like to connect with professionally. Instead of blindly clicking Connect and hoping they accept the connection, you could Ask them their professional opinion on something that’s in the news, or something they seem to be an expert on. If they qualify it with an answer, then connecting with them becomes easier. Once they accept your connection request, set up a lunch date! </p>
              <p>Now, if you are someone that receives a lot of questions, it can get a little annoying. We get it. If the number of incoming questions becomes overwhelming, you can turn OFF this feature in {{link-to "Settings" "settings" (query-params tab="ask")}}. </p>
              <p>Turning it OFF also means that you will not be able to ask questions. </p>
              <p>Oh and please be smart in the way you use this tool. Questions flagged as spam or inappropriate by the recipient can lead to the feature being disabled for you until further review. We’re serious! </p>
            </div>
          </li>
          <li class="accordion-item" data-accordion-item>
            <a class="accordion-title">COMPLIMENTS</a>
            <div class="accordion-content" data-tab-content>
              <p>{{link-to "Compliments" "me.compliments"}} and endorsements are always nice to receive, but on a professional network, they are meaningless if they are not qualified. </p>
              <p>On Brydge, we have designed a Compliment tool that requires the giver of the compliment to qualify it. </p>
              <p>Those giving compliments are required to pick from 3 pre-defined options: Thank You, Good Job, and Congratulations. </p>
              <p>Once they’ve picked an option, they have to qualify it in 140 characters or less to be able to post it. Of course you, the recipient of these compliments, have to approve it before it goes on your profile publicly. </p>
              <p>Example: </p>
              <p>
              You coworker might say: <br>
              <strong>THANK YOU </strong> <br>
              Really appreciate your help with the launch event, and ensuring it was a success by all measures.
              </p>
              <p>
              You client might say: <br>
              <strong>CONGRATULATIONS</strong><br>
              On the promotion! You’re a great associate to work with.
              </p>
              <p>
              Your manager might say: <br>
              <strong>GOOD JOB</strong> <br>
              You achieved your sales target three months in a row. You’re a star!
              </p>
            </div>
          </li>
          <li class="accordion-item" data-accordion-item>
            <a class="accordion-title">PROFILE VIEWS </a>
            <div class="accordion-content" data-tab-content>
              <p>See who is checking out your profile and how amazing you are at what you do! </p>
              <p>The {{link-to "Profile Views" "profile-views"}} tool lets you see who has viewed your profile. This also means that profiles you view will be able to tell that you did. </p>
              <p>Don’t like that? That’s cool, you can turn it OFF in {{link-to "Settings" "settings" (query-params tab="views")}}. </p>
              <p>When turned OFF, as you might’ve guessed, you will not be able see who has viewed your profile either. It’s only fair! </p>
            </div>
          </li>
          <li class="accordion-item" data-accordion-item>
            <a class="accordion-title">BACKGROUND</a>
            <div class="accordion-content" data-tab-content>
              <p>This is where all your standard CV and résumé stuff goes. Your work history, where you went to school, languages you can speak. </p>
              <p>Fill it out. It’s important. A complete and active profile has a better chance at being noticed by industry peers and businesses. </p>
            </div>
          </li>
        {{/zf-accordion}}

      </section>
    </div>

    {{render "footer"}}

  </div>
</div>

{{outlet}}
