<h1>Testing</h1>
<div class="row">
<div class="large-7 medium-7 columns">
  {{ share-box postToNewsfeed='postToNewsfeed' profile=model.profile 
   isCheckedIndustry=isCheckedIndustry isCheckedOccupationOne=isCheckedOccupationOne
   isCheckedOccupationTwo=isCheckedOccupationTwo
   broadcast = broadcast
   postFeed='postFeed' }}
 </div>
</div>

{{textarea value=text}}


<button class="button"{{action "crawl"}}>Crawl</button>

<button class="button"{{action "save"}}>Save</button>

<ul>
	{{#each newsfeed as |item|}}
		<li>{{item.user.username}}: {{item.content}}</li>
	{{/each}}
</ul>

