<div class="row">
	<div class="columns">
		<div class="top-banner box bg-white">
			<h1>People Search</h1>
		</div>
	</div>
</div>

<div class="row">
  <div class="medium-8 columns">
  	<div class="box rounded">
  		<div class="padding">
	  		We found <span>6</span> results based on your search terms:
  		</div>


			<ul class="no-bullet connections-list">
			  <li>
			      <div class="media-object">
			        <div class="media-object-section">
			          <div class="thumbnail">
			            <img src= "assets/avatar-2.jpg">
			          </div>
			        </div>
			        <div class="media-object-section media-object-content">
			        	<a class="name">Jane Austen</a>          
			          <div class="position">
			            GENERAL MANAGER<br>
			            PEPSICO
			          </div>
			          <p class="location">Singapore</p>
			        </div>
			      </div>
			  </li>
			  <li>
			      <div class="media-object">
			        <div class="media-object-section">
			          <div class="thumbnail">
			            <img src= "assets/avatar-2.jpg">
			          </div>
			        </div>
			        <div class="media-object-section media-object-content">
			        	<a class="name">Jane Austen</a>          
			          <div class="position">
			            GENERAL MANAGER<br>
			            PEPSICO
			          </div>
			          <p class="location">Singapore</p>
			        </div>
			      </div>
			  </li>
			  <li>
			      <div class="media-object">
			        <div class="media-object-section">
			          <div class="thumbnail">
			            <img src= "assets/avatar-2.jpg">
			          </div>
			        </div>
			        <div class="media-object-section media-object-content">
			        	<a class="name">Jane Austen</a>          
			          <div class="position">
			            GENERAL MANAGER<br>
			            PEPSICO
			          </div>
			          <p class="location">Singapore</p>
			        </div>
			      </div>
			  </li>
			</ul>

  	</div>

  </div>
  <div class="medium-4 columns sidebar">
  		<div class="box rounded">
  			
  			<div class="people-search-filter">
  				<select>
  					<option>Industry</option>
  				</select>
	  			{{fa-icon "plus-circle"}}
  				<span class="label">{{fa-icon "close"}} Fast Moving Consumer Goods</span>
  				<span class="label">{{fa-icon "close"}} Food & Beverages</span>
  			</div>
  			<div class="people-search-filter">
  				<select>
  					<option>Industry</option>
  				</select>
	  			{{fa-icon "plus-circle"}}
  				<span class="label">{{fa-icon "close"}} Fast Moving Consumer Goods</span>
  			</div>
  			<div class="people-search-filter">
  				<select>
  					<option>Industry</option>
  				</select>
	  			{{fa-icon "plus-circle"}}
  				<span class="label">{{fa-icon "close"}} Fast Moving Consumer Goods</span>
  				<span class="label">{{fa-icon "close"}} Food & Beverages</span>
  			</div>
  			<a class="footer-button success button expanded">REFINE SEARCH</a>
  		</div>
  </div>
</div>


