<h1>Testing</h1>
{{input value=txt}}
<button class="button" {{action "add" }}>Add</button>
<ul>
	{{#each items as |item|}}
	<li>
	{{item.content}} - {{item.sharedPost.title }}
		{{#if item.sharedPost }}
			{{newsfeed-item post=item.sharedPost shared=true class="shared-post"}}
		{{/if}}
	</li>
	{{/each}}
</ul>