{{#if isLoading}}
<button class="button success rounded is-loading">
  <div class="loading"></div>
</button>
{{else}}
<button class="button success rounded" disabled={{v-get item "isInvalid"}} {{ action "submit" }}>Save</button>
{{/if}}

<span class="{{if isSuccess 'faded is-visible' 'faded'}}">{{placeholder}}</span>
