{{#if isLoading}}
  <button type="button" class="button success rounded is-loading">
    <div class="loading"></div>
  </button>
{{else}}
  <button class="button success rounded" disabled={{v-get item "isInvalid"}} {{ action "submit" }}>{{text}}</button>
{{/if}}
{{#if placeholder}}
  <span class="{{if isSuccess 'faded is-visible' 'faded'}}">{{placeholder}}</span>
{{/if}}
